[2022-06-01 11:15] thomaseizinger commented on #2657
How would this go together in practise?

If I see a function that returns `Poll`, my first thought would be to use `future::poll_fn` and `await` the future. Where would I otherwise be getting a `Context` from?

If I use `future::poll_fn` however, I cannot poll the Swarm/Behaviour at the same time, thus nothing will make progress.

[2022-06-01 11:21] rkuhn commented on #2657
@mxinden

This violates the `Poll` contract: returning `Poll::Pending` implies that the supplied `Context` will eventually be woken up when the work is finished or progress can be made. But since no work has even been started, “pending” just means “I didn’t do anything”.

[2022-06-01 11:33] thomaseizinger commented on #2657
We could implement the Behaviour to simply wait internally for a "slot" to establish a new substream. i.e. return an ID immediately but the event with the substream would only be emitted with respect to backpressure limits.

We would also need a timeout then I think!

[2022-06-01 12:04] mxinden commented on #2657
The `Waker` of the `Context` would be cached. Once the maximum number of negotiating streams for a given connection to a remote peer decreases by one, the waker is wakened and thus the user informed.

[2022-06-01 13:31] rkuhn commented on #2657
I wrote up my thoughts on [a peer-to-peer internet](https://github.com/rkuhn/blog/blob/master/08_peer-to-peer_internet.md), which would be my motivation for wanting the currently discussed feature — and I obviously wouldn’t consider it a “ultimate escape hatch” but instead the true purpose of libp2p :-) But let’s take one step at a time.

Considering unreliable datagrams: I’d still want the PeerId

[2022-06-01 14:59] thomaseizinger commented on #2657
Sorry for OT but this pun ("framing") is too good to be left unaddressed 😁

[2022-06-02 18:41] T2JOESl4m2ZpNC commented on #2609
Indeed the newer version seems to have fixed it.
Now it always dials using the listening port and i **almost** always get a `DirectConnectionUpgradeSucceeded` with the tutorial client,
although i still see sometimes the `MultiaddrNotSupported` whether it succeeds or not.

i also tried the `with_keep_alive(true)` for the ping behavior and it works; the connection stays ESTAB.

it's really cool seei

[2022-06-03 11:33] mxinden commented on #2632
@SionoiS you raised in the last community call that you would be interested in working on this, supported through a grant :tada:. What would be the timeline on your end? When would you have capacity to work on this?

[2022-06-03 12:48] SionoiS commented on #2632
@mxinden As soon as my current grant work is done. I'm already ahead of schedule but I'm not sure how long building the website is going to take. The end of this month at the latest I will start and I planned 4 months. So I guess ~ November.

OR if it's ok with PL I could work on both at the same time but it's going to take longer.

In the Mean time, I would be cool to gather what ppl want to see

[2022-06-03 14:52] shamil-gadelshin opened #2690 "Introduce a 32-bytes key type without additional hashing to Kademlia DHT"
## Description

We need to use DHT to find closest peers with exact PeerId to the exact key value in our network. Currently, both rust and canonical golang implementations seem to hash both PeerId and all the provided keys regardless of the initial format (using SHA256 hasher) to get 32-bytes hash before computing the XOR-distance. But what if we pre-hash our data and provide the 32-bytes as PeerI

[2022-06-03 15:25] mxinden commented on #2609
Any hints why it does not always work?

Even though I implemented most of the hole punching protocols, it still feels somewhat magical to me as well.

Thanks for the feedback. Very much appreciated. Hope rust-libp2p is useful for you.

[2022-06-03 16:22] mxinden commented on #2690
Would the key space still be uniform? Do note that you are sacrificing security in favor of this functionality.

What are these semantics?

Given that this is not specific to rust-libp2p, I think this discussion should be moved to https://github.com/libp2p/specs/.

[2022-06-03 17:45] shamil-gadelshin commented on #2690
We're building the distributed storage network with nodes saving the data chunks within their responsibility range. This range could be derived from the node's PeerId. Kademlia and it's XOR-metrics works well here. The issue comes when we look for the node responsible for some range. When we try to find a node by some parameter (let's say a middle of the range - also 32-bytes) we expect to compare

[2022-06-05 00:05] nazar-pc commented on #2690
Keys we have on the network are implicitly mapped to PeerId. But because PeerId is just a pre-image for the actual contents of k-buckets in libp2p, we can no longer look up nodes close to pre-image, which is a problem for us.

It isn't any less secure than hashing. Just like user can grind on public keys to get tehm in the specific location of the key space, they can grind on public key hashes.

[2022-06-06 17:53] shamil-gadelshin commented on #2690
Moved to [libp2p/specs](https://github.com/libp2p/specs/issues/421) as requested by @mxinden.

[2022-06-06 17:53] #2690 closed, assigned to nobody

[2022-06-07 09:21] stormshield-pj50 opened #2696 "Multiaddr duplicated p2p protocol in relay reservation"
## Summary
P2p protocol is duplicated in Multiaddr when a relay, using TCP transport with port reuse enabled, accepts a reservation request. This leads to an invalid Multiaddr.

In order to reproduce the bug, just turn on port reuse when creating TcpConfig  in relay_v2 example: https://github.com/libp2p/rust-libp2p/blob/fcc987e0f6dd82d0f702acd8b819b4f99a9fb26a/protocols/relay/examples/relay_v2.rs#

[2022-06-08 10:11] mxinden commented on #2632
I would prefer doing the two in sequence instead of doing them in parallel. Also gives me more time to figure out the administrative side of things.

[2022-06-08 15:22] mxinden commented on #2696
I think this is the best way to tackle the issue. Thanks for debugging. Would you mind proposing a patch?

I haven't put enough thoughts into this, though I think you are right.

[2022-06-08 16:40] T2JOESl4m2ZpNC commented on #2609
sorry for the late reply

No idea, just tested today with the same built client  and same setup and i punched through every time

[2022-06-08 17:02] T2JOESl4m2ZpNC commented on #2609
Logs of a successful traversal:
## Dialer
[code]

## Listener
[code]

[2022-06-10 16:40] mxinden commented on #2286
Closing here, since fixed by @maschad :tada:

[2022-06-10 16:40] #2286 closed, assigned to nobody

[2022-06-10 19:46] mxinden commented on #2696
Thanks for preparing https://github.com/libp2p/rust-libp2p/pull/2701.

I have been thinking about this some more. Sorry for not doing so earlier.

The process of a client requesting a reservation with a relay:
1. When accepting the reservation the relay tells the client its external addresses.
2. The client needs to tell everyone else which relays it is listening via, i.e. needs to tell everyone e

[2022-06-12 11:39] Foemass commented on #2621
@mxinden, Sorry for the delay.

Yes I can confirm all my issues above are resolved, they all ultimately shared the same cause.

[2022-06-12 20:55] mxinden commented on #2621
Great. Closing then. Happy to hear what you are building in case you want to share @Foemass.

[2022-06-12 20:55] #2621 closed, assigned to nobody

[2022-06-13 08:22] tomaka commented on #2598
I believe the issue might be here: https://github.com/libp2p/rust-libp2p/blob/f701b24ec0f99be49444a6e7de950c66b01b2f3f/misc/multistream-select/src/negotiated.rs#L117-L127

For context, this object is a stream onto which a protocol has been negotiated. Because the negotiation is reported in the API has having succeeded before the underlying stream has been flushed, reading on the stream also has th

[2022-06-13 08:31] tomaka commented on #2598
Actual, what happens, I think is:

The yamux muxer reads from the connection, which calls `Negotiated::poll_read`. `Negotiated::poll_read` calls `QuickSink::poll_flush`, which returns an error, and the error is returned from `poll_read`.

Yamux detects the errors, and when yamux detects an error when reading, [it switches to "shutdown mode"](https://github.com/libp2p/rust-yamux/blob/058010157e5c58

[2022-06-13 10:11] stormshield-pj50 commented on #2696
@mxinden Don't worry for your post being late, you summed up well the mechanism that adds the P2p protocol during relay reservation. Honestly I don't know which one between adding it before step(1) or before step (2) is the best.

[2022-06-14 14:30] mxinden commented on #2696
Turns out, we actually settled on (1) in the past:

https://github.com/libp2p/specs/blob/master/relay/circuit-v2.md

Sorry for the noise here. Will review https://github.com/libp2p/rust-libp2p/pull/2701/ next.

For the record, yes it does.

[2022-06-15 19:17] elenaf9 opened #2708 "websocket: What is the use-case for paths in WS multiaddresses?"
## Description

In #1093 we enabled paths for ws / wss multiaddresses.
We are currently ignoring this path in our websocket transport `WsConfig`, and just care about whether it's an `ws` or `wss` address.
(_Edit: I phrased this a bit misleading. I am talking about ws **listeners**. For dialing we do handle the ws path, and will continue to do so even after the listener changes described below._)
B

[2022-06-15 19:40] tomaka commented on #2708
We're using libp2p-websocket in Substrate to connect to a good old HTTP server against a specific URL. It was the easiest way to implement this at the time.

I've always had the intention to add this feature to the multiaddr spec, but it's always been blocked due to no agreement on how to escape `/` characters.

[2022-06-15 22:28] bernardoaraujor opened #2709 "Override protocol id prefix on GossipsubConfigBuilder"
## Description

I need to be able to set the entire `GossipSub`'s `ProtocolId`, not only the prefix.

## Motivation

I'm working on a Rust implementation of [Waku](https://rfc.vac.dev/spec/10/), an evolution of Ethereum Whisper: https://github.com/bernardoaraujor/waku-rs

At this point, I have a minimal working implementation of [11/WAKU2-RELAY](https://rfc.vac.dev/spec/11/), [13/WAKU2-STORE](http

[2022-06-16 08:09] rkuhn commented on #2708
I concur: a WebSocket is established by connecting to an URL, which always includes a path (that may just be `/` but very often isn’t). The point of WS is to use HTTP for the purpose of offering multiple service endpoints on a single host:port, differentiated by their path.

[2022-06-20 01:10] mxinden commented on #2709
Hi @bernardoaraujor,

Thanks for the detailed feature request.

I don't see a reason why not to support your use-case.

How about adding an additional method e.g. `GossipsubConfigBuilder::protocol_id` to be able to set the whole id?

Great. I am happy to help.

[2022-06-20 01:41] mxinden commented on #2708
With the above replies in mind, I am fine with either of our two options, namely to:

- Remove the concept of `ListenerId` and follow https://github.com/elenaf9/rust-libp2p/pull/4#issuecomment-1153663146, thus not supporting WebSocket paths. It is not supported today. I am not aware of anyone planning to implement it. In case someone does, we can re-introduce `ListenerId`s at a later point in time

[2022-06-20 07:33] tomaka opened #2715 "lib2p-uds didn't get bumped in libp2p 0.45"
The current version of `libp2p` published on crates.io is 0.45.1.

`libp2p` 0.45.1 depends (amongst others) on `libp2p-uds` v0.32.0 and on `libp2p-core` v0.33.0
`libp2p-uds` v0.32.0, however, depends on `libp2p-core` v0.32.0

This means that if you depend on `libp2p` and enable the `uds` feature (it's enabled by default), you will have `libp2p-core` twice in your dependencies graph.

I haven't tes

[2022-06-20 10:46] kpp commented on #2715
That's strange because libp2p-core was bumped in uds in 2ad905f35a61d

[2022-06-20 12:28] elenaf9 commented on #2708
@tomaka so do I understand it correctly that for substrate the ws path is only relevant as a dialer?

I edited the issue description as it was misleading. I am only talking about the ws **listeners** side, not the dialing part. Sorry for the confusion.

[2022-06-20 12:32] tomaka commented on #2708
Yes

[2022-06-21 03:28] mxinden commented on #2715
Thanks. My bad. You are right. Will cut a new release of `libp2p-uds` and a patch release of `libp2p`.

_As an aside, is anyone using `libp2p-uds`?_

[2022-06-21 03:28] mxinden commented on #2715
Yes, but I forgot to bump the `libp2p-uds` version itself and thus didn't cut a new `libp2p-uds` release.

[2022-06-21 03:48] mxinden opened #2719 "swarm/src/behaviour: Add `AndBehaviour`"
## Description

To combine two `NetworkBehaviour` implementations `libp2p-swarm` should provide a combinator. Contrary to [`NetworkBehaviour` implementation of `Either`](https://github.com/libp2p/rust-libp2p/blob/master/swarm/src/behaviour/either.rs) both `NetworkBehaviour` implementations would be running concurrently.

## Motivation

One use-case is when wanting to either enable two `NetworkBeha

[2022-06-21 10:46] kpp commented on #2715
Can you publish 0.45.2 after resolving this issue?

[2022-06-21 12:00] kpp opened #2721 "Remove flush_all from docs"
https://github.com/libp2p/rust-libp2p/blob/cb3784a8b307bf1da9cc0956f2ed60081dad2ac7/core/src/muxing.rs#L68

Because the method was removed in https://github.com/libp2p/rust-libp2p/pull/2669

cc @thomaseizinger

[2022-06-21 12:28] thomaseizinger commented on #2721
Thanks! That was indeed an oversight.

The docs will re-worked here: https://github.com/libp2p/rust-libp2p/pull/2707/files#diff-1d8f8fba36155ce3fd2849bc74180b4aa5399051838235c3dcbd5b99b8ed908eR64-R71

I'll attach this issue as being fixed with #2707.

[2022-06-21 20:57] mathiversen commented on #2601
Sorry for my very late reply!

I tried to run through the tutorial again (with master https://github.com/libp2p/rust-libp2p/commit/cb3784a8b307bf1da9cc0956f2ed60081dad2ac7) but it seems like I'm still facing issues. Changing port doesn't make a difference; below are the logs when i try to run it on one machine (`Linux 5.13.0-51-generic #58~20.04.1-Ubuntu SMP Tue Jun 14 11:29:12 UTC 2022 x86_64 GNU

[2022-06-22 03:51] mxinden commented on #2715
@kpp I am targeting `libp2p` `v0.46.0` with https://github.com/libp2p/rust-libp2p/pull/2720/, is that good enough for you?

Out of curiosity, where in your stack are you using `libp2p-uds`?

[2022-06-22 10:45] thomaseizinger opened #2722 "Re-design the `StreamMuxer` trait"
This issue tracks the redesign of the `StreamMuxer` trait which was originally started in #2648.

The primary goals are:

- Emitting substreams which implement `AsyncRead` + `AsyncWrite`
- Use `&mut self` for the `StreamMuxer` (This may extend to `Pin<&mut Self>`)

## PRs related to this issue

- [x] https://github.com/libp2p/rust-libp2p/pull/2664
- [x] https://github.com/libp2p/rust-libp2p/pull/2

[2022-06-22 12:22] kpp commented on #2715
Yes

We don't use it. It's a default feature.

[2022-06-22 16:17] thomaseizinger commented on #2715
Related: https://github.com/libp2p/rust-libp2p/issues/2173

[2022-06-23 06:11] mxinden commented on #2601
Thanks for the detailed report.

The listener, the dialer and the relay are running on the same machine, correct?

I am confused why you would need hole punching in such case.

[2022-06-23 06:48] #2715 closed, assigned to nobody

[2022-06-23 11:52] #2721 closed, assigned to nobody

[2022-06-24 06:17] mathiversen commented on #2601
No it's definetly not a usecase for me. I just thought that's what you ment with:

I'm on parental leave for a while now so I might have some time to take a closer look at what's going wrong. Maybe try other machines etc.

[2022-06-25 08:03] jellllly420 opened #2728 "Hole-Punching Tutorial triggers Error: yamux::connection"
## Summary

I followed the tutorial, using a cloud server as relay, a M1 Macbook as listening client and a Ubuntu 20.04LTS on wsl as dialing client.

Everything seemed to work well until the listening clients initiated a direct connection upgrade for the newly established relayed connection.

However, the listening client triggered an `Error: yamux::connection  b81d206e: socket error: decode error

[2022-06-25 08:03] jellllly420 commented on #2728
## Output of the second test
<details>
<summary>Output of Macbook(dail) with `RUST_LOG=debug`</summary>

[code]
</details>

<details>
<summary>Output of Ubuntu(listen) with `RUST_LOG=debug`</summary>

[code]
</details>
<details>
<summary>Output of relay server</summary>

[code]
</details>

[2022-06-25 15:43] jellllly420 commented on #2728
Replaced the Macbook with a labtop running Ubuntu 20.04LTS on wsl2 and yamux no longer triggers an error. It seems like that libp2p-yamux is not that compatible with MacOS? Maybe.

[2022-06-25 15:43] #2728 closed, assigned to nobody

[2022-06-25 16:20] jellllly420 opened #2729 "Connection timed out while following the hole-punching tutorial"
## Summary

I followed the hole_punching tutorial, using a remote server running Ubuntu 20.04LTS as relay and two laptops running Ubuntu 20.04LTS on wsl2 as listener and dialer.

Eveything went well until the upgrade for the relayed connection. They both got each other's "observed address" and the circuit through relay server was already released. However, the connection went time out. Before that

[2022-06-26 06:54] dariusc93 commented on #2729
Does it occurs on the version released on crates.io? Do you have any code you could share or are you using one of the examples without modifications? I been testing relay (and dcutr) recently and i know the examples work fine for me with and without modifications

EDIT: Atleast not getting the dns timeout

[2022-06-26 11:27] jellllly420 commented on #2729
I just cloned the main branch from Github and did as the [tutorial](https://docs.rs/libp2p/0.45.1/libp2p/tutorials/hole_punching/index.html) says without any modifications.

[2022-06-26 12:33] jellllly420 commented on #2729
1. Just reset my all three local repositories to 0.45.1(the latest release), rebuilt and rerun following the tutorial but with the same error.

2. I read the listener log again and found that it may not be a libp2p-dns related bug because the connection was closed due to `KeepAliveTimeout` error before the last dns timeout.

[2022-06-26 13:52] thomaseizinger commented on #2728
Yamux is only a wrapper around an actual IO connection and I don't think it has any OS specific code parts.

Also, from the above error, one can see that the issue is actually "broken pipe". That sounds like the underlying connection on your Mac dies for some reason.

Could be anything from permission issues to faulty drivers.

[2022-06-27 01:55] dariusc93 commented on #2728
It works fine on my m1 laptop. Dont believe I made any configuration changes to the laptop but can test when I get time

[2022-06-27 07:46] mxinden commented on #2729
This is now fixed with https://github.com/libp2p/rust-libp2p/issues/2696.

[2022-06-27 07:53] mxinden commented on #2729
This is the relevant part. The listener tried to do a coordinated upgrade, i.e. tried to connect to the dialer directly, but that connection attempt timed out.

Would you mind running with `RUST_LOG=debug` instead of `RUST_LOG=libp2p=debug`? That way the logs of the client are printed as well.

Thanks for reporting the issues! Thanks @dariusc93 for the additional help.

[2022-06-27 07:58] mxinden commented on #2696
Closing here with https://github.com/libp2p/rust-libp2p/pull/2701 merged.

[2022-06-27 07:58] #2696 closed, assigned to nobody

[2022-06-27 09:37] VictorKoenders opened #2732 "Consider replacing quickcheck with an alternative"
Libp2p is still on rand `0.7` (sometimes `0.7.2`, sometimes `0.7.3`). In an effort to reduce the number of duplicate dependencies in our project, we'd like to bump this to rand `0.8`.

It looks like this is stuck on the [quickcheck](https://github.com/libp2p/rust-libp2p/pull/1929#issuecomment-770762317) bump from `0.9` to `1.0`. This change removed `rand` as a public dependency, but has caused the

[2022-06-28 03:34] maschad commented on #2678
For some reason I am getting a `502` on the Grafana dashboard
<img width="547" alt="image" src="https://user-images.githubusercontent.com/9755286/176086179-86ca2f0b-cb43-4b38-bf73-5bca64c7941a.png">

But it seems that [go-libp2p uses a dial concurrency factor of 8](https://github.com/libp2p/go-libp2p/blob/master/p2p/net/swarm/swarm_dial.go#L68) if I'm not mistaken, it could be one of the other con

[2022-06-28 12:14] jellllly420 commented on #2729
Sorry for the delay. Here is the output with `RUST_LOG=debug`.
<details><summary>Dialer </summary>

[code]
</details>

<details><summary>Listener</summary>

[code]
</details>

<details><summary>Relay Sever</summary>

[code]
</details>

[2022-06-28 18:32] shamil-gadelshin opened #2735 "Add a spam filtering for request-response protocol."
## Description

Rust libp2p stack implementation contains `request-response` protocol but it lacks a spam protection mechanism. It seems like a problem and some projects created workarounds for this issue, for example: Parity Substrate framework contains a peer reputation system for this protocol which they use to provide a spam protection for their nodes.

## Motivation

Spam seems like a valid t

[2022-06-29 06:04] mxinden commented on #2728
Thanks @dariusc93. That is good to know.

@jellllly420 where you able to debug this further on your Mac? Maybe the TCP port-reuse is not properly passed to the Mac kernel, or TCP simultaneous open is working differently on Mac?

[2022-06-29 06:10] mxinden commented on #2732
Exactly right. That is the reason why rust-libp2p is still using an old version.

I am fine with either solution. I like that test input generation is specified at the type level, that is why I didn't use [proptest](https://docs.rs/proptest/latest/proptest/) thus far.

See also https://github.com/libp2p/rust-libp2p/pull/1929#issuecomment-770762317

Help here would be very much appreciated @VictorK

[2022-06-29 06:20] mxinden commented on #2678
Sorry, kademlia-exporter.max-inden.de has some uptime issues currently. Posting a screenshot here for now:

![image](https://user-images.githubusercontent.com/7047859/176365365-b6d40b50-43c4-46c0-a312-dac657f4bac8.png)

Seems to be right :+1:

[2022-06-29 07:00] thomaseizinger commented on #2732
Proptest on the other hand is nice because you can write the generation as free functions, without implementing a trait and thus without a dependency to proptest in the original crate and thus without orphan-rule issues.

[2022-06-29 07:04] thomaseizinger commented on #2650
This is fixed now: https://github.com/bluss/either/pull/69

There is also a new release coming: https://github.com/bluss/either/pull/73

[2022-06-29 14:27] zscott commented on #2556
I am also having a similar issue running the chat example unmodified.
`
[2022-06-29T14:22:24Z DEBUG libp2p_swarm] Connection closed with error KeepAliveTimeout: Connected { endpoint: Dialer { address: "/ip4/10.2.255.190/tcp/50788/p2p/12D3KooWCEnPXGiSuyszQo342rTo7uDD3cvBGph7qzPGcYTiHs34", role_override: Dialer }, peer_id: PeerId("12D3KooWCEnPXGiSuyszQo342rTo7uDD3cvBGph7qzPGcYTiHs34") }; Total (peer

[2022-07-01 04:00] maschad commented on #2678
Kademlia seems to be back up now, I created a PR https://github.com/libp2p/rust-libp2p/pull/2741

[2022-07-01 06:26] VictorKoenders commented on #2732
I have no strong preference either way. I can make a `proptest` PR if you want

[2022-07-01 13:06] mxinden commented on #2729
Thanks @jellllly420. Unfortunately I don't see additional insights based on the new logs. The connection is timing out. That can be due to many reasons, e.g. the host itself, but maybe as well the NAT, e.g. being a symetric NAT or not adding port mappings in time.

Are you able to reproduce the same failures in other setups?

[2022-07-01 13:22] mxinden commented on #2556
@zscott do you see the same thing happening with the gossipsub-chat example?

[2022-07-02 07:56] mxinden opened #2743 "protocols/identify: Flaky discover_peer_after_disconnect"
## Summary

The test `discover_peer_after_disconnect` seems to be flaky, i.e. hang indefinitely, from time to time. See e.g. https://github.com/libp2p/rust-libp2p/runs/7158946128?check_suite_focus=true

## Possible Solution

As far as I can tell, the connection to `swarm2` is closing due to `KeepAliveTimeout` before the identify payload is exchanged.

## Would you like to work on fixing this bug?

[2022-07-02 08:30] mxinden commented on #2709
Closing here with https://github.com/libp2p/rust-libp2p/pull/2718 merged.

[2022-07-02 08:30] #2709 closed, assigned to nobody

[2022-07-04 01:58] #2743 closed, assigned to nobody

[2022-07-04 03:48] mxinden commented on #2732
In this case, we control all crates and we would depend on `proptest` anyways, thus I don't see the benefit.

This would be my preference today.

[2022-07-04 06:33] mxinden opened #2745 "swarm/: Expose time to establish connection"
## Description

Expose the time it takes to establish an inbound or outbound connection.

## Motivation

Needed for monitoring purposes, e.g. to be exposed to Prometheus via `libp2p-metrics`. Especially relevant now that we are adding two more transport protocols and thus might want to compare them. #2622 #2289

## Open questions

- Likely best tracked in `Pool`, thus not requiring `Transport` to

[2022-07-04 16:07] zscott commented on #2556
Have not tried that, but will. Is gossipsub preferred over floodsub?

[2022-07-05 15:03] kpp opened #2746 "libp2p-swarm-derive is not updated/published in 0.46"
https://github.com/libp2p/rust-libp2p/blob/7df6bae5200dcc31bdc9b1a789571aab72c6d9ac/swarm-derive/Cargo.toml#L6

I got a compilation error:

[code]

Can you please publish a hotfix? ^_^

Related to: https://github.com/libp2p/rust-libp2p/pull/2730

cc @mxinden

[2022-07-05 23:48] #2746 closed, assigned to nobody

[2022-07-07 03:56] mxinden commented on #2556
Yes. In case you find a place to better point that out, a pull request would be very much appreciated.

[2022-07-07 05:39] thomaseizinger commented on #2732
The benefit is in other people's crates / projects who wish to write property-based tests.

Strategies, as proptest calls them, can easily be extracted into another crate and thus be shared long term (something like `libp2p-proptest`) without bloating the original crate with feature flags that are test-only.

I am happy to go with the workaround now. Perhaps we can discuss migration to proptest in

[2022-07-07 09:20] mxinden commented on #2678
Closing here with https://github.com/libp2p/rust-libp2p/pull/2741 merged.

[2022-07-07 09:20] #2678 closed, assigned to nobody

[2022-07-10 14:22] DieracDelta opened #2750 "0.46.1 on crates.io but not github releases"
## Summary

It looks like version 0.46.1 is on [crates.io](https://crates.io/crates/libp2p), but not included in [github's releases](https://github.com/libp2p/rust-libp2p/releases). Any chance it could be added to the releases?

## Expected behaviour

0.46.1 listed on github's release page.

## Actual behaviour

0.46.0 is the latest listed release.

[2022-07-11 03:11] mxinden commented on #2750
:+1: Thanks for the ping @DieracDelta.  Included now:  https://github.com/libp2p/rust-libp2p/releases/tag/v0.46.1

[2022-07-11 03:11] #2750 closed, assigned to nobody

[2022-07-15 12:43] thomaseizinger opened #2753 "Unify how crates within the workspace depend on each other"
1. Should all workspace dependencies express a version number? We currently sometimes include and sometimes we don't.
2. We mix two styles of depending on workspace crates:
a. Depending on the `libp2p` meta crate and activating certain features
b. Depending on the crate directly
c. In some cases, we even do [both](https://github.com/libp2p/rust-libp2p/blob/d4f8ec2d48bca3274296d92a1c74ccbfc9ce4276/

[2022-07-15 13:57] mriise opened #2755 "Gossipsub permissive ignores anonymous messages"
## Summary

Gossipsub silently rejects future messages from anonymous messages senders after the first message while using permissive validation

## Expected behaviour

emit event on message or peer rejection when validation mode is permissive

## Actual behaviour

Silently ignores messages from anonymous senders

<details><summary>Debug Output</summary>
<p>

[code]
</p>
</details>

## Possible So

[2022-07-15 13:59] mriise commented on #2755
There is more context and research to be done on my side to track down where/why it happens, so feel free to ping me if I haven't gotten around to updating in a week.

[2022-07-15 16:34] chayleaf commented on #2657
to throw a use case out there, I wanted to implement a simple p2p proxy, but couldn't find an obvious way to do it using libp2p. Note that this goes beyond "single request+streaming response" and instead needs a bidirectional stream interface.

[2022-07-16 12:11] thomaseizinger commented on #2657
I think the idea [from above](https://github.com/libp2p/rust-libp2p/issues/2657#issuecomment-1141243489) would solve this?

[2022-07-17 00:43] littlebenlittle opened #2757 "Spontaneous KeepAliveTimeout using MDNS"
## Summary

I have code based on the [chat example](https://github.com/libp2p/rust-libp2p/blob/d4f8ec2d48bca3274296d92a1c74ccbfc9ce4276/examples/chat.rs) but the connection closes with `KeepAliveTimeout` error.

<details>
<summary>Application Code</summary
<p>

[code]

</p>
</details>

## Expected behaviour

Connection should remain open

## Actual behaviour

Connection closes after a few seconds

[2022-07-17 07:40] mxinden opened #2758 "misc/metrics/: Track address stack"
## Description

In order to answer questions like:

- Do most of the connections to remote peers use IPv4 or IPv6? TCP, Quic or WebRTC? ...
- What protocols do remote peers support? IPv4 or IPv6? TCP, Quic or WebRTC?

I think we should expose metrics like:

[code]

and

[code]

## Requirements

1. A way to strip a `Multiaddr` of the variable parts (e.g. concrete IP or concrete port) to prevent a c

[2022-07-18 03:01] mxinden commented on #2753
Oh, are we inconsistent here? I thought we have version numbers on all `dependencies` and omit on all `dev-dependencies`.

For direct `dependencies` I think crates should depend on the sub-crates. For `dev-dependencies` I don't have an opinion, though I leaning towards using the root dependency `libp2p` as a user would most likely use it through `libp2p` as well.

Oh, yes please. Curious how other

[2022-07-19 01:20] mxinden commented on #2757
Do you just want to keep the connections alive indefinitely?

If so, you can include the `Ping` `NetworkBehaviour` and set `with_keep_alive`:

https://docs.rs/libp2p-ping/latest/libp2p_ping/struct.Config.html#method.with_keep_alive

[2022-07-20 09:19] thomaseizinger commented on #2753
That might be true, I need to check again.

Agree with that.

[2022-07-21 12:37] dmitry-markin opened #2767 "Replace `ConnectedPoint` with `Dialer` in `libp2p_swarm::DialError::WrongPeerId`"
## Description

Change the [`endpoint`](https://github.com/libp2p/rust-libp2p/blob/62622a1bad70381e56237b4da4d9abcf2b1a0e24/swarm/src/lib.rs#L1444) type to `Dialer`, extracting it from [`ConnectedPoint`](https://github.com/libp2p/rust-libp2p/blob/62622a1bad70381e56237b4da4d9abcf2b1a0e24/core/src/connection.rs#L116).

## Motivation

Currently in case of [`DialError`](https://github.com/libp2p/rust-

[2022-07-21 17:45] fishseabowl opened #2768 "Chat-tokio(examples/chat-tokio.rs) clients can't talk to each other about 20 seconds after startup"
## Summary

Chat-tokio clients can't talk to each other about 20 seconds after startup

## Expected behaviour

Chat-tokio clients can send and receive messages until the client is closed.

## Actual behaviour

When the chat-tokio clients start, sending and receiving messages works fine, but after about 20 seconds, they can't.

<details><summary>Debug Output</summary>
<p>

[code]
</p>
</details>

#

[2022-07-22 19:33] littlebenlittle commented on #2757
Thanks for suggestion. That will satisfy my requirements. I see now that the TTL for the connection is handled by the transport and not the MDNS config :slightly_smiling_face:

[2022-07-22 19:33] #2757 closed, assigned to nobody

[2022-07-24 21:36] NZT48 commented on #2598
I updated my parachain to Polkadot 0.9.26 dependencies and this issue is breaking node after around 100 blocks.

[2022-07-25 08:14] thomaseizinger commented on #2650
I've opened an issue regarding pin projection which is another blocker for some of our `Either` use cases: https://github.com/bluss/either/issues/76

[2022-07-25 15:22] mxinden commented on #2757
I am not sure I understand your comment above. Though, based on that you closed the issue, I guess it is resolved for you?

@littlebenlittle let us know how your project goes.

[2022-07-26 05:36] mxinden commented on #2767
That sounds reasonable to me. Thanks @dmitry-markin for the detailed report.

I am not going to work on this any time soon. I am happy to help you implement it though. Given your "maybe", are you still interested?

[2022-07-26 06:04] mxinden opened #2778 "swarm/src/behaviour: Add KeepAlive Behaviour"
## Description

When getting started with rust-libp2p, it is confusing that connections over time through the `KeepAlive` mechanism.

See e.g. https://github.com/libp2p/rust-libp2p/issues/2768 https://github.com/libp2p/rust-libp2p/pull/2679

Today, users can import the `Ping` `NetworkBehaviour` and set `with_keep_alive`.

https://github.com/libp2p/rust-libp2p/blob/ce963dfcaa0a99e4b9bef27cdfe29e489

[2022-07-26 06:05] mxinden commented on #2768
This is expected behavior, i.e. over time, connections are closed when not used.

In your case, I think it makes sense to simply keep them alive indefinitely. You can do so, either by importing the `libp2p-ping` `Ping` `NetworkBehaviour`, or by helping us implement a specialized `NetworkBehaviour`, see https://github.com/libp2p/rust-libp2p/issues/2778.

[2022-07-26 11:32] dmitry-markin commented on #2767
Yes, I think I can look into it in a week or so. The one thing I worry about is that these changes will definitely break the API, and I don't know how to handle it. I.e, I can update substrate, but we need to somehow notify other clients.

[2022-07-26 11:50] mxinden commented on #2767
Given that this is not a subtle change, but a change at the type system, I think users will (a) notice early and (b) can consult the changelog to get more advice. In other words, I am not worried about the breaking API change @dmitry-markin.

[2022-07-26 23:30] littlebenlittle commented on #2757
I was under the impression that MDNS would actually open some sort of new connection to hosts that it discovered and wasn't understanding why the connection would drop before the TTL set in the MDNS config. Now I understand that the connection is managed by the transport, so if I want to adjust the TTL for the connection (not the MDNS cache) then I need to adjust the transport settings. In this ca

[2022-07-27 05:38] mxinden commented on #2598
In such case `libp2p-core` would never call `close` on the `StreamMuxer`, though the line below from the panic above indicates that:

[code]

@tomaka am I missing something?

[2022-07-27 05:42] mxinden commented on #2598
@NZT48 @hrxi @jasl @doutv

It would be very helpful to get more logs right before (~10 seconds) a crash like the one above. Any chance one of you can provide a log output on debug level `RUST_LOG=debug` with the logs 10 seconds before up until the crash?

[2022-07-27 15:46] NZT48 commented on #2598
@mxinden Thanks for helping, here are the logs with 10 seconds before: https://we.tl/t-6TuATzVqV4

[2022-07-29 05:44] mxinden commented on #2757
Note that the timeout in `development_transport` is only a timeout on the connection establishment. It is not a timeout on an idle established connection.

[2022-07-29 16:53] elenaf9 opened #2781 "transports/tcp: use `futures::stream::SelectAll` for driving listener streams"
## Description

With #2652 polling the listeners of a transport became the transport's responsibility.
We currently do this in `TcpTransport::poll` analogous to how it was done before in the swarm `ListenerStream`: by iterating through the list of `TcpListenStream`s and sequentially polling each listener for an event, returning the first event from a listener.
Instead of doing this manual iteratio

[2022-07-29 19:30] dariusc93 commented on #2755
I would have to check the documents again but if i recall `ValidationMode::Permissive` would reject messages containing the author, seq and/or signature, which means you might not have your `MessageAuthenticity` set to `MessageAuthenticity::Anonymous`. Could you provide any code @mriise?

[2022-07-29 20:22] elenaf9 opened #2782 "relay: remove listener streams in `client::Transport`"
## Description

With #2652 the concept of listeners was removed from the `Transport` in the sense that having listener streams is not enforced anymore. Instead the transport is responsible for managing its listeners and polling them.

As part of #2652 the relay `ClientTransport` was adjusted to the trait changes so that now the `ClientTransport` manages and drives its listener streams. The underly

[2022-07-30 00:34] K0UR05H commented on #2778
It seems like it's possible to keep a connection open using `DummyBehaviour::with_keep_alive` but I don't know if it's good enough.

[2022-07-31 15:34] elenaf9 commented on #2722
I'd like to discuss again the interface of the `StreamMuxer` trait, in particular the changes done in #2724.
I am sorry for raising this now and not in the PR itself, but I only now started working on adapting the `QuicMuxer` (#2289) to that interface change.

In the QUIC muxer we need a way of driving the inner [`quinn_proto::Connection`](https://docs.rs/quinn-proto/latest/quinn_proto/struct.Conn

[2022-07-31 17:08] thomaseizinger commented on #2722
Thanks for commenting!

I did think about this problem actually but perhaps the trade-offs play out differently then what I thought they would. The problem I see with a single `poll` function is that it creates an API that is actually rather inconvenient to use, esp. when we take into account the requirement of wanting to enforce back-pressure on incoming streams.

The current API is IMO rather si

[2022-08-01 06:01] mxinden commented on #2598
A suspicion I have:

When closing the `Yamux` muxer, we call `inner.control.poll_close` and `inner.incoming.poll_next_unpin` concurrently.

https://github.com/libp2p/rust-libp2p/blob/master/muxers/yamux/src/lib.rs#L132-L150

This could result in both the `control_command` and the `frame` `Future` to be ready at the same time.

https://github.com/libp2p/rust-yamux/blob/master/src/connection.rs#L492

[2022-08-01 06:50] mxinden commented on #2598
@NZT48 @hrxi @jasl @doutv @kpp

Would very much appreciate help testing https://github.com/libp2p/rust-yamux/pull/137. Instructions are in the pull request description.

[2022-08-01 06:53] melekes commented on #2722
I'm quite happy with the current design of `StreamMuxer` trait.

[2022-08-01 19:37] kpp commented on #2722
I believe I should try to move QuicMuxer to a new API to give it a try.

[2022-08-02 04:19] mxinden commented on #2782
Thanks for documenting this!

I am in favor of the above suggestion. That said, I haven't played through it in detail myself, thus I can't comment whether it will turn out to be fruitful.

[2022-08-02 04:24] mxinden commented on #2778
To be honest I haven't been aware of `DummyBehaviour::with_keep_alive`. Thanks @k0ur0x.

I am closing here for now. I would still consider a pure `KeepAlive` `NetworkBehaviour` useful. That said, I doubt it is worth the additional work.

[2022-08-02 07:02] NZT48 commented on #2598
@mxinden It works on my side also :)

[2022-08-02 07:05] jasl commented on #2598
Running nearly a day with patched binaries, haven't crash yet

[2022-08-02 07:15] mxinden commented on #2598
@NZT48 @jasl those are wonderful news. Would you mind keeping those deployments running for a bit longer, just to make sure?

[2022-08-02 08:22] mxinden opened #2791 "transports/noise: Expose Prologue mechanism"
## Description

Enable users to provide a [Noise Prologue](https://noiseprotocol.org/noise.html#prologue) via [Builder::prologue](https://docs.rs/snow/latest/snow/struct.Builder.html#method.prologue).

## Motivation

Needed for https://github.com/libp2p/rust-libp2p/pull/2622, more specifically to validate the remote's TLS fingerprints. See https://github.com/libp2p/specs/pull/412#discussion_r93058

[2022-08-02 08:25] mxinden commented on #2791
Corresponding pull request on the Golang side: https://github.com/libp2p/go-libp2p/pull/1663

[2022-08-02 08:42] jasl commented on #2598
that's no problem, I patched our testnet so it will keep running

[2022-08-02 13:31] dmitry-markin commented on #2767
It seems the cause for `DialError::WrongPeerId` to contain `ConnectedPoint`, and not `Dialer` or just `Multiaddr` is that [`PendingOutboundConnectionError`](https://github.com/libp2p/rust-libp2p/blob/62622a1bad70381e56237b4da4d9abcf2b1a0e24/swarm/src/connection/error.rs#L89) is based on [`PendingConnectionError`](https://github.com/libp2p/rust-libp2p/blob/62622a1bad70381e56237b4da4d9abcf2b1a0e24/s

[2022-08-02 16:29] dmitry-markin commented on #2767
I've implemented the simplest solution in https://github.com/libp2p/rust-libp2p/pull/2793.

[2022-08-03 00:20] github-actions[bot] opened #2794 "RUSTSEC-2022-0040: Multiple soundness issues in `owning_ref`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `owning_ref`                      |
| Version             | `0.4.1`                   |
| URL                 | [https://github.com/noamtashma/owning-ref-unsoundness](https://github.com/noamtashma/owning-ref-unsoundness) |
| Date

[2022-08-03 05:08] #2768 closed, assigned to nobody

[2022-08-03 05:16] fishseabowl opened #2795 "cargo audit falied"
## Summary

version: cargo-audit 0.16.0

Details:
%cargo audit
    Fetching advisory database from `https://github.com/RustSec/advisory-db.git`
      Loaded 430 security advisories (from /Users/.cargo/advisory-db)
    Updating crates.io index
    Scanning Cargo.lock for vulnerabilities (392 crate dependencies)
Crate:         owning_ref
Version:       0.4.1
Title:         Multiple soundness issues

[2022-08-03 08:25] mxinden commented on #2795
Thanks for reporting @fishseabowl. Let's move this to https://github.com/libp2p/rust-libp2p/issues/2794.

[2022-08-03 08:25] #2795 closed, assigned to nobody

[2022-08-03 12:56] mxinden commented on #2598
Will try to prepare a proper patch for `yamux` tomorrow. This can be released as patch release, i.e. `yamux` `v0.10.2` and thus only needs an update in the Polkadot `Cargo.lock`.

[2022-08-03 13:10] thomaseizinger commented on #2722
When discussing the integration of the new interface in quic, @elenaf9 mentioned that one theoretical issue that we currently have is that one of the `poll` functions MUST be polled in order for any of the substreams to make progress.

In practise, `poll_address_change` will always be polled unconditionally, even when we start to enforce back-pressure on `poll_inbound` and no outbound streams curr

[2022-08-03 14:33] elenaf9 commented on #2722
Sounds good to me.

---
For the record:
In an out-of-band discussion with @thomaseizinger we decided to for now stick with the current interface. Main reason is that this interface allows to backpressure inbound substreams via `poll_inbound`, and because we found a way to adapt the `QuicMuxer` to it. More or less what @thomaseizinger described above by driving the inner connection on every poll im

[2022-08-03 16:21] thomaseizinger opened #2796 "Enforce back-pressure on incoming substreams using new `StreamMuxer` interface"
Once https://github.com/libp2p/rust-libp2p/issues/2722 is complete, I would suggest we inline the `HandlerWrapper` component into the `swarm::Connection` struct.

This will resolve some indirection which:

- Allows us to use the incoming substream limit to enforce back-pressure
- Simplifies understanding of the code because `StreamMuxer` and `ConnectionHandler` are polled by the same component (`C

[2022-08-03 19:13] AbhijithGanesh commented on #2794
Hello team! I am one of the contributors from Pyrsia! I was investigating through the issue and as per my understanding of the usage of [prometheus_client](https://docs.rs/prometheus-client/0.17.0/prometheus_client/) in `misc/metrics`. The library uses Owning_Ref which affects the library!

[2022-08-03 19:26] kpp commented on #2722
Thank you. I will take a look

[2022-08-03 19:50] thomaseizinger commented on #2722
There is now a draft PR of the above idea here: https://github.com/libp2p/rust-libp2p/pull/2797

[2022-08-04 01:21] mxinden commented on #2794
:wave: great to have you here.

That is correct.

Disclaimer, I am a maintainer of the `libp2p` crate and the maintainer of the `prometheus-client` crate.

I documented my thoughts here https://github.com/prometheus/client_rust/issues/77#issuecomment-1204650788. Help much appreciated.

[2022-08-04 03:25] mxinden commented on #2598
I prepared https://github.com/libp2p/rust-yamux/pull/138, which in my eyes represents a valid bug fix, replacing https://github.com/libp2p/rust-yamux/pull/137. https://github.com/libp2p/rust-yamux/pull/138 still needs to pass review.

Given that this is a very subtle issue, and given that https://github.com/libp2p/rust-yamux/pull/138 differs from https://github.com/libp2p/rust-yamux/pull/137, I wo

[2022-08-04 12:02] jasl commented on #2598
no problem

[2022-08-05 02:00] mxinden commented on #2598
https://github.com/libp2p/rust-yamux/pull/138 is reviewed and approved thanks to @elenaf9 and @thomaseizinger.

@jasl once I get the green light from you, I will cut a release.

[2022-08-05 06:19] jasl commented on #2598
Great! I can't wait

BTW, could you help to backport the upgrade to polkadot-v0.9.27 ?

[2022-08-05 06:29] mxinden commented on #2598
Just to make sure, do I understand correctly that you ran https://github.com/libp2p/rust-yamux/pull/138 and that you are not seeing any panics @jasl?

I can not, as I am no longer directly involved in the project. Maybe @kpp or @bkchr can help with the backport.

[2022-08-05 06:31] jasl commented on #2598
For a night I don't see panic

[2022-08-05 06:48] mxinden commented on #2598
`v0.10.2` of the `yamux` crate is now released.

https://github.com/libp2p/rust-yamux/pull/138#issuecomment-1206103021

Thanks everyone for the help!

I am closing here. Since this is a patch release, there is no need to update `libp2p`, but instead an upgrade to `v0.10.2` at the binary level suffices.

[2022-08-05 06:48] #2598 closed, assigned to nobody

[2022-08-05 07:51] bkchr commented on #2598
No need to backport this. Parachains can just run cargo update -p yamux to get the latest version of the crate. As this is nothing critical and doesn't happen that often there is no need for a full polkadot release. It can wait and go into the next polkadot release.

[2022-08-05 11:17] kpp commented on #2598
Still the yamux dep in libp2p needs to be increased in order to force people to download the new version upon upgrade.

[2022-08-08 04:14] mxinden commented on #2767
I would be in favor of doing as much as possible at compile time. Would splitting `PendingConnectionError` be an option?

[2022-08-08 06:24] mxinden commented on #2598
I would expect downstream users to use tools like @dependabot and thus keeping their dependencies up to date. That said, I am happy to merge a pull request updating the `yamux` version in the `libp2p-yamux` crate.

[2022-08-08 09:49] tomaka commented on #2598
There's no need to force people. People are expected to understand that they need to run `cargo update` to make bugs go away.
Increasing the version on the other hand prevents people from downgrading to a previous version if they need to.

[2022-08-08 11:38] AbhijithGanesh commented on #2758
@mxinden is this issue beginner friendly ? Is this
 something I could help with ?

[2022-08-08 12:19] dmitry-markin commented on #2767
Yes, this seems reasonable, I'll check it.

[2022-08-08 14:30] thomaseizinger commented on #2758
Yes it should be.

Take a look at how other metrics are implemented for some inspiration.

You'll have to use a `Gauge` as the underlying metric and increment/decrement based on the information in `SwarmEvent`.

[2022-08-08 20:24] AbhijithGanesh commented on #2758
Got it! thanks for the advice

[2022-08-08 23:45] pinkforest opened #2808 "CONTRIBUTING.md"
## Description

Canonical CONTRIBUTING.md

## Motivation

Usually people flock to readme / CONTRIBUTING.md to look for advice around on how to contribute / repo conventions etc.

e.g. https://github.com/libp2p/rust-libp2p/pull/2803#issuecomment-1208705473

## Current Implementation

Thomas mentioned the file was supposed to be there :eyes:  ? :woman_shrugging:

EDIT: Probably worth linking here ht

[2022-08-09 09:05] thomaseizinger commented on #2808
Thanks for opening the issue!

Those guidelines seem to be mostly influenced from the golang side (they also credit Docker at the bottom). In practice, we use different ones in here.

@mxinden I thought we had some guidelines somewhere that explain our merge-squashing, no force pushes, the PR title convention etc?

[2022-08-09 18:12] AbhijithGanesh commented on #2758
I will need some time with this but I will be sending in a PR soon!

[2022-08-10 03:02] mxinden commented on #2808
I am only aware of https://github.com/libp2p/rust-libp2p/blob/master/docs/release.md and https://github.com/libp2p/rust-libp2p/pull/2780.

I am in favor of adding additional information for newcomers. The only thing I would like to watch out for is not overwhelming newcomers with a large text mandatory to read before contributing. In other words, I would rather explain these guidelines on each pul

[2022-08-10 15:57] dignifiedquire opened #2809 "Allow to read current connection limits"
Currently it is possible to get to the [`ConnectionLimits`](https://docs.rs/libp2p/latest/libp2p/swarm/struct.ConnectionLimits.html) struct for the current swarm, but it is not possible to read the actual limits, which would be useful to for components that want to check how close to the limit the current state is.

Bonus: It might be nice if there were some methods like `has_reached_outgoing_conn

[2022-08-11 00:18] github-actions[bot] opened #2811 "RUSTSEC-2021-0137: sodiumoxide is deprecated"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `sodiumoxide`                      |
| Version             | `0.2.7`                   |
| URL                 | [https://github.com/sodiumoxide/sodiumoxide/commit/5bb1dfd25785

[2022-08-11 06:30] thomaseizinger commented on #2809
Perhaps we should report the limit with each new connection?

[2022-08-11 16:36] AbhijithGanesh commented on #2811
@thomaseizinger , this issue with regards to cryptography isn't major and using ed25519 for edwards key will be a good replacement if any such cryptographic methods are used!

[2022-08-11 22:44] thomaseizinger commented on #2811
I don't think we can just replace this that easily. The noise transport follows a specification (see https://github.com/libp2p/specs).

[2022-08-12 00:26] AbhijithGanesh commented on #2811
Let me review this and amend my PR, I wasn't aware of noise specification.

[2022-08-13 03:09] mxinden commented on #2811
@pinkforest do you have opinions on which alternative to use?

[2022-08-13 07:56] pinkforest commented on #2811
:) @thomaseizinger and @mxinden you owe me a :tropical_drink:  for this .. :ship: PR #2817

You _could_ just continue with sodiumoxide as it's only in testing purposes...

But yeah there are always big concerns what happens with unmaintained stuff

I've sent a PR to use ed25519-compact and libsodium-sys-stable that is the maintained version of libsodium-sys

All are maintained by Frank @jedisct1 w

[2022-08-15 15:07] mxinden commented on #2809
I would welcome any patches for this.

In case anyone is looking into it, I am currently working on a proposal for generic connection management, i.e. the ability for users to implement their own connection management (e.g. limiting) mechanism. I have not yet published this work.

See also https://github.com/libp2p/rust-libp2p/discussions/2118#discussioncomment-3134752

[2022-08-15 16:36] shamil-gadelshin opened #2820 "Yamux errors: broken pipe and unexpected end of file"
## Summary

Yamux multiplexer seems to glitch sometimes. Initially we got these errors on the heavy loaded instance but we caught them in simpler scenarios as well.

We use a fork from version 0.46.0
The current rust-libp2p master branch doesn't seem to have any fixes for yamux since the last common ancestor (there are a couple commits though but I'm not sure they are relevant).

Error types:
- ya

[2022-08-15 17:31] AbhijithGanesh commented on #2811
@pinkforest Does that make my PR redundant ?  Should I close it?

[2022-08-16 03:07] mxinden commented on #2820
Thanks for the report @shamil-gadelshin.

Can you expand on why you think this is a Yamux bug? May this as well be an issue with the underlying connection?

Can you `git bisect` these issues to a specific commit?

[2022-08-16 07:00] thomaseizinger commented on #2820
I can only second what @mxinden said. The root cause here is an IO error as we can see from the log which is unlikely to be yamux' fault.

[2022-08-16 07:26] kayabaNerve commented on #2794
Since the above was merged, libp2p updating to prometheus-client 0.18.0 should fix this.

[2022-08-16 09:45] shamil-gadelshin commented on #2820
I tried to replace it with mplex. This particular scenario worked well without any errors or warnings under the same heavy load, however it started to work strange in other cases, so I rolled the configuration back to yamux.

However, it is not a 100% guarantee that yamux is the culprit - we use rather complex configuration with relayed peers and multiple independent swarms in the same process, bu

[2022-08-16 15:14] thomaseizinger commented on #2820
Interesting, thanks for trying that!

I am not aware of a known issue. Any chance you can isolate the problem further to a reproducible example?

Those should not carry any functional changes.

[2022-08-17 05:02] #2794 closed, assigned to nobody

[2022-08-17 06:49] mxinden commented on #2820
Are the errors happening on a relayed connection? Does the connection hit the relay limits?

https://github.com/libp2p/rust-libp2p/blob/a2738fd5551c4ab0f234e2d33dd5500768bbaabb/protocols/relay/src/v2/relay.rs#L59-L60

[2022-08-17 08:46] shamil-gadelshin commented on #2820
We reproduce it reliably on heavy loaded system only but we'll try.

It seems we run into timeouts sometimes and we set all relay limits to max values (I didn't find limit specific errors in the log).

[2022-08-17 09:06] mxinden opened #2824 "swarm/: Support generic connection management"
## Description

(Taken from https://github.com/libp2p/rust-libp2p/discussions/2118#discussioncomment-3134752.)

I see 3 ways how we can enable users to do advanced connection management:

1. Make the [`pool::ConnectionCounter`](https://github.com/libp2p/rust-libp2p/blob/475289c19ca3f79fe0cbad075963f4269cd125a8/swarm/src/connection/pool.rs#L926-L939) generic and allow users to provide their own.

[2022-08-17 09:07] mxinden commented on #2824
I am currently working on proposal (2), i.e. extending `NetworkBehaviour`. Hope to publish a first proof-of-concept this week.

[2022-08-17 09:24] pinkforest commented on #2808
Explaining these things separately is just setting people to fail - contributors don't like failing.

It's a bit like google way of not blaming the people but the tools instead when / if anything goes wrong -

Either implicitly - even if nobody meant so - or explicitly - it's friction -

People can get pretty touchy about doing something they were never told about or where the tooling just set the

[2022-08-17 14:27] thomaseizinger commented on #2824
How is (2) going to work in terms of composing behaviours? One `NetworkBehaviour` declining a connection means it will be denied? i.e. Need full agreement across all `NetworkBehaviour`s?

[2022-08-18 07:32] thomaseizinger commented on #2808
I agree. The ipfs-community one is _way_ too long IMO: https://github.com/ipfs/community/blob/master/CONTRIBUTING.md

I'd like to see a CONTRIBUTING.md that informs users about:

- Our use of squash merging
- Not using force-push on PRs
- Setting a PR title that starts with the the files/modules that are being modified (i.e. `core/muxing`)

Additionally we can mention that contributors should:

-

[2022-08-18 07:51] pinkforest commented on #2808
Requiring people not to force push is tbh asking too much -

People work in different ways and any deviation out of ordinary is just friction.

In the end it's their branch and PR and you can choose whether to accept or not.

I would not set any arbitrary rules on that and deal with that in the tooling e.g. using [bors-ng](https://github.com/bors-ng/bors-ng).

Most people usually miss `--all-featu

[2022-08-18 09:02] mxinden commented on #2824
Correct.

[2022-08-18 10:59] thomaseizinger commented on #2808
Well, ultimately, we obviously can't force (pun intended) users to not force push but I see it as a "these are our conventions, please follow them if you can".

Because we squash merge, individual commits don't have to be pretty / build / pass clippy / formatting so the use of force pushing just makes reviews harder.

Regarding testing, there isn't really anything to do besides running `cargo test

[2022-08-19 04:32] mxinden commented on #2824
Draft implementation of (2) is happening on https://github.com/libp2p/rust-libp2p/pull/2828. Still work in progress, but might help understand the idea behind (2). Happy to expand on any of this in written form. No need to dig through the code in case you don't want to.

[2022-08-19 17:49] elenaf9 commented on #2722
Something I stumbled across just now: in the swarm, we never poll `StreamMuxer::poll_close` when closing a connection. Instead we simply drop the future returned from `StreamMuxerExt::close`, and then the connection (including the muxer) itself:
https://github.com/libp2p/rust-libp2p/blob/8931860b2f35e55316860a5fc0affb264c447c61/swarm/src/connection/pool/task.rs#L237-L249
(The above match block is

[2022-08-20 02:59] mxinden commented on #2722
I think there is a confusion here. We close a connection either due to (1) the `command_receiver` returning a `Command::Close` or (2) due to the connection returning an error.

### (1) `command_receiver` returning a `Command::Close`

In this case we drive the `closing_muxer` returned by `Connection::close` to completion.

See [old code](https://github.com/libp2p/rust-libp2p/blob/c0d7d4a9ebdf25e601

[2022-08-20 04:47] mxinden opened #2831 "misc/multistream-select: Treat protocol as `String` and not `[u8]`"
## Description

Today we treat protocols negotiated via `multistream-select` as a `[u8]`. Instead we should treat it as a `String`.

## Motivation

- I am not aware of a project using non-string protocol identifiers.
- The [specification treats them as strings](https://github.com/libp2p/specs/blob/master/connections/README.md#protocol-negotiation).
- `libp2p-identify` treats protocols as strings.

[2022-08-20 06:04] mxinden opened #2832 "swarm/behaviour: Inject events via single method"
## Description

Replace the various `NetworkBehaviour::inject_xxx` methods with a single `NetworkBehaviour::on_event` method and a `InEvent` `enum`.

Example replacing `NetworkBehaviour::inject_connection_established`:

[code]

## Motivation

- Decision whether to ignore an event (e.g. the event of a new connection being established) is made at the `NetworkBehaviour` `trait` definition by providin

[2022-08-20 07:05] thomaseizinger commented on #2831
Should we remove the `ProtocolName` abstraction as part of this or just change it to `&str` for now?

[2022-08-20 07:17] elenaf9 commented on #2722
Ah thanks, I did overlook case Nr (1).
Though I do wonder:

The connection also returns an error `Error::KeepAlive` if all network behaviours reported that they don't need the connection anymore ([code](https://github.com/libp2p/rust-libp2p/blob/217dd2ca22b58d7f707b038cb1c32a127e1992cc/swarm/src/connection/handler_wrapper.rs#L399-L428)). I would say 99% percent of the time, that's the reason why w

[2022-08-20 07:25] thomaseizinger commented on #2722
We could at least try to close it and ignore any `io::Error` returned from `poll_close`. We may have to be careful though as this may trigger panics in the form of "polled after completion", depending on the muxer implementation.

[2022-08-20 07:45] thomaseizinger commented on #2832
I agree with your concerns.

One thing to note is that the extra match will ident all code handling the event by two tabs: one for the `match` and one for the match arm.

To keep things readable, users will likely extract their own functions anyway except for really simple cases which brings us back to square one with more boilerplate except that the users is more in control of which events to han

[2022-08-20 07:46] thomaseizinger commented on #2832
If we go with an enum, we could probably also unify `SwarmEvent` and the above `InEvent`.

[2022-08-20 07:48] thomaseizinger commented on #2832
Thinking about it more, a single `on_event` function seems like the right primitive to me. Everything else, including the macro above, can be built on top of that.

[2022-08-20 09:52] mxinden commented on #2722
Example for such "polled after completion": https://github.com/libp2p/rust-libp2p/issues/2598

That said, I think you are right @elenaf9. In the case of the handler, not the actual I/O resource (connection), returning an error (e.g. `Error::KeepAlive`) we should try to close the connection. Good catch. I have not thought about that.

I wonder whether we should fix this earlier, or first combine `H

[2022-08-20 09:53] mxinden commented on #2831
For the sake of type safety, what do you think of a _new type_ wrapping a `String` or `&str`?

[2022-08-20 13:41] elenaf9 commented on #2722
Imo it's sufficient if we do it after / within the PR that combines `HanlderWrapper` and `Connection`. From #2796 I assume that this is planned for the near future.

[2022-08-20 13:59] haider-rs opened #2833 "Error building libp2p with dcutr feature"
## Summary
Cannot build libp2p with dcutr feature.
Created a new cargo project
Added a dependency of libp2p
`libp2p = { version = "0.46.1", features = ["tcp-tokio", "dns-tokio"] }`
run cargo check, runs fine, change the dependency
`libp2p = { version = "0.46.1", features = ["tcp-tokio", "dns-tokio", "dcutr"] }`
throws error

## Expected behaviour
should return Finished dev

## Actual behaviour
ret

[2022-08-20 15:18] elenaf9 commented on #2833
Could you try running `cargo update` and see if the error still occurs?

[2022-08-20 19:36] haider-rs commented on #2833
thank you, the error is gone.

[2022-08-21 20:43] haider-rs commented on #2833
@elenaf9 though that fixed the error in a new project. I am still getting error even on running cargo update in my project and it still throws the same error:

[code]
any leads why? cant even run cargo update

[2022-08-21 21:10] elenaf9 commented on #2833
What is the output when you run `cargo update`?

[2022-08-21 21:21] haider-rs commented on #2833
it throws the same error

[code]

[2022-08-21 22:55] elenaf9 commented on #2833
I don't think this is a libp2p error. Looks more like a cargo issue; potentially related to this?: https://github.com/rust-lang/cargo/issues/9240. Could you try to manually delete your `Cargo.lock` and run it again?

[2022-08-22 10:49] haider-rs commented on #2833
yeah I also think its a cargo issue since cargo update solved it in new project.
but I have tried deleting cargo.lock, target, even deleted ~/.cargo/registry didn't help yet.

[2022-08-22 11:20] haider-rs commented on #2833
if you see this error it says ethers indirectly requires signature version >=1.5, <1.7
but libp2p indirectly requires signature version >=1.3.1, <1.5 so we have a version conflict here.

[2022-08-22 11:38] elenaf9 commented on #2833
Ah seems like the reason is that our `p256` dependency is outdated, which we only use on feature `ecdsa`.
Pending PR to fix that is #2636, though it seems like this is currently blocked.
Since we don't really need the `ecdsa` feature in `libp2p-dcutr` a workaround to fix this now is to disable the default features for the `libp2p-core` dependency (like we already do in every other package that dep

[2022-08-22 11:53] elenaf9 commented on #2833
@Haider-Ali-DS could you test if #2836 fixes the error for you?

[2022-08-22 12:23] haider-rs commented on #2833
yup it did. Thank you

[2022-08-22 13:09] dmitry-markin opened #2837 "Add the possibility to negotiate fallback Kademlia protocol names"
## Description

Add the possibility to negotiate multiple Kademlia protocol names, like it's done, for example for [request-response protocol](https://github.com/libp2p/rust-libp2p/blob/4253080a43f593be9d184e5ec106c2b8ed032904/protocols/request-response/src/handler/protocol.rs#L64-L89).

## Motivation

This would allow to change the protocol name in a backward-compatible manner. We've updated the

[2022-08-23 07:17] mxinden commented on #2833
@Haider-Ali-DS @elenaf9 thanks for the help on this. Not disabling default features on the import was my mistake. I released `libp2p-dcutr` `v0.5.1` with @elenaf9 's fix.

[2022-08-23 07:30] mxinden commented on #2837
This makes sense to me.

I don't mind the breaking change on the API. I am fine with `KademliaConfig::set_protocol_nameS` to take more than one protocol.

---

One thing to keep in mind:

Given node `A`, `B` and `C`, where `A` speaks only the old protocol, `B` speaks both and `C` speaks only the new protocol.

1. Node `B` connects to node `A` and thus adds node `A` to its routing table.
2. Node `C

[2022-08-23 07:56] mxinden commented on #2833
For those that need `ecdsa` support, I just released `libp2p-core` `v0.35.1` with `p256` `v0.11.0`.

With these two releases, I think this is fully solved. Please comment in case I am missing something.

Again, thanks for the team work here.

[2022-08-23 07:56] #2833 closed, assigned to nobody

[2022-08-24 16:43] DieracDelta opened #2845 "swarm/behaviour: add logging or metrics to structs that derive NetworkBehaviour"
## Description

It would be helpful to know which sub-behaviours open and close connections when deriving `NetworkBehaviour`. Suppose we have something like:

[code]

and I have a bug in `Behaviour1` that causes it to initiate 100s of connections all at once. It's tricky to tell that `Behaviour1` is the culprit. Having metrics or logging that says `Behaviour_i` opened `n` connections would be usef

[2022-08-25 13:43] kpp opened #2847 "rand:wasm-bindgen missing feature"
https://github.com/libp2p/rust-libp2p/blob/d92cab8581b634511a0aa54e661570b4dad31830/Cargo.toml#L61

[code]

[2022-08-25 17:12] divagant-martian opened #2848 "prost version upgrade brakes core build scripts"
## Summary
the upgrade to prost v0.11.0 includes some breaking changes, including prost no longer installing protoc. As a consequence the last version requires protoc to be explicitely/manually installed. See https://github.com/tokio-rs/prost/releases/tag/v0.11.0 and https://github.com/sigp/lighthouse/runs/8005207211?check_suite_focus=true#step:6:1020 for the error that now we get building libp2p'

[2022-08-26 02:48] mxinden commented on #2848
Thanks for calling this out @divagant-martian!

I updated the release notes:

https://github.com/libp2p/rust-libp2p/releases/tag/v0.47.0

Do you think we should also adjust the changelogs? If so, would you mind preparing a pull request?

[2022-08-26 22:12] divagant-martian commented on #2848
I was about to add the entry to the changelogs in the appropriate versions (those belonging to the 0.47.0 release as well as a patch changelogs entry but that might be unnecessary and prevent from actually patching the changelogs pinned in the tag?

So what I was about to do:
[code]

lmk what you think it's best.

[2022-08-28 08:11] mxinden commented on #2847
Corresponding changelog entry is here:

https://github.com/rust-random/rand/blob/master/CHANGELOG.md#080---2020-12-18

Do you want to prepare a patch updating all uses of `rand` to `v0.8` @kpp?

[2022-08-28 11:29] efarg commented on #2831
I'd like to work on this.

[code]

Are we thinking something along these line? I am using `&str` here, because, `String` requires new memory. With `AsRef<str>` in place, we can replace `AsRef<[u8]>` with `AsRef<str>` in `dialer_select.rs` and `listener_select.rs`, right?

But doing so, rippled its effect into places where dialers and listeners are used, as in `core/src/upgrade` where NameWrap, Upg

[2022-08-28 12:56] thomaseizinger commented on #2831
It is a fairly invasive change yes. Happy to mentor you along if you want to pick it up!

See some of the communication in https://github.com/libp2p/rust-libp2p/pull/2798.

I think we should store the protocol as String or &str everywhere to begin with and not convert it. Some places also use Cow so the `Protocol` newtype may need Cow inside!

[2022-08-28 12:59] thomaseizinger commented on #2831
Many abstractions that require `AsRef<[u8]>` currently may need to be changed to just use the new newtype.

[2022-08-28 15:57] thomaseizinger commented on #2848
Patching the changelog itself doesn't need a changelog entry IMO :)

[2022-08-28 16:24] efarg commented on #2831
@thomaseizinger yes, I would like to work on this.

So currently it is `struct Protocol(Bytes)` , we want to change it to something like `struct Protocol(String)` or `struct Protocol(&str)`. How to decide between the two? If we want Cow, is `&str` better?

I will try to look for places where Cow is used. But off the top of your head, lmk if you know places where this is the case.

Just out of curi

[2022-08-28 16:56] thomaseizinger commented on #2831
In order to not have to decide between the two, we can have `Cow<'static, String>` :)

We will either need to use `Protocol` throughout the entirety of rust-libp2p or make a separate newtype that lives in libp2p-core.

I think using `Protocol` everywhere is worth exploring. If you don't mind, you can open a possibly not-compiling draft PR where you make comments on specific lines that are causing

[2022-08-28 17:00] efarg commented on #2831
`Cow<'static, String>` wow! nice.

@thomaseizinger yeah, not-compiling draft PRs exploring the usage of `Protocol` everywhere sounds good. I'll begin.

[2022-08-28 17:03] efarg commented on #2831
@mxinden do you know?

[2022-08-29 09:08] kpp commented on #2847
Okay let me try =)

[2022-08-29 13:09] thomaseizinger opened #2853 "Consider tracking `Cargo.lock` in Git"
See the following discussion: https://github.com/libp2p/rust-libp2p/pull/2803#discussion_r956704249

TLDR: Tracking `Cargo.lock` would allow for greater visibility on how our dependencies change and might f.e. give us an earlier insight into bad semver bumps.

[2022-08-29 13:29] pinkforest commented on #2853
Another PoV worth considering is the visiblity from leaving .lock files in source tags / commit history to see what was used back in time given commit / release time to crates.io -

Let's say if you leave the old .lock to somewhere back in time you can audit back in history how things were built / what things were built with in precision.

However for plain security side of it in isolation there i

[2022-08-29 14:42] divagant-martian commented on #2848
yeah agree, it's more the habit at this point

[2022-08-30 06:11] mxinden commented on #2845
Thanks for opening this up @DieracDelta!

Yes. While probably not the most sophisticated approach, I think this is a good place to get started. I would imagine something along the lines of:

[code]

@DieracDelta what do you think? Would this suffice to debug issues like the one you faced above? Do you want to prepare a pull request for this?

[2022-08-30 06:55] mxinden commented on #2831
:+1: another option which I have seen used more would be `Cow<'static, str>`. Not sure what is better for us or whether there is even a difference.

I don't unfortunately.

**One day** I would like to see rust-libp2p support both multistream-select and [Protocol Select](https://github.com/libp2p/specs/pull/349). With that in mind, I would suggest `libp2p-core` to expose its own `Protocol` type tha

[2022-08-30 07:02] thomaseizinger commented on #2831
`Cow<'static, str>` is the correct version! Using `String` is pointless because it is already an owned type, I've mixed it up 😅

[2022-08-30 07:20] #2811 closed, assigned to nobody

[2022-08-30 09:08] dignifiedquire commented on #2832
👍 in general from my side, I am always worried if I am handling all events that I need to, and this would make it a lot easier to guard against the issue.

[2022-08-30 09:20] thomaseizinger opened #2854 "swarm/handler: Rename `InEvent` and `OutEvent` to `FromBehaviour` and `ToBehaviour`"
## Description

Rename the associated types of `ConnectionHandler` from `InEvent` to `FromBehaviour` and `OutEvent` to `ToBehaviour`.

## Motivation

Using a `ConnectionHandler` outside of the `NetworkBehaviour` abstraction is generally possible put very unlikely. To make it easier for users to understand, what these types do, we can rename them to not just be an "in" and "out" but to include wher

[2022-08-30 10:06] thomaseizinger opened #2856 "Remove `PendingUpgrade` in favor of `DeniedUpgrade`"
## Description

In https://github.com/libp2p/rust-libp2p/pull/2785, we added a `PendingUpgrade` implementation that is essentially equivalent to `DeniedUpgrade` apart from also needing a protocol. @mxinden was this on purpose or an oversight? `DeniedUpgrade` has quite some usage throughout the codebase but I think I prefer the name `PendingUpgrade` as it reflects the use of `futures::pending`. At

[2022-08-30 13:21] kpp opened #2858 "dcutr example: filename collision"
[code]

[code]

[2022-08-31 07:21] mxinden commented on #2848
With https://github.com/libp2p/rust-libp2p/pull/2851 merged, I will close here. @divagant-martian thanks for the patch!

[2022-08-31 07:21] #2848 closed, assigned to nobody

[2022-08-31 07:52] mxinden commented on #2858
I don't feel strongly about the name `client` in either, in case anyone wants to provide a patch.

[2022-08-31 10:01] thomaseizinger commented on #2722
I am closing this as completed :partying_face:

[2022-08-31 10:01] #2722 closed, assigned to nobody

[2022-09-01 10:21] mxinden commented on #2722
Very good work! The amount of small pull requests working towards a greater goal is stunning. Thanks for making it easy to review.

[2022-09-02 02:29] mxinden commented on #2635
Instead of `semverver`, we could consider using https://crates.io/crates/cargo-semver-checks.

[2022-09-02 03:50] mxinden commented on #2854
I find this more intuitive looking at `ConnectionHandler` only. Though in the greater picture, including `NetworkBehaviour`, it is inconsistent with `NetworkBehaviour::OutEvent`.

[2022-09-02 06:31] thomaseizinger commented on #2854
We can name that one `ToSwarm`? :)

[2022-09-02 06:40] mxinden commented on #2856
They serve two different purposes. `PendingUpgrade` provides a protocol name during `multistream-select` negotiation, but never proceeds once the protocol has been negotiated. `DeniedUpgrade` provides no protocol name during `multistream-select` negotiation, thereby the `multistream-select` negotiation fails.

I can not think of a use-case for `PendingUpgrade` beyond testing, though I think that i

[2022-09-02 08:51] thomaseizinger commented on #2856
Does make sense, thanks for the explanation!

[2022-09-02 08:51] #2856 closed, assigned to nobody

[2022-09-02 14:51] elenaf9 commented on #2854
+1 in favor of using more concrete names for associated types.

Maybe we could instead of `FromBehaviour` name `InEvent` -> `ToHandler`. If we then also follow @thomaseizinger proposal to rename `NetworkBehaviour::OutEvent` to `ToSwarm` we'd have consistend names `ToHandler`, `ToBehaviour`, `ToSwarm`, etc.
Similar naming is also used in the relay v2 protocol for events between handler and listener

[2022-09-02 15:45] elenaf9 commented on #2854
Related to this: What do you think about renaming `NetworkBehaviour::inject_event` -> `::inject_handler_msg` and `ConnectionHandler::inject_event` -> `inject_behaviour_msg` (or something similar).

When first working with `NetworkBehaviour` and `Handler` as a user I struggled quite a bit with understanding how behaviour and handler are related and exchange messages. As @thomaseizinger  wrote above

[2022-09-02 15:59] thomaseizinger opened #2865 "Should `StreamMuxerBox` track how many "active" substreams are still around?"
## Description

Whilst thinking about https://github.com/libp2p/rust-libp2p/issues/2863, I noticed that it is very easy to (accidentally) circumvent the limit on inbound substreams by "leaking" them to the `ConnectionHandler`. We do this in various places within `rust-libp2p` and I am sure it happens in within code-bases of ours users too.

`StreamMuxerBox` already boxes up each substream as a `Su

[2022-09-02 16:00] thomaseizinger commented on #2865
Tagging as "help wanted" because I'd like to get people's input on this idea.

[2022-09-02 16:50] maschad commented on #2635
Thanks for reviving this @mxinden - I had lost track of it because of work,  I agree, particularly because semverver is tightly coupled to specific nightly compiler versions and [takes work to stay in sync](https://github.com/rust-lang/rust-semverver/search?q=Rustup+to&type=commits). I will give it a try on the PR.

[2022-09-03 00:46] #2837 closed, assigned to nobody

[2022-09-04 03:54] mxinden commented on #2832
Related to the change on `NetworkBehaviour`, I would like to to do the corresponding change to `ConnectionHandler` as well, namely to replace its `inject_*` methods with a single `on_event` method. I think this does not have to happen within the same pull request, though preferably for the sake of consistency, within the same release.

[2022-09-04 03:59] mxinden commented on #2832
Cross-referencing implementation of this proposal https://github.com/libp2p/rust-libp2p/pull/2867.

[2022-09-04 09:36] thomaseizinger commented on #2854
Same! Especially the `ConnectionHandler`s `OutEvent` is obviously the `NetworkBehaviour`'s `InEvent`. Although that is inferred through the associated type, it is confusing because the `NetworkBehaviour` has its own `OutEvent`.

[2022-09-04 09:49] thomaseizinger commented on #2778
I am reopening this because:

- the orthogonality of the static keep alive mechanism with the remaining ping functionality is highlighted once again in https://github.com/libp2p/rust-libp2p/pull/2852
- I find `DummyBehaviour` to be a rather strange component too and thus I think it isn't a particularly good solution to the problem discussed here. Also see https://github.com/libp2p/rust-libp2p/pull

[2022-09-05 06:10] mxinden commented on #2854
With https://github.com/libp2p/rust-libp2p/pull/2867/ `NetworkBehaviour::inject_event` would move to `NetworkBehaviour::on_event` via `InEvent::ConnectionHandler`. (Where `InEvent` would be renamed to `FromSwarm` with this proposal I am guessing.) Would you be in favor of that @elenaf9?

I suggest we do the same change on `ConnectionHandler`, see also https://github.com/libp2p/rust-libp2p/issues/2

[2022-09-05 06:11] mxinden commented on #2854
I am in favor of the proposals in this issue.

[2022-09-05 17:41] thomaseizinger commented on #2854
Yes, I think that makes sense. The only weird part is that `FromSwarm` will have a `ConnectionHandler` variant that will use the `FromHandler` event. Perhaps #2867 should introduce two event handlers?

- `NetworkBehaviour::on_swarm_event(FromSwarm)`
- `NetworkBehaviour::on_handler_event(FromHandler)`

I suggest we try and pack all of these into a single release.

[2022-09-06 09:55] olanod commented on #2617
A different kind of WASM support I'd like to bring to the table and something I'd like to experiment in the coming months(ideas and help will be welcomed) is the definition of a WASI interface that can be proposed later as `wasi-p2p` or something like that. Is a slightly different kind of WASM integration as the current direction is to be able to compile rust-libp2p to WASM expecting the host to p

[2022-09-06 11:25] mxinden commented on #2865
I like the idea. Though instead of using the `Arc::weak_count` to enforce a limit, I suggest using it to build a Prometheus metric. I would imagine a `Connection` emits an event whenever a new stream is created. That event would as well contain the overall count of streams on that connection.

I am against using `Arc::weak_count` as a limit as I find it unintuitive. We pass ownership of the stream

[2022-09-06 11:58] thomaseizinger commented on #2865
The issue I see with that is that we don't know, when a stream is de-allocated unless we use some kind of shared, atomic counter that is decremented on `Drop`. Once we pass the stream to the `ConnectionHandler`, we lose control over it.

[2022-09-06 13:54] kpp opened #2874 "Test swarm:multiple_addresses_err fails"
https://github.com/libp2p/rust-libp2p/blob/b8c3b282eee5d6387a9cf2f64af0253e764c1172/swarm/src/lib.rs#L2465

[code]

[code]

[2022-09-06 13:59] kpp commented on #2874
Formatting left and right gives:

[code]

So there is a duplicate `/ip4/0.0.0.0/tcp/12545/p2p/1AdgJ5v3F2GQFjzyqSqgMA6UGs26X7WXA4m2nfrf1b9R48` on the right.

[2022-09-07 08:42] elenaf9 commented on #2854
I'd be in favor of this.

[2022-09-08 04:45] mxinden commented on #2865
I think my comment was misleading @thomaseizinger. Let me rephrase:

I am against using `Arc::weak_count` as a limit. I am in favor of using `Arc::weak_count` for metrics.

Sorry. Is the second attempt more clear?

[2022-09-08 08:04] thomaseizinger commented on #2865
Sort of. I wouldn't know how to enforce a limit via `Arc::weak_count`?

What I am proposing in this issue is to use expose functions on `StreamMuxerBox`:

[code]

The implementation will return `Arc::weak_count` of an `Arc` that is embedded in every `SubstreamBox` and thus happen transparently for each muxer. What clients like `swarm::Connection` do with this information is up to them and not furt

[2022-09-08 12:34] thomaseizinger commented on #2617
These are some very interesting and exciting ideas! Here are some thoughts on it:

`rust-libp2p` already implements a kind of plugin architecture. `NetworkBehaviour`s are essentially plugins that can open / close new connections, open substreams etc. I am not sure if going for a `wasi-p2p` specification will be the most fruitful effort. What I could imagine to work much better is to try and get `l

[2022-09-08 13:56] Strange21 commented on #2557
Hey, Can you throw some light on how you solved the problem.
I am trying to communicate using the gossipsub-chat example, and I am able to successfully communicate within the personal Network.
But once I try to connect to the peer over the internet I get the same error message:
```Publish error: InsufficientPeers```

I have done the port forwarding on my router, and trying to connect to 1st machin

[2022-09-08 14:31] thomaseizinger commented on #2865
Draft implementation here: https://github.com/libp2p/rust-libp2p/pull/2878

I noticed that we are unnecessarily exposing the `SubstreamBox::new` API publicly which is currently used in a test in `libp2p-swarm`. That test changes with https://github.com/libp2p/rust-libp2p/pull/2861 though so I am planning to remove the `SubstreamBox::new` API in order to not unnecessarily expose the implementation

[2022-09-08 14:41] elenaf9 commented on #2557
@Strange21 Could you please change the following line so that all swarm events are printed, and share you debug output?
[code]

[2022-09-08 16:45] dmitry-markin opened #2879 "`#[derive(NetworkBehaviour)]` fails on structs with generics"
## Summary

It looks like there is a regression in libp2p-0.48.0: `#[derive(NetworkBehaviour)]` fails to generate code if the original struct has generic parameters.

## Expected behaviour

`#[derive(NetworkBehaviour)]` generates the implementation if the struct has generic parameters.

## Actual behaviour

Compilation fails with the error:
[code]

Please see the minimal example: [`main.rs`](https

[2022-09-09 02:04] dariusc93 commented on #2879
I may be wrong but It may be related to https://github.com/libp2p/rust-libp2p/pull/2842 and I dont believe substrate upgraded to 0.48 where the changes would be needed (assuming they are ignoring those fields) though i havent looked at their source so i wouldnt know what they are doing. It also sounds like youre looking for `Toggle<T>` though T would need to implement `NetworkBehaviour`.

[2022-09-09 06:09] thomaseizinger commented on #2879
Yes, using types that don't implement `NetworkBehaviour` (like `Option`) are no longer supported.

We have a test where the annotated `NetworkBehaviour` has a type parameter, so it can't be the generic itself that makes the macro choke.

https://github.com/libp2p/rust-libp2p/blob/c650dc19db33de49f3c764a6272ffad3e5d22aff/swarm-derive/tests/test.rs#L183-L195

[2022-09-09 06:23] thomaseizinger commented on #2874
This is strange.

I see you ran the test in a loop for it to fail. How many times did you have to run it for it to break?

[2022-09-09 06:44] thomaseizinger commented on #2874
I just tried it on my computer and it took 11m for it to finally fail.

[2022-09-09 06:56] thomaseizinger commented on #2874
Ha, so this is a funny one! We are generating a total of 8 addresses to dial. If - by chance - we are generating the same port twice, we will dial the same address twice **but only receive one dial error back**. This is what is happening here. We can see that because "left" are the failed addresses (only 7) and right are 8 addresses, including a duplicate one.

The odd thing about the test is that

[2022-09-09 16:24] kpp commented on #2874
I would have never caught this one on my own but the CI caught it right after I merged master into my branch =)

[2022-09-09 20:34] elenaf9 opened #2883 "[Tracking Issue] transports/quic: Add QUIC Transport"
# Summary

Implement the [QUIC](https://datatracker.ietf.org/doc/html/rfc9000) transport for rust-libp2p.

# Done criteria

- Quic can be used as a transport in the `Swarm` for communication between nodes that can directly reach each other
- TLS handshake is compliant with the [libp2p/specs TLS Handshake](https://github.com/libp2p/specs/blob/master/tls/tls.md) and unit tested
- Transport is unit &

[2022-09-11 06:32] mxinden commented on #2879
@dmitry-markin would the following fix your [example](https://github.com/dmitry-markin/libp2p-behaviour/blob/main/src/main.rs)?

[code]

[2022-09-11 06:55] #2874 closed, assigned to nobody

[2022-09-11 06:56] mxinden commented on #2874
Thanks for debugging here!

[2022-09-11 07:12] mxinden commented on #2883
Thanks for creating this @elenaf9!

Whenever you make a significant change to the original issue description, would you mind posting a comment like https://github.com/libp2p/rust-libp2p/issues/2052#issuecomment-827509552? That way, everyone subscribed to this issue gets a notification.

[2022-09-12 03:19] thomaseizinger opened #2884 "Introduce `libp2p-swarm-test` crate"
## Description

Introduce a crate that contains reusable bits that make it easy to correctly test `NetworkBehaviour` implemenations. In particular, the crate should support the setting up and connecting a number of swarms, driving them correctly and asserting the emitted events.

## Motivation

For code to be high quality it should be tested. If testing is easier, users are more likely to do it, t

[2022-09-12 04:28] mxinden opened #2885 "protocols/identify: Move I/O to ConnectionHandler"
## Description

I/O should not happen in the `NetworkBehaviour` implementation. It should happen in the `ConnectionHandler` implementation.

## Motivation

All `NetworkBehaviour` implementations are driven by a single future task. Opposite to that we spawn a new future task for every connection. Doing as much as possible, especially I/O, on the connection tasks and not on the main task allows logi

[2022-09-12 06:42] thomaseizinger commented on #2885
The problem with today's implementation of identify is that we only know the observed address in the `NetworkBehaviour`. To fix this, we will have to implement `IntoConnectionHandler` for the identify protocol and grab the observed address out of the `ConnectedPoint`. Going further, this information can be passed into the `InboundUpgrade` implementation via the `OpenInboundInfo` type in `Connected

[2022-09-12 10:47] dmitry-markin commented on #2879
In the example above I wasn't able to implement `From<Toggle<T>::OutEvent> for BadOutEvent<T>` because the declaration conflicts with the default `std` `From` implementation, but I was able to prepare another example. Taking some dummy `CustomBehaviour` `NetworkBehaviour` that is pretty useless, but nevertheless compiles, the following compiles fine:
https://github.com/dmitry-markin/libp2p-behavio

[2022-09-12 10:52] MerryPoppins92 opened #2891 "Cannot compile the tutorial"
I have this message when I try to run the tutorial

[code]

[2022-09-12 12:13] thomaseizinger commented on #2791
@melekes Let me know if you are going to pick this up, otherwise I'll take it :)

[2022-09-12 12:54] melekes commented on #2791
Please go ahead. I will focus more on smoldot / substrate side for now.

[2022-09-12 13:01] mxinden opened #2894 "swarm/handler: Split `inject_listen_upgrade_error` into two"
## Description

Split the `ConectionHandler::inject_listen_upgrade_error` into two methods:

1. `inject_listen_negotiation_error` for errors during the multistream select protocol execution. Not specifically related to the protocol of this `ConnectionHandler`.
2. `inject_listen_upgrade_error` for errors during the actualy `InboundUpgrade`. Specific to the protocol of this `ConnectionHandler`.

##

[2022-09-12 13:53] kpp opened #2895 "Update to if-watch v2.0.0 in mdns"
## Description

As it was done in https://github.com/libp2p/rust-libp2p/pull/2813

## Motivation

[code]

At least it would be great to compile less code.

[2022-09-12 15:32] odesenfans opened #2897 "gossipsub + tokio: unexpected warning"
## Summary

Hello! I'm interested in running a gossipsub-based application with Tokio as a runtime. As a first step, I revamped the gossipsub-chat example with Tokio as a runtime (mixing elements from the `chat-tokio` example). While the communication works, I get two warnings when closing one of the peers:

[2022-09-12T15:23:25Z WARN  libp2p_gossipsub::handler] Inbound substream error while closi

[2022-09-13 06:54] dariusc93 commented on #2879
@dmitry-markin Going from the top of my head from looking over your code, I would assume this would probably fix the error youre getting

[code]

I dont believe it likes ` #[behaviour(out_event = "BadOutEvent<T>")]` because of `BadOutEvent<T>` defined there in the macro (though I never tried doing that so im not sure if its correct or not so maybe somebody else could chime in on that), however tha

[2022-09-13 07:52] dmitry-markin commented on #2879
@dariusc93 thanks, that fixes at least one problem: removing template parameter from `#[behaviour(out_event = "BadOutEvent<T>")]` and making it `#[behaviour(out_event = "BadOutEvent")]` made it compile ([example](https://github.com/dmitry-markin/libp2p-behaviour/blob/050a79ed8dc0ea195b576562df22528608a9ac82/src/main.rs)).

Unfortunately, in Substrate we have different number of template parameters

[2022-09-13 09:21] lynic opened #2898 "Make ServiceName configurable in mdns"
## Description

In go implementation of mdns, servicename is configurable https://github.com/libp2p/go-libp2p/blob/1ad0a50be62b1e00388b9d85fc997d66e8910c9d/p2p/discovery/mdns/mdns.go#L53

## Motivation

I would like to separate peers into different group in a local network, using mdns with different servicename will make it possible to group peers into different swarm.

## Current Implementation

[2022-09-13 18:44] dariusc93 commented on #2897
There are connection fail errors before and after those 2 warnings. Although I would have to check my logs and experiments with some of my code but the only time ive seen this is of a peer suddenly disconnects before everything was received (eg crash, process terminated), hence the unexpected eof, but dont believe I've seen it specifically in gossip. It might not show up in floodsub because the wa

[2022-09-14 02:56] thomaseizinger commented on #2897
The reason why it might not show up in floodsub might be because it doesn't have as much logging (I didn't check the code).

Are you closing the connection gracefully or just shutting the peer down?

[2022-09-14 03:16] thomaseizinger commented on #2894
I am in favor of this. The error nesting is quite annoying to deal with!

[2022-09-14 03:20] thomaseizinger commented on #2879
I think that is something we should support.

Does it work if you let the macro generate the outevent for you?

[2022-09-14 03:36] thomaseizinger opened #2902 "*: Automate various parts of the release process"
## Description

Most tasks around releasing crates in our monorepo are currently performed manually:

- Adding changelog entries (happens in PRs usually)
- Pull through version numbers of workspace dependencies (also happens in PRs)
- Actually releasing crates to crates.io (done by @mxinden)

## Motivation

Repetitive tasks consume unnecessary time and should be automated.

## Requirements

1. I'd

[2022-09-14 03:39] thomaseizinger commented on #2891
Have you read the error message? :)
It tells you what the problem is:

  this knowledge. If `protoc` is installed and this crate had trouble finding
  it, you can set the `PROTOC` environment variable with the specific path to your
  installed `protoc` binary.

There is a relevant discussion here: https://github.com/libp2p/rust-libp2p/issues/2645

[2022-09-14 04:41] thomaseizinger commented on #2898
Hmm, this is in accordance with the spec: https://github.com/libp2p/specs/blob/master/discovery/mdns.md#definitions.

After searching the `go-libp2p` repository, I can't find any mention of that specified service name actually so it seems the go implementation is not spec confirm here.

I'd suggest opening an issue over at [libp2p/specs](https://github.com/libp2p/specs/issues/new) to start a discu

[2022-09-14 07:50] odesenfans commented on #2897
@thomaseizinger I'm just shutting the peer down, which would explain the warning indeed. I haven't seen it yet, what's the idiomatic way to shut down the connection in rust-libp2p?

[2022-09-14 10:07] koushiro opened #2904 "Replace ed25519-dalek with ed25519-zebra or ed25519-compact"
## Description

Replace the [ed25519-dalek](https://github.com/dalek-cryptography/ed25519-dalek) with [ed25519-zebra](https://github.com/ZcashFoundation/ed25519-zebra) or [ed25519-compact](https://github.com/jedisct1/rust-ed25519-compact).

## Motivation

I noticed that substrate has [replaced the ed25519 implementation with ed25519-zebra](https://github.com/paritytech/substrate/pull/11781), and I

[2022-09-14 13:35] dmitry-markin commented on #2879
It looks like the generated code implies that the template parameters of the `OutEvent` are the same as of the `NetworkBehaviour`...

Yes, it works, I just needed to import `libp2p::swarm::NetworkBehaviour` additionally to `NetworkBehaviour` derive macro. It works both in Substrate and the toy example above.

[2022-09-15 01:47] dariusc93 opened #2906 "Dcutr panics with low connection limits"
## Summary

Receives a panic from dcutr when connecting to another peer

This seems to happen when using the following `ConnectionLimit` for swarm.

[code]

https://github.com/dariusc93/libp2p-chat-test/blob/bugged/dcutr-behaviour-rs-154-35/src/behaviour.rs#L175-L181

<details>
<p>

[code]
</p>
</details>

Thought it was related to a separate project I was working on but wanted to isolate it first

[2022-09-15 02:56] thomaseizinger commented on #2879
I've pushed a fix to this in #2907. Please review that the added test corresponds to your usecase. Also, could you try and patch that branch into your application and see if it makes the error go away?

[2022-09-15 11:26] lynic commented on #2898
In this example from go, seems it use a user input service_name for mdns https://github.com/libp2p/go-libp2p/blob/eff72c4afafc766a24dd306145ebd4721fe852df/examples/chat-with-mdns/main.go#L116

[2022-09-15 13:10] thomaseizinger commented on #2898
Correct :)

My point still stands, this is not in accordance with the spec. I'd like to have that resolved there before we change our code in here.

[2022-09-15 13:19] dmitry-markin commented on #2879
Yes, the test covers the use case with the only difference that our behavior has two template parameters, and out event one, and in the test they are one and zero correspondingly. Patching the branch into Substrate also made the error go away.

@thomaseizinger thanks a lot for the bugfix!

[2022-09-15 14:16] thomaseizinger commented on #2879
Good to hear! I'll wait for a review of #2907 from @mxinden and then we can merge that.

[2022-09-16 07:13] thomaseizinger commented on #2831
@efarg Are you still working on this? I'd otherwise pick it up soon :)

[2022-09-16 10:02] mxinden commented on #2897
Unfortunately there is no graceful shutdown for a libp2p node today. See https://github.com/libp2p/rust-libp2p/pull/1682 for a previous attempt.

I don't think any of us are going to get to this any time soon. That said, contributions are welcome.

[2022-09-16 10:05] mxinden commented on #2904
Substrate changing its ed25519 implementation does not require libp2p to change its implementation as well. The two projects can still be compatible.

Do you know why they changed? Can you expand on why libp2p should change?

[2022-09-16 12:47] mxinden commented on #2906
Thanks for reporting this panic @dariusc93.

The root of the issue is here:

https://github.com/libp2p/rust-libp2p/blob/2c739e9bdb2c51199b7ade7f3aa0cb65671e5721/swarm/src/lib.rs#L538

When we hit the connection limit, we report the issue to the `NetworkBehaviour`s without a `PeerId` even though we might have one available.

If I am not mistaken the patch for this panic would be simply:

[code]

@d

[2022-09-16 14:57] #2879 closed, assigned to nobody

[2022-09-16 16:13] elenaf9 commented on #2883
**Changelog**

 -  Moved   to **Long-term**.  For now we can simply disable connection migration.

[2022-09-16 17:18] efarg commented on #2831
Yes, I am very much working on it. But I am a bit lost.

So here is the diff of changes made for this issue: https://paste.debian.net/hidden/524606d1/

Upon compilation, E0759 will be emitted. And I don't know how to solve it. I am thinking, the way we use `Protocol` struct we can't use `'static` lifetime in Cow. Is that it?

Some queries:

(1) Why do we even need String? Are we ever modifying the

[2022-09-16 19:34] dariusc93 commented on #2906
Thanks for the response @mxinden, I did try that and it did resolve the panic I was getting with a low limit (which also allow the logs to see the error too)

[2022-09-17 22:29] maschad commented on #2894
I can take a look into it this week.

[2022-09-19 05:43] thomaseizinger commented on #2831
Thanks for sharing!

I'd tackle this from a different angle. Try and remove the `ProtocolName` trait first:

https://github.com/libp2p/rust-libp2p/blob/2025de3ef0898ffa99545bd50aef868516c7f226/core/src/upgrade.rs#L123-L129

And replace `ProtocolName` here with a newtype:

https://github.com/libp2p/rust-libp2p/blob/2025de3ef0898ffa99545bd50aef868516c7f226/core/src/upgrade.rs#L137-L147

The reason w

[2022-09-19 06:30] thomaseizinger opened #2913 "Enforce convention on workspace dependencies via script"
## Description

See the discussion in this PR: https://github.com/libp2p/rust-libp2p/pull/2886

## Motivation

Documentation is often not looked at but a failing CI will trigger people to fix things!

## Current Implementation

## Are you planning to do it yourself in a pull request?

Maybe.

[2022-09-19 06:43] thomaseizinger opened #2914 "Fix warnings produced by `cargo doc --workspace`"
## Description

Currently, `cargo doc` is emitting a number of warnings. We should fix those and amend the CI configuration to fail as soon as any warnings are emitted.

## Motivation

Warnings are (often) no good.

## Current Implementation

## Are you planning to do it yourself in a pull request?

Maybe.

[2022-09-19 06:55] thomaseizinger commented on #2904
If anything, I'd be in favor of changing it to https://crates.io/crates/ed25519-compact.

- No dependencies
- More actively maintained

The downside is that `ed25519-dalek` is - to my knowledge - the only ed25519 implementation that has been officially audited. Plus, we [recently](https://github.com/libp2p/rust-libp2p/pull/2817) introduced a cross-crate testing approach where we use `ed25519_compa

[2022-09-19 07:08] thomaseizinger commented on #2897
- A `NetworkBehaviour` can close connections to a peer via `NetworkBehaviourAction::CloseConnection`: https://docs.rs/libp2p/0.48.0/libp2p/swarm/enum.NetworkBehaviourAction.html#variant.CloseConnection
- A `ConnectionHandler` can close the underlying connection via `ConnectionHandlerEvent::Close`: https://docs.rs/libp2p/0.48.0/libp2p/swarm/enum.ConnectionHandlerEvent.html#variant.Close
- A `Swarm`

[2022-09-19 07:32] #2753 closed, assigned to nobody

[2022-09-19 07:48] odesenfans commented on #2897
Thanks a lot for the suggestions, I'll try them out and see if the warning persists.

[2022-09-20 01:40] thomaseizinger commented on #2902
I would suggest we make use of the `cargo-xtask` pattern: https://github.com/matklad/cargo-xtask/

[2022-09-20 17:59] folex opened #2921 "Deriving NetworkBehaviour without specifying OutEvent gives compilation error: use of undeclared type `NetworkBehaviour`"
## Summary

The following snippet gives a compilation error
[code]

Here's a repo with that snippet, it reproduces the error on compilation https://github.com/folex/libp2p-network-behaviour-derive-error/tree/master

## Expected behaviour

I expect macro to derive `OutEvent` enum automatically, as specified in doc

## Actual behaviour

Compilation error
[code]

<details><summary>Debug Output</summa

[2022-09-20 18:33] elenaf9 commented on #2921
Thank you for the detailed bug report @folex!
I believe the issue is that when generating the out event the macro references the [`NetworkBehavour` ](https://docs.rs/libp2p/latest/libp2p/swarm/trait.NetworkBehaviour.html)**trait**, which you don't have imported:
https://github.com/libp2p/rust-libp2p/blob/39d63513d4352ab9acd289bc10fc09d5abd04fcf/swarm-derive/src/lib.rs#L128

So quick fix for you wo

[2022-09-21 01:43] thomaseizinger opened #2923 "protocols/gossipsub: Consider feature-gating the metrics support"
## Description

Currently, prometheus-client is a non-optional dependency of `libp2p-gossipsub`. Change it to an optional dependency, enabled by a feature flag (`metrics` f.e.)

## Motivation

Not all users user the provided metric support. Making it optional reduces the dependency footprint.

## Current Implementation

## Are you planning to do it yourself in a pull request?

Maybe.

[2022-09-21 07:47] stormshield-pj50 commented on #2898
Hi, I recently had the same needs with libp2p-rust, that means mDNS partitioning by configuring service name. I have a patch ready for this. I can open a PR with the code if you like once the specifications are made clear.

[2022-09-21 10:18] mxinden commented on #2906
@dariusc93 want to create a pull request? :innocent:

[2022-09-21 11:46] #2791 closed, assigned to nobody

[2022-09-21 11:54] odesenfans commented on #2897
So, I looked into the docs and tried to implement a graceful disconnection before shutting down the application. To my understanding of the docs, the only public method available to me from the swarm object is `Swarm::disconnect_peer_id`. I implemented a loop to disconnect peers one by one on shutdown. This does not resolve the warnings mentioned in the issue, even though I poll the swarm until th

[2022-09-21 13:02] #2796 closed, assigned to nobody

[2022-09-21 13:02] folex commented on #2921
Thanks for the explanation, sorry I didn't see it myself. Name clashing confused me a bunch.

Yep, I will submit a PR today!

[2022-09-21 14:07] mxinden opened #2924 "transports/noise: Use proto2"
## Description

Update `libp2p-noise` to the latest specification change in https://github.com/libp2p/specs/pull/456.

See https://github.com/libp2p/specs/pull/456#pullrequestreview-1113439351 for a draft of a unit test to test compatibility. Might be helpful.

## Motivation

See https://github.com/libp2p/specs/pull/456.

## Are you planning to do it yourself in a pull request?

No

[2022-09-21 14:08] mxinden commented on #2924
See https://github.com/libp2p/go-libp2p/pull/1762 for the corresponding change on go-libp2p.

[2022-09-21 14:20] dignifiedquire opened #2925 "Remove usage of the `ls` command in multistream-select"
## Summary

Currently, if there are more than `3` protocols listed, `multistream-select` uses a parallel approach which relies on the `ls` command.
This command has been removed from `go-multistream` and so all dials to kubo or other nodes using newer `go-libp2p` will fail in this case.

### References
- https://github.com/ipfs/kubo/issues/8640#-ls--requests-for---multistream-100--are-removed
- ht

[2022-09-21 15:44] rv64m opened #2926 "Can gossip decide on different broadcast algorithms for message delivery?"
## Description
I found out that the messages currently used by GossipSub are random sequence numbers. I'd like to use it under gossipsub
1. fifo broadcast.
2. causal broadcast.

so sorry I am not sure whether this is a feature request or can be realized based on the existing functions. If the existing functions can be realized, what should I do?

## Motivation

## Requirements

Two broadcast algor

[2022-09-21 16:26] BigLep commented on #2902
It's great to see this issue.

I think the first step here is to document today what we do.  I don't best (automation) to be the enemy of better (document what we do).  Basically I view the first step is "repeatability".  Then we can move to automating more and more of it.  We need to make sure this isn't trible knowledge that only lives in a limited number of peoples' heads.

@mxinden : in https:

[2022-09-22 02:34] dariusc93 commented on #2906
Sorry @mxinden been busy so i forgot to create it. Will do that in just a bit!

[2022-09-22 08:48] #2847 closed, assigned to nobody

[2022-09-22 08:48] #2732 closed, assigned to nobody

[2022-09-22 09:02] elenaf9 commented on #2883
**Changelog**
`QuicMuxer` refactoring (elenaf9#6) was replaced and merged into #2289 with kpp#23:
- Updated the status-quo description
- Marked corresponding task as done.

[2022-09-22 09:59] thomaseizinger commented on #2897
I think the issue we are facing here is that gossipsub actually keeps substreams alive, which is something rather unsual across most libp2p protocols. Most protocols open a stream, send some data and close it again. Thus, it is highly unlikely that a connection gets closed right inbetween when a substream is active.

For a graceful shutdown of the streams within gossipsub, I think it may depend on

[2022-09-22 12:15] efarg commented on #2831
@thomaseizinger what is meant by replacing `ProtocolName` with newtype? newtype is a tuple struct, right? How will a struct replace `ProtocolName`, which is a trait?

I have been reading about newtype from ch. 19 in The Book, and can't find anything which would allow such replacement.

[2022-09-22 14:58] thomaseizinger commented on #2831
You are right, it can't be replaced 1 to 1!

Essentially, removing `ProtocolName` from `UpgradeInfo` means that you can remove the `Info` associated type and just express `InfoIter`'s bound as: `IntoIterator<Item = ProtocolName>` (where `ProtocolName` is now a struct).

Basically what we are doing is removing one layer of "genericness". Instead of allowing many different types that all have to imp

[2022-09-22 15:07] thomaseizinger commented on #2898
I don't know much about your usecase but here are some general thoughts:

I don't think it is a good idea to only partition a network using different mDNS service names.

A resilient app needs to be prepared to handle incoming connections from nodes regardless of how they found out about their connection details, meaning you might as well discover more peers via mDNS and only retain the connection

[2022-09-22 15:44] mxinden commented on #2925
So far no one raised objections. In case no-one does on https://github.com/multiformats/multistream-select/pull/22, I am in favor of your change and would appreciate a pull request.

[2022-09-22 15:52] mxinden commented on #2926
Can you expand on your motivation for FIFO and causal boardcast? Would a wrapper around `GossipSub` suffice which caches events and only emits them based on your policy?

[2022-09-22 16:13] mxinden commented on #2732
Thanks @kpp and @thomaseizinger for fixing this.

[2022-09-22 16:21] odesenfans commented on #2897
I'm using mplex. Should I try using yamux to see if it makes any difference?

[2022-09-23 01:14] rv64m commented on #2926
Ok

[2022-09-23 03:49] thomaseizinger opened #2933 "Consider changing identify cache default to be non-zero"
## Description

The `rust-libp2p` identify implementation has a cache that remembers the reported addresses from the last X connected peers even once they get disconnected. By default, X is zero.

## Motivation

Most users probably don't know about this cache and thus, do not benefit from it. If we make the default value 100, the maximum memory footprint will still be < 500kb (1 identify message h

[2022-09-23 04:28] thomaseizinger commented on #2897
Yes please try with `yamux`. I think the issue you are facing might be explained here:

https://github.com/libp2p/rust-libp2p/blob/bcff814b92c76706a2df46098e3c8a61f29ef9fc/muxers/mplex/src/io.rs#L170-L172

We do close the muxer as part of graceful connection shutdown but mplex doesn't gracefully close open streams as part of that.

[2022-09-23 06:43] dignifiedquire commented on #2925
@mxinden created https://github.com/libp2p/rust-libp2p/pull/2934

[2022-09-23 07:43] stormshield-pj50 commented on #2898
Our use case is having several libp2p vpn independent instances talking on the same local network, we don't want those independent vpns to be able to see each other. We agree we can filter at a higher level but prefer doing it earlier as possible in order to avoid security issues.

[2022-09-23 10:41] thomaseizinger commented on #2898
mDNS is a discovery mechanism and does not offer any security protections. I can just as easily enumerate all IPs in the local network and try to connect to other nodes without discovering them via mDNS.

If you need to shield certain groups of nodes from each other, those nodes will need to implement a connection management policy where they only allow incoming connections from certain `PeerId`s

[2022-09-25 22:48] xpepermint opened #2942 "Initial gossipsub message returns InsufficientPeers"
When I run the `gossipsub-chat` (or `chat-tokio`) example, and then try to send my first message on `stdin` I get `InsufficientPeers` error response (`rust 1.64.0`, `libp2p = "0.48.0"`). The `chat` example doesn't have this behaviour, send message immediatelly, but after some time stops sending messages from one console window to another - like it's not connected anymore (testing on local machine

[2022-09-25 23:03] xpepermint commented on #2942
Ow, no discovery service - you need to connect to "url".

[2022-09-25 23:03] #2942 closed, assigned to nobody

[2022-09-26 14:03] xpepermint commented on #2657
Any progress on this? I have to download video files from the closest nodes and streams are much needed.

[2022-09-26 17:49] mxinden commented on #2933
I am in favor of this.

[2022-09-27 02:24] thomaseizinger commented on #2657
You already have streams as of today, you just need to implement your own `ConnectionHandler` and `NetworkBehaviour`.

I've somewhat changed my mind on [this idea](https://github.com/libp2p/rust-libp2p/issues/2657#issuecomment-1141243489) since I wrote it. The problem is that once we had out bare streams from `NetworkBehaviour`s, we have no control over where they run (i.e. which task polls them),

[2022-09-27 02:29] thomaseizinger commented on #2459
Is this still an issue? The `StreamMuxer` implementation have undergone a fair bit of changes recently.

I am considering working on https://github.com/libp2p/rust-libp2p/issues/508 next which should give us clarity over this behaviour.

[2022-09-27 10:08] thomaseizinger opened #2946 "Consider verifying expected `PeerId` as part of auth upgrades"
That works, but it’s not a very nice behavior. Certificates should be verified during the handshake, as this allows you to abort the connection attempt during TLS handshake.
Verifying the peer ID after the handshake leads to the successful establishment of a connection on the server side, just to have that connection killed 1 RTT later. Even worse, while aborting during the handshake lets the peer

[2022-09-27 10:56] elenaf9 commented on #2921
Fixed with #2932. Thanks @folex!

[2022-09-27 10:56] #2921 closed, assigned to nobody

[2022-09-27 11:56] elenaf9 commented on #2883
**Changelog**

- For the first implementation we will stick with `UdpSocket` from rust `std`. Integrating `quinn_udp::UdpSocket` requires additional complexity, and we don't strictly need it, especially if we plan on long-term switching to `quinn`.

- Moved to **Long-term** since the `UdpSocket` from `std` does not support this.

- Moved to **Long-term**. To fix this, we need to obtain the destina

[2022-09-27 13:04] mxinden commented on #2906
Given that https://github.com/libp2p/rust-libp2p/pull/2928 is merged I am closing here. Thanks @dariusc93!

[2022-09-27 13:04] #2906 closed, assigned to nobody

[2022-09-27 16:29] xpepermint commented on #2657
@thomaseizinger thanks for the reply. I don't know `libp2p` in detals just yet, but here are some thoughts.

In one form or another, streams should IMO be implemented like general HTTP2 or QUIC streams where major "concerns" are resolved by flow-control. A stream would probably be a transparent "channel" on top of a lower-level protocol.

Since QUIC is coming to Rust I guess relatively soon https:

[2022-09-27 17:07] mxinden commented on #2946
If I am not mistaken, this would play nicely with your idea of splitting up the `UpgradeXXXbound` traits, right @thomaseizinger?

[2022-09-27 23:55] thomaseizinger commented on #2946
It should yes. It would allow us to encode a specific error set where `PeerIdMismatch` is one variant.

[2022-09-28 00:13] thomaseizinger commented on #2657
Thank you for your thoughts!

A transport like QUIC is indeed somewhat similar to what `rust-libp2p` does in that it provides an authenticated & multiplexed connection to another peer.

We do several things on top of it though:

- P2P authentication: Both peers are assured they are connecting to the peer they think they are.
- Protocol selection: Libp2p is structured in terms of various protocols

[2022-09-28 00:24] thomaseizinger opened #2948 "Add a kind of bot that notifies authors about merge conflicts"
## Description

Have an automation that comments with something like: `Hey @author, please resolve the merge conflicts with the base branch.`. We should be able to do that with a GitHub workflow that runs on the `synchronize` activity of the [`pull_request`](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request) event. The `mergable` property will have the v

[2022-09-28 08:22] thomaseizinger commented on #2902
I've played around with Google's `release-please` and it works quite well. Here is an example of a release PR: https://github.com/thomaseizinger/rust-libp2p/pull/5

- It builds on the [conventional commit spec](https://www.conventionalcommits.org/en/v1.0.0/). This should be easy for us because we squash commits, so as the maintainers, we can ensure those conventions are properly enforces as we mer

[2022-09-29 01:16] thomaseizinger opened #2950 "Properly set rustdoc attributes for docs.rs"
On the topic of:

[code]

What this does is tell docs.rs to pass the `docsrs` conditional compilation flag to rustc, meaning any code that is guarded with `cfg(docsrs)` will now be included in the build.

We use this in the `libp2p` root crate to conditionally include the `doc` attribute: https://github.com/libp2p/rust-libp2p/blob/04b07c4d14a0a6ec350fc21261a33d859fc71289/src/lib.rs#L53

We need to

[2022-09-29 01:53] thomaseizinger opened #2951 "More comprehensive CI test matrix"
## Description

Change our CI to run on:
- latest stable
- latest beta
- our MSRV

## Motivation

MSRV: We set a rust-version in our manifest but we don't actually run CI against that version.
Beta: Rust beta's are cut 6 week before landing on stable. This gives us enough time to know ahead of time, which lints are coming and also to notify the Rust devs in case anything that is about to hit stabl

[2022-09-29 05:42] thomaseizinger commented on #2459
I don't think we can ever do this. From looking at existing implementations, it seems that dropping a stream will send a reset frame. This allows a remote to distinguish between a gracefully closed stream and an abruptly closed one.

If we don't want this behaviour, then I don't see any other application of the RESET frames given the interface that `AsyncWrite` offers us.

[2022-09-29 08:11] stormshield-pj50 commented on #2661
Tested with [QUIC v4 attempt](https://github.com/kpp/rust-libp2p/tree/quic-attempt-4). In case of a connection error the muxer is not awaited thus the poll_close StreamMuxer trait function of QuicMuxer is never called. Isn't it an issue ? The QUIC connection is not closed by libp2p but will eventually be closed later by Quinn on timeout.

[2022-09-29 13:36] #2925 closed, assigned to nobody

[2022-09-29 20:15] MarcoPolo commented on #2459
@thomaseizinger I believe the original comment said that the reset frame isn't sent at all:

[2022-09-29 22:59] thomaseizinger commented on #2459
I think this will only happen if the `StreamMuxer` isn't polled at all anymore. With the [redesign](https://github.com/libp2p/rust-libp2p/issues/2722), a `StreamMuxer` now has a `poll` function that needs to be called for the muxer to make progress.

That being said, mplex [doesn't use](https://github.com/libp2p/rust-libp2p/blob/f6bb846c366ea3a93fdd297b7d9671ac17a58275/muxers/mplex/src/lib.rs#L106

[2022-09-29 23:11] thomaseizinger commented on #2459
@mxinden Is it worth adopting the mplex implementation to use `StreamMuxer::poll`? I looked into it and it would require another breaking change to the `StreamMuxer` interface because we need to be able to return `Poll::Ready(Ok(None))` because the only available function I can call on mplex is `poll_flush` which can just succeed with `Ok(())`.

[2022-09-30 03:58] #2858 closed, assigned to nobody

[2022-10-02 17:12] efarg commented on #2831
@thomaseizinger sharing some progress. This patch gives 29 errors. I am thinking about how to solve them.

https://paste.debian.net/hidden/3c3659e9/

Major problem is with `either.rs`. Also, fn. signature changes like this one worry me:

[code]

I am thinking instead of replacing `Self::Info` with `ProtocolName`, it should be replaced by something that would give us the type of value stored in the

[2022-10-02 23:36] thomaseizinger commented on #2831
Can you open it as a pull-request please? I'd be able to make inline comments then :)

Yes, that is exactly the signature change we want to see!

I am not sure this makes sense? The point of this change is to remove a layer of abstraction. By virtue, this means we will get more concrete in some places, e.g. the type in the iterator is always fixed!

[2022-10-03 05:52] efarg commented on #2831
Great! I will open a pull request.

[2022-10-03 11:56] umgefahren commented on #2951
Just a general question on MSRV: I never quite understood why that was a thing. Are there any real reasons not to use the latest version of Rust stable?

[2022-10-03 18:26] mxinden commented on #2661
Thanks for debugging. @elenaf9 can you expand on how this is handled in https://github.com/libp2p/rust-libp2p/pull/2289?

[2022-10-03 18:42] dignifiedquire opened #2971 "Unable to dial bootstrap nodes `InvalidKey`"
## Summary

I just upgraded my fork to the current `master`, but am now getting the following error when dialing the boostrap nodes

[code]

My current noise setup looks like this:

[code]

[2022-10-03 21:25] thomaseizinger commented on #2971
You are dialing RSA keys but probably have not enabled the `rsa` feature.

I gotten bitten by the same thing, the error message should really be better!

[2022-10-03 22:13] dignifiedquire commented on #2971
Uff, can confirm that is the issue, but this is a pretty big footgun

[2022-10-03 22:40] thomaseizinger commented on #2971
I am working on a patch to improve this situation :)

[2022-10-04 01:01] #2914 closed, assigned to nobody

[2022-10-04 01:16] thomaseizinger commented on #2951
Yes, multiple reasons in fact:

- Not all users use rustup to install Rust. Some rely on the version that comes with their package manager. Distros update a lot less frequently than Rust. [Debian stable](https://packages.debian.org/search?keywords=rust&searchon=names&suite=stable&section=all) for example ships with Rust 1.48.
- For compliance reasons, companies might have a process that toolchain

[2022-10-04 08:27] umgefahren commented on #2950
I'm currently working on it, however it is a lot of effort, since I have to go through nearly every single line of code here.

I will make a pull request with the changes I applied to libp2p-core, so you can judge wether the changes are good.

[2022-10-04 09:10] mxinden commented on #2902
I took a look at [cargo-release](https://github.com/crate-ci/cargo-release/). As far as I can tell from a small dry-run cargo-release could simplify the last step of a release, namely the publishing of the many crates in dependency-then-dependent order. It would automate the `cargo pubish` and `git tag` steps.

[2022-10-04 09:53] mxinden commented on #2459
Given that we have yamux, which in my eyes is better than mplex in every regard (https://github.com/libp2p/specs/pull/402), I don't think it makes sense to invest in mplex.

When `Mplex::poll_flush` returns `Ok(())` in, one could poll it once more until it returns `Poll::Pending` and then return `Poll::Pending` from `StreamMuxer::poll`, right? Thus one would not need to change the signature of `St

[2022-10-04 10:03] elenaf9 commented on #2661
Thanks for the ping. Until now it was also handled by a timeout, i.e. the endpoint was not able do forward it to the connection and thus no ack was sent to the remote, eventually leading to a timeout. But I changed it now so that when the connection was dropped, the endpoint gets directly injected a `Drained` event which leads to a reset of the connection. See 1a7b0ff92dd5aabb5e263182a0efc91fe6834

[2022-10-04 11:25] thomaseizinger commented on #2902
Well that is already something!
If we manage to get `release-please` working then that would cover everything I think?

[2022-10-04 17:52] mxinden opened #2980 "core/transport: Extend `MultiaddrNotSupported` error"
I have had the problem multiple times where I pass a malformed `Multiaddr` to a hierarchy of `Transport` implementations (e.g. relayed addresses are tricky) and my `Multiaddr` is being denied via `MutliaddrNotSupported`.

Say I have the following address: `/dns6/xxx/tcp/xxx/p2p/xxx/p2p-circuit/p2p/xxx`. When I get a `MultiaddrNotSupported` I don't know whether this is due to:

- The address being

[2022-10-04 18:35] umgefahren commented on #2951
Those are some very good reasons. Thanks a lot for explaining! I will take a spin at implanting this issue if I've got the time then

[2022-10-04 21:49] umgefahren commented on #2951
I didn't find any GitHub Action that did what I was looking for. Gonna write my own.

[2022-10-04 22:03] thomaseizinger commented on #2459
Unfortunately not. I explored that path and it will lead to endless loop because `flush` returns `Ok(())` when it doesn't have anything to do. We could perhaps modify that for it to return `Poll::Pending` and register a waker that is called when new data is written to the buffer.

Not sure if it is worth the effort.

[2022-10-04 23:25] thomaseizinger commented on #2951
There should be no need for a GitHub action really. We just need a matrix :)

See https://github.com/Restioson/xtra/blob/master/.github/workflows/ci.yml for example.

[2022-10-05 01:29] thomaseizinger commented on #2980
Perhaps it might be worth picking up https://github.com/libp2p/rust-libp2p/issues/1533 again.

If we were to integrate with tracing, you would be able to see the span-stack of each message.

So instead of extending the error, we could add more logs which would allow you to see what happened. There are also crates like [`tracing-error`](https://docs.rs/tracing-error/latest/tracing_error/) which all

[2022-10-05 07:41] umgefahren commented on #2951
Oh, than there has been a misunderstanding. I thought you wanted an Action to tell you what the MSRV for a crate is. If it's just a very big matrix were we test a lot of versions, that is easier.

[2022-10-05 08:37] thomaseizinger commented on #2951
You can get the MSRV from the manifest with some shell scripting: https://github.com/testcontainers/testcontainers-rs/blob/d7534a56d4313c8c707a1975d70874eff8a67d69/.github/workflows/ci.yml#L11

[2022-10-05 09:27] fgimenez opened #2984 "Error running a relay v2 client on wasm32-unknown-unknown"
## Summary

Running a relay v2 client on `wasm32-unknown-unknown` gives a panic:
[code]

## Expected behaviour

Relay client works on `wasm32-unknown-unknown`

## Actual behaviour

Running a test with wasm-pack gives the following output, looks like the problem comes from https://github.com/libp2p/rust-libp2p/blob/master/protocols/relay/src/v2/protocol/outbound_hop.rs#L136

<details><summary>Debug

[2022-10-05 11:40] umgefahren commented on #2951
Adding a CI for that was a very good idea 😅, as it turns out we actually don't compile on Rust 1.60.0 (as we say), because a dependency of multihash (in the latest version), arbitrary (also latest version), uses `core::array::from_fn` which is a Rust 1.63 feature (very good though).

[2022-10-05 11:59] umgefahren commented on #2904
There are other reasons to change to ed25519-compact too. I.e. most of our duplicate dependencies originate in ed25519-dalek. So changing to ed25519-compact might have a measurable impact on our compile times.

[2022-10-05 14:59] Winterhuman opened #2987 "Persist peers for bootstrapping"
## Description

Mirroring https://github.com/libp2p/go-libp2p-kad-dht/issues/254, it would be great if long-lasting peers were persisted and used for bootstrapping later.

## Motivation

Using bootstrap nodes outside of the default ones improves network resiliency, and potentially improves initial connections times when the new bootstrap nodes are closer than they otherwise would be.

## Requireme

[2022-10-05 15:38] umgefahren commented on #2577
We are using criterion `0.4.0` now. `serde_cbor` is not a dependency anymore. We can close this issue.

[2022-10-05 16:50] #2778 closed, assigned to nobody

[2022-10-05 17:30] mxinden commented on #2984
Thanks for the report. Would appreciate a patch. Let us know in case you need any help.

See also https://github.com/libp2p/rust-libp2p/issues/2497 for related discussions to WASM and time.

[2022-10-05 20:08] mxinden commented on #2891
Closing here. @MerryPoppins92 please comment in case you need more help.

[2022-10-05 20:08] #2891 closed, assigned to nobody

[2022-10-05 20:10] mxinden commented on #2820
Friendly ping @shamil-gadelshin. Any updates here?

[2022-10-05 20:11] mxinden commented on #2809
Tracking issue for the above mentioned effort: https://github.com/libp2p/rust-libp2p/issues/2824

First draft: https://github.com/libp2p/rust-libp2p/pull/2828

[2022-10-05 20:12] mxinden commented on #2755
Friendly ping @mriise. Does this issue still persist?

[2022-10-05 20:13] mxinden commented on #2729
Friendly ping @jellllly420.

[2022-10-05 20:14] mxinden commented on #2676
Friendly ping @thearossman.

[2022-10-05 20:14] mxinden commented on #2675
@ddeguglielmo with the latest changes to `libp2p-mdns` does the above issue still persist?

[2022-10-05 20:16] mxinden commented on #2661
@elenaf9 thanks for the quick and detailed response.

@pj50 do you have some time to validate the above patches with https://github.com/libp2p/rust-libp2p/pull/2289?

[2022-10-05 20:19] mxinden commented on #2624
I am closing here. Please open a new issue in case this error still occurs.

[2022-10-05 20:19] #2624 closed, assigned to nobody

[2022-10-05 20:21] mxinden commented on #2609
I am closing here since (a) parts of this discussion has stalled and (b) parts of the problems have been resolved.

In case you are still facing issues with our hole punching stack, please open a new issue.

Very much appreciate your input here and thus your help improving rust-libp2p.

[2022-10-05 20:21] #2609 closed, assigned to nobody

[2022-10-05 20:23] #2895 closed, assigned to nobody

[2022-10-05 20:46] shamil-gadelshin commented on #2820
We didn't find the root issue and we stopped looking for it because of the switching to the new simpler architecture.

It's safe to close it, I guess. The bug showed itself only in extreme conditions.

[2022-10-05 22:54] dariusc93 commented on #2987
If im understanding the issue correctly, one could implement their own store for `RecordStore`. Something like sled or rocksdb could be a good place to start for persistence and move up from there for different backend stores, though something to be included for rust-libp2p is hard to say. Mostly feel that it should be an outside implementation.

[2022-10-05 23:01] Winterhuman commented on #2987
Perhaps you're right, I mainly opened this to mirror https://github.com/libp2p/go-libp2p-kad-dht/issues/254 which targets `go-libp2p` as opposed to Kubo, although https://github.com/ipfs/kubo/pull/8856 being open at the same time confuses things as to where this sort of code should belong

[2022-10-05 23:58] thomaseizinger commented on #2951
At the moment, we have a `rust-version` attribute in all of our crates. If we want to take this seriously, then we should really verify the MSRV of each individual crate. I think that would require us to split out the jobs _per crate_, similarly to what we are attempting to do in https://github.com/libp2p/rust-libp2p/pull/2647.

Note that we only need to run a `cargo build --all-features` for the

[2022-10-06 02:49] thomaseizinger commented on #2987
In `rust-libp2p`, `PeerId`s are resolved to addresses by querying all configured behaviours via `NetworkBehaviour::addresses_of_peer`. It should be relatively straight-forward to implement your own `NetworkBehaviour` that extracts addresses from the `NetworkBehaviour::inject_connection_established` callback, stores them in some persistent way and queries that storage whenever `addresses_of_peer` i

[2022-10-06 04:10] thomaseizinger commented on #2904
The only downside is that it is not audited. How much do we care about that @mxinden? Could PL perhaps sponsor an audit?

Getting rid of the duplicate dependencies would be fantastic.

[2022-10-06 04:11] thomaseizinger commented on #2577
Thanks for investigating!

[2022-10-06 04:11] #2577 closed, assigned to nobody

[2022-10-06 08:23] fgimenez commented on #2984
Thank you so much for your response @mxinden, looks like there's already a PR open for fixing this #2991

[2022-10-06 08:45] mxinden opened #2993 "transport/webtransport: Add WebTransport protocol"
## Description

Add a WebTransport `Transport` implementation according to the WebTransport specification https://github.com/libp2p/specs/pull/404.

## Motivation

See https://github.com/libp2p/specs/pull/404/

## Are you planning to do it yourself in a pull request?

No

[2022-10-06 09:54] dignifiedquire commented on #2904
Unclear how important an audit is, given the field arithmetic is generated code: https://github.com/jedisct1/rust-ed25519-compact/issues/13#issuecomment-1214443717

[2022-10-06 09:56] dignifiedquire commented on #2904
Though it is a little unfortunate that it brings its own sha512 implementation, and not reuse the audited existing one.

[2022-10-06 15:50] umgefahren commented on #2904
But that is something that could be changed. I.e. one could develop a PR that adds the ability to use sha512 from a crate instead of the internal implementation.

[2022-10-06 22:46] thomaseizinger commented on #2904
I doubt that will be accepted given that "no dependencies" is an advertised feature.

[2022-10-07 17:18] umgefahren commented on #2951
But how should i handle the invalid rust-version?

[2022-10-07 19:27] GlenDC commented on #2719
Is it ok for me @mxinden to pick up this one, or do you have another one in mind that you want me to look at?

[2022-10-07 19:29] GlenDC commented on #2745
I'm planning to pick this one up @mxinden , is that ok, or do you have something else in mind for me?

[2022-10-07 20:49] thomaseizinger commented on #2951
We just need to set it to the correct one, i.e. what it effectively is.

[2022-10-08 05:27] ddeguglielmo commented on #2675
Hello @mxinden,
I have just finished testing both chat and chat-tokio examples (I used the current master branch version). The examples work correctly and the CPU consumption of the processes is very low. Thus the issue is not present anymore.

[2022-10-08 06:09] #2675 closed, assigned to nobody

[2022-10-09 19:46] #2820 closed, assigned to nobody

[2022-10-10 09:42] stormshield-pj50 commented on #2661
@elenaf9 sorry but the patches don't apply neither on v3 or v4 branches.

[2022-10-10 10:15] elenaf9 commented on #2661
Thanks for testing @pj50! Could you please share the code with which you are testing, and the debug output that shows this?

[2022-10-10 11:28] fgimenez opened #3005 "kademlia: can't discover providers run by relayed peers"
## Summary

A client connecting to a relayv2 server starts providing a key (by calling `kademlia.start_providing`), from other peers (even from the relay server itself) no providers for that key are found (by calling `kademlia.get_providers`). The client is listening on the relayed multiaddr and this multiaddr is explicitly added to kademlia with `kademlia.add_address`.

## Expected behaviour

Pro

[2022-10-10 12:34] stormshield-pj50 commented on #2661
@elenaf9 I cannot share the code I am working on, but you can reproduce the issue with two instances of libp2p using Quic, one as a listener and the other as a dialer. I use ping + identify as behaviour. Just kill the dialer, and the you will see that the connection is not closed on the swarm side, but the connection timeouts in Quinn. The following log should trigger on timeout:
[code]

[2022-10-10 15:15] elenaf9 commented on #2661
There might be a misunderstanding here. What is implemented (in quic-v3) is that if a **connection is dropped** on one side we send a RESET frame to the remote for that connection. That's possible because our quic endpoint is still polled after an individual connection was dropped and can continue sending packets to the remote (e.g. the RESET for the dropped connection) and handle / ack incoming o

[2022-10-10 18:36] mxinden commented on #2904
I don't have enough experience here. I would trust on your and @dignifiedquire expertise.

Yes, I think that is an option. That said I can not drive this right now, though I could connect someone with the right folks.

[2022-10-10 19:01] umgefahren commented on #2904
Just to clarify here: I would suggest keeping the zero dependency policy, however it would be possible to introduce some sort of `ext-sha` which would outsource sha to a dependency. But it could be disabled by default and it wouldn't increase *our* compile time, since we already have sha somewhere in our dependency tree. On the other hand it would increase performance, since [sha2](https://crates.

[2022-10-10 20:43] nloadholtes commented on #2924
Hi @mxinden I'm a Python dev who is looking at learning Rust. This is my first time really messing with a Rust project, so early apologies if I miss anything "obvious". :smile:

Also, I am new to libp2p (very interested in it, and trying to learn more about it). Any advice/feedback is welcomed. Thank you!

[2022-10-10 21:05] thomaseizinger commented on #2904
That is still difficult to design because features should be additive and not change functionality. If one of our users depends on the crate too and would like to use it without an external hash impl, then they can't do that if we activate the `ext-sha` feature.

The crate would have to expose an entirely different interface or some kind of plugging mechanism which I am unsure will be accepted.

[2022-10-10 21:09] thomaseizinger commented on #2904
That is already happening though: https://github.com/jedisct1/rust-ed25519-compact/pull/9

[2022-10-11 06:22] normanade commented on #2607
Actually, the `direct_connections` hashmap cannot be reached from outside the Behaviour struct, making the `pub struct` rather useless.

[code]

[2022-10-11 10:44] thomaseizinger commented on #2607
No need to access it from the outside. The behaviour gets notified about new incoming connections!

[2022-10-11 11:07] thomaseizinger commented on #2661
Related: https://github.com/libp2p/rust-libp2p/pull/1682

[2022-10-11 12:28] thomaseizinger opened #3010 "Use a merge bot for merging PRs"
## Description

It is a bit tedious to manually babysit PRs and update + merge them one at a time. GitHub has merge queues in beta but it is not a public beta yet.

In the meantime, we could use https://mergify.com. It is free for open-source projects. It even has cool features like defining the commit message ahead of time in the PR description: https://docs.mergify.com/actions/merge/#commit-mess

[2022-10-11 14:50] mxinden commented on #2719
Please prioritize any WebRTC and Testground related work. That said, yes, help here is very much appreciated whenever you are blocked on WebRTC and Testground. Let us know in case you need any help @GlenDC.

[2022-10-11 14:51] mxinden commented on #2745
Please prioritize any WebRTC and Testground related work. That said, yes, help here is very much appreciated whenever you are blocked on WebRTC and Testground. Let us know in case you need any help @GlenDC.

[2022-10-11 15:53] GlenDC commented on #2745
Understood. I am going to continue to give all my love and energy in the Protocol Labs context to Testground. Let's do it!

[2022-10-11 15:53] GlenDC commented on #2719
Understood. I am going to continue to give all my love and energy in the Protocol Labs context to Testground. Let's do it!

[2022-10-11 17:42] mxinden commented on #2675
Wonderful. Thanks @ddeguglielmo for testing. And of course @gallegogt and @thomaseizinger for fixing this issue!

[2022-10-12 03:03] thomaseizinger opened #3014 "[Tracking issue]: Uniform substream behaviour and interface"
This a tracking issue for all sorts of efforts that concern a uniform behaviour of libp2p streams, regardless of the underlying transport or muxer.

### Requirements

- Streams should allow for closing the read and write side separately
- Streams should reset on drop, signalling an unexpected shutdown. This is yet to be defined properly in the specs: https://github.com/libp2p/specs/issues/466

###

[2022-10-12 12:33] mxinden commented on #3005
I would expect the same behavior. (Note that this will not be the behavior once https://github.com/libp2p/rust-libp2p/issues/2032 is fixed and enabled.)

---

Does the relay server add the client to its routing table? In other words do you get a `KademliaEvent::RoutingUpdated` before calling `Kademlia::get_providers`? The log below suggests that this is not the case.

[2022-10-12 13:09] #2984 closed, assigned to nobody

[2022-10-12 19:43] mxinden commented on #2635
With https://github.com/libp2p/rust-libp2p/pull/2647 I am closing here.

[2022-10-12 19:43] #2635 closed, assigned to nobody

[2022-10-13 03:16] thomaseizinger commented on #3010
Other things mergify could do for us:

- Close stale PRs: https://docs.mergify.com/configuration/#id7
- Request author to resolve conflicts: https://docs.mergify.com/actions/comment/#request-for-action
- If we end up using conventional commits (see #2902): Enforcing PR titles: https://docs.mergify.com/actions/post_check/#enforcing-conventional-commits

[2022-10-13 07:20] stormshield-pj50 opened #3020 "Quic attempt v3 vs v4 benchmarking"
Hello there, we (at Stormshield) have been benchmarking various async Quic implementations between a client and a remote server VMs with dedicated vswitch (1 connection with 1 substream, 1 second keep-alive, AES_256_GCM_SHA_384, upload only)
Average bandwidth on 10 run each 80GBytes upload:
- tcp with s2n netbench (plaintext/nocipher): 12,4 GBit/s
- tcp + tls with s2n netbench: 4,1 GBit/s
- s2n-qu

[2022-10-13 08:12] galargh commented on #3010
Btw, I've been trying to get us into that beta for the better part of this year but no luck so far.

[2022-10-13 09:22] jxs commented on #3010
Thanks Thomas, I think it's a great idea, I think this paired with https://github.com/libp2p/rust-libp2p/issues/2948 will improve a lot the merge and conflict resolution rate in the repo!

yeah if `mergify` has this feature (and it seems better cause it can tag the author of the PR) we should probably close #2958 and just use `mergify`

[2022-10-13 10:17] fgimenez commented on #3005
You are totally right, in the relay server log I don't see any `KademliaEvent::RoutingUpdated` event. How can I make sure the relayed peers are added to the server routing table?

Ok, thanks for the heads up, how will things work after #2032 is merged?

[2022-10-14 05:12] thomaseizinger commented on #3010
I'll draft up an integration and then people can have a look!

[2022-10-14 05:14] thomaseizinger commented on #3010
I requested permission for integration. Not sure who can grant this? @galargh @BigLep @mxinden?

[2022-10-14 08:13] thomaseizinger opened #3024 "Migrate from `protoc` to `quick-protobuf` and remove the buildscripts"
## Description

Migrate our codebase from `protoc` to `quick-protobuf`.
We also want to get rid of the buildscripts and instead check the generated code into Git and add a CI step that verifies that they are directly generated from the protobuf files.

## Motivation

- Users are irritated about the dependencies required to build rust-libp2p: https://github.com/libp2p/rust-libp2p/issues/2645
- It c

[2022-10-14 12:37] marten-seemann commented on #2883
Should [Stateless Reset](https://datatracker.ietf.org/doc/html/rfc9000#section-10.3) handling / generation be added to the Long Term list?

[2022-10-14 16:36] mxinden commented on #2902
For the record, I did the `v0.49.0` release with `cargo release`. https://github.com/libp2p/rust-libp2p/pull/3028 updates our release documentation accordingly.

This tool makes my life A LOT easier. Wonderful.

[2022-10-14 16:54] mxinden commented on #3014
Thanks for the tracking issue! I added it to our project board. I still need to prioritize it. Input welcome.

Overall looks good to me. Just one comment:

I am not aware of a protocol that needs to close the read side. I suggest we delay implementing that half of the feature until there is need for it.

[2022-10-14 17:26] mxinden commented on #3005
For now I suggest you run `libp2p-identify`. Once you identified a remote peer and that peer supports the Kademlia protocol, you can call `Kademlia::add_address`.

See https://github.com/mxinden/rust-libp2p-server/blob/3040de8f1f08d41171de7e9987483688383124e1/src/main.rs#L129-L156

This will improve once we have https://github.com/libp2p/rust-libp2p/issues/2680.

Unless you configure your clients

[2022-10-14 17:39] mxinden commented on #3010
I would assume @galargh is the best one to help here. Please ping me if that is not the case.

[2022-10-14 18:19] fgimenez commented on #3005
Awesome, thanks a lot!

[2022-10-14 18:19] #3005 closed, assigned to nobody

[2022-10-14 21:02] thomaseizinger commented on #2902
That is great! What do you think of making a workflow that does what you did every time a `release/x.y.z` branch is merged into master?

This should be helpful, regardless of how we create that release branch, i.e. manually or with "release-please" or another tool.

[2022-10-14 21:14] thomaseizinger commented on #3014
"That half". Pun intended? 😊

Makes sense! I moved it to the bottom of the action list. If we are unaware of a protocol that uses it, perhaps we should strip it from the specification too?

[2022-10-14 23:41] Voxelot opened #3029 "Semver issues with `libp2p-swarm-derive:0.30.1` - please yank"
Related to: #2907

When `libp2p-swarm-derive:0.30.1` was released today, it started causing our libraries to fail to compile due to breaking changes in #2907 being released as a patch version. While the PR is a good improvement, we had already made the appropriate workarounds to deal with these generics in our own published crates.

My suggestion would be that libp2p should properly bump the versi

[2022-10-15 02:47] thomaseizinger commented on #3029
Can you post the piece of code that would compile before but doesn't now?

[2022-10-15 22:15] dariusc93 commented on #3024
Havent ran into any issues relating to CI and protoc, but migrating from it to `rust-protobuf` would possibly be one less external dependency needed and would cause less confusion for users building the code

[2022-10-16 23:52] thearossman commented on #2676
Thanks so much for the ping; apologies for dropping this.

This is from running the `chat-tokio` example with two hosts, running for about 30 seconds. You can see the MDNS error message; in this case, the hosts didn't disconnect from each other.

Partial log from one of the hosts (you can see the mdns error message): [debuglog-libp2p-mdns.txt](https://github.com/libp2p/rust-libp2p/files/9795953/de

[2022-10-16 23:57] thomaseizinger opened #3032 "Lint markdown files for broken links"
## Description

It is easy for links in such a big repository to get outdated. Instead of spot-checking those ourselves, use a tool.

## Motivation

- Less manual labor
- No broken documentation

## Current Implementation

Manual spot checking which is broken:

![image](https://user-images.githubusercontent.com/5486389/196065258-2eeadafb-0319-4752-8ebb-07bf64f1dcb3.png)

## Related issues

Current

[2022-10-17 04:52] thomaseizinger commented on #3020
I repeated these benchmarks on my machine and I did get similar results, albeit not quite as bad:

- v3: 1.3 GBit
- v4: 2.3 GBit

[2022-10-17 06:31] thomaseizinger commented on #3020
I've flamegraphed both implementations. One thing I found out is that the two branches as of today don't use the same cipher suite:

v3 uses `CHACHA20_POLY1305_SHA256`: https://github.com/kpp/rust-libp2p/blob/b51f28055dc1f358967b4733596221dbdbfc6f94/transports/quic/src/tls/mod.rs#L36-L44
v4 uses `TLS13_AES_256_GCM_SHA384`: https://github.com/kpp/rust-libp2p/blob/0e86fb2fd60da3459d8dc9e892af06a40f3

[2022-10-17 06:33] thomaseizinger commented on #3020
Silly me, I just re-read your post and saw that you are already accounting for that. Ah well.

[2022-10-17 06:34] thomaseizinger commented on #3020
Anyway, something else that I found during flamegraphing is that we spend about 13% of our time within `futures_channel` functions in the v3 implementation.

[server_flamegraphs.zip](https://github.com/libp2p/rust-libp2p/files/9797542/server_flamegraphs.zip)

[2022-10-17 06:44] thomaseizinger commented on #3020
[`async_std::ReceiveStream`](https://github.com/kpp/rust-libp2p/blob/b51f28055dc1f358967b4733596221dbdbfc6f94/transports/quic/src/provider/async_std.rs#L94-L134) also costs us about 7%.

[2022-10-17 06:49] thomaseizinger commented on #3020
Another interesting statistic:

In v3 we spend about 37% of our time in `quinn_proto`, in v4 it is 49%.

[2022-10-17 08:26] thomaseizinger commented on #3020
I did an initial run with tokio as well and the performance was actually worse. I haven't looked at that flamegraph in detail yet.

[2022-10-17 08:31] galargh commented on #3010
I do have permissions to accept the installation - I'll see it through. They do have some [high-visibility customers](https://github.com/marketplace/mergify/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW4xNjg2) which makes it seem quite trustworthy.

@BigLep, just to double-check, we do not have any specific process in place for vetting 3rd party integrations, right? Beyond the ask here, but I think it m

[2022-10-17 08:43] thomaseizinger commented on #2951
https://github.com/libp2p/rust-libp2p/pull/2996 mentions another error case where a regular `cargo test` failed, likely because the required features are not specified. I think our CI missed that because we don't check the default configuration of every crate.

[2022-10-17 14:17] BigLep commented on #3010
@galargh : Yeah, I'm not familiar with any.  If you want to develop one, I'd ask @andyschwab may have had one he was mentally following in the past.  Thanks for seeing it through.

[2022-10-17 14:25] andyschwab commented on #3010
Pinging @galargh directly 👍

[2022-10-18 07:03] shamil-gadelshin opened #3035 "Redesign `RecordStore` API / interaction"
## Description

Currently, `RecordStore` trait returns `Result` only for `put` and `add_provider` operations. However, custom implementations (for example DB-based) could return errors on each operation.

I wonder whether it's possible to change this trait and add `Result` on each operation to make the trait more consistent with use cases.

## Motivation

This change will allow handling errors for

[2022-10-18 07:14] umgefahren opened #3036 "Connection Aware Transport"
## Description

### Disclaimer
This might be a general libp2p feature request, but I'm starting here, since I'm way more familiar with the project here and wanted some feedback first.

We might consider implementing a transport that can be "aware" of the network environment it runs on. Well not actually a transport, more a transport chooser. Primarily this new feature would allow to dynamically ch

[2022-10-18 07:16] umgefahren commented on #3036
About retrieving Network information:
The Apple platform actually supports the information I had in mind: https://developer.apple.com/documentation/network/nwpath
However I'm not sure how one could integrate that into generic networking.

[2022-10-18 07:36] galargh commented on #3010
I and Andy are on it. Current status: we reached out to Mergify security team with a couple of questions. I'll keep you posted on the progress. FYI, a more formal process for things like this is in the works too.

[2022-10-18 10:31] rkuhn opened #3037 "improve rendering of dial error on connection limit"
https://github.com/libp2p/rust-libp2p/blob/4d4833f8c2622018b5b775896905a534b8624d3c/swarm/src/connection.rs#L350

How about `"connection limit exceeded ({}/{})"`?

[2022-10-18 12:49] stormshield-damiend commented on #3020
Hi, something to take into account:
- attempt v3 uses standard udp sockets which send and recv one packet at a time
- attempt v4 uses quinn-udp which abstract sockets and on Linux use GSO / GRO to send / receive batch of packets instead of one packet at a time

This will reduce a lot the amount of syscalls between userland and kernel to handle packets and result to a performance increase (for V4).

[2022-10-18 14:28] jxs opened #3040 "Deprecate NetworkBehaviour `listener` callback methods"
## Summary

As per the discussion started on https://github.com/libp2p/rust-libp2p/pull/3011#discussion_r992961346:

- A NetworkBehaviour has no control over the listeners. Why should it be interested in knowing that there is a new one etc?
- What is it going to do with the error of a failed listener? These errors aren't  fatal, the listener will keep going afterwards.
- A  [search](https://github

[2022-10-18 15:04] rkuhn opened #3041 "Swarm does not honour `max_negotiating_inbound_streams` setting"
https://github.com/libp2p/rust-libp2p/blob/4d4833f8c2622018b5b775896905a534b8624d3c/muxers/yamux/src/lib.rs#L142-L152

With `MAX_BUFFERED_INBOUND_STREAMS == 25` this code places a limit of 25 incoming substream requests at any given time, effectively removing the utility of SwarmBuilder’s `max_negotiating_inbound_streams` setting. The muxer should be refactored such that only the configurable sett

[2022-10-18 15:13] rkuhn commented on #3041
Another thought: this loop can be kept busy for arbitrarily long times by a potent network connection, starving other activities. It should return `Poll::Pending` from time to time. /cc @thomaseizinger

[2022-10-18 15:35] mxinden commented on #3041
Note that `MAX_BUFFERED_INBOUND_STREAMS` and `max_negotiating_inbound_streams` are two different limits.

The former limits the amount of inbound (non-negotiated) streams, the latter limits the amount of **negotiating** inbound streams, i.e. the streams that are running multistream-select + the `UpgradeInbound` logic of the corresponding `ConnectionHandler`s.

[2022-10-18 16:52] shamil-gadelshin commented on #3035
@mxinden This issue I mentioned on the community call.

There was also a question about splitting `RecordStore` trait into separate traits for records and providers.

[2022-10-18 20:49] thomaseizinger commented on #3041
I am not sure how that would work. Are you thinking of a timer that fires at some point and interrupts the loop?

[2022-10-18 20:50] thomaseizinger commented on #3041
Cross-referencing related efforts:

- https://github.com/libp2p/rust-yamux/pull/142
- https://github.com/libp2p/rust-libp2p/pull/2878

[2022-10-19 00:19] thomaseizinger commented on #3040
I think `inject_new_listen_addr`, `inject_expired_listen_addr` and `inject_expired_external_addr` are worthwhile keeping but I'd probably remove the `ListenerId` from them because it is an identifier that doesn't mean anything to a behaviour.

[2022-10-19 01:10] thomaseizinger commented on #2904
Another data point, compiling `libsodium` is a PITA. For some reason, the build cache for that one constantly gets invalidated and I routinely find myself waiting for that build-script to finish when I test changes locally.

[2022-10-19 01:17] thomaseizinger commented on #3037
Isn't the number always the same in that case? Probably worth printing only the limit.

[2022-10-19 03:15] dvc94ch commented on #3040
libp2p has certainly changed a lot since I made the PR adding those. However even with your changes it's not clear why there should be a `FromSwarm` and a `SwarmEvent` enum with different information. I'd bring it to it's logical conclusion of removing SwarmEvent entirely. [0][1]

First of it doesn't require a `&mut Swarm`. Consumers of ipfs-embed don't have access to the swarm or network behaviou

[2022-10-19 07:25] rkuhn commented on #3041
@mxinden Thinking more about it, libp2p 0.49 broke network protocol compatibility with earlier versions (which is the concrete and acute problem I have with libp2p-bitswap): file sync now fails because old clients will interpret dropped substreams as “that peer doesn’t have what we want”. Plus I have trouble figuring out how new clients should behave differently, but that is a separate issue.

Reg

[2022-10-19 07:41] rkuhn commented on #3037
With the direct interpretation of the fields’ doc comments I would agree, but there are two fields and this error may be constructed with different values for `current` and `limit`, so I’d print both. “5 of 5” is also somewhat established to show that a limit of five was reached, despite the redundancy.

[2022-10-19 11:23] umgefahren commented on #3036
This idea needs more work.

[2022-10-19 11:23] #3036 closed, assigned to nobody

[2022-10-19 11:35] rklaehn commented on #3035
Yes, I noticed the same thing when trying to implement a persistent record store for [iroh](https://github.com/n0-computer/iroh). I just had to unwrap the errors to be able to conform to the interface, which is not nice.

https://github.com/libp2p/rust-libp2p/pull/3021 is also somewhat related. There is not much point in having a persistent record store for a large number of records if the behavio

[2022-10-19 13:05] thomaseizinger commented on #3041
Well, the fact that this worked was more of a bug than a feature. Not having any form of back-pressure doesn't work large scale. It also means we wouldn't be able to make use of QUIC's back-pressure mechanism for the number of streams.

I have a proposal open for improving this situation: https://github.com/libp2p/rust-libp2p/pull/2878

It deprecates `max_negotiating_inbound_streams` and allows in

[2022-10-19 13:19] thomaseizinger commented on #3040
In that case, that abstraction should be built on top of whatever polls the swarm.

They don't represent the same set of events. `FromSwarm` is for communicaton from the swarm to the behaviour. `SwarmEvent` is emitted by the swarm. If anything, we should be striving for them to be complimentary!

[2022-10-19 13:21] rkuhn commented on #3041
That’s why I mentioned `cx.waker().wake_by_ref()` earlier.

---

May I ask that we separate two things?

1. libp2p 0.49 is quite troublesome since it breaks existing code and peers using older versions, over the network — this is an issue because the new behaviour cannot be configured; currently my best-looking option is to maintain a fork that patches MAX_BUFFERED_INBOUND_STREAMS to some huge val

[2022-10-19 13:33] dvc94ch commented on #3040
well, it's annoying to have to piece together information from different sources. They overlap a lot in functionality. I'd suggest making them equivalent. Then there is stuff in NetworkBehaviourAction's that can't be done without calling a method on the swarm. Why can't I ban a peer from a network behaviour? Seems like an arbitrary restriction.

- [0] https://docs.rs/libp2p/latest/libp2p/swarm/enu

[2022-10-19 13:58] nloadholtes commented on #2500
Hi! I have read through this and would like to take it on. I'm still pretty new to Rust, so apologies in advance if I ask some basic questions. :smiley:

I see that the `Encoder` and `Decoder` are now in prost-codec, and it looks like `protocols/dcutr`, `protocols/identity`, and `protocols/relay` are using it. I'll work on refactoring the other protocols packages to use prost-codec.

For this tick

[2022-10-19 14:39] nloadholtes commented on #2933
Hi, I've got a draft PR, but it feels too.... simple. :grin: Did I miss something big in the PR, or is that really all there is?

[2022-10-19 17:13] dvc94ch commented on #3040
usually what ends up happening when using libp2p is this:
- you spawn the swarm in a task
- you add a ctrl channel that has some Command enum with a bunch of oneshot or mpsc channels for sending back the response
- it makes little difference if you pass that channel to a network behaviour on setup or the task that polls the swarm
- the annoying thing is when you can't get everything you need in th

[2022-10-19 18:03] mxinden commented on #2902
I am in favor of fully automating this. Do we know of any projects that do this today? (I am asking as I don't want rust-libp2p to be special here.)

I don't have the capacity to work on this any time soon. In the meantime, I am fine continuing to do the releases.

[2022-10-19 18:04] mxinden commented on #3014
Stripping it off the specification would prevent us from introducing it in the future, right?

[2022-10-19 18:15] mxinden commented on #3024
Adding another data point. We facilitated a rust-libp2p workshop today. Installing `protoc` was a significant slow down for many semi technical participants.

[2022-10-19 21:17] BigLep commented on #2902
I haven't been following along in all the conversation, but I think it's good hygiene for a project with multiple maintainers to have a document that is clear about "how we do a release".  If that document consolidates down to "run this script and you're done", that's great.  I don't want us to put off expressing what we do today while we wait for the automated solution.

The reasons for this ask:

[2022-10-19 21:22] thomaseizinger commented on #3014
Maybe, I haven't thought about it much. It seems odd to have every implementation be non-compliant 🤷‍♂️

[2022-10-19 21:24] thomaseizinger commented on #2933
We already have https://github.com/libp2p/rust-libp2p/pull/2995 open for this 🙈

Sorry, should have maybe made that more obvious in the issue here!

It is quite a simple change yeah, we are just separating it so bisecting is easier in case something breaks!

[2022-10-19 21:25] thomaseizinger commented on #2500
1 PR per crate would be preferable!

[2022-10-19 21:51] thomaseizinger commented on #3040
That is a fair point. Pluggable connection management is tracked here: https://github.com/libp2p/rust-libp2p/issues/2824

Extending this with bans is definitely worth considering.

In my experience, things tend to come out cleaner when you try and implement as much networking logic in a `NetworkBehaviour` instead of calling various control knobs from the outside.

However, this is only really poss

[2022-10-19 22:19] nloadholtes commented on #2933
No prob! I'm just happy my change was about 90% there :joy:  I'll close out my PR.

[2022-10-19 22:51] dvc94ch commented on #3040
You seem to be agreeing with me that reducing the reliance on swarm events seems to be a good idea?

Is there a reason we can't remove swarm events and all the swarm methods and just make the FromSwarm and NetworkBehaviourAction handle these cases?

[2022-10-19 23:15] thomaseizinger commented on #3040
Eventually we might get there yes.

One situation I don't know how to resolve is managing listen addresses. `NetworkBehaviour`s don't know about the transport stack that is underneath them. I think that is a good thing. It allows us to test `NetworkBehaviour`s on top of the memory transport for example.

The component that constructs the `Swarm` also constructs that `Transport` so it is in a much

[2022-10-19 23:16] thomaseizinger commented on #3024
I'd really appreciate help on this front @nloadholtes :)

[2022-10-19 23:37] thomaseizinger opened #3046 "Removing the `handler` field from `FromSwarm::ConnectionClosed` in favor of `ConnectionHandler::poll_close`"
Currently, `FromSwarm::ConnectionClosed` contains a `handler` field which makes handling the event klunky in many ways:

- It cannot implement `Clone`
- It adds a type-parameter
- We cannot unify `SwarmEvent` and `FromSwarm` despite them containing the same data

The usecase for returning the handler is to allow the behaviour to extract data from a closed connection which would other get lost as c

[2022-10-19 23:46] #3037 closed, assigned to nobody

[2022-10-20 00:28] thomaseizinger commented on #3041
Are you suggesting to immediately wake and thus schedule another call to `poll`? That is interesting, I had not considered that, thank you!

It is a bit hacky but should work if we have another call in the same `poll` function that may potentially return `Poll::Pending` so we can avoid an endless loop.

[2022-10-20 05:31] rkuhn commented on #3041
This is a common pattern in my parts of the woods: relinquish the thread to give another task its chance to run, while stating that we’re not done just yet. Rust’s approach to asynchrony needs this extra care due to the inverted control flow, whereas other runtimes (JS, Java, …) schedule continuations as new tasks and thus get these break points automatically.

[2022-10-20 12:01] shamil-gadelshin opened #3048 "Kademlia. New inbound substream to PeerId exceeds inbound substream limit. No older substream waiting to be reused."
## Summary

I use `start_providing` Kademlia API

Here is my error after 32 requests:

[code]

This error is similar to the recent discussion: https://github.com/libp2p/rust-libp2p/discussions/2957

However, I have only 2 peers (local machine setup) and 3 seconds between `start_providing` requests.

Here is my local `inbound_streams` buffer:

[code]

It seems that I need to acknowledge some of the

[2022-10-20 13:19] melekes opened #3049 "transports: Deterministic certificate generation"
Presently (https://github.com/libp2p/rust-libp2p/pull/2622), the certificate is supposed to be generated and stored somewhere along the node's key. This could be improved. As it was [pointed out in the spec](https://github.com/libp2p/specs/pull/412/commits/449462bac68abfe953bd8edba520909ce89a10c7), we should be able to derive a TLS certificate from node's key. This will improve dev experience.

[2022-10-20 13:24] melekes commented on #3049
I've spent today looking into ways of doing it. One way is

[code]

convert `identity::KeyPair` to DER and create `rcgen::KeyPair` from it.

@thomaseizinger pointed out that it might be simpler to use HKDF that will act as the seed for randomness (at what point? during certificate creation https://docs.rs/rcgen/0.10.0/rcgen/struct.CertificateParams.html#structfield.serial_number?).

[2022-10-20 13:35] thomaseizinger commented on #3049
I think we need to patch `rcgen` to allow for configuration of the randomness source to put in a deterministic one based off a seed. You can then use a HKDF to generate the seed.

There is also randomness in the ECDSA signature on the certificate itself so if you want truly deterministic certificates, that needs to be fixed too. Just the same `Keypair` doesn't cut it.

For the HKDF, it is probably

[2022-10-20 20:09] thomaseizinger commented on #3024
Just a heads-up that there is now https://github.com/libp2p/rust-libp2p/pull/3050 @nloadholtes.

[2022-10-20 20:58] mxinden commented on #3035
I would suggest we move forward here and write a first proof-of-concept. Anyone volunteering?

[2022-10-20 21:12] mxinden commented on #2500
Thanks @nloadholtes for volunteering.

[2022-10-21 09:29] rkuhn commented on #2486
FTR: with some hints from [other people](https://internals.rust-lang.org/t/option-to-turn-debug-into-no-op/17587/11) I was able to avoid string matching, see

https://github.com/ipfs-rust/ipfs-embed/blob/a959d5f93fdc0f2319fabea4868bd62d46625828/src/net/peers.rs#L878-L902

[2022-10-21 09:29] #2486 closed, assigned to nobody

[2022-10-21 09:31] rkuhn commented on #2485
continued at https://github.com/libp2p/rust-libp2p/discussions/2938

[2022-10-21 09:31] #2485 closed, assigned to nobody

[2022-10-21 15:13] mxinden commented on #3049
I would guess @MarcoPolo has opinions here given his related work on https://github.com/libp2p/go-libp2p/pull/1833.

[2022-10-21 22:33] thomaseizinger commented on #3049
If patching `rcgen` is too hard, we might also just inline the certificate generation. `ring` does all the heavy lifting of the crypto anyway and we don't need much configuration for our usecase so this could turn out quite clean actually.

[2022-10-22 08:22] thomaseizinger commented on #2902
I think the document we have is up to date with our release process.

I do think we should change it though. All the manual steps like changelog entries and version bumps need to go away. It slows down my own work, esp. right after a release when all the versions are still untouched. It is also an inconvenience for contributors as we need to babysit them to make the correct changelog entries and v

[2022-10-22 08:50] thomaseizinger opened #3053 "Avoid circular dependencies in workspace"
Currently we have circular dependencies in our workspace.

This is problematic because:

- It messes with the build cache during incremental builds: https://github.com/libp2p/rust-libp2p/pull/2918#discussion_r976514245
- It makes tools like "release-please" choke: https://github.com/libp2p/rust-libp2p/issues/2902#issuecomment-1260557546

Getting rid of the circular dependencies is almost easily so

[2022-10-22 12:37] shamil-gadelshin commented on #3035
It's easy to change an interface and alter all usages for it. I could do that. However, adding correct handling for an operation result in some cases could be too invasive in the current architecture.

For example - the call of the `store.remove` in the `PutRecordJob.poll()` doesn't assume returning (or some other handling) of an error. I could probably add `log::debug` or `log::error` in such cas

[2022-10-23 10:54] BigLep commented on #2902
Thanks @thomaseizinger .  I'm certainly supportive of automating and making things simpler.

My bad (and it may just be me since I'm not making rust-libp2p commits) but I only became aware that we have a written document when you alluded to it.  If anyone else is following along, the release process document is https://github.com/libp2p/rust-libp2p/blob/master/docs/release.md

Concerning conventio

[2022-10-23 12:00] thomaseizinger opened #3054 "Decision required: Change commit messages to "conventional commits""
I'd like to propose to change our commit message convention to "conventional commits": https://www.conventionalcommits.org/en/v1.0.0/

The main driver for this is automation in the form of automated changelogs and automated version bumps. See https://github.com/libp2p/rust-libp2p/issues/2902.

In particular, tools like https://github.com/googleapis/release-please can do this but there are many oth

[2022-10-23 12:02] thomaseizinger commented on #2902
I did not know this! Thanks for mentioning it. @achingbrain @MarcoPolo Can you comment on this?

Thanks for the encouragement. Whilst I think it is a good idea, I believe we should properly challenge it first. I'll open a separate issue to discuss: https://github.com/libp2p/rust-libp2p/issues/3054

We run all interoperability tests on each pull request and (typically) only merge when they are gree

[2022-10-23 13:51] BigLep commented on #2902
Thanks @thomaseizinger .  Concenring interoperability tests, my understanding from a month ago was that what we run in CI is a subset of the full interoperability testsuite (because the full suite takes too long).

@laurentsenta : I'm sorry to pull you in here.  I believe this has been discussed before.  I looked in https://github.com/libp2p/test-plans/issues for a discussion on this, but didn't f

[2022-10-23 23:52] elenaf9 commented on #2883
**Changelog:**
- [x] Finish remaining TODOs / FIXMEs in Libp2p quic third attempt  #2289
- [x]  Enhance docs
- [x] Review how backpressure is enforced throughout the whole implementation
       -> Described in the docs on [`endpoint::Driver`] in #2289

[2022-10-24 02:00] #2950 closed, assigned to nobody

[2022-10-24 22:33] mxinden opened #3060 "src/lib: Add libp2p-tls to development_transport"
Once `libp2p-tls` is no longer an `alpha` (which it is today, see below) I suggest we add it to our `development_transport` convenience method.

Thoughts?

https://github.com/libp2p/rust-libp2p/blob/4d1b165982f15191ee5bbe3d98663dbfa0548338/transports/tls/Cargo.toml#L1-L6

https://github.com/libp2p/rust-libp2p/blob/4d1b165982f15191ee5bbe3d98663dbfa0548338/src/lib.rs#L182

[2022-10-25 00:33] thomaseizinger commented on #3060
Those functions are problematic IMO, at least how they are currently used (inside tests and examples), see https://github.com/libp2p/rust-libp2p/pull/3056.

I also think the naming is off. "development" to me suggests that this is something I use during testing but not in production.

It also doesn't fit in well with the executor-specific features that we are currently implementing.

I can see a "

[2022-10-25 02:10] thomaseizinger commented on #3060
Tests will eventually use https://github.com/libp2p/rust-libp2p/pull/2888.

For the examples, we could move away from regular cargo examples and instead introduce an `examples` directory that has multiple crates in it. Those would probably be easier to maintain because they would have the exact same layout as a user's application. We'd just specify only the features we need in them which makes the

[2022-10-25 16:39] dgrr opened #3061 "rendezvous: Unregister peer on connection close."
## Description

Rendezvous servers are not automatically unregistering the peers that disconnect, thus keeping the peer on the rendezvous list.
It would be nice if the server behavior unregisters the peer automatically or upon parameter request (something like a Config when creating the server behavior).
Maybe this behavior (pun intended) is expected, but I think it's not desirable for the user. M

[2022-10-26 08:50] thomaseizinger commented on #3049
As mentioned in https://github.com/melekes/rust-libp2p/pull/12, this is blocked on https://github.com/briansmith/ring/commit/fe9e4d08c1727bea42d31e0d31ee58c4e8e4dc4e getting released and `webrtc` updating to that new `ring` release.

[2022-10-27 00:13] thomaseizinger commented on #3010
Any update on this? :)

[2022-10-27 17:13] shamil-gadelshin commented on #3048
This issue I mentioned on the last community call. @mxinden @thomaseizinger You had already a similar discussion but this issue arises on a much smaller load.

[2022-10-28 00:57] thomaseizinger commented on #3024
@kckeiks Thanks a lot for your efforts on this issue! I also have to apologize for not putting my thoughts / intentions into this more clearly. The main thing I/we'd want out of this is to get rid of the `protoc` dependency. There are numerous ways of achieving this and I should have been more clear that particularly migrating to `rust-protobuf` is only one of the options.

As I mentioned on https

[2022-10-28 04:27] thomaseizinger commented on #3048
Thanks for reporting this! This definitely doesn't look right. I am putting it on my list to work on for next week :)

[2022-10-28 04:48] thomaseizinger opened #3068 "swarm: Make API for creating a new `Swarm` executor aware"
## Description

This issue is extracted out of #2173 and proposes a solution to issues like https://github.com/libp2p/rust-libp2p/issues/2230.

A `Swarm` needs to execute background tasks. Currently, each physical connection (i.e. a TCP connection) is executed on its own background task. This improves latency because it means the main event loop of the `Swarm` which also calls `NetworkBehaviour::p

[2022-10-28 04:49] tomaka commented on #3024
No, as far as I remember I was in favor of keeping the "checking in the generator code" approach.

[2022-10-30 22:59] nloadholtes commented on #2500
Hi @mxinden and @thomaseizinger  , I've made a WIP PR that I'd like some feedback on: #3070

Basically I'm looking at `protocols/dcutr` and trying to make sure that I can make `protocols/gossipsub` "look" like that. I ran the changes locally and the tests passed so I'm hopeful that is a good sign. :smile:

Thank you in advance for any feedback, I'm still learning the ways of rust, but I'm really l

[2022-10-31 19:23] mxinden commented on #3035
I don't think we should log errors, but instead bubble them up to the user. Why is that not an option?

[2022-11-01 16:47] shamil-gadelshin commented on #3035
Ok. I will create a PR with one operation and show you.

[2022-11-02 07:05] thomaseizinger commented on #3048
Are you polling the `Swarm` properly? Can you share the code that you are running?

I looked into the code and these substreams shouldn't really be sitting there idling for very long. They are waiting for the `NetworkBehaviour` to gather the data, which should be extremely quick and can then resume again.

Maybe the main event loop of the `Behaviour`s is blocked from some reason? Can you reproduce

[2022-11-02 07:29] thomaseizinger commented on #3048
Also, can you try and test with https://github.com/libp2p/rust-libp2p/pull/3074? I think this one is more correct in terms of task wake behaviour. Maybe that is the issue.

[2022-11-02 08:20] galargh commented on #3010
Mergify got back to us and it looks reasonable from the security standpoint. I just installed it for `libp2p` org (scoped to `rust-libp2p` repo - at least for now). We don't have any repo secrets currently set up here, so we don't have to prepare secret breach mitigation plan. However, if we ever add sensitive secrets here, we should revisit this.

[2022-11-02 10:37] mxinden commented on #3054
I am in favor of this.

I would like to continue putting the path (i.e. in conventional commit terminology it is _scope_) into the commit message, e.g. `swarm`, `protocols/kad` or `transports/tcp`.

[2022-11-02 10:42] mxinden commented on #2902
Correct. We currently only run the _go-rust-interop-latest_ composition test instead of the _go-rust-interop_ composition test.

https://github.com/libp2p/rust-libp2p/blob/b42f28630e2a7a04642c95aa8e7f4deea823f901/.github/workflows/interop-test.yml#L26-L32

https://github.com/libp2p/test-plans/blob/master/ping/_compositions/go-rust-interop.toml

@laurentsenta do you know off the top of your head ho

[2022-11-02 12:27] thomaseizinger commented on #3054
At least `release-please` will figure out what versions to bump based on the touched files so the scope is only informational.

Is there much value in adding the scope? It often takes up a significant portion of the commit message title, which makes it hard to keep under 50 characters (that is the recommended length).

Can we loosen this to a "we MAY add the scope"? I'd personally prefer not to, e

[2022-11-02 12:38] mxinden commented on #3024
As long as we can make sure the checked-in code is correct, i.e. as long as we have a CI step, I am in favor of checking in the generated code.

Also want to thank you here for your work. Sorry in case it does not end up being merged.

[2022-11-02 15:52] kckeiks commented on #3024
No worries! I'm glad we did not rush in :)

[2022-11-02 16:31] SionoiS commented on #2632
Ready to start working on this! Looking at the diff between iroh and rust-ipfs implementation of bitswap. where do we want the libp2p implementation, on a rust-ipfs <-> iroh spectrum.

Seams like people [don't like](https://www.youtube.com/watch?v=ZSKIVPv0rDQ) bitswap and are [building](https://www.youtube.com/watch?v=376k8B9g7CE) new things. If thing are changing might be good to keep the scope o

[2022-11-02 23:05] thomaseizinger commented on #2632
My 2c are:

We definitely want a custom `ConnectionHandler`. Those run on a separate task which means we don't as easily block the main event loop of network behaviours.

[2022-11-03 01:25] #3010 closed, assigned to nobody

[2022-11-03 01:29] thomaseizinger opened #3075 "Update branch protection rules"
Our branch protection rules don't cover all checks that we are running. @mxinden Can you update those please?

[2022-11-03 08:24] shamil-gadelshin commented on #3035
Please, have a look when you have time: https://github.com/libp2p/rust-libp2p/pull/3076 @mxinden

[2022-11-03 11:20] SionoiS commented on #2632
So to get decent perf. I need to impl one, ok make sense!

Is perf the only reason or is there things you can't do without an ConnectionHandler impl?

[2022-11-03 17:21] mxinden opened #3078 "Backpressure between components"
### What is backpressure

A slow consumer should slow down (i.e. backpressure) a fast producer.

### Why do we need backpressure

- Prevent unbounded growth of buffers.
- Potential DOS defense.
- Potential lower latencies.
- Potential better resource allocation.

See also [coding guidelines - Bound everything](https://github.com/libp2p/rust-libp2p/blob/master/docs/coding-guidelines.md#bound-everyt

[2022-11-03 22:44] jxs opened #3080 "swarm/handler: Inject events via single method"
## Description

Replace the various ConnectionHandler::inject_xxx methods with a single ConnectionHandler::on_event method and a Event enum.
## Motivation
Akin to #2832. (see https://github.com/libp2p/rust-libp2p/issues/2832#issuecomment-1236252507) and related to #2854

## Are you planning to do it yourself in a pull request?

Yes

[2022-11-04 02:58] thomaseizinger commented on #2951
Not running CI on beta causes unrelated CI failures on new stable releases: https://github.com/libp2p/rust-libp2p/actions/runs/3390658695/jobs/5635053146

[2022-11-04 03:07] thomaseizinger commented on #2824
Going to start on this once https://github.com/libp2p/rust-libp2p/pull/3011 is merged to avoid the churn.

[2022-11-04 11:17] mxinden commented on #2824
I think we should design this with a concrete use-case in mind. @divagant-martian would you volunteer overseeing
this from the lighthouse user perspective?

@thomaseizinger can you keep @divagant-martian in the loop?

[2022-11-04 11:23] divagant-martian commented on #2824
@mxinden for sure! I'm also relatively familiar with substrate's peer management and can probably get in touch with the iroh guys to check what needs we have in common and where do those differ

[2022-11-04 13:42] nloadholtes commented on #2500
Putting this here to track progress (since we're doing 1 PR per crate)

- [ ] autonat
- [x] dcutr
- [x] floodsub
- [x] gossipsub
- [x] identify
- [ ] kad
- [x] relay
- [x] rendezvous
- [ ] noise

[2022-11-04 14:05] jxs commented on #2854
Being the rename of the associated types a breaking change by itself, should it be addressed when we soft (#3011/#3085) or hard deprecate the `inject_*` methods? If we pack it with #3011/#3085 then it's probably redundant to soft deprecate the `inject_*` methods since there will be a breaking change that implies touching the traits

[2022-11-04 20:49] mxinden commented on #2854
Good point @jxs. Doing the rename with the _hard deprecation_ (i.e. removal) of the `inject_` methods sounds good to me.

[2022-11-04 21:27] thomaseizinger commented on #2854
Sounds reasonable to me. +1

[2022-11-05 21:08] gabrieldemian opened #3088 "Error while building libp2p-core"
## Summary

Hello, I'm trying to build my project but I always have this error:

[code]

## Version
0.49

## Would you like to work on fixing this bug?
Yes

[2022-11-05 21:32] p-shahi commented on #3088
@gabrieldemian you need to install `protoc` on your machine.
You can do `apt install -y protobuf-compiler` on Ubuntu or `brew install protobuf` on Mac.

Since this isn't an issue with the implementation, I'll close this issue for now.

[2022-11-05 21:32] #3088 closed, assigned to nobody

[2022-11-05 21:36] thomaseizinger commented on #3088
For reference, we are working on moving away from protoc: https://github.com/libp2p/rust-libp2p/issues/3024

[2022-11-05 21:48] gabrieldemian commented on #3088
Thank you for replying to my issue, I installed protobuf on my machine and built the project with no errors

[2022-11-06 14:27] vincev commented on #2617
I have implemented a version of the chat example with libp2p WASM clients running in the browser connecting to a Floodsub server using a [Websocket transport](https://github.com/vincev/wasm-p2p-chat/blob/870b26d00122c633ead17700bc372e194917f66e/chat-client/src/main.rs#L195):

<img width="1081" alt="clients" src="https://user-images.githubusercontent.com/10183380/200174187-cdd6b493-2cad-4254-853b-d

[2022-11-06 23:07] thomaseizinger commented on #2951
As noted on #2289, it would be useful to have a feature for all protocols/transports and then selectively test whether it all builds with only `tokio` or `async-std` enabled!

[2022-11-07 11:26] elenaf9 commented on #3054
👍 In favor of conventional commit messages.

Agreed. I stopped used full paths because of those reasons. In favor of optional scopes where it makes sense.

[2022-11-07 15:23] laurentsenta commented on #2902
@mxinden the `all` test takes approx. 30 minutes at the moment.
https://github.com/libp2p/test-plans/actions/workflows/ping-interop.yml

[2022-11-07 17:20] Mubelotix commented on #2854
I'm confused about why we keep saying `Swarm`, I thought [the term was replaced by `Switch`](https://docs.libp2p.io/concepts/glossary/#swarm)

[2022-11-07 22:06] thomaseizinger commented on #3048
Friendly ping @shamil-gadelshin!

Does #3074 help at all?

[2022-11-07 22:48] thomaseizinger commented on #3054
Thanks everyone, I'll consider this change to be approved unless someone objects by Friday, Nov 11th.

[2022-11-08 06:29] thomaseizinger commented on #2824
`NetworkBehaviour` already has quite a few callbacks, although we are getting rid of some of them in #3011. Thus, I am a bit hesitant to continue in the direction of #2828.

So here is an alternative idea:

## Make `IntoConnectionHandler` fallible

`NetworkBehaviour::new_handler` is already invoked for every incoming connection. If a `NetworkBehaviour` would like to impose a policy on which connec

[2022-11-08 06:48] shamil-gadelshin commented on #3048
I tried that. The issue stays. Sorry for the delayed response. I was going to debug it again and provide you with extensive feedback. I'm going to do it this week.

Thank you for your attention to this bug. I appreciate it.

[2022-11-08 08:21] thomaseizinger commented on #3048
Ah damn. Any chance you can provide a minimal example that produces the problem?

[2022-11-08 08:39] shamil-gadelshin commented on #3048
Sure. I will try again debugging my code to rule out a silly mistake and then try to reproduce the issue having the minimal setup.

[2022-11-08 10:32] umgefahren commented on #3068
I'm currently working on a PR to solve this issue. However, I have a small question: Solving this could remove the need for local spawns since FuturesUnordered could also be treated as an executor. I don't see any usages of local spawns besides being a fallback.

[2022-11-08 11:12] thomaseizinger commented on #3068
It doesn't quite work unfortunately.
 `FuturesUnordered` requires `&mut self` to spawn new futures and it needs to be polled to make progress. Both of these are not needed typically for the executors we are interested in.

[2022-11-08 13:17] umgefahren commented on #3068
I see, however, if there is an executor, there is no need for local spawns, right? So I could just construct an enum encapsulating the different cases.

[2022-11-08 13:38] thomaseizinger commented on #3068
That is correct. It is either one or the other :)

[2022-11-08 15:50] divagant-martian commented on #2824
The proposal would work very well for us and save a lot of time spent on disconnecting peers we were not interested in having in the first place :+1:

[2022-11-08 21:44] mxinden commented on #2824
I am in favor of getting rid of `IntoConnectionHandler` as in my eyes it adds a lot of complexity.

It would be wonderful to have a single mechanism only to create a new handler.

In my eyes this is the way to go. We also achieved consensus on this in https://github.com/libp2p/rust-libp2p/discussions/2118#discussioncomment-3134752.

[2022-11-09 02:21] thomaseizinger commented on #2824
I've put up a draft PR [here](https://github.com/libp2p/rust-libp2p/pull/3099) that aims to build the foundation for the above idea.

[2022-11-09 02:22] thomaseizinger commented on #2824
A note on this: From the other party's perspective, it is still a regular disconnect, it just happens automatically within the `Swarm`.

[2022-11-09 08:21] mxinden commented on #2824
We do still need a mechanism for a `NetworkBehaviour` to allow or deny pending inbound or outbound connections.

(In https://github.com/libp2p/rust-libp2p/pull/2828 that happens via new methods on `NetworkBehaviour`.)

[2022-11-09 08:56] Ma233 opened #3100 "The chat-tokio example is broken since v0.45.0"
## Summary

I tried chat-tokio example on `v0.44.0`, `v0.45.0` and `v0.49.0`. Only worked on `v0.44.0`.
It seems to be something wrong on mdns as this issue #2676 mentioned.

FYI, this is my system info:
[code]

## Expected behaviour

First setup some chat nodes by `cargo run --features="tcp-tokio mdns" --example chat-tokio`.
Then when you input some words in a node, the other nodes should receive

[2022-11-09 11:24] divagant-martian commented on #2824
@mxinden wouldn't it be enough making the new handler function fallible? I as I understand this is part of the proposal. Am I missing something?

[2022-11-09 12:30] thomaseizinger commented on #2824
Unless I am missing something, the only thing not possible with my proposal is blocking a new incoming connection _before_ the upgrade process is finished.

For any policy that purely operates on the number of connections, these upgrades would be wasted (plus they consume resources).

[2022-11-09 12:35] thomaseizinger commented on #2824
We could retain a prototype-based system where creating a handler is a two-step process for inbound connections:

- Replace `new_inbound_handler` with `on_new_pending_connection` that returns a `Result`.
- The `Ok` of said result is a handler prototype.
- The handler prototype has a fallible conversion into the actual handler.

The first failure point can be used for pending inbound connections be

[2022-11-09 15:22] divagant-martian commented on #2824
Right, that makes sense and would tackle both cases. Would that be reasonable to add to your current work @thomaseizinger or do you think it should be an effort for a second iteration?

[2022-11-09 18:01] SionoiS commented on #2632
Ok I'll recap the meeting let me know if I got anything wrong.

Bitswap is a flawed protocol, no amount of engineering can fix it. A working group has been assembled to build a new protocol.

A test plan could be made for go-bitswap <-> rust-bitswap but what would that accomplish?

A naive spec-compliant rust-bitswap would not interop well with go-bitswap because of it's idiosyncrasies.

A rust-li

[2022-11-09 18:16] b5 commented on #2632
dang, when you spell it out like that, sounds rough 😅 . I would add the context that this is _one team's view after having written an implementation_, but I'm on that team, and do hold this view.

it would accomplish at least one thing: It would test our team's assumptions & give a repeatable-ish context for analyzing failures.

fully agreed.

fully agreed.

I think the best thing for our communit

[2022-11-09 23:10] mxinden commented on #2824
But that second failure point needs some synchronization mechanism back to a single point of truth, likely living in the `NetworkBehaviour`, i.e. some central place e.g. counting the number of inbound connections.

Removing the `IntoConnectionHandler` indirection, adding a `NetworkBehaviour::on_pending_connection` and returning a `ConnectionHandler` via `NetworkBehaviour::new_handler` would resolv

[2022-11-09 23:37] thomaseizinger commented on #2824
Counting policies would use the first failure point, data driven policies like allow/ban lists would use the latter one.

List-based policies don't need synchronisation.

The argument for synchronisation with NB stems from it having more knowledge right? But a pending connection doesn't provide any information apart from the incoming multiaddress. This makes me think that policies that need to tak

[2022-11-10 00:38] ozwaldorf commented on #2590
Is there any more information on this? Currently having a similar issue with dcutr in a complex behavior. Using a modified libp2p-lookup with dcutr enabled, I can successfully holepunch with the example dcutr and relay server. But In my custom behavior, I get the following logs from a hole punch enabled lookup:

[code]

[2022-11-10 21:31] thomaseizinger opened #3107 "swarm: Deprecate `futures::executor::ThreadPool` usage for connection tasks"
## Description

Currently, the default executor for connection tasks is a dedicated thread-pool created within the `SwarmBuilder`. With https://github.com/libp2p/rust-libp2p/pull/3097, this is being made more explicit.

As a follow-up we should deprecate the use of `ThreadPool` entirely.

## Motivation

Users of `rust-libp2p` will need to use some kind of async executor. They should use one of the

[2022-11-10 23:37] thomaseizinger commented on #2883
**Changelog:**

Added link to https://github.com/kpp/rust-libp2p/pull/27#discussion_r1018147667 so we don't forget to refactor the TLS-config handling.

[2022-11-11 11:40] umgefahren opened #3109 "*: Deprecated lazy_static in favor of once_cell"
## Description

lazy_static is used 3 times in this project. It has some downsides and could be replaced with once_cell while improving compile time and, once once_cell is stable, reducing dependencies.

The priority is very low here. It might increase once once_cell is stable.

## Motivation

lazy_static is very widely used in the Rust community and is very battle-tested. However, it uses a proc_

[2022-11-11 13:22] shamil-gadelshin commented on #3048
Here is the minimal Kademlia setup that shows differences between `start_providing` and `put_record` or `get_closest_peers` . It's possible that I misuse the Kademlia API and I appreciate a hint @thomaseizinger

[2022-11-11 13:23] shamil-gadelshin commented on #3048
https://github.com/shamil-gadelshin/kad-example @thomaseizinger

[2022-11-11 20:10] thomaseizinger commented on #3109
I am in favor.

[2022-11-11 20:30] thomaseizinger commented on #3048
Thank you! I'll have a look!

[2022-11-12 01:40] thomaseizinger commented on #2657
I've been building something in https://github.com/libp2p/rust-libp2p/pull/2852.

There might still be a few rough edges and the documentation needs more work but I'd welcome feedback on the abstraction introduced there.

It introduces an abstraction for declaring `ConncetionHandler`s very easily. Those are in my view the biggest chunk of boilerplate when it comes to implementing custom `NetworkBe

[2022-11-13 02:05] thomaseizinger opened #3111 "Move all examples to a common location"
## Description

For reasons such as modularity, the `libp2p` library is divided into several sub-crates. Users however are expected to mostly interact with `libp2p` through the `libp2p` meta-crate.

Currently, we have two kinds of examples:

- Several examples showcasing the use of the `libp2p` crate: https://github.com/libp2p/rust-libp2p/tree/master/examples
- Examples in individual crates, showc

[2022-11-13 07:09] wvdji opened #3112 "examples/ping build errors"
error[E0432]: unresolved import `libp2p::ping`
  --> src/main.rs:26:24
   |
26 | use libp2p::{identity, ping, Multiaddr, PeerId};
   |                        ^^^^ no `ping` in the root

error[E0432]: unresolved import `libp2p_swarm`
  --> src/main.rs:27:5
   |
27 | use libp2p_swarm::keep_alive;
   |     ^^^^^^^^^^^^ use of undeclared crate or module `libp2p_swarm`

error[E0433]: failed to resolve:

[2022-11-13 15:41] umgefahren opened #3116 "meta: Unify how tests are written"
## Description

While going through a lot of tests in #3097 I discovered that pretty much every module has its way of testing. Meaning transports, Swarm creation, async runtime, and general patterns. Sometimes it was quite hard to understand the tests and/or replace the deprecated APIs. We should maybe agree on a standard way how to do testing, and maybe introduce a libp2p-test, to make tests more

[2022-11-13 15:46] umgefahren commented on #3112
Could you give a bit more context here? What exactly is the issue and could you give the complete code? From the first look of it you copy-and-pastet the ping example into a project of your own, but you forgot to enable the necessary features of libp2p and add the libp2p_swarm dependency.

[2022-11-13 16:51] mxinden commented on #3075
For the record, happening in https://github.com/libp2p/github-mgmt/pull/73/.

[2022-11-13 17:42] mxinden commented on #3116
Related: https://github.com/libp2p/rust-libp2p/pull/2888/

[2022-11-13 19:11] mxinden commented on #3054
No objections on my end.

I suggest updating https://github.com/libp2p/rust-libp2p/blob/master/docs/coding-guidelines.md accordingly and consider this the new convention once merged.

It does help me to quickly understand the context of a pull request. A couple of examples:

-  > Use Description for commit message #3082

    Which description? A simple `.github` would have helped.

- >  Avoid coll

[2022-11-13 20:00] dariusc93 commented on #3061
Should be easy to do with `NetworkBehaviour::inject_connection_closed` and others but I guess the question would be is there a use case where one would want to keep the list of peers that did once connect to the rendezvous node? I honestly cant think of any but like you said could probably be a configuration to allow the peer to remain on the list.

[2022-11-13 20:04] dariusc93 commented on #3112
I agree with @umgefahren, Although the errors dont provide much context, it only make me assume you didnt have all of the dependencies apart of your project as well as having the features enabled in your `Cargo.toml`.

[2022-11-13 21:23] thomaseizinger commented on #3075
Closing here because redundant, I didn't know about that code configuration at the time.

[2022-11-13 21:23] #3075 closed, assigned to nobody

[2022-11-13 21:30] thomaseizinger commented on #2824
Removing `IntoConnectionHandler` is proving difficult (see PR comments).

I am tempted to build a version of this that doesn't remove `IntoConnectionHandler` but makes the conversion fallible instead.

@divagant-martian Would that be sufficient for your usecase?

A connection management behaviour would have to create `ConnectionHandler` prototypes that have the necessary data embedded to make a de

[2022-11-13 21:44] thomaseizinger commented on #3061
Idle connections should be closed to not use unnecessary resources IMO.

Just because a peer disconnects from a rendezvous server doesn't mean that they stopped offering the registered service.

[2022-11-13 21:55] thomaseizinger commented on #3054
Where in that document would you like to see this documented?

I was thinking of enforcing this via mergify: https://github.com/libp2p/rust-libp2p/pull/3083

[2022-11-13 21:56] thomaseizinger commented on #3112
Related: https://github.com/libp2p/rust-libp2p/issues/3111

[2022-11-13 21:59] wvdji commented on #3112
Sorry, I'm new to Rust. Problem solved.

[2022-11-13 21:59] #3112 closed, assigned to nobody

[2022-11-13 22:01] thomaseizinger commented on #3116
Closing as a duplicate of #2884.

Let me know if #2884 doesn't cover everything. Happy to merge patches against #2888 to move it forward :)

[2022-11-13 22:01] #3116 closed, assigned to nobody

[2022-11-13 22:02] umgefahren commented on #3112
No problem

Part of the problem might be the fact that the ping example uses libp2p_swarm instead of libp2p.

[2022-11-14 04:24] #3109 closed, assigned to nobody

[2022-11-14 07:06] thomaseizinger commented on #2824
I put up a draft PR here for what this could look like: https://github.com/libp2p/rust-libp2p/pull/3118

[2022-11-14 08:33] mxinden commented on #3054
With https://github.com/libp2p/rust-libp2p/pull/3083 I don't think we need any documentation. Thanks for doing both of these.

[2022-11-14 10:38] mxinden commented on #2617
Wonderful work @vincev. Thanks for the elaborate `README.md`.

Yes. That would be great! Off the top of my head I am thinking of moving a version of https://github.com/vincev/wasm-p2p-chat into `misc/wasm-p2p-chat`. What do you think? @thomaseizinger any comments?