[2022-11-14 12:54] vincev commented on #2617
Thanks @mxinden I am glad you like it.

Sounds good to me, another option would be to have an examples folder for WASM browser apps that would include examples for Websocket and WebCRT but I guess that can be done later.

[2022-11-14 13:00] thomaseizinger commented on #2617
Could be an opportunity to move towards https://github.com/libp2p/rust-libp2p/issues/3111.

[2022-11-14 13:18] umgefahren commented on #3068
This issue is closed by #3097. Consider linking it.

[2022-11-14 18:01] TheRook opened #3120 "Wireless Mesh Networking for IoT wireless platforms; BTLE & LoRA (FruityMesh/Meshtastic)"
## Description

Provide better layer1 wireless mesh networking support to better intigrate Bluetooth Low Energy 'btle' and Long Range public transmission over LoRa and LoRaWAN.

## Motivation

An embedded device, or collection of IoT devices could use libp2p to communicate with other devices in the vicinity or connect to a device with internet access to access the global libp2p network.

## Requir

[2022-11-14 19:01] elenaf9 commented on #2883
**Changelog:**

- First QUIC implementation based on quinn proto is merged with #2289 :tada:. Updated Status Quo description.
- Add new task for support the `quic` codepoint / draft-29. #2289 only added support for `quic-v1`. See https://github.com/multiformats/multiaddr/issues/145.

[2022-11-14 22:47] jxs commented on #3100
@Ma233, did #3102 help with this?

[2022-11-15 00:16] thomaseizinger commented on #3068
Done!

[2022-11-15 03:28] thomaseizinger opened #3123 "swarm: Rename `NetworkBehaviourAction` to `ToSwarm`"
## Description

Similar to https://github.com/libp2p/rust-libp2p/issues/2854, what do people think of renaming `NetworkBehaviourAction` to `ToSwarm`?

## Motivation

Consistent naming of messages between our "actors".

## Current Implementation

The current naming is very inconsistent which makes things hard to understand.

## Are you planning to do it yourself in a pull request?

Maybe.

[2022-11-15 03:40] Ma233 commented on #3100
@jxs Yes, but still not work. I think it's now failed at:
[code]

<details><summary>Full Debug Output</summary>
<p>

[code]

</p>
</details>

[2022-11-15 04:23] thomaseizinger commented on #3024
It's been almost 3 weeks so I think we can move forward here! :)

@kckeiks Would you be open to expand https://github.com/libp2p/rust-libp2p/pull/3066 to all crates but with checking the generated code into VCS instead of generating it with a build script?

[2022-11-15 06:27] thomaseizinger commented on #3100
The connection is closed because it is idle. You need to either use the connection (send a message) or configure a permanent keep-alive (`keep_alive::Behaviour`).

[2022-11-15 08:37] thomaseizinger commented on #3046
Instead of passing the `Handler` along, how about we add a callback to `ConnectionHandler` where it can produce a final message that is then passed to the behaviour:

[code]

[2022-11-15 08:47] thomaseizinger opened #3124 "swarm: Remove `PollParameters`"
## Description

Remove the `PollParameters` trait.

- `local_peer_id` can be removed in favor of users having to pass it into their behaviour in the constructor.
- `external_addresses` can be built up from the `inject_new_external_addr` and `inject_expired_external_addr` callbacks.
- `listened_addresses` can be built up from the `inject_new_listen_addr` and `inject_expired_listen_addr` callbacks

[2022-11-15 08:50] thomaseizinger commented on #2824
I now have a fully working version of the current codebase without the `IntoConnectionHandler` abstraction: https://github.com/libp2p/rust-libp2p/pull/3099

I think this can be merged as an independent improvement. We can then later decide how we want to manage pending connections.

[2022-11-15 10:04] mxinden commented on #2590
@ozwaldorf can you post a larger snippet of your logs? The final line might indicate that an incoming connection did end up being established.

[2022-11-15 10:08] mxinden commented on #3111
The proposal sounds fine to me. I don't have a strong opinion here. I agree with adding the `priority:nicetohave` label here.

[2022-11-15 10:40] #3041 closed, assigned to nobody

[2022-11-15 13:02] ozwaldorf commented on #2590
That's actually it for the logs, no major events after. I configured the lookup client to wait for upgrade succeeded but it never comes and times out. The identify comes through but over the relayed connection (observed address is a peer id - the relay). I can run another test and capture the full debug log though

[2022-11-15 13:40] umgefahren commented on #3120
Isn't there already an effort for Bluetooth? #971 As far as I know we are currently limited on the technical site.

[2022-11-15 13:42] mxinden commented on #3123
I am in favor of a rename for the sake of consistency. I don't have a strong opinion on the name. `ToSwarm` sounds good to me.

[2022-11-15 13:50] umgefahren opened #3125 "*: Documentation for the master branch"
## Description

Some repositories host the latest build of the documentation on the repository. We should do that too.

## Motivation

While working on the project it's sometimes very useful to see the latest changes to the API before we ship them and without having to build them (which takes quite some time). It might also help us improve documentation between releases.

## Are you planning to do

[2022-11-15 13:59] mxinden commented on #3124
I am in favor of removing `PollParameters`.

I suggest similar to how we would communicate supported protocols of remote peers via https://github.com/libp2p/rust-libp2p/issues/2680, we can do the same for supported protocols of the local peer.

As an aside, the set of supported protocols can change at runtime. E.g. `libp2p-kad` with https://github.com/libp2p/rust-libp2p/issues/2032 will  only offe

[2022-11-15 14:26] #3068 closed, assigned to nobody

[2022-11-15 15:52] ozwaldorf commented on #2590
@mxinden the full debug log here: https://paste.sh/4gVP7Epl#5dMiXZjdC3lMBrdWsChm1l8W

Is it possible the upgrade is happening silently and the event is not produced? I was under the assumption it was just retaining the relay connection and using that

Maybe also, the identify I do get is on the relay and happens before the upgrade, and since its an existing connection I don't get a new identify ev

[2022-11-15 20:45] #2758 closed, assigned to nobody

[2022-11-15 22:28] thomaseizinger commented on #3124
In theory, it could be that one connection of a node is behind firewall or NAT and the other one isn't. For example, lets say I am listening on TCP and WebRTC connections but only the WebRTC one is port-forwarded.

This thought experiment suggests that we'd have to tell our behaviour the supported protocols PER connection. In a way, this would fit in well with https://github.com/libp2p/rust-libp2p

[2022-11-16 06:53] thomaseizinger commented on #3123
Hmm, I just realised that `ToSwarm` doesn't quite work because we also have a `NotifyHandler` variant in there.

[2022-11-16 15:12] mxinden commented on #3123
Given that the `NotifyHandler` event is passed through the `Swarm` one could argue that `ToSwarm` is still a valid name.

[2022-11-16 16:20] mxinden commented on #3124
While I am sure we will find this case in the wild, I would assume that it is rare. Thus I suggest not designing for it.

[2022-11-16 18:10] mxinden opened #3130 "protocols/kad/: Replace manual procedural state machines with async/await"
Reading and writing on inbound/outbound streams in `libp2p-kad` is implemented via hand written procedural / sequential state machines. This logic can be simplified by using Rust's async-await.

Manual state machines in `libp2p-kad`:

https://github.com/libp2p/rust-libp2p/blob/43fdfe27ea7b38fd38d84dae7ea51e9b713039cc/protocols/kad/src/handler.rs#L140-L163

Example of using async-await in `libp2p-d

[2022-11-16 19:16] rkuhn commented on #3124
My only (but important!) use-case for `supported_protocols` is that my Identify information going to remote hosts should accurately reflect my set of available protocols with that peer — I use that in multiple places to keep things compatible in a long-term fashion. So if we can enable a behaviour to obtain that list of protocols when an outbound substream is about to be opened, that would be enou

[2022-11-16 19:48] GlenDC commented on #3130
Please assign it to me @mxinden . I’ll look into it!

[2022-11-16 23:58] thomaseizinger commented on #3123
It even says in the documentation:

[2022-11-17 00:21] thomaseizinger commented on #3130
For reference, this is only possible for outbound streams. Inbound streams need to be able to be suspended to allow the behaviour to answer the incoming request.

[2022-11-17 05:23] geotro commented on #2883
I hope this is the right place to ask.

Is quic supported on relay-v2, and if not, what are the future plans regarding this?

[2022-11-17 08:30] elenaf9 commented on #2883
@geotro yes it is supported. You can combine them in the same manner as it is done here with tcp and quic:
https://github.com/libp2p/rust-libp2p/blob/a7148648858fe10e9ba4c2793c7e12392b49c0ab/transports/quic/tests/smoke.rs#L118-L136

and either replace the `tcp_transport` with your relay transport, or if you'd like to support tcp as well you have to combine (`OrTransport`) tcp and relay and then do

[2022-11-17 09:26] elenaf9 opened #3133 "quic: Add support for `quic` codepoint , interpreted as QUIC version draft-29"
## Description

The QUIC transport currently only supports the `quic-v1` codepoint in multiaddresses. This codepoint was recently added to represent QUIC version 1 / RFC 9000, whereas the previous codepoint `quic` should be interpreted as QUIC version draft-29. See multiformats/multiaddr#145.

`quinn` supports the versions draft-29..34 and version 1. On the server side this means that our users co

[2022-11-17 09:27] elenaf9 commented on #2883
**Changelog**
- Add link to libp2p/rust-libp2p#3133

[2022-11-17 09:28] #2832 closed, assigned to nobody

[2022-11-17 09:50] marten-seemann commented on #3133
I must have missed that in code review, I would've expected that draft-29 is disabled by default.

go-libp2p v0.24.0, to be released next week, will include support for the new code point. This will most likely ship in the December kubo release. The only reason we're still supporting draft-29 is that we don't want to cause a regression in go-libp2p.

[2022-11-17 11:07] rkuhn commented on #3130
Allowing suspension is the sole point of `.await`, so in principle this could be embedded in the same paradigm.

[2022-11-17 11:51] thomaseizinger commented on #3130
If Rust would have native generators, then yeah we would likely be able to use that and resume the suspension with arbitrary data.

Until then we are stuck with channels or hand-rolled state machines.

[2022-11-17 12:07] rkuhn commented on #3130
Well, Rust has native generators, they’re just exposed without the `yield` keyword. Fortunately, that can rather easily be implemented in terms of `.await`, cf. [genawaiter](https://docs.rs/genawaiter/latest/src/genawaiter/core.rs.html). I’ve been using this for quite a while, works nicely and without any issues (I don’t use any of the macros, don’t need them).

[2022-11-17 13:43] dariusc93 commented on #3133
I think it make more sense to add support for it for now since a large amount of peers would be go-libp2p nodes, which would already have support for draft-29.

[2022-11-17 14:02] John-LittleBearLabs commented on #2745
I'm considering implementing this as a [Histogram](https://docs.rs/prometheus-client/0.18.0/prometheus_client/metrics/histogram/struct.Histogram.html), but if so I'll need to come up with buckets - basically I'll need to know the resolution we're interested in.

Since we're talking about networking, I'm guessing somewhere on the order of magnitude of ms or perhaps 10s of ms?

[2022-11-17 17:10] mxinden commented on #3130
Please post here once you started working on it. I will then assign you. Until then, in case someone else races you to it, great. We will have it done sooner and we will find another cool task for you. Sounds good?

[2022-11-17 17:17] mxinden commented on #2745
We can experiment with this over time. I suggest using [`exponential_buckets`](https://docs.rs/prometheus-client/0.18.1/prometheus_client/metrics/histogram/fn.exponential_buckets.html). Something along the lines of:

[code]

[2022-11-17 17:19] #3080 closed, assigned to jxs

[2022-11-17 17:36] mxinden commented on #3133
I don't have a strong opinion here. I do see the benefit of it for @dariusc93 (https://github.com/dariusc93/rust-ipfs) and @dignifiedquire (https://github.com/n0-computer/iroh) and potentially @divagant-martian (https://github.com/sigp/lighthouse). That said, they can still connect via TCP.

@marten-seemann are there any technical downsides (e.g. security vulnerabilities) to supporting draft-29?

[2022-11-17 17:52] mxinden opened #3135 "feat(swarm): expose duration of a connection"
## Description

Expose the duration a connection was alive.

I would assume the easiest way to expose this is via `SwarmEvent::ConnectionClosed`.

https://github.com/libp2p/rust-libp2p/blob/7803524a76fb52817b00bcb61544be3a1a317ebd/swarm/src/lib.rs#L195-L207

## Motivation

Needed for monitoring purposes, e.g. to be exposed to Prometheus via libp2p-metrics.

## Current Implementation

## Are you pl

[2022-11-18 00:22] github-actions[bot] opened #3136 "RUSTSEC-2021-0060: `aes-soft` has been merged into the `aes` crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `aes-soft`                      |
| Version             | `0.6.4`                   |
| URL                 | [https://github.com/RustCrypto/block-ciphers/pull/200](https://git

[2022-11-18 00:22] github-actions[bot] opened #3137 "RUSTSEC-2021-0059: `aesni` has been merged into the `aes` crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `aesni`                      |
| Version             | `0.10.0`                   |
| URL                 | [https://github.com/RustCrypto/block-ciphers/pull/200](https://githu

[2022-11-18 00:22] github-actions[bot] opened #3138 "RUSTSEC-2021-0064: `cpuid-bool` has been renamed to `cpufeatures`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `cpuid-bool`                      |
| Version             | `0.2.0`                   |
| URL                 | [https://github.com/RustCrypto/utils/pull/381](https://github.co

[2022-11-18 06:15] hanabi1224 opened #3140 "Swarm: add `fn ban_peer_id_with_duration`"
## Description

Currently [`ban_peer_id`](https://docs.rs/libp2p/latest/libp2p/struct.Swarm.html#method.ban_peer_id) bans a peer for the entire lifetime of the swarm unless `unban_peer_id` is called.  It would be great to have another `ban_peer_id_with_duration` API that automatically unbans the peer after the specific duration.

## Motivation

The peers being banned may "correct" their behavior a

[2022-11-18 06:46] thomaseizinger commented on #3135
I've been wondering, would it make more sense to implement a `NetworkBehaviour` that captures the metrics that we are currently capturing via `SwarmEvent`s?

I think that might be easier to integrate compared to hooking into their event loop.

[2022-11-18 06:51] thomaseizinger opened #3141 "`libp2p-webrtc` is already claimed on crates.io"
It seems like @wngr has been developing a WebRTC transport too and published it on crates.io. We either need to rename our crate or talk to @wngr whether they would transfer the name to us :)

cc @melekes @mxinden

[2022-11-18 10:49] mxinden commented on #3141
A bit of background for you @wngr:

Over the last couple of months we have been working on a WebRTC transport for libp2p. The [specification](https://github.com/libp2p/specs/blob/master/webrtc/README.md) gives a good overview. There is an implementation in Rust (https://github.com/libp2p/rust-libp2p/pull/2622, about to be released), Go (https://github.com/libp2p/go-libp2p/pull/1655) and JS (https:

[2022-11-18 11:04] #2951 closed, assigned to nobody

[2022-11-18 12:09] mxinden commented on #3135
Good thought @thomaseizinger! I think this would be significantly less intrusive than the current approach.

How would one capture events from other `NetworkBehaviour` implementations? Would one `derive` `NetworkBehaviour` for the set of `NetworkBehaviour`'s and then wrap that derived `NetworkBehaviour` in a metrics `NetworkBehaviour`?

Something along the lines of:

[code]

I would guess that thi

[2022-11-18 12:12] mxinden commented on #3140
If I am not mistaken, you can already achieve this behavior by calling `unban_peer_id` on `Swarm` once an external timer fired.

Unless there is a majority of users that would need this feature, I would advocate for this to live outside of rust-libp2p as described above.

Long term I advocate for making most of the connection management generic. See #2824.

[2022-11-18 12:22] umgefahren commented on #3138
This issue roots, like #3137 and #3136, in an old version of aes/aes-gcm used by various webrtc subcrates. They in turn seem to have blocking issues with curve25519-dalek and x25519-dalek. Linking their issue here: webrtc-rs/webrtc#104. Until they resolve there issue there is not much we can do here sadly.

[2022-11-18 12:58] wngr commented on #3141
No worries. Let me know who I should transfer it to.

[2022-11-18 13:25] thomaseizinger commented on #3135
Either a wrapper as you said or we add metrics to the individual behaviours.

[2022-11-18 14:12] dignifiedquire commented on #3133
From my side I agree it would be useful to have support for dialing at least, but it is not super critical for iroh, as we can happily continue using tcp for older nodes and I assume the large deployments will update fairly quic(k)ly.

[2022-11-18 16:13] mxinden opened #3143 "examples: Add example combining dns + tcp + quic + relay"
## Description

Combining these is tricky. I think we should have an example on how to combine them.

## Motivation

Helps users getting started.

## Requirements

## Open questions

## Are you planning to do it yourself in a pull request?

No

[2022-11-18 16:39] dariusc93 commented on #3143
Although i do need to test quic with relay again, this should be pretty easy to do assuming the way I been doing it is correct. Would be helpful for anybody getting familiar with it and maybe even go as far as testing it with dcutr

[2022-11-18 18:56] mxinden opened #3144 "transports/quic: `STOP_SENDING` fails `poll_close`"
## Summary

Receiving a `STOP_SENDING` makes `poll_close` fail. This is problematic in `libp2p-identify` where a node expects to be able to close its write side before reading.

## Expected behaviour

`libp2p-identify` should successfully exchange identify information.

## Actual behaviour

Say that node A and B connected. A opens a `libp2p-identify` stream to B. A expects B to send its identify i

[2022-11-18 18:58] mxinden commented on #3144
@MarcoPolo this reminds me of a conversation we had around https://github.com/libp2p/specs/pull/473 and stream close behavior related to the ping protocol. You might have an opinion here.

[2022-11-18 19:23] thomaseizinger commented on #3143
Note that dcutr together with QUIC is not yet supported. See "long term": https://github.com/libp2p/rust-libp2p/issues/2883

[2022-11-18 19:39] dariusc93 commented on #3143
Thanks for that. That does explain alot in earlier testing

[2022-11-18 19:43] thomaseizinger commented on #3130
Yeah, I am familiar with genawaiter. It is a nice library :)

It would be interesting to toy around with it to build something like [`from_fn`](https://github.com/libp2p/rust-libp2p/pull/2852). I am not sure it is necessarily better to suspend the stream to ask for more data instead of forcing the user to gather the data ahead of time.

I think the former is more verbose (need to model the data re

[2022-11-18 21:14] thomaseizinger commented on #3144
Can we replicate this problem with a failing test in the stream muxer test harness?

[2022-11-19 05:59] geotro commented on #2883
@elenaf9 it helps a bit, but I was hoping that once QUIC is implemented to be able to do UDP, as well as DCUTR.

Why are you referring to TCP in the context of QUIC?

I understand DCUTR with QUIC is not yet supported so I'll have to wait until that works before I retry it.

[2022-11-19 07:25] thomaseizinger commented on #3133
I am in the same camp.

[2022-11-19 08:13] mxinden commented on #3144
Good idea. I will take a look.

This might not work when using `multistream-select` with `V1Lazy` as the `multistream-select` payload might not yet been flushed and thus not yet send to the remote. This might only happen with the close and the thus implied flush. Instead of closing first, we could only flush in `libp2p-identify`, though that would imply that upper layer protocols (`libp2p-identify

[2022-11-19 11:42] mxinden opened #3145 "transports/webrtc: Test `StreamMuxer` implementation with test harness"
## Description

We should be testing the new WebRTC transport `StreamMuxer` implementation with the (shiny) [`muxers/test-harness`](https://github.com/libp2p/rust-libp2p/tree/master/muxers/test-harness) tests.

https://github.com/libp2p/rust-libp2p/tree/master/muxers/test-harness

## Motivation

Make sure the behavior of our muxers is consistent.

## Are you planning to do it yourself in a pull re

[2022-11-19 12:24] mxinden commented on #3141
:pray: thanks @wngr. I have sent you an email.

[2022-11-19 13:23] dignifiedquire opened #3147 "Unable to get tokio-mdns to discover peers on the same machine"
I am currently trying to make iroh discover other nodes via MDNS, see https://github.com/n0-computer/iroh/pull/529.
After upgrading to the latest `master` I am still not able to discover any peers on the same machine using tokio-mdns. They boot up and report sending listening and sending queries, but no peers are ever discovered.

Some additional observations
- The mdns passive discovery example,

[2022-11-19 15:12] rkuhn commented on #3147
Ah yes, I saw that this week with ipfs-embed but didn’t have time to investigate. Perhaps it is time for some weekend wiresharking …

[2022-11-19 15:14] dignifiedquire commented on #3147
Got it to work, it was my own fault. The nodes had the same identity, which is why they ended up ignoring each other.

[2022-11-19 15:14] #3147 closed, assigned to nobody

[2022-11-19 15:36] rkuhn commented on #3147
Hmm, then my problem was yet another one …

[2022-11-21 11:33] elenaf9 commented on #2883
I was referring to TCP to point out how you could support both TCP and QUIC together with the relay-v2 protocol. But TCP is not required, you may as well just combine QUIC and relay-v2.

[2022-11-21 12:43] geotro commented on #2883
Ah OK, thank you for clarifying this!

My use case requires DCUTR so I'm going to have to wait until this is available together with QUIC before I can begin testing/using it.  Very much looking forward to this as I hope it's going to greatly improve the success rates of establishing a direct connection!

[2022-11-21 13:00] shamil-gadelshin commented on #3048
a friendly ping @thomaseizinger Did you have a chance to look at the kad-example project? Does it reproduce the error?

[2022-11-21 15:13] #3140 closed, assigned to nobody

[2022-11-21 21:21] thomaseizinger commented on #3048
Sorry, I haven't yet but I'll do so today!

[2022-11-21 22:03] thomaseizinger commented on #3124
Yes. I think that is the right way to think about it. Because `ConnectionHandler`s end up deciding about the protocols they use / offer to the other party, we should scope the supported protocols by peer as well.

At the moment, a `ConnectionHandler` may decide to produce a different protocol for different substreams.

This makes it difficult to accurately cache this information. We'd almost have

[2022-11-21 23:51] thomaseizinger commented on #3048
Okay, I figured out what I think the issue is.

As per the spec, outbound substreams may be reused. Our implementation never does that (we only send 1 request per substream) but our inbound streams wait for additional messages on that stream and thus fill up the buffer.

There seems to be a bug where the implementation for the inbound stream does not detect that the other side closed the stream an

[2022-11-22 00:28] thomaseizinger commented on #3048
Damn, that is not the issue ...

[2022-11-22 00:49] thomaseizinger commented on #3048
Okay, I have a fix.

The issue was that we had substream that were waiting for a response from the behaviour even though for `AddProvider`, there is no response. So instead of actually reusing the substeam, the substream was in `WaitingUser` state but that one never got answered.,

[2022-11-22 05:40] thomaseizinger commented on #3048
I opened a fix here: https://github.com/libp2p/rust-libp2p/pull/3152

With this patch, the example you provided no longer issues the warnings. Thanks for providing that example, it was really helpful in the debugging process!

[2022-11-22 08:42] shamil-gadelshin commented on #3048
I will test the fix in the test project and in our main project as well. Thanks a lot!

[2022-11-22 14:00] melekes opened #3157 "[transports/webrtc] Record total number of bytes sent / received in UDPMuxNewAddr"
## Description

so the last thing which stops me from releasing webrtc in Substrate (blockchain framework) is bandwidth calculation. The way it's commonly done for other libp2p transports is wrapping Transport with https://docs.rs/libp2p/latest/libp2p/bandwidth/struct.BandwidthLogging.html, which basically records number of bytes written / read across all streams.

BUT the problem with webrtc Tran

[2022-11-22 23:33] thomaseizinger commented on #3135
Something like the following could work:

[code]

Instead of `Deref` we could also offer an `inner_mut()` function but that might be a bit verbose. It would be nice if the `RecordBehaviour` is in invisible layer on top.

[2022-11-23 00:51] #2971 closed, assigned to nobody

[2022-11-23 05:03] melekes commented on #3157
Also I don't think it's possible to wrap Transport which does multiplexing (webrtc / quic) with https://docs.rs/libp2p/latest/libp2p/bandwidth/struct.BandwidthLogging.html. Solution seems to be return it along with `new` (or add a new method `new_with_bandwidth`). BUT if webrtc returns `Arc<BandwidthSinks>` then how do I combine it with previous instance of BandwidthSinks coming from wrapped TCP t

[2022-11-23 06:06] thomaseizinger commented on #3157
Yes. Additionally, both of these are UDP-based which means we don't have a stream that we can wrap. All data that is sent is sent as datagrams.

I wish we would be able to do this but it requires specialization:

[code]

[2022-11-23 06:48] thomaseizinger commented on #3157
I think I found a solution. See #3161.

[2022-11-23 12:32] rkuhn commented on #3124
Yes, that sounds good (if my understanding is correct): `ConnectionHandler` is interrogated for supported protocols at start of connection and can update its contribution by emitting an event, and that (updated) set is available to all sub-handlers of the same connection (by some means TBD). Is that what you meant?

[2022-11-23 13:19] thomaseizinger commented on #3124
I wouldn't make the supported protocols available to the other handlers but report it back to the behaviour via a (newly introduced) `FromConnection` event:

[code]

Protocols are specific to a connection so I don't think other connections need to know about them. A behaviour can always forward it though if really needed.

The only thing I don't really like about this design is that a `ConnectionH

[2022-11-23 13:54] mxinden commented on #3141
I am now an owner of the repository. Thanks @thomaseizinger for catching this early. Thanks @wngr for transferring ownership.

[2022-11-23 13:54] #3141 closed, assigned to nobody

[2022-11-23 16:43] elenaf9 commented on #3144
Thanks for the detailed report and proposing solutions @mxinden!

I was able to reproduce this bug with this test: https://github.com/elenaf9/rust-libp2p/blob/826f3f6ae3bf6ad0a4df16776e110b23fa12fced/transports/quic/tests/smoke.rs#L215-L230 (not using the stream muxer harness right now but happy to add it there in a different PR).

But isn't the problem that we drop the stream **before** the remot

[2022-11-23 17:28] elenaf9 commented on #3133
Friendly ping @marten-seemann. Unless there are major downsides in supporting draft-29 I'll move forward with #3151, adding opt-in support for draft-29.

[2022-11-23 17:31] mxinden commented on #3144
Thank you!

Agreed. This is orthogonal. (In my case the two were racing each other.)

I connected to kademlia-exporter.max-inden.de/ (QUIC server) via my laptop using https://github.com/mxinden/libp2p-lookup (QUIC client). I would consider this a  real world scenario and would expect others to see similar behavior when using `libp2p-quic`.

Ah, good point. Never mind then. (I think still relevant

[2022-11-23 17:46] #3048 closed, assigned to thomaseizinger

[2022-11-23 19:32] #3054 closed, assigned to nobody

[2022-11-23 20:33] thomaseizinger commented on #3144
Thanks and yes please :)

[2022-11-23 20:41] thomaseizinger commented on #2745
Thinking out loud: If we had a callback on behaviours for pending connections, this could be tracked in a behaviour with tracking the time inside `Swarm`.

[2022-11-24 08:44] mxinden commented on #3157
When tracking ingress and egress, one has to count on a specific level, e.g. on the IP layer, the transport layer, the application layer, ... I would boldly state that none of them are correct (as you can always drill deeper), but some are useful / intuitive.

https://github.com/libp2p/rust-libp2p/pull/3161 and https://github.com/libp2p/rust-libp2p/pull/3162 count at the Transport layer, i.e. byte

[2022-11-24 09:30] rkuhn commented on #3124
My question was not about other connections, it was specifically about `handler::either::Either`: given an `Either<A, B>`, what I’m asking is how B will learn of the protocols supported by A so that it can correctly advertise them (in case this is B’s core reponsibility, like B=Identify).

---

Regarding the Update mechanism: changes will be much less frequent (as witnessed by currently known prot

[2022-11-24 09:37] mxinden commented on #3144
https://github.com/libp2p/rust-libp2p/pull/3163#issuecomment-1326126388

Are you still exploring potential fixes, or do you already have a fix in mind?

[2022-11-24 09:49] elenaf9 commented on #3144
I think I have it fixed; writing tests right now to confirm. But your proposed solution  _2. Don't send a `STOP_SENDING` on `DROP` IFF the remote already closed the write side._ may be the fix after all. Will explain in the PR why (if the tests pass now).

[2022-11-25 09:05] #3144 closed, assigned to elenaf9

[2022-11-25 10:41] jxs commented on #3054
with https://github.com/libp2p/rust-libp2p/pull/3165 should we re-think adding documentation?

[2022-11-25 13:14] jxs commented on #2933
fixed with #2995

[2022-11-25 13:14] #2933 closed, assigned to nobody

[2022-11-25 16:23] umgefahren opened #3169 "protocols/kad: Add double hasing for privacy to libp2p-kad"
## Description

To improve privacy during kademlia lookups it was proposed to add double hashing support to kad. The following part of [the notion](https://pl-strflt.notion.site/Double-Hashing-for-Privacy-ff44e3156ce040579289996fec9af609) describes the changes pretty well:

#### Now

1. Client sends `Req(CID)` to DHT server nodes
2. DHT server nodes lookup if one of their provider records matches

[2022-11-25 20:03] thomaseizinger commented on #3054
I'd suggest to use GitHub actions instead. There should be plenty of them out there that either directly validate conventional commits or let you define a regex for the title.

Worst case we use bash :)

[2022-11-25 22:09] jxs commented on #2885
@thomaseizinger could you shed some light on how you envisioned passing the observed address from `Behaviour` to `Handler` ?

I can't really see where to do that as `Behaviour::new_handler()` doesn't have access to the `MultiAddress`.
Meanwhile I started implementing this using `NetworkBehaviourAction::NotifyHandler` to pass the `MultiAddress` and the `Substream` to the `Handler`, but it doesn't s

[2022-11-26 03:04] thomaseizinger commented on #2885
You need to implement `IntoConnectionHandler` instead of `ConnectionHandler`. That will give you access to the `ConnectedPoint`.

[2022-11-26 07:56] efarg opened #3171 "swarm/src/handler/multi.rs: `MultiHandler` isn't used anywhere inside rust-libp2p. Maybe get rid of it?"
## Description

Currently `MultiHandler` isn't used anywhere inside the project. Is it possible to remove or modify it?

## Motivation

* `MultiHandler` violates the guideline of not implementing `UpgradeInfoSend`, `OutboundUpgradeSend`, and `InboundUpgradeSend` mentioned in `swarm/src/upgrade.rs`. See comment: https://github.com/libp2p/rust-libp2p/pull/2966#issuecomment-1314476317

* It's a hurdl

[2022-11-26 16:42] jxs commented on #2885
right, thanks Thomas. What about `listen_addresses` and `supported_protocols` needed to create the Identify `Info`?
We only get them from `PollParameters` on `NetworkBehaviour::poll` not `ConnectionHandler:poll` and we need  .
This maybe also affects the development https://github.com/libp2p/rust-libp2p/pull/3153.

[2022-11-26 20:18] thomaseizinger commented on #2885
I think you will need to store those in the `NetworkBehaviour` and pass them on in `new_handler`.

A couple of refactorings coming in will affect this but overall, this should still work I believe!

[2022-11-26 21:30] thomaseizinger commented on #3171
`MultiHandler` has been here ever since I started working on `rust-libp2p` but I personally never had a use for it.

@mxinden Do you know of any users?

[2022-11-27 18:46] mxinden commented on #3171
It is used in Substrate.

https://github.com/paritytech/substrate/blob/a92005a5092ebe6a636c96dcae814f9a378f5940/client/network/src/request_responses.rs#L49

I still need to read up on the above. Thanks @efarg for the detailed issue.

[2022-11-27 22:48] thomaseizinger commented on #3171
Okay, thanks for the insight. I think I already know how to fix the issue in #2966.

@efarg Did you push all your code? Then I might just push a quick patch on top fixing `MultiHandler`.

[2022-11-28 06:32] efarg commented on #3171
@thomaseizinger yes, the code that would give the multihandler error is all here https://github.com/efarg/rust-libp2p/tree/2966

[2022-11-28 09:32] mxinden opened #3172 "fix: Unused symbols when compiling without features"
## Summary

When compiling `libp2p-core`, `libp2p-mdns` and `libp2p-quic` without features we get the following warnings:

[code]

[code]

[code]

## Expected behaviour

No warnings.

## Would you like to work on fixing this bug?

No

[2022-11-28 13:18] joao-paulo-parity opened #3176 "Unable to use libp2p 0.49.0 plus libp2p-swarm-derive while publishing a library"
## Summary

When trying to publish **a library** which uses `libp2p 0.49.0` and `libp2p-swarm-derive`, Cargo will pick  `libp2p-swarm-derive 0.30.2`, which is incompatible with `libp2p 0.49.0`. ~It should instead pick `libp2p-swarm-derive 0.30.1`, but it doesn't do that even though the version is set to `0.31.0` in the `Cargo.toml` of `libp2p 0.49.0`.~ EDIT: Not actually true, see https://github.c

[2022-11-28 14:07] dvdplm commented on #3176
Even if the entry uses `=0.30.1` to specify the exact patch version?

Can we yank `0.30.2` and publish it as `0.31.0` instead? @mxinden ?

[2022-11-28 14:25] joao-paulo-parity commented on #3176
Yes, the Cargo.toml of `libp2p 0.49.0` has the exact version. You can verify this locally:

[code]

`cargo` still tries to use `0.30.2` all the same ¯\\\_(ツ)\_/¯

[2022-11-29 01:12] melekes commented on #3157
From the perspective of libp2p user, I don't have a strong opinion. If counting only the goodput results in a good abstraction, I think we should go for it!

From the perspective of webrtc-rs dev, it would be good to measure / know the overhead of webrtc proto, but that's a different topic (and doesn't belong to this repo anyway).

[2022-11-29 02:52] thomaseizinger commented on #3176
Your manifest doesn't have the exact version. What you specified is actually a version range. "0.30.1" is equivalent to "^0.30.1" for cargo and means "any compatible version from '0.30.1' upwards", hence also every patch version. To pin a version you need to use `=`:

[code]

Nevertheless, you are right that the version bump was incorrect. https://github.com/libp2p/rust-libp2p/pull/3011 was actual

[2022-11-29 03:53] thomaseizinger commented on #3157
I don't mind much where we attach the logging. If it works for users that we only log application traffic, then this will obviously make our life easier because we get away with a single abstraction.

[2022-11-29 08:27] mxinden commented on #3176
My bad! Thanks @joao-paulo-parity for reporting this. See https://github.com/libp2p/rust-libp2p/pull/3178 as a first step.

[2022-11-29 10:19] joao-paulo-parity commented on #3176
I didn't know this. Thanks for the explanatoin.

Using `=0.30.1` I was able to work around https://github.com/joao-paulo-parity/libp2p-troubleshoot. I'll see if that also works in another project which is affected by this. After `0.30.2` is yanked I can revert that patch and try again.

[2022-11-29 15:44] esotericbyte commented on #2607
Looking back I am beguiled by how to debug multi-node issues like this in libp2p or an app where the network infrastructure like routers is involved. I probably should have asked about it sooner.  Are there docs on how to set up automated testing or is it necessary to recruit machines?

[2022-11-29 17:40] mxinden commented on #3176
- Released the new version through https://github.com/libp2p/rust-libp2p/pull/3178
- Yanked `libp2p-swarm-derive` `v0.30.2`

Why would that be needed @thomaseizinger? I would hope that those that tried to update their `libp2p` `v0.49.0` based app to `libp2p-swarm-derive` `v0.30.2` never actually did (compilation failure) and thus there is no need to cut `libp2p-swarm-derive` `v0.30.3`. Am I missin

[2022-11-29 20:10] joao-paulo-parity commented on #3176
I can confirm that the problem is fixed after `0.30.2` was yanked. Thanks! Feel free to close the ticket whenever

[2022-11-29 22:40] thomaseizinger commented on #3176
It is not strictly needed, yes. It is possible to depend on a yanked version by using either `=` or `0.30.2`. The latter case will never compile again unless we release a `0.30.3`.

It is highly unlikely in our case I think so we don't need to do it :)

[2022-11-30 00:54] Firaenix opened #3179 "Unable to use QUIC Transport with SwarmBuilder"
## Summary
Following the example at https://docs.rs/libp2p/latest/libp2p/quic/index.html, I tried to use the QUIC transport to create a Swarm object. However
Example code:
![image](https://user-images.githubusercontent.com/8898038/204680756-0acf678c-f1cf-4833-9d85-d94830d0002c.png)

## Expected behaviour
I would expect the quic::Connection struct (Which implements StreamMuxer) to be boxed up and a

[2022-11-30 06:57] thomaseizinger commented on #3179
For the time being, you need to box up the `Connection` object yourself. See the tests on how to: https://github.com/libp2p/rust-libp2p/blob/be0b62a78fe9d72811b9eda742137cc8ddc4da35/transports/quic/tests/smoke.rs#L310-L319

[2022-11-30 09:47] melekes commented on #3157
@tomaka any thoughts on https://github.com/libp2p/rust-libp2p/issues/3157#issuecomment-1326126621?

[2022-11-30 10:12] tomaka commented on #3157
It's what I've mentioned in another issue or PR: I think that building the bandwidth measurement on top of the `StreamMuxer` is better, as it's more "orthogonal" to the transport and also reusable for example for QUIC.

And from a point of view of libp2p user I don't care that much about missing some bytes. I would have a different opinion if the bandwidth measurement of TCP was exact, because tha

[2022-11-30 14:44] mxinden commented on #3124
On start-up the `Swarm` would call `NetworkBehaviour::new_handler` and call `ConnectionHandler::listen_protocol` and then extract the supported protocols @thomaseizinger?

[2022-11-30 20:46] thomaseizinger commented on #3124
`new_handler` would only be called on the first connection, not at start-up.

But yes, `listen_protocol` would be called once the connection is established.

Perhaps instead of producing an update, the handler could produce an event that just invalidates the "cache" for the supported protocols. A connection would then inquire again about the supported protocols via `listen_protocol`.

[2022-11-30 20:51] thomaseizinger commented on #3124
Instead of treating it as a cache, we could also call `listen_protocol` after each update to the handler.

We would need some kind of diffing strategy to not emit updates about unchanged protocols to the behaviour.

Ideally, before we do that, we already got rid of the "upgrade" notation to have `listen_protocol` only return the protocol string.