[2017-10-04 08:57] folsen opened #10 "Implement Multistream-select"
See: https://github.com/multiformats/multistream

[2017-10-04 09:08] folsen opened #13 "Implement top-level Node or "Host""
This is what brings it all together into a nice usable format.

See: https://github.com/libp2p/go-libp2p/tree/master/examples/libp2p-host

[2017-11-09 15:20] #10 closed, assigned to folsen, tomaka

[2018-11-05 15:30] #13 closed, assigned to nobody

[2021-10-01 19:01] mxinden opened #2259 "core/src/peer_id: Support and output peer IDs as CIDs (RFC 0001)"
rust-libp2p should implement [RFC 0001](https://github.com/libp2p/specs/blob/master/RFC/0001-text-peerid-cid.md).

Tracking issue: https://github.com/libp2p/specs/issues/216

Also tackle:

https://github.com/libp2p/rust-libp2p/blob/9f331e517f524dd112bf9e12b26d9dfae9162022/protocols/kad/src/protocol.rs#L102-L104

[2021-10-03 16:02] pawelradtke-sage opened #2263 "Add more examples of getting and putting records in the IPFS DHT"
Hi,

The [ipfs-kad.rs](https://github.com/libp2p/rust-libp2p/blob/master/examples/ipfs-kad.rs) only demonstrates one operation (find closest peers) on the IPFS DHT. I think it would be useful to go a bit further and demonstrate how to read/write PK or IPNS records.

I'm willing to contribute an example file similar to these in the `./examples` folder, [but I myself need to be shown how perform the

[2021-10-05 23:35] JerryHue commented on #2259
@mxinden, I have spent a few hours reading over the several documents related to this.

Would it be okay for me to work on this issue with some guidance?

[2021-10-06 09:43] gilescope opened #2273 "Can we get a new version pushed to crates.io please?"
The latest code doesn't depend on the deprecated https://crates.io/crates/cpuid-bool/0.1.2 crate any more (thanks to soketto 0.7 upgrading their sha-1 crate).

[2021-10-06 15:04] mxinden opened #2276 "core/src/connection/listeners: Use FuturesUnordered instead of VecDeque"
https://github.com/libp2p/rust-libp2p/blob/937b59de8946eb3773e292691dac4e5f3e081706/core/src/connection/listeners.rs#L87-L90

I think we should really use a `FuturesUnordered` here.

https://docs.rs/futures/0.3.17/futures/stream/struct.FuturesUnordered.html

[2021-10-06 16:44] mxinden commented on #2259
Hi @JerryHue,

Yes for sure. Your help would be very much appreciated.

:+1: I don't know how familiar you are with the stack. Feel free to post questions here or via mail. Note that there is [a CID implementation in Rust](https://github.com/multiformats/rust-cid).

[2021-10-06 20:20] thomaseizinger commented on #2276
I've had good experiences with `FuturesUnordered`. The only pitfall to watch out for is that it must never get empty if you want to push to it again.

Hence I like to initialize it with `future::pending()` for cases like this where it is held permanently as a field rather than used as part of `collect`.

[2021-10-07 08:33] tomaka opened #2280 "/p2p/... suffix found when calling libp2p_kad::Kademlia::addresses_of_peer"
I unfortunately can't find the corresponding PR, but [since libp2p-core 0.28.0](https://github.com/libp2p/rust-libp2p/blob/master/core/CHANGELOG.md#0280-2021-03-17) we now pass a `/p2p/...` suffix when calling `Transport::dial`.

Unfortunately, this leads libp2p-kad to insert addresses with `/p2p/` in its routing table, here: https://github.com/libp2p/rust-libp2p/blob/937b59de8946eb3773e292691dac4

[2021-10-07 08:37] tomaka commented on #2280
I would add that in my opinion it doesn't make sense for `ConnectedPoint::Dialing` to contain a multiaddr with a `/p2p/` suffix, as this information is already always given by the context. You never have a `ConnectedPoint` alone, you always have one associated with a `PeerId`. This redundant `/p2p/...` just brings confusion.

[2021-10-07 14:50] mxinden commented on #2273
Happy to cut a new release, though `master` branch is currently broken (see https://github.com/libp2p/rust-libp2p/issues/2242). That will be fixed with https://github.com/libp2p/rust-libp2p/pull/2248.

My plan thus far was to wait for https://github.com/libp2p/rust-libp2p/pull/2248 to merge and then cut a release candidate and later on a full release. Why a release candidate first? (1) it is a pre

[2021-10-07 17:10] gilescope commented on #2273
I'm sure those timescales will be fine. At some point there might need to be another one when I finally get rand upgraded (but that's not likely to be a quick thing).

[2021-10-09 14:15] supercmmetry opened #2281 "Allow validation from upper layer in kademlia"
I have been trying to intercept an inbound request in `kademlia` to perform validation on the records before they are inserted into the `MemoryStore`. I found that there was a related `todo`.

https://github.com/libp2p/rust-libp2p/blob/57f34f6f266ad67e33e53236bd0c95af0ed9f833/protocols/kad/src/behaviour.rs#L2452-L2460

Would be great if this is implemented. If you have any suggestions to tackle th

[2021-10-09 14:52] mxinden commented on #2281
Hi @supercmmetry,

Validation has been added in https://github.com/libp2p/rust-libp2p/pull/2163 and will be included in the next release. Does that address you need?

The TODO entry is outdated. Would you mind filing a pull request removing it?

[2021-10-09 14:53] mxinden commented on #2281
Credit for #2163 goes to @rubdos.

[2021-10-09 15:32] mxinden commented on #2280
I think you are referring to https://github.com/libp2p/rust-libp2p/pull/1931.

[2021-10-10 02:39] supercmmetry commented on #2281
Yeah, #2163 perfectly fits my usecase. I'll put up a PR to remove that TODO.

[2021-10-10 02:39] #2281 closed, assigned to nobody

[2021-10-11 03:26] supercmmetry opened #2283 "Refactor KademliaEvent"
I was thinking if we could refactor `InboundPutRecordRequest` and `InboundAddProviderRequest` into a `FilterRequest` or something similar inside `KademliaEvent`.

So instead of this

[code]

we could have something like this:

[code]

[2021-10-11 17:32] dvc94ch opened #2284 "gossipsub: publish should take a topic hash and topic hash should be constructible from a [u8; 32]"

[2021-10-12 06:50] AgeManning commented on #2284
Not entirely sure what you're chasing here.

The idea for publishing is that you know the topic and you can send the topic to publish on.  The other public functions, such as `subscribe()` and `unsubscribe()` also take a `Topic` has an input parameter.

You can define how you want to hash your topic. If you have a set of random bytes and want to publish on a topic that represents those random byte

[2021-10-12 07:01] dvc94ch commented on #2284
I'm using a public key as the topic. Base64 encoding it and then taking the hash seems wasteful. Why is something other than the TopicHash sent over the network?

[2021-10-12 07:24] AgeManning commented on #2284
I guess a Topic could store bytes and then the "hash" which in your case is `base64` converts the bytes to a String.

The reason a `Topic` currently stores a `String` is to prevent conversions when using the `IdentityHash`. I.e people just doing a 1to1 for `Topic` <> `TopicHash`.

You could just put your base64 encoding of your public key as a `Topic<IdentityHash>` and send that. The `IdentityHash

[2021-10-12 07:35] AgeManning commented on #2284
Just to re-iterate.

The only thing sent over the network is the `TopicHash`. In the specs it was suggested that all topics (which were originally strings) should be hashed and the hash is what people subscribe to.

The kind of hash is up to the user. We left the hash type up to the user by introducing the `Hasher` trait which converts a `Topic` to a `TopicHash`. We implemented an `IdentityHash` w

[2021-10-12 07:44] dvc94ch commented on #2284
So then there is no reason why I can't just use the public key as the topic hash. I don't care about compatibility with go ipfs. Should I open a PR?

[2021-10-12 11:57] AgeManning commented on #2284
Perhaps you have not understood what I've been saying.

You can already do what you want.
If you want to publish a message on a topic that's based on your public key, do the following:
[code]
Where `x` is the base64 encoding of your public key and data is the data you want to send on the topic.

This will publish a message on topic where you are "just using the public key as the topic hash"

[2021-10-12 12:42] dvc94ch commented on #2284
I do understand, and that is what I am currently doing. I just don't understand why I need to encode/decode a byte slice to base64 for no good reason. Everytime I get a message I need to decode the topic to figure out the "real" topic.

To elaborate on what I don't understand, why does a networking protocol mandate that the topic be a utf8 string. It seems like an arbitrary restriction.

So what I

[2021-10-12 14:39] mxinden opened #2285 "protocols/mdns: Use a random string as peer-name"
With https://github.com/libp2p/specs/pull/368 the definition of the _peer name_ changed in the mDNS specification.

https://github.com/libp2p/specs/blob/master/discovery/mdns.md

`libp2p-mdns` should be adjusted accordingly.

Also see https://github.com/libp2p/go-libp2p/pull/1222 for the corresponding change on the Golang side.

[2021-10-12 21:50] AgeManning commented on #2284
As I was saying, the specifications require a protobuf `String`. (https://github.com/libp2p/specs/tree/master/pubsub#the-message).

Your PR would then cause the rust-implementation of gossipsub to be non-spec compliant. If you don't want to base64 encode/decode (or use a topic string) then I think you have two options:
- Create a PR to the libp2p specs to change the protobuf format to use bytes (t

[2021-10-13 23:57] thomaseizinger opened #2286 "Metrics dependencies are always pulled via protocol features"
I am not sure if there is much we can do about it but I noticed that `libp2p-metrics` is automatically pulled in if any of the protocols that activate metrics features are activated.

When trying to upgrade to the most recent rust-libp2p HEAD, I saw `libp2p-metrics` come in as a dependency even though we are not specifying it as a feature. I suspect it is being pulled in by cargo due to `ping` act

[2021-10-14 15:50] mxinden commented on #2286
Good catch!

Corresponding upstream tracking issue (_weak dependency feature_): https://github.com/rust-lang/cargo/issues/8832

As far as I can tell there is no solution to this today.

I don't it hurts much, given that `libp2p-metrics` is a pretty light-weight dependency. Still it would be great to not pull it in each time e.g. when the `ping` feature is set.

[2021-10-14 20:42] thomaseizinger commented on #2286
Thanks for pointing me to that, I had no idea that this is being worked on! Very exciting :)

[2021-10-15 00:57] #2284 closed, assigned to nobody

[2021-10-15 10:40] mxinden commented on #2273
I just published a release candidate (see https://github.com/libp2p/rust-libp2p/pull/2290#issuecomment-944191711). Giving some time for people to test the release candidate. In case nothing comes up, I will cut a new release.

[2021-10-15 11:50] mxinden commented on #2283
I am fine combining the `InboundPutRecordRequest` and `InboundAddProviderRequest` under a single `KademliaEvent` variant.

I find `FilterRequest` a bit misleading as the remote is not actually requesting the local node to filter, but to store.

Today, when filtering is enabled, an inbound request is reported both through `KademliaEvent::InboundPutRecordRequest` and `KademliaEvent::InboundRequestSe

[2021-10-15 12:17] supercmmetry commented on #2283
Yeah, that's seems more apt @mxinden
I'll put up a PR.

[2021-10-16 10:25] dvc94ch opened #2298 "NFC transport"
Useful for exchanging public keys and prekey packages. Should work on Android and iOS.

[2021-10-19 21:06] mxinden opened #2302 "protocols/identify: Validate addresses before caching"
With https://github.com/libp2p/rust-libp2p/pull/2232 `libp2p-identify` caches discovered listen addresses to provide additional addresses when dialing a peer via `NetworkBehaviour::addresses_of_peer`.

Before caching received listen addresses, `libp2p-identify` should validate these addresses. Validations:

- If the address contains a `/p2p/QmXXX` make sure `QmXX` matches the peer's `PeerId`.
- ..

[2021-10-19 22:14] thomaseizinger commented on #2302
Do we want to treat validation errors as bad behaviour and disconnect from that peer?

[2021-10-20 02:58] JerryHue commented on #2259
Hello again @mxinden!

Despite my absence, I haven't forgotten about this issue!

I believe I have implemented the changes as per the RFC stated, but I would like to make sure that I have not forgotten anything before I make my PR.

I would like to ask certain questions that have passed through my mind while working on this.

## Previous public methods

### Encoding to the string representation

A

[2021-10-20 05:54] ronak-supraoracles opened #2303 "MemoryStoreConfig Issue"
I am facing one issue. Please help me for that

In Libp2p I am putting data to DHT. When I am sharing any transaction object like this

[code]

I can store one transaction under one key. But I want to store the multiple txn data under one key.
I can store upto 40 transaction under same key. But I want to more than that

[2021-10-21 02:19] #2303 closed, assigned to nobody

[2021-10-22 14:29] mxinden commented on #2302
For now I would suggest we just ignore those addresses with a peer ID mismatch in `libp2p-identify`.

Reasoning: Maybe there is a benign way (in old versions) how this could happen. Disconnecting on mismatch might lead to large disconnects in live networks. Without measuring this beforehand, I would deem this change too risky.

Do you have some time to file a patch? I am sorry, I am a bit low on t

[2021-10-22 21:53] MariaGolubev opened #2308 "MdnsEvent::Expired (ExpiredAddrsIter) is never called"
I wrote a small program. I expected that when a node exits, other nodes will receive the MdnsEvent :: Expired event, but this does not happen. I looked at the code for a long time, and I realized that the problem is:
[code]
i wrapped expired in dbg!
[code]
it turned out that it is always empty
[code]
i changed `
[code]
 to
[code]
and it worked for me

[code]

[2021-10-23 06:25] thomaseizinger commented on #2302
Not at the moment but I am okay with disabling the current behaviour if it causes problems.

[2021-10-24 04:10] thomaseizinger commented on #2308
Thanks!

It would be awesome if you could submit a PR for this including a test :)

[2021-10-24 20:12] MariaGolubev commented on #2308
I added fixes, but two tests still fail:
[code]
I don’t know the reason. I have no problem in version `0.39`, but in `0.40.0-rc.2` the expired `IPV6_MDNS_MULTICAST_ADDRESS` is not called. I don't have time to study the problem, please take it

[2021-10-24 20:22] MariaGolubev commented on #2308
# here are the tests
[code]

[2021-10-25 21:09] jochasinga commented on #2285
Is varying size needed? https://github.com/libp2p/go-libp2p/pull/1222#pullrequestreview-774058264

[2021-10-26 19:26] mxinden commented on #2259
_Sorry for the late reply here. I was sick for the last week._

---

:+1: sounds good to me. In the future we would switch the `Debug` and `Display` implementations to use `to_base_32`, though that would happen in a coordinated fashion across the implementations.

In my eyes a single function that can parse both is the way to go.

I would suggest a single function for `from_bytes`, in line with yo

[2021-10-27 16:34] mxinden commented on #2285
I am fine either way. Given that you already implemented varying size strings, would you mind adding a comment to your patch pointing to the discussion linked? I didn't find it very intuitive, thus might stumble across this in the future.

[2021-11-01 07:08] JerryHue commented on #2259
Hello again, Max!

Thank you for your follow up! I believe I have finished my changes, so I will follow up with my PR shortly.

Thank you for the help and support!

[2021-11-07 13:23] hamamo opened #2328 "Deriving NetworkBehaviour seems to be broken in 0.40.0"
When switching to libp2p 0.40.0, I get the following kind of error for every NetworkBehaviour that I compose using #[derive(NetworkBehaviour]:

[code]

Is this a known issue with 0.40.0? There are a number of changes documented in the various CHANGELOGs related to NetworkBehaviour, but I haven't been able to pinpoint where exactly I could find out what I need to change to make my code working agai

[2021-11-07 17:32] wngr commented on #2328
I was running into a similar issue. Solution for me was to group all ignored member fields..

[2021-11-07 19:47] hamamo commented on #2328
You mean putting them into a separate struct so that only one field is marked with `#[behaviour(ignore)]`?

That didn't work for me. Of course it's possible I misunderstood your approach.

[2021-11-08 03:45] #2283 closed, assigned to nobody

[2021-11-08 08:41] elenaf9 commented on #2328
With issue #2190  / the associated PR #2214 the `NetworkBehaviour` derive macro was changed to per default set `event_process` to _false_. When it was set to _true,_ it was expected that `NetworkBehaviourEventProcess<T>` was implemented for all behaviour events, and events were handled via that implementation.
Now that it is per default _false_, events are not handled through `NetworkBehaviourEven

[2021-11-08 08:59] hamamo commented on #2328
Thank you very much, this indeed explains the situation well. I wasn't aware that the `event_process` setting could have this effect.

Will try with `event_process = true` (corrected after response) later today, and read up on whether setting `out_event` is an option for me.

[2021-11-08 08:59] #2328 closed, assigned to nobody

[2021-11-08 09:06] elenaf9 commented on #2328
@hamamo just to quickly correct myself: if you'd like to keep the old logic, you have to set it to `event_process = true`. I edited my above comment.

[2021-11-08 14:33] mxinden opened #2329 "core/: Report pending connection being aborted"
Today when aborting a pending connection, we remove the pending connection from `Pool::pending` directly:

https://github.com/libp2p/rust-libp2p/blob/8b68026bb04a469654020a8dcfe68308404e2510/core/src/connection/pool.rs#L974-L978

Later on, when the task reports that it has been aborted, the `Pool` checks if it has an entry in `Pool::pending`, which it does not, thus dropping the error instead of r

[2021-11-09 14:58] mxinden commented on #2285
As promised, here is a more detailed follow up to https://github.com/libp2p/rust-libp2p/pull/2311#issuecomment-959615710:

The latest release of `libp2p-mdns` does not include the peer ID in each address it sends to other peers. Instead  when receiving an mDNS response, rust-libp2p actually does parse the peer name as a `PeerId` and discards an address in case it contains a `/p2p/QmXX` `PeerId` wh

[2021-11-09 15:44] canewsin opened #2333 "Error Compiling libp2p v0.40.0"
Error :

error[E0308]: mismatched types
   --> misc\metrics\src\kad.rs:150:13
    |
94  |             Family::new_with_constructor(|| Histogram::new(exponential_buckets(1.0, 2.0, 10)));
    |                                          ---------------------------------------------------- the found closure
...
150 |             query_result_num_requests,
    |             ^^^^^^^^^^^^^^^^^^^^^^^^^ exp

[2021-11-09 15:44] canewsin commented on #2333
same issue present on master.

[2021-11-09 17:31] jochasinga commented on #2285
Since mDNS use case is local updating to a breaking change (1) shouldn't be a big deal.

[2021-11-09 19:42] karim-agha commented on #2333
same issue, on master and on 0.40.0

[2021-11-09 19:51] canewsin commented on #2333
temp fix
`libp2p = {git = "https://github.com/decentnetwork/rust-libp2p.git", branch = "fix-compiling-v0.40"}`

[2021-11-09 20:16] karim-agha commented on #2333
Thank you, I added your fix to my `Cargo.toml`, much appreciated for unblocking me.

[code]

[2021-11-10 00:30] mxinden commented on #2333
My bad. `open-metrics-client` `v0.12.1` introduces a breaking change and thus should have been `v0.13.0`. I yanked `v0.12.1`. I will cut a new release (`v0.13.0`) tomorrow.

I am sorry for the trouble @canewsin and @karim-agha. Updating your `Cargo.lock` to use `open-metrics-client` `v0.12.0` should fix the issue above.

See https://github.com/mxinden/rust-open-metrics-client/pull/24.

[2021-11-10 18:05] mxinden commented on #2263
With https://github.com/libp2p/rust-libp2p/pull/2309 merged, do you want to take a shot at this one @pawelradtke-sage?

[2021-11-10 19:40] JerryHue commented on #2329
@mxinden, hello! Could I try to look into this?

[2021-11-10 23:39] MarcoPolo commented on #2302
@thomaseizinger I'll pick this up unless you're working on it, thanks!

[2021-11-11 05:53] thomaseizinger commented on #2302
Go for it! I haven't started on this yet :)

[2021-11-11 14:02] mxinden opened #2337 "swarm/: Never call Behaviour::inject_event without a previous Behaviour::inject_connection_established"
Imagine the following scenario:

1. The user calls `Swarm::ban_peer_id` for peer X.
1. The `Swarm` receives a `NetworkEvent::IncomingConnection` for a not-yet authenticated peer.
2. The `Swarm` calls `this.network.accept` to accept the connection and thus starts the upgrade process.
3. The `Swarm` receives a `NetworkEvent::ConnectionEstablished` from the network for the previously accepted connect

[2021-11-12 01:03] AgeManning commented on #2337
My preference is not to do 3. I think it would be counter-intuitive and lead to more bugs when people build new behaviours.

I agree with your preferences :).

[2021-11-12 12:10] pradt2 commented on #2263
I had a brief look at `go-libp2p-kad-dht` yesterday, and there they have some IPFS DHT-specific primitives like PK/IPNS record validators, IPNS structs, IPLD Nodes, some factory methods, utils for signing and signature verification, etc. This makes high-level interactions with the DHT very easy.

None of these primitives exist in `rust-libp2p` (or I haven't found them). This means that an example

[2021-11-12 12:22] vnermolaev commented on #2308
are there any updates? Is it being looked into?

[2021-11-12 21:50] jochasinga commented on #2285
@mxinden did you mean "Include the **peer name** in each multiaddr"? (the random string in #2311 vs the current base58 peer id)

[2021-11-13 00:03] MarcoPolo commented on #2285
I think he means the *peer id*. e.g. the multiaddr that is in the txt field should be of the form:
[code]

---

I'm kind of curious what the staged rollout actually looks like in practice. Do we use feature flags here? What does our process look like for these kinds changes? are they documented? ([release.md](https://github.com/libp2p/rust-libp2p/blob/master/docs/release.md) doesn't have anything)

[2021-11-13 10:20] hamamo commented on #2328
Looks like one last thing was confusing me - rust-analyzer has some checks beyond what `cargo check` does, and it complains with an `add-reference-here` notification (https://rust-analyzer.github.io/manual.html#add-reference-here) for each composed network behaviour at the `#[derive(NetworkBehaviour)]` line. Since cargo compiles the code without complaints now, and I'm too lazy to analyze the resu

[2021-11-13 21:32] mxinden commented on #2308
I don't have the capacity to look into this. Help greatly appreciated @vnermolaev.

[2021-11-13 21:38] mxinden commented on #2263
Thus far the Rust `libp2p-kad` implementation is a low level layer enabling other projects, e.g. https://github.com/rs-ipfs/rust-ipfs/ to build on top of it.

Instead of including IPNS, IPLD etc. to `libp2p-kad`, how about improving the interfaces of `libp2p-kad` to enable these higher layers to easily operate on top of `libp2p-kad`?

In my eyes that would (1) enable a clean layer distinction and

[2021-11-15 11:58] elenaf9 opened #2341 "Types should eagerly implement common traits"
At the moment many config-, event- and error-types that are exposed to the user do not implement `Clone`, some not even `Debug`. This can be very inconvenient for the user and force them to create their own copy of the type just to derive the required traits.
Following chapter [C-COMMON-TRAITS  of the Rust API Guidlines](https://rust-lang.github.io/api-guidelines/interoperability.html#c-common-tra

[2021-11-15 12:43] thomaseizinger commented on #2341
I agree with Clone, Debug and PartialEq, esp. for config and event types.

For serde I think we would have to decide on a case by case basis by generally happy to provide it, although I think it should be feature-flagged and off by default.

Which types would you like to serialize/deserialize?

One thing to consider is that the serialization of structs is essentially part of our API and thus chang

[2021-11-15 13:47] mxinden commented on #2333
Closing here for now. Moving the discussion on how to proceed to https://github.com/mxinden/rust-open-metrics-client/pull/24.

[2021-11-15 13:47] #2333 closed, assigned to nobody

[2021-11-15 13:53] mxinden commented on #2329
@JerryHue sure thing. Help here is very much appreciated.

Unit test should be fairly simple, checking for a `PendingConnectionError::Aborted` after aborting a pending connection.

[2021-11-15 15:14] mxinden commented on #2285
We use consecutive versions, e.g. see `libp2p-yamux` [`v0.22.0`](https://github.com/libp2p/rust-libp2p/blob/master/muxers/yamux/CHANGELOG.md#0220-2020-09-09) to `v0.25.0`. Binaries then only need to upgrade in order, one at a time. (Unfortunately) this is not documented anywhere.

Would be great to have this documented for sure. I am happy to help, though I don't have the capacity to drive this my

[2021-11-15 15:21] mxinden commented on #2285
For the record, looking at a wireshark dump of the Golang implementation, this is already the case in go-libp2p.

[2021-11-15 16:23] MarcoPolo commented on #2285
Ah so this is already leading to disconnects in rust <-> go interactions then?

I'm happy to document the process (although looking at the example, it's as simple as I expected – some flags that get incrementally changed over versions), but it also seems fine to make the breaking change.

I have a slight preference to just making the breaking change which would bring this part level with the Go im

[2021-11-15 16:32] mxinden commented on #2285
Yes, given that Go already uses a random string as the peer name. Given that the peer name and the peer id in each multiaddr do not match, Rust will discard any Go packet.

The above discussion is about whether to break compatibility within Rust and not with Rust and Go. The latter ship has already sailed. My bad.

:+1: same preference for me. We just need to call it out very prominently in our ch

[2021-11-15 21:17] jochasinga commented on #2285
You meant Go already uses the peer name in libp2p/go-libp2p#1222, and by introducing #2311 here newer Rust will become compatible with Go.

[2021-11-15 23:17] jochasinga commented on #2285
@mxinden @MarcoPolo seems like `MdnsPeer::new(packet: &Packet<'_>, record_value: String, my_peer_id: PeerId, ttl: u32) -> MdnsPeer` only takes `PeerId` to check if it matches one it parses from the `TXT` field from the response's record. Since #2311 will no longer parse a `PeerId` chunk from the record, how will this play out?

https://github.com/libp2p/rust-libp2p/blob/220f84a97f931ba5cac752a9c3e

[2021-11-15 23:33] MarcoPolo commented on #2285
I think we should:
1. remove the `my_peer_id` param from that function
2. grab the peer_id from the parsed [addrs](https://github.com/libp2p/rust-libp2p/blob/220f84a97f931ba5cac752a9c3eedd4efe8bdb8a/protocols/mdns/src/query.rs#L273) (and add some validation that they are all the same peer ids),
3. Remove the parsing logic that reads the peer_name.
4. Make sure there is a test that 1. checks that a

[2021-11-16 01:26] jochasinga commented on #2285
I agree.

I like the idea of parsing a peer ID out of the first multiaddr, then filter out those with different peer IDs. Curve ball: what if a peer ID is malformed? Do we keep iterating until we find a plausible peer ID and use it as the base or do we ignore it entirely?

How about instead of removing the whole parsing logic, we parse the peer name and just assert that its length is between 32 -

[2021-11-16 11:35] hanabi1224 opened #2344 "[Feature Request] Allow setting custom protocol in mplex"
in [go-libp2p-muxer](https://github.com/libp2p/go-libp2p/blob/master/options.go#L101), it allows using custom protocol name. Adding a similar pub fn set_protocol to MplexConfig to connect to go nodes with custom protocol.

[code]

[2021-11-16 12:05] #2302 closed, assigned to MarcoPolo

[2021-11-16 15:28] mxinden commented on #2285
I would suggest the following:

- Ignore all addresses with malformed peer IDs.
- Use the peer ID of the first address that has a peer ID as a reference.
- Ignore all addresses that contain a peer ID if that peer ID does not match the peer ID of the first address containing a peer ID.

[2021-11-16 17:25] mxinden opened #2345 "examples/*: Rewrite event loops using async/await"
Today, event loops in `examples/` use poll-style futures. Using async/await simplifies the examples, thus helping newcomers to get started easier.

Example of a complicated poll-style loop:

https://github.com/libp2p/rust-libp2p/blob/4bd44c812a577d0889f9b57f5dcda98113a35573/examples/chat.rs#L142-L195

Example of a simple async/await loop:

https://github.com/libp2p/rust-libp2p/blob/4bd44c812a577d0

[2021-11-16 18:23] canewsin opened #2347 "Getting Connection Refused while trying to connect to peers."
Error :

PeerId are aquired from a custom boot_node, peers are connected to the boot_node which has info like peer_id and external_addr.
NetworkBehaviour has Identify as well as Rendezvous Protocols implemented.
Any help.

[2021-11-16 19:04] canewsin commented on #2333
@mxinden error happening on latest stable also

[2021-11-16 19:40] divagant-martian commented on #2337
Agree on crossing opt 3 out.
Once we receive an event, we check that the connection is present in the pool [here](https://github.com/libp2p/rust-libp2p/blob/4bd44c812a577d0889f9b57f5dcda98113a35573/core/src/connection/pool.rs#L645-L654) I think the most straightforward and correct way to handle it is to do 2) and check here that the connection is (semantically) open/not closed

[2021-11-16 19:59] divagant-martian commented on #2337
Also, doing some tests I see that `inject_connection_closed` is called too for the banned peer, for which `inject_connection_established` was never called. I find this one a bit more complicated since the ban state can come and go, and for a currently connected peer, there can be connections for which `inject_connection_established` was called and some for which not. What do you think?

[2021-11-18 00:16] MarcoPolo commented on #2337
@divagant-martian Are you working on this? If not, do you mind if I pick this up? It sounds like we have a rough consensus on the solution here. But to be a bit clearer here's what I'm thinking:

Laws (not sure if this is currently true, but I'd endeavor to make them true):
* Banning a peer will result in a disconnect from the peer if you are currently connected.
* Banning has no effect on a curre

[2021-11-18 01:42] AgeManning commented on #2337
@MarcoPolo

This issue is rather time-sensitive for us, because the current master-libp2p branch panics when using identify. I think @divagant-martian has made progress (i'll let her chime in) but this is something we'd like to remedy quickly (I'm not sure about how quickly you think you would resolve this one).

[2021-11-18 01:44] MarcoPolo commented on #2337
That sounds good. This seems pretty important so I also wanted to make sure someone was working on it

[2021-11-18 08:59] canewsin opened #2348 "Error Shown in VSCode : add reference here rust-analyzer"
When deriving NetworkBehaviour.
This doesn't stop the code compilations.

![Screenshot (23)](https://user-images.githubusercontent.com/26790557/142383128-e238e817-c2bd-448b-9d2c-6c87036cd9d0.png)

Even code examples have these errors.

[2021-11-18 10:22] elenaf9 commented on #2348
I may have found a fix for the error, @canewsin  could you test if you still get it on https://github.com/elenaf9/rust-libp2p/tree/swarm-derive/inject-dial-error?
If this solves it, I'll do a PR.

[2021-11-18 11:42] canewsin commented on #2348
Issue Fixed.

[2021-11-18 12:21] mxinden commented on #2348
Closing here since https://github.com/libp2p/rust-libp2p/pull/2349 is merged.

[2021-11-18 12:21] #2348 closed, assigned to nobody

[2021-11-18 12:54] mxinden commented on #2337
Capturing a conversation with @divagant-martian out-of-band.

Most favorable option at the moment.

When banning a peer:
1. Track the connections that have already been reported as open to the `NetworkBehaviour` for said peer.
    Basically:
[code]
2. Close the connections.
3. When receiving an event from a banned peer, drop it.
3. When receiving a connection close event for a connection of a bann

[2021-11-18 15:47] MarcoPolo commented on #2329
@JerryHue have you started working on this? If not, do you mind if I pick this up? Thanks!

[2021-11-18 18:13] divagant-martian commented on #2337
Since closing a connection is not immediate, tracking allowed connections for banned peers is still open to at least one other race condition that I can identify:
1. Peer is not banned, it's connected with connection `1`. This connection was reported.
2. Peer is banned. It's added to banned peers and it's connection `1` is stored as previously allowed. `start_close` is called for `1`.
3. A connect

[2021-11-18 18:50] MarcoPolo commented on #2337
I think that makes sense. To extend the laws above by one more constraint:
* unbanning has no effect on currently active connections. Just like banning has no effect on currently active connects, except for the start of the disconnect.

Tracking this per connection is probably the simplest way to implement these laws correctly. Abstractly:
* If a peer is banned, all active connections are still in

[2021-11-18 19:04] divagant-martian commented on #2337
Yeah, I think we are on the same page. Seems straightforward to implement. I'll send a PR in a couple of hours

[2021-11-18 19:29] JerryHue commented on #2329
Hello, @MarcoPolo! I will start to work on this today. If by the end of the day I couldn't advance much, I will delegate it to you. Is that alright?

[2021-11-18 19:36] MarcoPolo commented on #2329
Of course!

[2021-11-18 22:01] jochasinga commented on #2345
There is a [chat-tokio.rs](./examples/chat-tokio.rs) that is using an async-await on tokio runtime. Maybe we should also update other outdated examples to use tokio instead of async_std?

[2021-11-18 22:14] thomaseizinger commented on #2345
The others are not outdated as such! Rust-libp2p supports multiple runtimes, hence there are examples on how to use either.

Tokio requires a bit more configuration, hence there is a dedicated example.

[2021-11-19 02:34] JerryHue commented on #2329
@MarcoPolo, hello! I read through the code, but I feel like this might be a little bit too much for me, especially since I am not familiar with this part of the core (I only worked with `PeerId`s, which arguably, were an easier concept for me).

Sorry for the inconvenience, and thank you for the prompt responses, @mxinden and @MarcoPolo.

[2021-11-19 11:57] mxinden commented on #2333
Can you be more specific? Just to make sure, did you downgrade to `open-metrics-client` `v0.12.0` in your `Cargo.lock`? Yanking `v0.12.1` does not automatically downgrade it in your `Cargo.lock`.

[2021-11-19 12:03] karim-agha commented on #2333
building a new project fails on this. on 0.40 and 0.41

[2021-11-19 16:54] canewsin opened #2351 "libp2p : Proper way to connect 2 peers behind their respective NAT each other"
Hey Made this Issue because there is no clear cut solution using libp2p-rust till now.
This will be updated with my observations and their successful attempts, so that other user can took from these.
These Observations are made, while I was building My P2P Application DecentNetwork.
First Attempt : Half Successful Attempts.

Transport : TokioTcpTransport with port_reuse.
[code]

Network Behaviour

[2021-11-19 16:57] canewsin commented on #2351
Other Considerations :
Include circuit relay to network behaviour.

I want try circuit relay v2 pr and DCUtR pr, are they at prototyping stage ?

[2021-11-19 18:35] MarcoPolo commented on #2329
@mxinden could you assign this to me please?

[2021-11-21 18:34] canewsin opened #2353 "Deriving NetworkBehaviour for Enums."
Eg:
[code]
Here macro don't know how to convert RendezvousBehaviour Events to their respective Events(Client/Server).

[2021-11-21 18:36] canewsin commented on #2353
only solution here i got is 2 seperate behaviours for server and client, but it will break impl code logic to two whole pieces. which results in code duplication of everything. This is same case for `#[behaviour(event_process = true)]`.  Any Suggestions ?

[2021-11-22 18:38] mxinden commented on #2273
Closing here since `v0.40.0` and `v0.41.0` have been released.

[2021-11-22 18:38] #2273 closed, assigned to nobody

[2021-11-22 20:11] mxinden commented on #2341
:+1:

Fine by me, though I don't quite understand why this would be helpful for all types. Also in favor of this being feature-flagged.

[2021-11-23 15:48] vnermolaev commented on #2308
I started looking into this and it appears the tests in `smoke.rs` are faked, perhaps unintentionally, for IPv6.
Observe a test [here](https://github.com/libp2p/rust-libp2p/blob/master/protocols/mdns/tests/smoke.rs#L85).
For the sake of completeness, here it is:

[code]

Although a config requiring IPv6 is created, it is never used and a default version with IPv4 is called. Passing the variable `c

[2021-11-23 16:55] mxinden commented on #2353
Unfortunately we are missing an `EitherBehaviour`, along the lines of the [`Either` `ProtocolsHandler`](https://github.com/libp2p/rust-libp2p/blob/master/swarm/src/protocols_handler/either.rs). Contribution of an `EitherBehaviour` would be very much appreciated.

In the meantime you could use [`Toggle`](https://github.com/libp2p/rust-libp2p/blob/master/swarm/src/toggle.rs) to enable and disable on

[2021-11-23 16:57] #2344 closed, assigned to nobody

[2021-11-24 21:12] elenaf9 commented on #2341
So I did some experimental implementation of `Debug`, `Clone` & `PartialEq` for the types in libp2p-core. It's not too much work as it can be done with some simple search and replace (+ manually remove again if there are errors), but it touches almost all types in the code: https://github.com/libp2p/rust-libp2p/commit/7b2f1b846bcd13c1d81ecb37a3672f2903aed8aa
For some of those types this derivation

[2021-11-24 22:08] thomaseizinger commented on #2341
Sounds good to me modulo the `Error` types. Why would those need to be `Serialize`?

Unit tests with `serde_test` should be part of this IMO.

[2021-11-25 19:15] #2285 closed, assigned to nobody

[2021-11-26 13:19] vnermolaev commented on #2308
Further details:
I did some further digging. There is a multiplicity of reasons why IPv6 might not work:
- OS is not being configured to support it,
- Network DHCP is not configured to assign one,
- Impossibility to join the multicast address,
- ... and probably more.

And the bad part of it is that there is no error-handling (just `log::error`) for all of these cases. That is, while PR #2161 by @

[2021-11-26 14:08] dvc94ch commented on #2308
what's wrong with the ipv6 tests? looks like it should be `<=` instead of `<`, but I don't see what that has to do with ipv6.

[2021-11-26 14:09] dvc94ch commented on #2308
and what does the listening address have to do with anything?

[2021-11-26 14:12] dvc94ch commented on #2308
Network DHCP is not configured to assign one,
Impossibility to join the multicast address,
... and probably more.

Not sure what you want to do. reconfigure the OS and network, patch the router firmware with ipv6 support? If you have a reasonable way to recover from one of those I welcome suggestions.

[2021-11-26 14:14] dvc94ch commented on #2308
so if the tests pass in ci it's fine, I assume the OP's machine is missconfigured and there is no ipv6 support.

[2021-11-26 14:42] vnermolaev commented on #2308
@dvc94ch It is indeed the case. The OP is testing peer disconnection for both ipv4 and ipv6 _faithfully_. While the tests for peer discovery do not seem to do so.

Please consider [one of the tests for ipv6](https://github.com/libp2p/rust-libp2p/blob/master/protocols/mdns/tests/smoke.rs#L85) submitted as part of PR #2161.
Correct me if I am wrong, but the created `config` variable instructing to u

[2021-11-26 14:46] dvc94ch commented on #2308
ah yes, that seems to be a typo

[2021-11-26 14:55] dvc94ch commented on #2308
didn't actually write the code, but found the issue. someone passed an array of ips to UdpSocket::bind, don't know what genious mind that originated from.

[2021-11-26 14:57] dvc94ch commented on #2308
so heres the diff in case someone wants to open a PR:
[code]

[2021-11-26 15:48] #2337 closed, assigned to nobody

[2021-12-01 08:33] mexskican commented on #2276
@mxinden I think `SelectAll` would be a better fit in this case, the `Listener` struct contains a stream and `listeners` is a set of streams that needs to be polled.
https://docs.rs/futures/0.3.17/futures/stream/select_all/struct.SelectAll.html

[2021-12-01 17:31] MariaGolubev commented on #2308
I haven't looked here for a long time. The work done surprised me pleasantly. I'm glad @vnermolaev  has looked into this issue. Thank you

[2021-12-02 11:03] mooori commented on #2276
`SelectAll<BoxStream<'static, TTrans::Listener>>` requires additional trait and lifetime bounds:
[code]

This propagates to other modules, e.g. `Network<TTrans, THandler>` will then require those bounds as well.

Is it ok to add those bounds? Or maybe someone has an idea for a workaround or another approach?

I think `FuturesUnordered<BoxFuture<'static, ListenersEvent<TTrans>>>` requires additiona

[2021-12-03 18:37] jmmaloney4 commented on #2329
@MarcoPolo are you working on this? Do you mind if I take a stab?

[2021-12-03 18:48] MarcoPolo commented on #2329
yep! please take!

[2021-12-04 21:54] jmmaloney4 commented on #2329
Hi @mxinden, I have a few questions about the code.

Will both of these be needed?

https://github.com/libp2p/rust-libp2p/blob/245b0563ab41a37b52d1d45ddb59f8706e130a53/core/src/connection/pool.rs#L978-L981

https://github.com/libp2p/rust-libp2p/blob/245b0563ab41a37b52d1d45ddb59f8706e130a53/core/src/connection/pool.rs#L902-L904

I'm assuming the ones in `abort` should be removed, and the `PendingCo

[2021-12-05 06:51] MarcoPolo commented on #2329
Thanks for looking into this @jmmaloney4! Some thoughts:

1. When we abort a pending connection we drop the [PendingConnectionInfo](https://github.com/libp2p/rust-libp2p/blob/8b68026bb04a469654020a8dcfe68308404e2510/core/src/connection/pool.rs#L133) object. This drops the notifier which closes the oneshot channel.
2. The task gets notified that the notifier dropped and adds the aborted event [here

[2021-12-06 18:41] mxinden commented on #2276
Ah, haven't seen `SelectAll` before. Thanks for bringing it up.

I haven't looked deeper into this. @mooori why are those additional bounds needed?

@mexskican @mooori is either one of you interested in proposing a patch?

[2021-12-06 20:16] mxinden commented on #2329
Agreed.

How about something along the lines of the below?

[code]

[2021-12-07 09:19] jmmaloney4 commented on #2329
Thanks for the pointers @MarcoPolo  @mxinden. I have run into an issue now where the `PendingConnection::abort` method takes an immutable owned `self`, but calling `self.entry.get_mut()` requires a mutable `self`. I'm a bit of a rust beginner so I'm not sure if there is a good way to handle this without modifying the public interface of `PendingConnection`, but my intuition leads me to believe som

[2021-12-07 09:56] mexskican commented on #2353
@mxinden Could you assign this to me? I would like to submit a PR for `EitherBehaviour`

[2021-12-07 17:06] MarcoPolo commented on #2329
I think you can just put `mut` in front of the `self` param like so:

[code]

It doesn't change the signature because it already takes the owned object. We're just declaring we are going to mutate that object as well.

[2021-12-07 17:31] mooori commented on #2276
@mxinden `<TTrans as Transport>::Listener` cannot be unpinned, so I'd wrap it in `BoxStream`. I was thinking about adding a field to `ListenersStream`:

[code]

Then, the additional bounds are needed as `BoxStream` is [defined as](https://docs.rs/futures/0.3.17/futures/stream/type.BoxStream.html):

[code]

I couldn't find a way to replace `VecDeque` by `SelectAll` without requiring additional boun

[2021-12-07 21:27] jmmaloney4 commented on #2329
@MarcoPolo That makes sense. Thanks!

[2021-12-08 12:51] mxinden opened #2373 "swarm-derive/: Do not default `out_event` to `()` when `event_process=false`"
By default the `NetworkBehaviour` derive macro `out_event` attribute is `()`. This makes sense when the `event_process` attribute is set to `true`, though with https://github.com/libp2p/rust-libp2p/pull/2214 the `NetworkBehaviour` derive macro `event_process` attribute is `false` by default. Not processing the event (`event_process=false`) and setting an empty out event (`()`) defeats the purpose

[2021-12-08 13:54] mxinden opened #2374 "swarm/src/behaviour: Consider removing `NetworkBehaviourAction::TInEvent`"
Today `NetworkBehaviourAction` has a trait parameter `TInEvent` that defaults to `THandlerInEvent<THandler>`.

https://github.com/libp2p/rust-libp2p/blob/b316c6deae2fcc1525ae20509e03fb4a208308bc/swarm/src/behaviour.rs#L356-L359

`TInEvent` is needed to construct a `NetworkBehaviourAction` that contains an `InEvent` not matching the corresponding handler. If I am not mistaken this is only needed in

[2021-12-09 01:06] mexskican commented on #2374
Even if manageable to have a `TInEvent` in the `NetworkBehaviourAction`. I think it would simplify the implementation, which can be a little confusing at the moment.

Do you know what was the initial motivation to have `NetworkBehaviourAction::TInEvent`? Was it only to allow the optimization for `gossipsub`? I think removing the option to have an InEvent different from the Handler one would not im

[2021-12-09 05:54] thomaseizinger commented on #2374
Initially, we had multiple type parameters. It has only been a recent effort to reduce those and "derive" them from associated types of other parameters (like in this case, from the `ProtocolsHandler` trait).

[2021-12-09 08:05] canewsin opened #2376 "Dependency Conflict while using libp2p"
Issue with master branch

Log
[code]

[2021-12-09 16:57] mxinden commented on #2374
Corresponding pull requests: https://github.com/libp2p/rust-libp2p/pull/2182 https://github.com/libp2p/rust-libp2p/pull/2183

If I recall correctly, the goal was to not clone the gossip messages for each peer the message would be send to. @AgeManning @divagant-martian would know more.

[2021-12-10 09:58] canewsin opened #2377 "Adopt Rust like Release model"
Rust and other Most of the languages and frameworks follow, a release model having seperate branches for release types for stable builds -> `stable` branch, `beta` for beta branch.

Why this is important ?
Since rust-libp2p is in wip, most of the wip/early  projects and some projects and depends on master branch, for every commit added by the community, builds are having issues, as i previously op

[2021-12-11 18:35] mxinden commented on #2376
I don't have the time to debug this at the moment. As a first good step I would suggest to remove the `Cargo.lock` (temporarily) and see which updates cause the compilation to succeed again.

[2021-12-12 11:51] #2353 closed, assigned to mexskican

[2021-12-13 00:52] AgeManning commented on #2374
Yes, this was an optimization that was suggested here: https://github.com/libp2p/rust-libp2p/pull/898#discussion_r253077045

If its standing in the way of this, I think we can probably find another way in doing this. The messages can be quite large and send to quite a number of peers, so it would be nice to avoid cloning these.

[2021-12-13 14:21] mxinden commented on #2276
Thanks for the comment above @mooori!

Given that the set of listeners is polled on a single futures task, would a [`LocalBoxStream`](https://docs.rs/futures/0.3.18/futures/stream/type.LocalBoxStream.html) suffice?

:pray:

[2021-12-13 14:26] mxinden commented on #2377
I am not quite sure I follow. How would that branching model be reflected in semver versions on crates.io?

Our CI enforces that there is at least one combination of all dependency versions that compiles. I don't see how the above suggestion would prevent version conflicts on a general level.

[2021-12-13 16:04] canewsin commented on #2377
@mxinden I will look into crates issue further. But for now, this will help atleast for project that rely directly on github repo.

here we can replace branch with "beta" for eg.

[2021-12-13 17:46] mxinden commented on #2374
Something along the lines of https://github.com/libp2p/rust-libp2p/pull/2059/commits/112395275d9a9838fe802586090e1e2777e15f91 could be used, i.e. a custom `Action` type that can later on be transformed into a `NetworkBehaviourAction` in `NetworkBehaviour::poll`.

[2021-12-13 19:42] dvc94ch commented on #2285
FYI I don't think it's ok to just go breaking things because PL has a brainfart. There is no reason that the rust implementation had to break backwards compatibility here.

[2021-12-13 19:45] dvc94ch commented on #2285
cc @rkuhn as this probably affects you

[2021-12-13 20:24] thomaseizinger commented on #2377
Not meaning to be rude but if you are depending on work-in-progress branches then that is sort of on you if they fail to compile etc

We don't really follow a rapid iteration model in rust-libp2p.

What I would suggest is that you fork rust-libp2p and create yourself more stable versions of WIP stuff if you need it earlier. Then you are less affected by changes to these branches and can "promote"

[2021-12-13 20:30] canewsin commented on #2377
@mxinden currently doing this, I prefer this type model because, currently there is boom in p2p market space as well as rust usage, obviously developers tend to rely on libp2p. there are various prs ready to be merged but still on hold for some reasons, these might be released to such branches, so that we can have testing for free before releasing them to stable branches.

[2021-12-13 20:53] thomaseizinger commented on #2377
These "reasons" for example include testing and/or reviews by other maintainers / collaborators to make sure the code works and does what is meant to be doing.

My advice from above still applies. Fork rust-libp2p and merge the branches you want to use in your own fork, then depend on that. That is essentially equivalent to what you are asking us to do. That will obviously come with some maintenan

[2021-12-13 21:56] divagant-martian commented on #2374
Github refuses to open the link to the comment since it's resolved. [This one](https://github.com/libp2p/rust-libp2p/pull/898/files/8d32626b6888fb0179ac7071bd23809ead1d23c3#r253077045) worked better for me (takes a couple of secs to load)

[2021-12-15 21:47] mxinden opened #2385 "{core,swarm}: Allow configuring dial concurrency factor per dial"
Today the dial concurrency factor can be set global and for once.

https://github.com/libp2p/rust-libp2p/blob/b6c82a499c185eae6af716a5ecae2a8c7a4b6476/swarm/src/lib.rs#L1241-L1245

I argue a `NetworkBehaviour` should be able to configure the factor for each dial individually.

While it is necessary to dial concurrently when hole punching to increase success rate, I don't think this should be the c

[2021-12-15 22:41] fishseabowl opened #2386 "Couldn't compile rust-libp2p/examples/ping.rs"
When I use cargo run, I got the below errors:
error[E0433]: failed to resolve: could not find `Behaviour` in `ping`
  --> src/main.rs:14:27
   |
14 |     let behaviour = ping::Behaviour::new(ping::Config::new().with_keep_alive(true));
   |                           ^^^^^^^^^ could not find `Behaviour` in `ping`

error[E0433]: failed to resolve: could not find `Config` in `ping`
  --> src/main.rs:1

[2021-12-16 00:42] thomaseizinger commented on #2386
I cannot reproduce this locally. On latest master and also the version you are depending on (0.39.0) the following works fine for me (inside the rust-libp2p repository):

latest master:

[code]

v0.39.0:

[code]

You might be running the examples wrongly. Are you using `cargo run --example ping`?

Examples are compile-checked with every `cargo test` which is enforces to be green on our CI so it is

[2021-12-16 00:43] thomaseizinger commented on #2386
Closing this for now, please ping if you are still having troubles :)

[2021-12-16 00:43] #2386 closed, assigned to nobody

[2021-12-16 18:00] dvc94ch opened #2388 "libp2p connections can stick around in zombi mode"
this happens reliably when hot reloading our flutter application during testing. there is no `inject_disconnected` or `inject_connected` emitted, just a new `inject_connection_established`. this causes all sorts of weird behaviour as the other application when using `NotifyHandler::Any` will send the on the old connection that refuses to die.

[2021-12-16 20:51] mxinden opened #2389 "swarm/src/protocols_handler: Make `ProtocolsHandlerEvent` depend on `ProtocolsHandler only"
Today `ProtocolsHandlerEvent` depends on 4 trait parameters.

https://github.com/libp2p/rust-libp2p/blob/b6c82a499c185eae6af716a5ecae2a8c7a4b6476/swarm/src/protocols_handler.rs#L311-L324

I think it is worth exploring simplifications, e.g. having `ProtocolsHandlerEvent` depend on a `ProtocolsHandler` implementation only:

[code]

Note that this might clash with the various `ProtocolsHandlerEvent::

[2021-12-16 21:36] dvc94ch commented on #2377
I think it's a legitimate idea to merge large features sooner behind an unstable feature flag instead of having feature branches arround for long periods of time. It has the advantage that small PR's are easier to review.

[2021-12-16 21:38] dvc94ch commented on #2308
This issue was fixed in #2359

[2021-12-16 21:56] canewsin commented on #2388
Oh My, this is the reason My Flutter App hangs after hot reload, have to close and restart the App.

[2021-12-16 22:26] thomaseizinger commented on #2377
I agree in principle but in practice, this might be hard to achieve. If the feature changes existing code (like "concurrent dial" did for example), having a feature flag would mean keep **both** old and new around so we can switch back and forth. That sounds like a maintenance hell to me :sweat_smile:

[2021-12-17 09:23] jejdouay opened #2390 "2 swarm operation moving only one swarm"
I am new to this libp2p so be kind with me :)

I am trying to get 2 swarm running. the first swarm is running the KAD DHT, the second a self defined protocol. The reason is that when put the two behaviours in one swarm, when KAD is dialing a peer for info, it generates a inject_connected on the other behaviour ( which I do not want ) as if I was connected.
The creation of the two warm is not a pro

[2021-12-17 09:30] jejdouay commented on #2390
sorry this is for a discussion !

[2021-12-17 09:30] #2390 closed, assigned to nobody

[2021-12-17 12:21] Frederik-Baetens opened #2391 "gossipsub peer sharing"
I'm trying to build a system where nodes connect to a set of known nodes to join the gossipsub network.

However, it seems like these peers don't reach out to eachother after establishing a connection to the known nodes.

Is there any way to get some sort of peer sharing & automatic connection handling?

I saw [this pr](https://github.com/libp2p/rust-libp2p/pull/1720) and it mentions peer eXchange

[2021-12-18 14:22] dvc94ch opened #2393 "let ping only ping when no activity happened"
Currently it takes a long time to detect networking issues. It may even take longer to detect the networking issue than it does to resolve it. Some ways to fix this are either:

1. use if-watch to kill connections as soon as the interface going down was detected
2. ping more frequently

there are some caveats with these options:

1. seems pretty unreliable as we need to track what interface the co

[2021-12-18 15:29] dvc94ch opened #2394 "libp2p-mdns should use a non standard multicast address to prevent detecting non libp2p nodes"

[2021-12-19 10:48] thomaseizinger commented on #2394
I am not sure I understand correctly. What is a non-standard multicast address?

Also, that topic is maybe better discussed at https://github.com/libp2p/specs?

[2021-12-19 10:55] thomaseizinger commented on #2308
Let's close it then!

[2021-12-19 10:55] #2308 closed, assigned to nobody

[2021-12-19 11:31] thomaseizinger commented on #2393
Hmm, we could implement a final callback on `ProtocolsHandler` that gets called if we are planning to shutdown.

An alternative would be to refactor away the automatic closing of connections and instead only report to the behaviour that all handlers for a connection are idle. The behaviour could then choose to either send a message or close the connection.

[2021-12-19 12:22] mxinden commented on #2388
Does this happen on `v0.41.0` or `master`? In other words, does this happen with https://github.com/libp2p/rust-libp2p/pull/2350 included?

[2021-12-19 13:49] mxinden commented on #2391
Thanks for the detailed issue @Frederik-Baetens. Are you calling `GossipsubConfig::do_px`?

[2021-12-19 14:10] dvc94ch commented on #2388
happens with #2350 included. but banning doesn't have anything to do with it. I'm thinking one solution would be to generate a random number at startup and send it with multistream-select. then if there was a state loss the other peer would detect it by receiving a new connection with a new session id or whatever you want to call it. that would then cause the swarm to close all the expired session

[2021-12-19 22:13] Frederik-Baetens commented on #2391
I'm constructing my config as follows:

[code]

So i think it should be enabled, since it says that it's enabled by default in the docs. I tried adding .do_px() explicitly to the configbuilder, but that doesn't seem to make a difference. Should I do something for peer exchange when calling the eventloop/handling gossipsub events?

[2021-12-20 09:29] dvc94ch commented on #2394
their goal is some compatibility with mdns even though it's not really compatible. the mdns multicast address is `224.0.0.251`. the easiest way to break compatibility is by using a different address like `224.0.0.252`.

[2021-12-20 09:32] dvc94ch commented on #2393
I don't think this will be required for quic as quic already has a built in keep alive mechansim. tcp kind of has something but it apparently doesn't always work as one would expect.

- https://blog.cloudflare.com/keepalives-considered-harmful/

[2021-12-20 10:47] Frederik-Baetens commented on #2391
I've pushed an update to my example repository with the explicit do_px(). It still doesn't seem to work.

I made a small recording of what happens:

https://user-images.githubusercontent.com/18269095/146755337-04f97d7a-1218-4e32-8a21-6ae2ed8c00f1.mp4

[2021-12-20 23:59] AgeManning commented on #2391
Yes. Sorry this was not documented well. Gossipsub currently does not support peer exchange because rust-libp2p did not support signed peer records.

I've not been up to date with the current state of the peer records, but we will add this feature when we can.

[2021-12-21 00:10] AgeManning commented on #2391
Please see this for more details: https://github.com/libp2p/rust-libp2p/pull/2397

[2021-12-21 02:21] thomaseizinger commented on #2391
We have peer records now! They were added as part of the rendezvous protocol!

See: https://github.com/libp2p/rust-libp2p/blob/master/core/src/peer_record.rs

[2021-12-21 09:08] Frederik-Baetens commented on #2391
So should this feature work? Does do_px actually do anything?

[2021-12-21 10:46] mxinden commented on #2388
I am not sure I follow on the bug report itself. Would you mind describing the steps involved? How do connections get into the "zombie" state? Does one endpoint disconnect?

[2021-12-21 11:05] dvc94ch commented on #2388
a connects to b
swarm a restarts
a connects to b
b has two connections from a
b sends messages on first connection which never arrive (which can be checked by using `NotifyHandler::One(connection_id)` instead of `NotifyHandler::Any`.

would add a test to reproduce it but it requires tons of boilerplate. wasn't there an effort to add an add_address to the swarm?

[2021-12-21 11:12] dvc94ch commented on #2388
actually never mind. just thought that the other explanation is that the old swarm isn't shut down and somehow still around. seems like that's more likely

[2021-12-21 11:12] #2388 closed, assigned to nobody

[2021-12-21 12:52] mxinden opened #2398 "protocols/gossipsub: Support peer exchange"
Implement the Gossipsub _Peer Exchange_ mechanism, see [specification](https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md#prune-backoff-and-peer-exchange).

Dependencies:

- [x] Signed Envelope and Peer Record: Added via https://github.com/libp2p/rust-libp2p/pull/2107/

Today the mentions of _Peer Exchange_ in the Gossipsub implementation are empty stubs.

See also http

[2021-12-21 12:59] mxinden commented on #2391
Unfortunately it does not, thus for now you need to rely on a different discovery mechanism (e.g. `libp2p-kad`, `libp2p-rendezvous` or `libp2p-mdns`).

Tracked here https://github.com/libp2p/rust-libp2p/issues/2398. Contributions are welcome, right @AgeManning?

[2021-12-21 14:56] Frederik-Baetens commented on #2398
If I understand the spec correctly, peerexchange is performed as part of pruning, but what if I want peerexchange to occur without pruning nodes to make the network more robust against node failures? Would this also be useful there or is making new connections between nodes already in the network done through another mechanism?

[2021-12-21 21:25] Frederik-Baetens commented on #2398
Also, the linked comment makes mention of a requirement for "signed peer records". Has this been implemented? Or was that done as part of the rendezvous protocol implementation?

[2021-12-21 21:44] AgeManning commented on #2391
Absolutely.

If you dont want to build this yourself. We will get to it, its just going to take some time, pretty flat out at the moment :).

[2021-12-21 21:47] AgeManning commented on #2398
Yep looks like signed peer records have been implemented and we can now add peer exchange to gossipsub.

PR's are welcome, but if not, we will get to this.

[2021-12-21 21:50] AgeManning commented on #2398
Could you elaborate on when you would like peer exchange to occur?

It was designed so that if you get removed from someone's mesh they give you options to join others. It probably isn't best to try and use gossipsub as a full discovery mechanism as its not designed to be one. One of the main things discovery mechanisms give you is resistance against eclipse attacks. I'd be worried if you try and

[2021-12-21 23:09] sireliah opened #2399 "Rendezvous panics on wasm32 arch"
Hi, I'm developing browser wasm32 application that uses rendezvous over websockets transport. I have noticed that instantiating swarm with rendezvous behaviour and polling events from the swarm results in panic:

[code]

<details>
  <summary>Full stacktrace</summary>

[code]

</details>

Related deps:

[code]

Browser: Firefox 94.0

[Gist with the code](https://gist.github.com/sireliah/2d5924e65ed

[2021-12-21 23:17] Frederik-Baetens commented on #2398
Great to hear. I might be interested in contributing if it turns out that libp2p peer exchange is actually what I need. It seems like peerexchange is not meant as a mechanism to make new connections between existing nodes in the network for increasing redundancy, but rather as a mechanism to refer nodes to other nodes when during pruning. And I don't think that would help me.

##### After re-readi

[2021-12-22 01:45] thomaseizinger commented on #2399
Yep that is fine and actually much appreciated!

We strive to support running protocols in WASM where it makes sense. This is merely just an oversight, sorry about that!

[2021-12-22 21:25] Frederik-Baetens opened #2400 "unnecessary `use lib2p` statement leads to error in unrelated code"
Although it seems specific to libp2p, this doesn't seem like (just?) a bug in libp2p. But I'm posting it here as well in case any of you might have something to add to the Rust issue I created about this: https://github.com/rust-lang/rust/issues/92209

[2021-12-23 09:14] Frederik-Baetens commented on #2400
closing since other libs with this behavior have been found

[2021-12-23 09:15] #2400 closed, assigned to nobody

[2021-12-23 22:13] #2399 closed, assigned to nobody

[2021-12-27 17:59] mxinden commented on #2345
Closing here with https://github.com/libp2p/rust-libp2p/pull/2356 merged.

[2021-12-27 17:59] #2345 closed, assigned to nobody

[2021-12-28 17:59] douglaz commented on #2398
What @Frederik-Baetens described makes sense. Is this scenario part of Gossipsub Peer Exchange?

[2021-12-28 19:43] Frederik-Baetens commented on #2398
From what I understood from briefly reading libp2p docs, peerexchange is only meant to keep the network equally robust when a peer is pruned, by offering it new nodes to connect to. It doesn't do anything to make the network more robust when new nodes are joining.

[2021-12-29 14:08] mxinden commented on #2351
NAT traversal is tracked in https://github.com/libp2p/rust-libp2p/issues/2052. I recommend subscribing to the issue to stay up-to-date.

They are ready for review. See https://github.com/libp2p/rust-libp2p/issues/2052#issuecomment-979323021.

For a high level overview on Project Flare (hole punching in libp2p) see https://github.com/libp2p/specs/issues/312#issuecomment-880762775.

[2021-12-29 14:10] mxinden commented on #2347
I would need more context to help here. Ideally a way to reproduce the above.

[2021-12-29 16:03] canewsin commented on #2347
I'll try with Example you provided in dcutr pr and ping you.

[2021-12-30 05:51] canewsin commented on #2347
@mxinden
I tried dailing the other from both sides, they both uses /libp2p/circuit/relay/0.2.0/hop, when dialing others.
how to change this based on role, I don't find any docs on getting proper reservation for client on relay server.

is this automatic or have to configure seperately ?

another thing is, is default relay server config has limit on reservations ? suppose "A" has reservation "B" co

[2021-12-30 08:06] canewsin commented on #2347
Another Error I'm facing is, even though circuit is established on relay with listener, while using mobile network, dialer getting error Outbound Failure for Error.

Log from server while establishing circuit
[code]

On client i just getting Outbound Failure Error. with env var RUST_LOG=debug

[2021-12-30 09:20] canewsin commented on #2347
@mxinden
This is log i was able to pull from client(vps with port closed)

[code]
ping using req-res protocol

[code]

verifying if we don't correct address

[code]

So even circuit is established dialer cannot communicate with listener

But Strangely after some time i tried pinging dialer from listner, it works. how this can be possible.

[2022-01-02 02:18] laptou opened #2420 "Kademlia nodes cannot communicate if protocol name is set"
I tried to create a custom Kademlia network by changing the protocol name with `KademliaConfig::set_protocol_name()`. However, even though I used the same protocol name for all of my nodes, this would cause them to fail to communicate with each other, instead giving an error `Upgrade(Upgrade(Select(ProtocolError(InvalidProtocol))))`. Is there anything else I need to do to make this work properly?

[2022-01-04 21:50] rkuhn commented on #2348
@mxinden Since this is a show-stopper for releasing against libp2p 0.41, would it be possible to release libp2p-swarm-derive 0.26.1 soon?

[2022-01-09 13:55] rkuhn opened #2425 "inject_dial_failure called with wrong peer ID"
When dialling PeerA at a listen address of PeerB, `inject_dial_failure` is called with the peer ID of PeerB (and an error “Dial error: Invalid peer ID”). Proper error handling on the behaviour side would be easier if the peer ID of PeerA was used here (i.e. the expected ID, not the negotiated one).

[2022-01-10 01:13] AgeManning commented on #2398
I agree that using gossipsub as your sole peer discovery mechanism probably leaves you vulnerable to eclipse attacks, but the extra redundant connections I'd like don't make it worse. (if you only use the redundant connections when the more secure/trusted peer discovery mechanism hasn't recommended enough nodes for a reliable/redundant connection)

I think this would modify your trust model. Say y

[2022-01-10 07:39] fanux opened #2426 "Example about file-sharing"
https://github.com/libp2p/rust-libp2p/blob/master/examples/file-sharing.rs

The example read all the file content, how to share a big file. The provider read it from disk, receiver read file stream and dump to disk?

[2022-01-10 11:25] mxinden commented on #2426
In the case of a big file you would likely want to stream the content instead of reading it into memory all at once.

[2022-01-10 14:58] mxinden commented on #2425
Agreed that the above would be more intuitive.

Actually, the comment on `PendingOutboundConnectionError` is wrong as of today

https://github.com/libp2p/rust-libp2p/blob/71a54d8227a0043c26f83c61bceb68b174a343b3/core/src/connection/pool.rs#L202-L203

given that we return the actual peer ID instead of the expected one as you noted above

https://github.com/libp2p/rust-libp2p/blob/71a54d8227a0043c26

[2022-01-10 15:01] rkuhn commented on #2425
sure, will do today or tomorrow — good idea of adding to DialError (as an `Option<PeerId>`, I think)

[2022-01-10 22:12] mxinden commented on #2348
I can cut `v0.41.2` with this fix. Before I do, would you mind expanding on why this is a _show-stopper_ @rkuhn? I categorized this as a lint thus far.

[2022-01-11 03:06] fanux commented on #2426
@mxinden Yes, but how?

[2022-01-11 07:08] rkuhn commented on #2348
Hmm, you’re right — I didn’t actually try building with rustc when I saw the kind of error (which usually means that without a `&` there is a type error). It is somewhat confusing that all references implement Clone, since that impl is so rarely used.

In any case, I depend on rust-analyzer, and I learnt to only trust its output when there are no errors in the project at all, which means I’d still

[2022-01-11 07:13] rkuhn commented on #2348
Perhaps 0.26.1 of this crate is enough for starters, libp2p 0.41.2 could have more things.

[2022-01-11 14:42] mxinden commented on #2420
Does your protocol name start with a `/` @laptou? See:

https://github.com/libp2p/rust-libp2p/blob/e19391e966d64aad1839aa7781a275c64100c75a/misc/multistream-select/src/protocol.rs#L82-L87

[2022-01-11 15:38] laptou commented on #2420
Ah, it did not. I can whip up a PR to document this requirement; where would be the best places to put that information?

[2022-01-11 20:45] mxinden commented on #2420
:rocket:

I would suggest documenting it on `Protocol`:

https://github.com/libp2p/rust-libp2p/blob/5617481e56e3949dabc7ead26f15a75c0f50136f/misc/multistream-select/src/protocol.rs#L69-L71

and linking to `Protocol` in

https://github.com/libp2p/rust-libp2p/blob/5617481e56e3949dabc7ead26f15a75c0f50136f/protocols/kad/src/behaviour.rs#L218-L226

[2022-01-12 12:34] mxinden commented on #2348
I plan to release `v0.42.0` next week. Is that good enough @rkuhn?

[2022-01-12 12:48] rkuhn commented on #2348
sure!

[2022-01-13 16:16] mxinden opened #2432 "misc/metrics: Replace tide with some other webserver"
`cargo audit` reports two vulnerabilities in the dependency graph of `tide`:

- [RUSTSEC-2020-0159](https://rustsec.org/advisories/RUSTSEC-2020-0159.html)
- [RUSTSEC-2020-0071](https://rustsec.org/advisories/RUSTSEC-2020-0071.html)

Given that we use `tide` for an example only, I would guess any other webserver would do.

Blocks https://github.com/libp2p/rust-libp2p/pull/2430.

[2022-01-13 17:07] #2385 closed, assigned to nobody

[2022-01-13 19:42] divagant-martian opened #2434 "`inject_connected` and `inject_disconnected` might introduce small inefficiencies in `NetworkBehaviour` implementers"
Checking the implemented protocols (gossipsub, kad, relay, req/resp and floodsub, mdns and identify) all but floodsub and mdns implement at least a pair of the coupled methods: `inject_connection_(closed|establised)` and the corresponding `inject_(disconnected|connected)` from the `NetworkBehaviour` trait.

This seems to be because the protocols require pieces of information that are not given tog

[2022-01-13 20:29] mxinden commented on #2434
I don't think the fact that we have both `inject_connection_(closed|establised)` and `inject_(disconnected|connected)` is an inefficiency in a performance sense. I would argue that the cost of two function calls is negligible compared to the cost of establishing the connections themselves. Especially as `inject_(disconnected|connected)` involves a `PeerId` only, which should fit a single CPU cache

[2022-01-13 20:33] divagant-martian commented on #2434
implementation wise, protocols typically store information in a `HashMap`. Two calls = two searches

[2022-01-14 16:48] divagant-martian commented on #2434
fixed title to make the point more clear.

On one hand it may be a bit confusing the existence of both methods; but beyond this it also splits the logic required to handle new and closed connections/peers in a two step process in each protocol. Doing what protocols require to "unify" back this logic is what typically will produce a small inefficiency. I also see as an advantage to removing the `in

[2022-01-17 02:17] thomaseizinger commented on #2434
This has historical reasons because originally, `rust-libp2p` did not support multiple connections to the same peer and hence only `inject_connected` and `inject_disconnected` were needed.

[2022-01-19 19:53] mxinden commented on #2434
@divagant-martian do you want to propose a patch combining the four methods into two?

[2022-01-19 19:58] divagant-martian commented on #2434
That's my suggestion. If you ask if I would be giving a PR for this, yes. But I'd like to first gather thoughts on the matter. I guess that's the reason for opening this issue

[2022-01-23 02:44] zn3x opened #2448 "Kademlia: Filtering record is ignored"
When creating kademlia with set_record_filtering set to filterboth
[code]

And with the following trait implementation for MyBehaviour
[code]

This impl should stop insertion of any record with key as 1.
But a new record with key 1 always added to the records

Using:
libp2p 0.41.1

This seems to be introduced between 0.40.0 -> 0.41.0

[2022-01-23 18:49] tomaka opened #2449 "libp2p-websocket: replace /wss with /tls/ws"
According to the multiaddr spec, the `/wss` specifier is deprecated and `/tls/ws` should be preferred.
`libp2p-websocket` only supports `/wss`.

(I've taken the liberty to mark this as "easy", as it's just about interpreting the multiaddr)

[2022-01-24 01:02] esotericbyte commented on #2432
I'm glad to help in any way I can. I just don't to go swatting at flys with an albacore tuna if that can be avoided.
Changing the web server is not a trivial change. If another one is required  that adds another dependency downstream for libp2p + tide users.
My research on this indicates that the issue was patched by  forcing utc on affected platforms, and this patch is months old.  Has the segfau

[2022-01-24 09:53] mxinden commented on #2432
Hi @esotericbyte,

I would very much appreciate additional help here.

My motivation:

1. I would like to detect vulnerabilities in upstream dependencies early.
2. To me an automated process like the one introduced through https://github.com/libp2p/rust-libp2p/pull/2430 seems to be the most efficient.
3. In order to merge https://github.com/libp2p/rust-libp2p/pull/2430 we either have to:
    1. Re

[2022-01-24 20:02] mxinden commented on #2448
Thanks for reporting @mobrine1!

That is indeed surprising. Can you provide a full but minimal reproducing example? That would help me a bunch debugging the issue.

[2022-01-25 17:28] #2448 closed, assigned to nobody

[2022-01-26 09:32] altonen opened #2451 "Inconsistent `Swarm::listen_on()` behavior"
Hi, I'm working on a project that uses rust-libp2p and when I was writing a test that tries to bind to same interface twice to verify that the second bind would fail, I got inconsistent results. On Linux the second call to `listen_on()` fails whereas on Windows both calls succeed. Is this a bug in rust-libp2p or am I using the library incorrectly? Below is a small example that reproduces the bug.

[2022-01-27 08:19] esotericbyte commented on #2432
i wrote a js filter that condensed the advisory from cargo audit --json  and realized that all of the warning issues in the main build of rust-libp2p are the same as those for tide alone and that this is also a problem for the example for open metrics client. I will start to work on a version using Warp. It uses some syntax that seems very concise but it does have the same vulnerability with chron

[2022-01-27 09:33] rkuhn commented on #2432
When using Warp, I recommend using `.boxed()` on filters quite aggressively — I recently tracked down a factor two in compilation times due to unboxed filters and their rather large types, and the problem is that this issue is not visible when building the library, only when linking a binary (more precisely: in the monomorphisation step before calling the linker).

[2022-01-27 11:03] mxinden commented on #2451
Unfortunately I am not very familiar with the TCP network stack on Windows. Might it be that we are not explicitly setting [`SO_EXCLUSIVEADDRUSE`](https://docs.microsoft.com/en-us/windows/win32/winsock/using-so-reuseaddr-and-so-exclusiveaddruse#using-so_exclusiveaddruse) on windows?

[2022-01-27 12:10] rkuhn commented on #2451
While I can’t check libp2p code right now I can confirm that on Windows a special flag is needed so that the second bind is denied.

[2022-01-28 06:35] altonen commented on #2451
Thank you both for your responses. I'll check if I can fix this issue with your suggestion @mxinden and open a PR if it works.

[2022-01-28 22:54] ahollmann commented on #2432
Have you taken a look at [axum web framework](https://github.com/tokio-rs/axum)?

By the hyper and warp author on [axum](https://seanmonstar.com/post/672473147126300672/hyper-ish-2021-in-review):

`Then came Axum. Axum is a Rust server framework designed to extend from Tower and Tower-HTTP. While warp was always able to work with Tower, it’s main Filter API was very  #opinionated, and felt foreign

[2022-01-29 03:00] esotericbyte commented on #2432
I looked at hyper ! It seems that going without a framework and just using the http server , going full boiler obviously is a good way to go and avoids 3 problems.
1. No more audit errors!
2. No Warp linking problems.
3. Avoid opinions  and complexity of web frameworks to serve metrics.

The disadvantage is longer code.

Thinking about responses to comments helped lead me toward this direction. I'

[2022-01-29 08:29] rkuhn commented on #2432
This is one of the hard questions. My opinion is that warp code can be quite easy to read for someone who is only interested in the HTTP semantics, but it is definitely not simple — to me “simple” means “the abstraction works perfectly, without leakage, and I can understand the implementation details if need be”. A hammer & chisel is simple, a CNC milling machine can do many more things (which may

[2022-01-29 11:24] rkuhn commented on #2285
Hmm, I missed this ping somehow and saw the change now in the 0.42 change log.

@dvc94ch With the reasoning given at the top, it does seem that compatibility will have to be broken at some point due to the mDNS protocol constraints. At that point Actyx would be broken for other reasons, though, so it would make things easier for more static deployments if the breaking change only happened at that

[2022-01-29 11:38] ahollmann commented on #2432
Axum is around the same abstraction level as tide and warp. It is very new (first release on Jul 30, 2021) and very actively developed. The benefit over tide is that is uses tokio instead of async-std as async runtime. At the same time it uses less "magic" compared to warp and is more actively developed.

If you don't need the middleware (e.g. to add metrics to your endpoints) a higher level web f

[2022-01-30 10:50] rkuhn opened #2459 "dropping NegotiatedSubstream should close it"
I’m currently implementing a streaming response protocol for high message volume (where OneShot incurs undue overhead) and found this behaviour while testing:
[code]
If I add `io.close().await?` in my handler after sending those two bytes, then the receiver sees the stream close and everything works. Reading the comment for [Multiplexed::drop_stream](https://github.com/libp2p/rust-libp2p/blob/243f

[2022-01-30 12:24] dignifiedquire commented on #2432
Looks like chrono itself is not patched at all, which is quite unfortunate: https://github.com/chronotope/chrono/issues/499.
I will take a look and see if I can get tide fixed, as that needs to be done anyway.

[2022-01-30 15:04] appaquet opened #2461 "Websocket yamux regression in v0.42"
I tried upgrading my [project](https://github.com/appaquet/exocore) to 0.42 in which I use WebSocket transport on web nodes. Inbetween TCP nodes everything is fine, but it seems like there is a regression when using WebSocket transport in my wasm compiled web client.

I've bisected the issue to the bump to yamux 0.10, and more precisely this [commit](https://github.com/libp2p/rust-yamux/commit/eb6

[2022-01-31 21:22] jochasinga commented on #2449
Shouldn't this change be made on the multiaddr crate too?

[2022-02-01 18:46] mxinden commented on #2459
Are you closing (/dropping) the stream only, or the connection as well?

---

As an aside, why are you using `libp2p-mplex` over `libp2p-yamux`? Unless one needs compatibility with the js-libp2p stack (doesn't have a Yamux implementation), I don't see a reason to give up flow control (i.e. not use `libp2p-yamux`).

[2022-02-01 18:52] mxinden commented on #2461
Thanks for reporting. Definitely worth investigating.

I don't have one handy. Maybe @wngr?

[2022-02-02 06:31] rkuhn commented on #2459
I used mplex by virtue of copying one of the test cases from libp2p. My protocol’s output value is the NegotiatedSubstream which the ProtocolsHandler then uses to send and receive data. It is this value I’m dropping — not sure whether you call that stream or connection.

[2022-02-02 12:14] nazar-pc commented on #2376
Often `cargo update --package signature` fixes such issues.

[2022-02-02 20:19] mxinden commented on #2449
Should be done via https://github.com/multiformats/rust-multiaddr/pull/48/.

[2022-02-03 15:56] jochasinga commented on #2449
I can tackle this @mxinden @tomaka.

[2022-02-03 19:23] Frederik-Baetens opened #2474 "Blocking code is not allowed in sync #[behaviour(event_process = true)] trait implementation"
As the traits generated by event_process=true are standard sync traits, there's no warning to the user that blocking code is not allowed.

I realize that async fn in traits isn't possible as of yet, but in the meantime it seems wise to document this, or alternatively devise a mechanism whereby these sync method calls are spawned on a separate thread, or with block_on.

Something like this already

[2022-02-04 06:19] nazar-pc opened #2478 "Kademlia key value validation"
It is quite often the case that the value stored on DHT is addressed by its hash. If this is the case, it is only needed to find one node that can return value whose hash corresponds to the key.

Right now there is no mechanism to "inject" value validation and stop lookup before quorum is reached or nodes towards the target are checked if correct value is already found.

With that I think there wo

[2022-02-04 09:30] rkuhn commented on #2474
In general I find that swarm event handling should only be used for high-level coordination tasks — I’m currently reimplementing our (so far private) libp2p-streaming-response crate to avoid `Swarm::poll` for sending response messages. Instead, it makes more sense to directly interact with substreams from other app code, bypassing the swarm and communicating directly with the per-connection task s

[2022-02-04 12:08] nazar-pc commented on #2398
Created https://github.com/libp2p/specs/issues/391 to discuss suggestion from @Frederik-Baetens

[2022-02-04 16:08] oslfmt opened #2479 "Implementing utp for rust-libp2p"
What is the status of utp development for rust libp2p? Afaik, there is no implementation, and I don't see any PRs that have started implementation. If no effort has been made to start development, I may be interested in potentially starting an implementation.

[2022-02-04 17:41] jochasinga commented on #2449
Looks to me like even `/wss` scheme isn't supported currently? Keep getting `MultiaddrNotSupported("/ip6/::1/tcp/0/wss")` running test.

Since [multiformats/rust-multiaddr#48 ](https://github.com/multiformats/rust-multiaddr/pull/48) added tls support, will this be just upgrading libp2p-websocket to use it?

[2022-02-04 20:54] mxinden commented on #2479
I am a bit confused. Are you referring to U**D**P?

[2022-02-04 21:33] jochasinga commented on #2449
Does this test case for rust-multiaddr make sense @tomaka?

[code]

Basically, when parsing a multiaddress, when a `tls` is found, we peek to see if the next one is "ws" and write that off as `Protocol::Wss(..)`.

[2022-02-04 22:43] nikoPLP commented on #2479
I believe he is referring to https://github.com/libp2p/go-utp-transport.
I understands that QUIC is the current way to do UDP connections.

[2022-02-05 00:06] oslfmt commented on #2479
@nikoPLP is correct. I saw on the libp2p.io site that currently the rust implementation is missing a utp implementation. As far as I understand utp is just a reliable data stream abstracted over UDP, it is like a TCP clone over UDP, similar to how QUIC operates I think. It stands for "uTorrent transport protocol": https://www.bittorrent.org/beps/bep_0029.html

[2022-02-05 09:48] tomaka commented on #2449
I don't think it's a good idea to make `/tls/ws` and `/wss` equal. This is too magic and could lead to violated assumptions.
In my opinion the only change needed is making `libp2p-websocket` support `/tls/ws`.

[2022-02-07 01:19] elenaf9 opened #2483 "core/connection/pool: spawning a task does not inform the waker"
While debugging a flaky [AutoNAT test,](https://github.com/libp2p/rust-libp2p/runs/5079125319?check_suite_focus=true#step:5:3552) I noticed that once in a while it happens that a pending connection that was added in `Pool::add_incoming` is not directly upgraded to an "established-connection" (the used TCP transport always directly returns `upgrade: futures::ok`, so that shouldn't be the issue?). I

[2022-02-07 07:12] rkuhn opened #2484 "include cause in inject_connection_closed"
Currently, the information on why a connection ended is only included in `SwarmEvent::ConnectionClosed`, so it is not available to a (sub)behaviour.

As a side remark, this method would then have six non-self arguments — I’m fine with that, but perhaps someone else feels more strongly about it.

[2022-02-07 07:16] rkuhn opened #2485 "make it possible to listen to some events in a derived NetworkBehaviour"
Yesterday I had a case where deriving the behaviour was perfect apart from one line — I needed to stay informed of peers disconnecting. With the ability to expand the proc macro in VS Code this was a matter of seconds, but it would be nicer for readers of the code and for maintainability if this patch could be formulated more elegantly, for example with syntax like
[code]

[2022-02-07 07:27] rkuhn opened #2486 "use `anyhow` instead of `std::io::Error`"
This may be controversial, and it is completely fine to explain to me why this idea is nuts or that there is a better solution. The issue I faced was that I need to recognise a specific upgrade failure while connecting with `noise` to redial in case of an uncoordinated TCP simultaneous open event. The only solution I could find is to turn the IO Error into a string and pattern match on it, which i

[2022-02-07 17:49] mxinden commented on #2478
Would using a read quorum of 1 and record filtering be enough to support your use case?

https://github.com/libp2p/rust-libp2p/blob/8d1366616714083617a1fa6e83b4e54effb1d8dc/protocols/kad/src/behaviour.rs#L139-L160

[2022-02-07 17:53] nazar-pc commented on #2478
I don't think so. Record filtering should help with inserts, but during retrieval what I'd like to do is to get 1 correct value (let's say whose hash is equal to the key), not just 1 result even if it is not correct.

[2022-02-07 17:56] mxinden commented on #2474
As an aside, in the long run I would like to remove ` NetworkBehaviourEventProcess` and `event_process=true` entirely in favor of `event_process=false`. As far as I can tell there is no use-case one could not fulfill with the latter. Please tell me in case I am missing one. This is likely a discussion for a new GitHub issue.

What is the reason you are not using `event_process=false`? You could th

[2022-02-07 19:14] TomzBench opened #2488 "A Modular network stack"
Hello,

I cam across here via: https://libp2p.io/ while looking for a cross platform device discovery solution (mdns/bonjour/zeroconf).

The libp2p website kind of implies I could pull in a mdns lib, but in the example looks like I need the whole libp2p stack. Digging further, the mdns implementation is non standard, and there is some discussion to address that https://github.com/libp2p/rust-libp2

[2022-02-07 19:17] TomzBench commented on #2488
(Sorry - this probably belongs under Discussions)

[2022-02-07 19:17] #2488 closed, assigned to nobody

[2022-02-07 19:53] rkuhn commented on #2474
The PR you reference contains the code that I am currently replacing at Actyx :-) I found that negotiating a new substream for each message incurs unacceptable overhead. I’ll open a new PR once the work is finished and I’m satisfied with the quality, which may still take 2–3 weekends.

Regarding the removal of `event_process = true`: that would make it impossible to write encapsulated behaviours t

[2022-02-07 20:00] Frederik-Baetens commented on #2474
This is the main reason why I'm using event_process = true, it's possible to access the other behaviours trough the swarm, but I dislike having all my event handling code in the main swarm loop, and once you start encapsulating the behaviours into separate functions it gets a bit more difficult. I don't know if it's possible/easy/clean to pass the swarm into the handling functions. Event_process =

[2022-02-07 21:58] mxinden commented on #2474
How come? Due to message size? Negotiation should be 0-RTT with [`V1Lazy`](https://docs.rs/multistream-select/latest/multistream_select/enum.Version.html#variant.V1Lazy). And potentially even better far far in the future with https://github.com/libp2p/specs/pull/349.

[2022-02-08 07:15] rkuhn commented on #2474
Hmm, when I read those V1Lazy docs I concluded that it has too many edges to be used as a general purpose tool. For example, we’re using libp2p specifically because we want dynamic protocol negotiation, i.e. neither side knows the precise choice of protocol when a request is initiated. Otherwise I could just use TCP and put a small muxer in front.

On the conceptual level, I find it valuable to id

[2022-02-08 07:56] rkuhn commented on #2474
I forgot one very important point: with separate substreams per message it is impossible to implement back-pressure.

[2022-02-08 20:33] jsdanielh opened #2494 "protocols/gossipsub: Unexpected delivery trace"
After upgrading to 0.42.0 (gossipsub 0.35.0) I started to see this message when rejecting a message (reporting an `Ignore` or `Reject` as message validation):
[code]
This also using content base addressing (using the hash of the message as `MessageId`).

After digging a little more, the change that is making the message to appear comes from [this change](https://github.com/libp2p/rust-libp2p/pull/

[2022-02-09 02:20] appaquet commented on #2461
It seems like I was wrong on the origin of the problem in yamux's commit history. I've narrowed the problem to https://github.com/libp2p/rust-yamux/pull/112

It seems like the issue comes from not fully awaiting the flush of the underlying socket in the connection.

The problems get solved by correctly awaiting the flush like this:
[code]

Perhaps I'm wrong, but it seems like [flushing in frame::I

[2022-02-09 05:51] AgeManning commented on #2494
Hey. Yes. This is an oversight on my behalf.

The original scoring was not designed for the optimization that I added, and I missed this warning. It is harmless though.

We have been looking more deeply into gossipsub. If you are using it there are some other more significant issues we are dealing with which should be patched in the next version.

[2022-02-09 06:01] AgeManning opened #2497 "protocols/gossipsub: Custom interval grows and is not performant"
@mxinden - Your input here might also be helpful.

After a bit of digging, we've found that the gossipsub heartbeat can be set to the order of 1s but grow to the order of many minutes. This heartbeat is crucial for gossipsub to maintain its peers and meshes as well as bound its memory cache and gossip messages on time.

A many-minute heartbeat can cause terrible conditions on the network and signi

[2022-02-09 08:33] nazar-pc commented on #2486
`anyhow` is generally considered to be used in applications, not libraries. `thiserror` would be a more appropriate option for a library.

[2022-02-09 08:53] tomaka commented on #2486
Unfortunately our hands are kind of tied because we abstract over streams through the `AsyncRead` and `AsyncWrite` traits, which are hardcoded to `std::io::Error`

It is probably possible to improve the current situation, but it's not as trivial as replacing an error type with another.

[2022-02-09 11:32] divagant-martian commented on #2497
Checked our metrics again now that some hours have passed and gains are consistent
![image](https://user-images.githubusercontent.com/26765164/153191578-d524ceb1-01e6-45f8-bae9-923117640728.png)
The step increases are what @AgeManning mentions as increases by multiples of the heartbeat duration

[2022-02-09 12:39] divagant-martian commented on #2497
Also to note, the interval code refers to `wasm-timer` as the original source. I wrote a small code that uses an Interval and adds a disruption, calculates de moving avg of the last 5 ticks. `wasm-timer` maintains the expected rolling average, the current implementation grows. Is there a reason to avoid using `wasm-timer` directly? (If any interest in the code arises I can upload it somewhere)

[2022-02-09 12:55] mxinden commented on #2483
That is what I would expect to be happening as well.

Cool. Thanks @elenaf9.

[2022-02-09 13:00] mxinden commented on #2484
I am fine with there being 6 arguments.

[2022-02-09 13:03] mxinden commented on #2485
I am not sure I follow. You want to be able to override the generated implementation of `NetworkBehaviour::inject_connection_closed`?

[2022-02-09 14:11] rkuhn commented on #2485
Given the current structure, it would be more consistent if the generated implementation would be extended to call the provided associated function. This way sub-behaviours keep working as they were but the higher-level behaviour can still see the events it needs to see. If we allow the implementation to override the behaviour hook, then the higher-level behaviour could filter the events for its s

[2022-02-09 14:20] rkuhn commented on #2486
@tomaka Hmm, that’s unfortunate. Maybe AsyncRead/Write are not the right abstraction, then? The errors we need to signal are upgrade errors, not I/O errors.

@nazar-pc `thiserror` produces `std::error::Error`, which has the same problem as I outline above — namely that the error causes can only be inspected via `to_string`. The Rust std-library unfortunately has a significant weakness in this rega

[2022-02-09 14:31] mxinden commented on #2474
That is not possible. Would you mind sending in a patch fixing the docs?

[2022-02-09 14:33] mxinden commented on #2474
Yes this is a good point. I have a couple of thoughts on this, especially in combination with protocols like bitswap. Though this is likely for another issue.

(As a side note, if I am not mistaken, QUIC does have backpressure on channel creation. Though one would need to enforce it within `ProtocolsHandler`.)

[2022-02-09 14:49] mxinden commented on #2461
Thanks for further bisecting this issue!

From a quick look I would expect, given that `flush_nowait` is called in a `loop`, that it would still succeed.

But that would block until everything is flushed. While flushing one could not receive new packets. If both ends wait to flush we would have a dead-lock, no?

[2022-02-09 15:09] #2434 closed, assigned to nobody

[2022-02-09 15:24] mxinden commented on #2494
Closing here with #2496 merged. Thanks for the report and the quick fix!

[2022-02-09 15:24] #2494 closed, assigned to nobody

[2022-02-09 16:22] mxinden opened #2500 "Migrate all protocols to use `quick-protobuf-codec`"
Instead of implementing Protobuf en-/decoding in each protocol and for each message exchange, one can instead implement a custom encoder abstracting the en-/decoding of Protobuf messages.
[code]

[2022-02-09 16:57] mxinden commented on #2497
Oh, surprising. Thanks for the debugging work and the detailed report @AgeManning and @divagant-martian!

Agreed.

If I am not mistaken we moved to support running as WASM in NodeJS. See https://github.com/libp2p/rust-libp2p/issues/2143 for details.

I am surprised that this causing issues now, given that https://github.com/libp2p/rust-libp2p/blob/master/protocols/gossipsub/src/interval.rs is a po

[2022-02-09 17:07] nazar-pc commented on #2486
With `thiserror` you can have an enum that has multiple variants, some of which are other error instances, that way you can traverse it in depth if needed, not entirely sure what use case demands though.

[2022-02-09 17:07] divagant-martian commented on #2497
just for completeness, the experiment code https://github.com/divagant-martian/interval-example

[2022-02-09 17:15] PhilippGackstatter commented on #2497
Can't comment much on the issue itself, but out of those two, I think the latter is preferable from a compatibility point of view. The `futures-timer` implementation could hopefully use [gloo_timers::future::IntervalStream](https://docs.rs/gloo-timers/latest/gloo_timers/future/struct.IntervalStream.html) which has good Wasm compatibility ([including node.js](https://github.com/rustwasm/gloo/pull/1

[2022-02-09 17:18] appaquet commented on #2461
You're right! I had not noticed the loop there.

I'll try to dig down a bit more tonight. Maybe the changes in yamux aren't the issue after all, but just triggering an issue in the way the websocket transport is implemented...

[2022-02-09 18:58] divagant-martian commented on #2497
I agree in contributing if possible to this in the appropriate repository. Having a custom `Interval` implementation to give support to one target inside gossipsub puts the burden of maintenance on `libp2p` and particularly in `libp2p-gossipsub`, when it really is out of scope

[2022-02-09 19:27] #2474 closed, assigned to nobody

[2022-02-09 22:06] AgeManning commented on #2497
The current implementation as it stands has some serious problems (even though it's taken us a while to track it down).

@divagant-martian has indicated that the `wasm-timer` implementation doesn't grow the heartbeat interval and is therefore useable, however is not as performant as the tokio implementation.

For Lighthouse, we're probably going to a run a fork for the time being with the tokio im

[2022-02-10 02:03] appaquet commented on #2461
Ok, I think I got it. The issue seems to really be in yamux, and is indeed related to improper flushing.

In the `next()` method's loop, a frame could be fed to the socket and its write completed in the first half of the loop. Once it had been written, it falls in the second section waiting for a next incoming frame or next stream/control commands, but the previous write may still have been left u

[2022-02-10 02:21] demfabris opened #2503 "libp2p_dns and circuit-relay v2 missbehaving"
## Issue
Dialing a relayed address with DNS transport enabled fails with `MultiaddrNotSupported`

## Culprit
The execution fails in this function https://github.com/libp2p/rust-libp2p/blob/b39770b8e9bfb113235c9ab8f7f2df2392482073/transports/tcp/src/lib.rs#L678

## Reproducing
Implemented a reproducible example over the existing `relay_v2.rs` example
PR: #2502

Head to `protocols/relay`
Open 3 term

[2022-02-10 17:52] smoelius opened #2504 "Pull `rw-stream-sink` into this `rust-libp2p`?"
Should [`rw-stream-sink`](https://github.com/paritytech/rw-stream-sink) be brought into `rust-libp2p`'s workspace?

Doing so would help ensure that `rw-stream-sink` is regularly linted and tested.

The only potential downside I can see is: it could complicate how you publish `libp2p` and/or `rw-stream-sink`.

If this change is considered reasonable, I could submit a PR.

[2022-02-10 19:42] mxinden commented on #2485
If I understand your suggestion correctly, this could e.g. be useful in `libp2p-autonat` where many `NetworkBehaviour` methods simply delegate to the underlying `libp2p-request-response` `NetworkBehaviour`, while for other methods one wants to override the delegation:

https://github.com/libp2p/rust-libp2p/blob/861e15dabbba28ce5aff3c6332ab10ce9c4c24b8/protocols/autonat/src/behaviour.rs#L462-L499

[2022-02-10 20:06] elenaf9 commented on #2485
I agree that this would be useful. But in AutoNAT there are quite a lot of methods with custom implementation, so doing this via the suggested `#[behaviour(inject_connection_closed = "inject_closed", ..)]` for all custom methods could end up a bit messy.
I wonder if there is a cleaner way to do this via a trait with auto implementations; something along the lines of:

[code]
Behaviours like AutoNA

[2022-02-10 23:46] AgeManning commented on #2398
This is still not high on our priorities as I'm unsure anyone is actually using this feature.

If this feature is wanted/needed please ping me and we'll get it done sooner rather than later.

[2022-02-10 23:51] Frederik-Baetens commented on #2398
By using kademlia & identify, I no longer need peer discovery built into gossipsub. I also don't think I need do_px to work since kademlia offers my nodes more than enough peers. Although I think that do_px can be useful when the connection graph is only 1-connected, but idk how common that is in practice.

[2022-02-11 07:17] rkuhn commented on #2485
Yes, @elenaf9 that is going in the direction I’ve been pondering since opening this issue. What I’d like to have is the ability to compose behaviours as mostly black boxes — and what I couldn’t yet figure out is how large the deviation from “black” will need to be. In the metaphor, we’d need at least some non-black lettering to state the purpose and abilities of the box :-)

Here’s my current trai

[2022-02-11 07:36] rkuhn commented on #2486
My use-case is the following:
[code]
The issue here cannot be fixed by `thiserror` or any other way of how we generate our Error impls. The issue is that the transport error type is `std::io::ErrorKind::Other` which doesn’t allow any other way of introspection than using `to_string`.

Maybe the above was not what you meant: if you meant that we replace `TransportError<std::io::Error>` (in DialErro

[2022-02-11 14:50] mxinden opened #2509 "*: Replace implementations of `Display` and `Error` on errors with `thiserror`"
I would argue that a generated implementation of `Display` and `Error` via `thiserror` is faster to write and easier to maintain. Thus I advocate for using `thiserror` for most of not all libp2p error types.

[2022-02-11 14:52] mxinden opened #2510 "core/src/signed_envelope: Don't take ownership of `key` in `SignedEnvelope::new`"
This boils down to the patch below:

[code]

[2022-02-11 15:01] mxinden opened #2511 "core/src/signed_envelope: Enforce verification of public key on `SignedEnvelope::payload`"
`PeerRecord::from_signed_envelope` would previously (before https://github.com/libp2p/rust-libp2p/pull/2491) not validate that the public key of the `SignedEnvelope` matches the `PeerId` of the `PeerRecord`.

Today `PeerRecord` directly accesses `SignedEnvelope::key` as a quick fix. Long term we should enforce verification through the type system. Ideas thus far:

- @MarcoPolo: Return both the pay

[2022-02-11 15:03] mxinden commented on #2425
Closing here given that https://github.com/libp2p/rust-libp2p/pull/2428 is merged.

[2022-02-11 15:03] #2425 closed, assigned to nobody

[2022-02-11 15:24] laurentsenta commented on #2510
Happy take this, thanks for sharing the first step!

[2022-02-11 16:27] mxinden commented on #2426
I am closing here. Feel free to re-open, but please help us help you by being more specific.

[2022-02-11 16:27] #2426 closed, assigned to nobody

[2022-02-11 16:28] mxinden commented on #2420
@laptou friendly ping. Would you still be up for documenting this?

[2022-02-11 16:29] mxinden commented on #2376
I am closing here. Feel free to re-open in case the problem still persists.

[2022-02-11 16:29] #2376 closed, assigned to nobody

[2022-02-11 16:30] mxinden commented on #2351
We now have a hole punching tutorial. I am closing here. Feel free to open a new issue in case you have more questions.

https://github.com/libp2p/rust-libp2p/blob/master/src/tutorials/hole_punching.rs

[2022-02-11 16:30] #2351 closed, assigned to nobody

[2022-02-11 16:31] mxinden commented on #2347
Is this still an issue @canewsin?

[2022-02-11 16:35] canewsin commented on #2347
@mxinden I didn't try with merged changes yet. Feel free to close this, I will create a new issue if i face such issue, and let you know about status after code alterations with new changes, and link this if issue still persist.

[2022-02-11 16:57] MarcoPolo commented on #2511
Happy to take this. @thomaseizinger can you elaborate a bit more on the closure approach? Specifically what is the type signature? I'm fine with either. Though the closure approach seems a little better since it seems a bit harder to ignore.

[2022-02-11 17:13] mxinden commented on #2347
Sounds good :+1:

[2022-02-11 17:13] #2347 closed, assigned to nobody

[2022-02-12 20:56] demfabris commented on #2509
I got this

[2022-02-13 10:52] rkuhn commented on #2485
Sunday morning, cold and bright weather, out in the countryside, taking a walk … and I finally understood:

- NetworkBehaviour operates on the level of a peer, it defines what shall happen
- ProtocolsHandler operates on the level of a connection, i.e. a pair of peers, it defines how things are communicated

This has implications on my desire of protocol reuse sketched above. I now think that my cu

[2022-02-13 12:07] thomaseizinger commented on #2485
From the list above, I'd say it falls into `autonomous` although the line with `always-on` is a bit blurry. Most of the standard libp2p protocols fall into one or the other.

I have thought a lot about this so I would like to share a few more thoughts. The main driving forces of the current design in my observation are:

- **Performance**: Separation of a protocol into peer-local state (`Protocols

[2022-02-13 17:41] appaquet commented on #2461
A bit more digging... Writing to websocket (wasm-ext) may lead to `Pending` if another frame is being sent (see [this](https://github.com/libp2p/rust-libp2p/blob/96dbfcd1ade6de5b4ae623f59fb0d67b2916576a/transports/wasm-ext/src/lib.rs#L485)). Noise implementation can write pending frame on flush (see [this](https://github.com/libp2p/rust-libp2p/blob/b79fd02f0bdde07f437c691e278a16cf9024036a/transpor

[2022-02-13 19:14] dvc94ch commented on #2486
it's quite a poor consideration for multiple reasons:
- no one using thiserror captures a backtrace
- pattern of using a single error enum per crate means that it's not useful for exhaustive matching on error conditions
- often requires stringifying the error message into `Other` variants
- often very nested enums one for each dependency containing that dependencies error enum
- penalizes the happ

[2022-02-13 19:44] rkuhn commented on #2486
So what would be the optimal solution in the scenario I’m asking about?

[2022-02-13 19:47] dvc94ch commented on #2486
you can't avoid the stringification as @tomaka mentioned because io::Result is forced by the trait. the real solution would be moving anyhow into std and start relying on it pervasively. since that's unlikely to happen I guess string matching is the best you can do.

[2022-02-13 21:20] elenaf9 commented on #2483
I tried to reproduce this bug with a simpler, autonat-independent test, but wasn't successful. Even for above linked test `autonat::test_client::test_auto_probe` it only happens every ~1000 tests (which honestly makes it a _real_ nightmare to debug).
Because this was never reported before and I am not able to reproduce it, and thus I am not even sure where the problem lies, I am closing this issue

[2022-02-13 21:20] #2483 closed, assigned to nobody

[2022-02-13 23:31] hamamo opened #2514 "AutoNAT: how to handle non-global IP addresses?"
Currently, AutoNAT seems to consider private IP addresses as possible external addresses when two peers run in the same private network. In my case, this is one computer where I run multiple instances of my code, but it is conceivable that the same happens when separate machines run in the same private network (i.e. behind the same router or within some corporate network).

I don't really know whi

[2022-02-14 08:03] elenaf9 commented on #2514
On the initial PR for AutoNAT we had a discussion about whether to filter out non-global IP-Addresses or not (https://github.com/libp2p/rust-libp2p/pull/2262#discussion_r757955839). Initially we had it as well, but the complexity of the filter logic triggered a discussion about whether it is necessary at all in the first place. I was in favor of also considering non-public IP-Addresses for probes,

[2022-02-14 08:27] rkuhn commented on #2514
While I haven’t yet had the time to fully understand AutoNAT, I can add a data point: private networks with an “interesting” structure are quite common in the environments where we deploy libp2p-based applications (which is in factories, on the shop floor). We try to push people towards end-to-end connectivity at least within a factory site, but that’s not always successful.

[2022-02-14 10:36] mxinden commented on #2497
https://github.com/libp2p/rust-libp2p/pull/2506 is merged. I will leave this issue open to track support for `wasm-unknown-unknown` for `libp2p-gossipsub`.

**Next step**

I think it is worth exploring contributing an `Interval` implementation to `futures-timer` (https://github.com/async-rs/futures-timer/issues/60) using `gloo_timers` on WASM as suggested by @PhilippGackstatter above.

I don't hav

[2022-02-14 11:02] hamamo opened #2515 "AutoNAT: multiple opened connection"
It seems that AutoNAT opens peer connections as part of its probing loop but does not close them again, so after some time connected peers have dozens of open connections between them. I only have a very rudimentary understanding of the implications but it doesn't look quite right :-)

[2022-02-14 11:04] hamamo commented on #2514
I'll try but it will take me a bit of time, too, as I'm not too familiar with the codebase yet.

[2022-02-14 12:38] elenaf9 commented on #2515
From what I understand, connections don't need to be explicitly closed.
Instead, a connection is generally only kept alive while the handler of at least one network behaviour reports `KeepAlive::True` ([ref](https://docs.rs/libp2p/latest/libp2p/swarm/protocols_handler/trait.ProtocolsHandler.html#tymethod.connection_keep_alive)). The AutoNAT protocol internally wraps the `request-response` protocol

[2022-02-14 14:36] dignifiedquire commented on #2509
This means adding another error related dependency, that has no `no_std` support. :/

Ref https://github.com/dtolnay/thiserror/pull/64

[2022-02-14 19:37] esotericbyte commented on #2432
Nearly done with a hyper based metrics server that complies  but i need to test it. It's on my fork but is not ready for a PR.
I need to test it and remove the tide server, and fix a couple of other issues.
fork &  branch:
https://github.com/esotericbyte/rust-libp2p/tree/misc-metrics-tide-to-hyper

After nearly done I can not help but question if the extra complexity of an asynchronous threaded ht

[2022-02-14 19:45] mxinden commented on #2432
:pray: No need to be asynchronous. The simpler the better.

[2022-02-14 19:52] mxinden commented on #2504
Has there been a recent incident that would warrant the move of `rw-stream-sink` specifically? Are you interested in moving `rw-stream-sink` only, or all smaller crates? I am having difficulties understanding the concrete motivation here.

[2022-02-14 20:29] demfabris commented on #2509
@mxinden thoughts?

[2022-02-14 21:03] mxinden commented on #2514
:+1: for a config flag filtering out non-global IP addresses by default.

Agreed. Good call out. Contributions are most welcome. Also I am happy to do it as a follow-up to the rust-libp2p patch.

Just to confirm, with a config flag your use-case would be covered as well, right? @rkuhn?

Let us know if you need any help, e.g. via a draft pull request.

[2022-02-14 22:13] AgeManning commented on #2497
Yeah I dont think we need a backport at the moment. There's a few more small changes (metrics) to add to gossipsub, so happy to wait for next release cycle. :)

[2022-02-14 23:16] smoelius commented on #2504
No, and I'm sorry for being cryptic.

`rw-stream-sink` uses an old version of [`pin-project`](https://github.com/taiki-e/pin-project) (^0.4.6). @hamamo opened an [issue](https://github.com/paritytech/rw-stream-sink/issues/2) about this on October 1, but the issue seems to have gone unnoticed. In short, it seems that `rw-stream-sink` is not getting the attention it deserves. Having `rw-stream-sink`

[2022-02-15 06:58] rkuhn commented on #2514
As I said, I was just providing a data point — I should probably add that IT security requirements tend to contain a growing portion of “security theatre” and cargo cult, which lead to NAT because people confuse “firewall” with “address translation”.

A config option would solve the libp2p part, but it adds the ongoing maintenance cost of more tests and PR discipline, to keep the less commonly use

[2022-02-15 09:19] #2329 closed, assigned to nobody

[2022-02-15 14:52] mxinden commented on #2461
This makes sense to me. Good catch.

I am not yet sure whether we should extend `next_frame`, or should introduce a forth future `next_flush`. Would you mind proposing the above as a patch on rust-yamux? I think that is the best place to discuss the patch.

Agreed that this would not be in line with the semantics of `poll_flush` and `poll_ready`.

[2022-02-15 15:42] appaquet commented on #2461
That's what I thought I would do at first, but polling the next frame and polling flush both require a mutable ref on the underlying socket.

Yeah, I'll do it when I'll have a bit of time

[2022-02-15 22:47] #2510 closed, assigned to nobody

[2022-02-16 14:14] mxinden commented on #2509
We already depend on `thiserror` in most `libp2p-xxx` crates, e.g. `libp2p-swarm` and `libp2p-core`. In addition, in case we ever decide to be `no_std` compatible, I don't think it is particularly hard to revert this change, in the sense that it would not be particularly interwoven with other functionality.

I don't have much experience with `no_std`. With the discussions in https://github.com/lib

[2022-02-16 14:28] mxinden commented on #2504
I am happy to maintain `rw-stream-sink`. @tomaka in case you think this is a good idea, i.e. moving `rw-stream-sink` into `rust-libp2p/misc/`, can you make me an owner on https://crates.io/crates/rw-stream-sink/?

[2022-02-16 20:56] dignifiedquire commented on #2509
if we already depend on it, then nvm in regards to this specific instance

[2022-02-17 13:38] divagant-martian opened #2524 "trait bound for deriving `NetworkBehaviour`"
When deriving `NetworkBehaviour` on a struct with generics, not being able to include bounds in the resulting trait implementation forces the bounds to be added to the struct and not the impl only. This potentially generates a great deal of trait propagation (in behaviour composition, for example)

Maybe there is a way to do this but I don't seem to find it in the docs

[2022-02-18 08:30] hamamo commented on #2515
@elenaf9 I'm using `ping` to keep connections alive, that may be the cause of the observed behavior. Since my application relies on timely distribution of information via `gossipsub`, I'm trying to keep the nodes connected most of the time.
This may be something I change when I have a better sync mechanism for historical data, and nodes can catch up when they reconnect, but I'd rather have `autona

[2022-02-18 08:59] rkuhn commented on #2515
same here

[2022-02-18 10:33] elenaf9 commented on #2515
I am not too familiar with the details of gossipsub, but doesn't the gossipsub protocol itself already takes care that you stay connected with the peer in a mesh? What's the benefit of also using the ping for keep-alive?

https://github.com/libp2p/rust-libp2p/blob/eeb3504d5f5ce783b7c7333afe3814aed2255746/protocols/gossipsub/src/handler.rs#L271-L275

But independent of that, I still agree that `aut

[2022-02-18 11:28] dignifiedquire commented on #2479
"current way" is a stretch, it is one way of doing it, which is heavily optimized for specific use cases (namely replacing http), so having other UDP based transports would be very useful imho.

[2022-02-18 17:20] mxinden commented on #2509
@demfabris still want to tackle this one? :innocent:

[2022-02-18 17:29] mxinden commented on #2524
@divagant-martian would you mind providing an example?

I am not sure I follow. Why can you not add a bound to the trait implementation?

For example, the below compiles:

[code]

[2022-02-18 17:32] divagant-martian commented on #2524
@mxinden as I said, the problem is in the derivation of the `NetworkBehaviour` implementation. I don't understand what is your example trying to prove. That's exactly what I would like.. for the _derived_ `NetworkBehaviour` impl

[2022-02-18 17:34] mxinden commented on #2524
Ah, sorry I didn't read properly.

I am not aware of such mechanism.

[2022-02-18 17:37] divagant-martian commented on #2524
Got it. I'll check around how it's usually done in derive macros, and if possible implement it

[2022-02-18 18:38] mxinden commented on #2515
Do I understand correctly that you are setting `PingConfig::with_keep_alive(true)` @hamamo?

https://github.com/libp2p/rust-libp2p/blob/2ff9acee227bc8787fb41d657de5f174250e2588/protocols/ping/src/handler.rs#L52-L54

Note that connections are kept alive, even without `PingConfig::keep_alive(true)`, as long as they are being used. E.g., as @elenaf9 mentioned above, in the case of gossipsub that mean

[2022-02-19 01:30] demfabris commented on #2509
Yep @mxinden 👍🏻

[2022-02-19 04:32] esotericbyte commented on #2432
I finished the hyper sever at the above branch and removed Tide from metrics/Cargo.toml
The code was not all that trivial for a simpler server. I could still do that.
Since the code for the hyper server is lower level and longer I put it in a separate file.

[2022-02-20 19:59] Frederik-Baetens opened #2530 "Seeming lack of backpressure in gossipsub.publish"
I made a gossipsub implementation, and added on some benchmarking: https://github.com/Frederik-Baetens/libp2p-tokiochat/tree/perf_test

Run with:

[code]
Then in the second terminal, run the suggested command you get from the first command, but add release mode, and `bench` at the end like so:
[code]
This shows an enormous amount of messages being "stored" in libp2p internally. By the time the sen

[2022-02-20 21:56] Frederik-Baetens commented on #2530
After having a brief look at the implementation, it seems like publish calls this code:

[code]

I think adding backpressure would either require publish to become an async method, or to become a blocking method. This would obviously be a breaking change, which may not be desirable. However, I do think that one of those two choices would be the cleanest way to handle this.

Alternatively, users co

[2022-02-21 09:45] #2511 closed, assigned to nobody

[2022-02-23 14:05] mxinden commented on #2530
Thanks for raising this @Frederik-Baetens.

I think this is a general issue across the many `NetworkBehaviour` implementations. I would rephrase it as: "Synchronous methods on `NetworkBehaviour` implementations to be used by the user through `swarm.behaviour_mut` do not offer backpressure today."

I have been thinking a bunch about this lately, especially relevant in case we ever port a resource h

[2022-02-23 14:33] dignifiedquire commented on #2530
I think the bounded channel in https://github.com/smol-rs/async-channel does exactly what you describe, with minimal dependencies. Maybe not fully optimized for this use case, but likely an easy way to start this work.

[2022-02-24 00:28] Frederik-Baetens commented on #2530
@dignifiedquire Using such a channel seems like a good idea. In my own project, I've already worked around lib2p's single swarm owner design by using [tokio::sync::mpsc](https://docs.rs/tokio/latest/tokio/sync/mpsc/index.html#) to send events into an object which has ownership over the swarm, like so:

[code]

It kind of makes me wonder why using channels isn't the default way of interacting with

[2022-02-24 19:44] brandonros opened #2537 "Ping example doesn't work"
PC 1:

[code]

PC 2:

[code]

I never get an event back. What are my options here? I thought entire purpose of library was to ensure connectivity between two PCs.

[2022-02-25 10:51] mxinden commented on #2537
You would need to give us more context in order to help you. What network are you running on? What is the output run with `RUST_LOG=debug`? ...

[2022-02-25 13:37] YoshieraHuang opened #2538 "Multiple transport support"
Does rust-libp2p support multiple transports as [here](https://docs.libp2p.io/concepts/transport/#supporting-multiple-transports) descrbies?

[2022-02-25 16:18] brandonros commented on #2537
Is it expected to get around blocked ports?

[2022-02-25 16:28] mxinden commented on #2530
Not aware of a design doc. The major benefit I see is flexibility. That is, you can embed it in any kind of application architecture. Both small ones with a single event loop and large ones using channels to coordinate.

:rocket:

[2022-02-25 16:31] mxinden commented on #2537
Only if you use hole punching. See https://docs.rs/libp2p/latest/libp2p/tutorials/hole_punching/index.html

[2022-02-25 16:32] mxinden commented on #2538
Yes, see https://github.com/libp2p/rust-libp2p/tree/master/transports.

[2022-02-25 16:42] dignifiedquire commented on #2530
I wonder if libp2p could provide a standard adapter that gives channel based access, so that folks can get in easier and only replace it with a manual loop when they actually need to.

[2022-02-25 17:34] brandonros commented on #2537
After the connection is made through the relay server, does the traffic flow directly P2P or does all traffic still go through relay server?

[2022-02-26 07:15] YoshieraHuang commented on #2538
Yes，I know multiple kinds of transports are supported。Can swarm listen to multiple multiaddrs which may use different kind of transports simultaneously？

| |
yoshierahuang
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | Max ***@***.***> |
| 日期 | 2022年02月26日 00:33 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [libp2p/rust-libp2p] Multiple transport support (Issue #2538) |

Yes,

[2022-02-26 10:11] hamamo commented on #2515
Today I tried setting `keep_alive` in `PingConfig` to false, but that causes the connection to be closed, and GossipSub events to be missed. So if a mesh is established but not permanently used it does not seem to keep connections alive, and GossipSub also doesn't attempt to re-dial peers known to be part of the mesh.

@mxinden: The code is at https://github.com/hamamo/reputation-net/tree/tokio (t

[2022-02-26 23:41] elenaf9 commented on #2538
Yes, [Transport::or_transport](https://docs.rs/libp2p/latest/libp2p/trait.Transport.html#method.or_transport) / [OrTransport](https://docs.rs/libp2p/latest/libp2p/core/transport/struct.OrTransport.html) allows you to use multiple transports. If you then dial / listen on an address, the transports are tried sequentially if they support this address. If the first transport supports it, it is used, o

[2022-02-28 00:23] YoshieraHuang commented on #2538
Yes, This is what i want.

[2022-02-28 00:23] #2538 closed, assigned to nobody

[2022-02-28 15:14] mxinden commented on #2530
We could promote something along the lines of the [file sharing example](https://github.com/libp2p/rust-libp2p/blob/master/examples/file-sharing.rs) to a proper wrapper around a `Swarm`, generic over the `NetworkBehaviour` in use.

[2022-02-28 15:16] mxinden commented on #2537
Once the connection from `A` to `B` via `R` is established all data flows over `R`. Once `A` and `B` established a direct connection (hole punch) with the help of `libp2p-dcutr` and `R`, both the direct connection and the relayed connection exist. Given that the direct connection is faster and given that the relayed connection is limited and after some time and bytes terminates, the direct connect

[2022-03-01 10:08] mxinden commented on #2515
That is surprising to me. Once a peer joins a mesh, the `in_mesh` flag on the corresponding `ConnectionHandler` should be set to `true` and thus the connection should be kept alive.

https://github.com/libp2p/rust-libp2p/blob/master/protocols/gossipsub/src/handler.rs#L132-L134

Could you check whether a peer successfully joins a mesh but is still disconnected? Also could you post the logs (`RUST_L

[2022-03-01 10:14] mxinden commented on #2515
Just a wild guess, seeing logic in `reputation_net/mod.rs` related to awaiting storage operations within the custom `NetworkBehaviour`. Do these operations block the main libp2p task for longer period of time? If so, this might cause connections to time out. Let's see what the logs say.

https://github.com/hamamo/reputation-net/blob/tokio/src/reputation_net/mod.rs

[2022-03-02 15:19] tomaka commented on #2259
I find this RFC 1 (that I discover for the first time) very questionable. It's extremely over-engineered.

But beyond that, I don't understand the motivation for storing a `Cid` instead of `Multihash`?
Modifying the internals of the `PeerId` struct just adds a couple of bytes to it, and these bytes are always the same. It's as if you were adding another field called `prefix` to the `PeerId` struct

[2022-03-03 08:43] StefanoSetti opened #2545 "Unicast communication"
What i want to achieve is to send a message in gossip in a network from **peer A**, and each peer in the network (in case they want to answer) should response in unicast to **peer A**.

Is there a protocol already implemented? Or do i need to implement a custom one (if yes, how to do it?)

[2022-03-03 08:45] mxinden commented on #2545
Checkout `libp2p-request-response`.

https://github.com/libp2p/rust-libp2p/tree/master/protocols/request-response

[2022-03-03 10:05] StefanoSetti commented on #2545
I'm trying to implement it in a custom behaviour,

[code]

what should I put in  `RequestResponse<>` as generic parameter? Which are my choices?

[2022-03-03 13:06] YoshieraHuang opened #2546 "File sharing example cannot support the sample plot situation"
Hi, I am new to libp2p but very interested for this. While surfing through examples, I find the provided `file-sharing` example are not so ideal. I run these three scripts at the base directory of the repository in different console to test the sample plot.

In first console:
[code]
for serving `Cargo.lock` file with name `lock`. It works. The listening multiaddr is `/ip4/127.0.0.1/tcp/40837/p2p/1

[2022-03-03 13:20] YoshieraHuang commented on #2546
Requesting the `toml` file served in the second console from the third console in this situation also fail.

[2022-03-05 14:15] #2432 closed, assigned to nobody

[2022-03-08 13:45] mxinden commented on #2545
See an example here: https://github.com/libp2p/rust-libp2p/blob/a168410dbed0d0941f2e5a14543206044ccb2260/protocols/request-response/tests/ping.rs#L314-L390

[2022-03-08 13:49] mxinden commented on #2546
Interesting, mind printing the event that is not expected via the change below?

[code]

[2022-03-10 00:35] YoshieraHuang commented on #2546
No unexpected network event happens. The file server and the request client both panic during handling swarm event:
https://github.com/libp2p/rust-libp2p/blob/a168410dbed0d0941f2e5a14543206044ccb2260/examples/file-sharing.rs#L502

[2022-03-10 15:13] StefanoSetti commented on #2545
Thanks a lot!

[2022-03-10 15:14] #2545 closed, assigned to nobody

[2022-03-11 04:36] Jerrody opened #2552 "Rename `Swarm` to `Switch` due to changing specification naming."
If we look at the specification [page](https://docs.libp2p.io/concepts/transport/) where describes concepts how works `libp2p` we can see this:

[2022-03-11 11:14] mxinden commented on #2546
And on which `SwarmEvent` are they panicing? When you exclude that event from `panic` do things function as expected?

[2022-03-11 12:05] mxinden commented on #2552
In my opinion implementations don't need to be consistent on the API level, only on the network level. In this concrete case, I don't think renaming just for the sake of consistency is worth it.

That said, I am in favor of renaming `Swarm` to something more intuitive. I don't think `Switch` is more intuitive than `Swarm`. Rather I would expect `Endpoint` to be more self-explanatory.

What do folk

[2022-03-12 05:56] Jerrody commented on #2552
Well, I'm a man for which following certain conventions is one of the most important things. If they said that this is should be like this I will do this.
**What about naming**:
`Swarm`, in my opinion, is a tunnel, pool, handler, or something in this way. I would name it like a `Network`, `Port`, `Thread`, `Tunnel`, `Handler`, or `Gateway`. It has more information on what is this. For me, `Handler

[2022-03-13 17:19] Jerrody opened #2556 "`chat-tokio` example. Network dies."
After a while, the network just dies. Every peer stops receiving or sending messages.

As you can see in the screenshot, other peers don't get messages from others.
![image](https://user-images.githubusercontent.com/68968657/158071251-212c7f2b-5331-44c5-83ad-0c31c357551a.png)

Code:
[code]

P.S.
Okay, I understand the reason, that expires TTL of the Peer. How can I do this unlimited or make a big

[2022-03-14 05:00] Jerrody opened #2557 "`gossipsub-chat` example is non-working."
When I try to launch an example and print a message I get this:
`
Publish error: InsufficientPeers
`

Where it happens:
[code]

[2022-03-14 06:50] rkuhn commented on #2552
The term “swarm” is getting more and more established for peer-to-peer networks, even outside non-technical communities (it is used for example by the EU commission).

When naming an API, my first question is “what problem does it solve?” Formulated differently, when using this API, what will it do for me or give me access to? As such, the current Swarm is aptly named, since it is my handle for an

[2022-03-14 14:39] Jerrody commented on #2557
Okay, it's my bad. I didn't understand what's wrong :D

[2022-03-14 14:39] #2557 closed, assigned to nobody

[2022-03-14 14:58] Jerrody opened #2559 "`gossipsub-chat`. Why can't I explicitely add peer to list of connected peers?"
What I do:
**First instance**:
`cargo run --example gossipsub-chat`
Output:
[code]
**Second instance**(I removed dialing by address):
`cargo run --example gossipsub-chat -- 12D3KooWGHBgmgZuc9KqJ6UZjnRtGvd5uvoLd54BKpi6MLsi1iWe`
Output:
[code]
What's a problem?

P.S.
As I understood that we have a Network that includes many-many peers. With `add_explicit_peer` we just include a new one in the list o

[2022-03-14 17:56] fishseabowl opened #2560 "[protocols/identify] Help: where to find the example of how to connect to a known PeerID(p2p multiaddr) using identify"
I'd appreciate any examples of connecting with a known PeerID to send and receive messages. thanks

[2022-03-14 18:29] mxinden commented on #2556
`libp2p-mdns` should continuously exchange UDP packets, thus peers should never expire and thus never be removed from floodsub.

Which versions are you running? Can you take a look with `RUST_LOG=debug`, more specifically focus on the `libp2p-mdns` logs.

[2022-03-14 19:16] #2560 closed, assigned to nobody

[2022-03-14 19:20] Jerrody commented on #2556
Roger that I will try to get logs.

[2022-03-14 19:54] Jerrody commented on #2556
[code]

[2022-03-14 20:06] Jerrody commented on #2556
And the question about `Gossipsub`. How to connect to another peers without `swarm.dial()`? I try to use `add_explicit_peer` for to connect, but nothing happens. I just get:
[code]
But I can't get any message.

And if I try to dial with known `peer_id`. I get an error:
[code]
[code]

[2022-03-15 01:00] YoshieraHuang commented on #2546
I excluded the `IncomingConnectionError` and `Dialing` `SwarmEvent` from `panic` and the file-sharing example works as expected. But I wonder why these two events emit. It seems that the client try to connect to the peer which is not directly connected but it fails.

[2022-03-15 04:14] Jerrody opened #2562 "Dialing known peer with an error `NoAddresses`."
I use the Gossipsub protocol. When I try to dial a peer that is subscribed to the topic I get this error:
[code]
 Error:
 `NoAddresses`.

[2022-03-15 04:40] #2562 closed, assigned to nobody

[2022-03-15 09:46] #2559 closed, assigned to nobody

[2022-03-15 09:54] Jerrody opened #2564 "[QUESTION] `Gossipdub`."
It's pretty hard for me to understand how I can connect to another peer if not pass a MultiAddress:
1) If exists another way to connect to node (`dial`) instead of passing `MultiAddr` what is this way?
2) If I can connect to the node only with `MultiAddr` what exists a way to get these addresses without pasting these addresses explicitly.
3) For what needs `add_explicit_peer`? This is not a `dial`

[2022-03-16 13:55] #2564 closed, assigned to nobody

[2022-03-16 18:11] #2556 closed, assigned to nobody

[2022-03-16 18:20] Jerrody opened #2567 "`KeepAliveTimeout` MDNS."
System: **Windows 10**.

Problem:
From a 1 minute, I get `KeepAliveTimeout` and Peer expires. What's the problem?
Logs are below.

**Code**:
[code]

**Logs**:
*peer_01*
[code]

*peer_02*
[code]

Update:
It seems that I found the reason why from 1 (or 2 minutes?) minute closes the connection.
It's `idle_timeout` of Gossipsub.
`The time a connection is maintained to a peer without being in the mesh

[2022-03-17 15:30] mxinden opened #2569 "swarm-derive/: Don't fail when ignored fields are first"
The `NetworkBehaviour` derive macro seems to fail when the `#[behaviour(ignore)]` fields are not the very last fields.

E.g. while the first here fails, the second succeeds:

[code]

[code]

See https://github.com/rs-ipfs/rust-ipfs/pull/499#discussion_r826401633 for a failure in the wild.

[2022-03-17 15:35] rand0m-cloud commented on #2569
Specifically, the errors generated from the bad example are the following:
[code]

[2022-03-17 15:41] mxinden commented on #2546
`IncomingConnectionError` might be that the node is failing to connect to a private IP address?

Mind creating a pull request?

[2022-03-18 04:38] fishseabowl opened #2571 "cargo audit failed"
version: cargo-audit 0.16.0

Details:

Crate:         prost-types
Version:       0.7.0
Title:         Conversion from `prost_types::Timestamp` to `SystemTime` can cause an overflow and panic
Date:          2021-07-08
ID:            RUSTSEC-2021-0073
URL:           https://rustsec.org/advisories/RUSTSEC-2021-0073
Solution:      Upgrade to >=0.8.0
Dependency tree:
prost-types 0.7.0

Crate:         r

[2022-03-18 11:04] ademcaglin opened #2573 "Subscribe with TopicHash(Gossipsub)"
I need to find a way to listen `GossipsubEvent::Subscribed` events for particular peers, and then subscribe same topic(replicate it). However  `GossipsubEvent::Subscribed` has only TopicHash. Is there a way to subscribe a topic with TopicHash? Or maybe there is another way to replicate subscription among peers.

[2022-03-18 14:05] mxinden commented on #2567
You should be able to subscribe to the same topic.

[2022-03-18 15:37] #2569 closed, assigned to nobody

[2022-03-18 16:50] mxinden commented on #2571
Thanks for raising this @fishseabowl.

I bumped the dependencies and added https://github.com/libp2p/rust-libp2p/pull/2430 which checks `cargo audit` on an automated schedule.

Let me know in case you still see any audit failures.

[2022-03-18 17:06] #2573 closed, assigned to nobody

[2022-03-19 00:12] github-actions[bot] opened #2577 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2022-03-19 22:37] rand0m-cloud commented on #2577
I don't believe this dependency directly exists in this repo.
[code]

And a `cargo tree` shows the dependency is from `criterion`
[code]

[2022-03-21 09:49] mxinden commented on #2571
Closing here. Feel free to comment for follow-ups.

[2022-03-21 09:49] #2571 closed, assigned to nobody

[2022-03-21 17:32] emmyoh opened #2582 "Build failure for `libp2p-noise` crate"
Error:
[code]

Rust toolchain: `nightly-x86_64-unknown-linux-gnu`
Cargo version: `cargo 1.61.0-nightly (65c8266 2022-03-09)`
Rust compiler version: `rustc 1.61.0-nightly (1bfe40d11 2022-03-18)`

[2022-03-21 19:46] mxinden opened #2583 "protocols/ping: Reduce noise on logs"
Instead of printing the random ping payload, the log should print who we are sending a ping to and from whom we received a ping.

https://github.com/libp2p/rust-libp2p/blob/0c24821a144b10ba805e3648e05c5d44bbd59e42/protocols/ping/src/protocol.rs#L88

[2022-03-22 00:44] YoshieraHuang commented on #2546
After the error is solved superficially, I still wonder why the client will dail to a unconnected server. It's a behavior of kadmelia protocol?

[2022-03-22 09:57] mxinden commented on #2582
Which version of the `libp2p-noise` crate are you using?

Note that this code has changed last year:

https://github.com/libp2p/rust-libp2p/blob/0c24821a144b10ba805e3648e05c5d44bbd59e42/transports/noise/src/protocol/x25519.rs#L215-L226

[2022-03-22 10:01] mxinden commented on #2577
You are right @rand0m-cloud, thanks. Crossreferencing corresponding issue on the criterion side: https://github.com/bheisler/criterion.rs/issues/534

[2022-03-22 14:39] StefanoSetti opened #2584 "mdns unexpectedly expires peers"
Scenario:

- lib-p2p version: 0.43.0

I have two local (in one single machine) peers that implement the following `swarm`:

[code]
the following is the mdsn event handler

[code]

While the peers communicate each other and exchange messages one to another the following message appear:

**peer 0**
[code]

**peer 1**
[code]

even if the two peers should see each other because on the same local netwo

[2022-03-22 14:43] StefanoSetti commented on #2556
do you have closed the issue because a solution was found?

[2022-03-23 10:52] shot-codes opened #2585 "Insufficient peers after dialing"
Hey there, I am working on a project based on [the provided gossipsub example](https://github.com/libp2p/rust-libp2p/blob/master/examples/gossipsub-chat.rs) and I am seeing some behaviour that I don't quite understand. After dialing a specific address I am attempting to publish to a topic but I am told there are insufficient peers, I am still perfectly able to publish to a topic via text from the

[2022-03-23 15:12] shot-codes opened #2587 "Sending duplicate messages (Gossipsub)"
I am using content-address messages but am expecting to send and receive duplicates. I have attempted to set the duplicate_cache_time on the GossipsubConfigBuilder as follows
[code]
However I am never able to send duplicate messages, nor after the 1 minute default. Am I somehow setting the duplicate cache timer incorrectly? I am also open to a solution that involves a different message_id_fn that

[2022-03-23 15:51] #2584 closed, assigned to nobody

[2022-03-23 15:52] StefanoSetti commented on #2584
I was having some problem in gossip message propagation that clogged the network

[2022-03-23 15:59] StefanoSetti opened #2588 "calrification on `failed to dial the requested peer` request-response error"
I'm using **lib-p2p** version: `0.43.0`, as layers i use:

- kad
- mdsn
- gossip
- identify
- request-response

during communication between peers some times a peer while sending a request response message it launches the following error:

`failed to dial the requested peer`

even if the printed peer is up and alive. What can go wrong?

[2022-03-24 01:27] thomaseizinger commented on #2552
I've always struggled with the term `Swarm` because it sounds to me like _I_ am instantiating a "swarm" of something, yet an application is actually part of a swarm and what you are creating is just one instance. Perhaps we should rename it to `Bee`? :P

In other projects, I've called the wrapper struct around `Swarm`:

- `Node`
- `Network`

[2022-03-24 11:28] YoshieraHuang opened #2589 "WebAssembly example"
It seems a lot of efforts have been done to bring this crate to web. It will be better that some one can provide an example about how to run this crate on web.

[2022-03-24 18:52] canewsin opened #2590 "DirectConnectionUpgradeFailed"
Getting Error :
[code]
Couldn't find any timeout option to config in DCUtR.

Same machines can punch hole in network(relay, 2 non-public devices) with hole-punching tutorial, but not work with Our Behaviour struct.

Does large behaviour with more protocol fields effects hole punching behavior ? I meant with large network behavior may increase payload while handshake, is this true ?
@mxinden

[code

[2022-03-24 19:51] mxinden commented on #2546
Nodes will try to interconnect due to the Kademlia protocol, yes.

[2022-03-25 08:44] mxinden commented on #2589
Very much agreed. A tutorial in `src/tutorials/` would be great.

I am closing here as a duplicate of https://github.com/libp2p/rust-libp2p/issues/23.

[2022-03-25 08:44] #2589 closed, assigned to nobody

[2022-03-25 10:38] mxinden commented on #2585
Is the publishing peer connected to one or more other peers? In other words is the dial successful? (You can see this setting `RUST_LOG=debug`.)

[2022-03-25 10:54] mxinden commented on #2587
Can you expand on why you are sending duplicate messages in the first place? Would it not make sense to include a version number in those messages in order for a remote to detect that this is not the first iteration in which this message was sent?

[2022-03-25 11:12] mxinden commented on #2588
I would need more info to debug the issue. Can you post a log output (`RUST_LOG=debug`) of two nodes failing to connect?

[2022-03-25 13:38] rkuhn opened #2591 "mdns: don't perform IO on main task"
Currently, the `mdns::Behaviour` polls the `InterfaceState` on the main task, see https://github.com/libp2p/rust-libp2p/blob/d1d358ca437c8c584486df9085f57726608d9ee3/protocols/mdns/src/behaviour.rs#L290-L306.

`InterfaceState` in turn performs IO as part of this: https://github.com/libp2p/rust-libp2p/blob/d1d358ca437c8c584486df9085f57726608d9ee3/protocols/mdns/src/behaviour/iface.rs#L206-L210

We

[2022-03-25 13:39] rkuhn commented on #2591
addendum: `lsof -nP` output showing the relevant FDs
[code]

[2022-03-25 15:05] rkuhn commented on #2591
okay, here’s the really weird part: with this patch to `async-io` the poll loop gets broken after some time, settling down into its proper “wait for netlink messages” state
[code]
I then tried generating a netlink message by adding an IP address, which first did the right and expected thing and then spun a few dozen loops before going back to sleep again. So this looks like a race condition that w

[2022-03-25 16:02] rkuhn commented on #2591
It looks like epoll is being interrupted by registering read interest, which immediately notifies, and waits, upon which this vicious cycle restarts.
[code]

[2022-03-25 16:46] rkuhn commented on #2591
This rabbit hole is deeper than I can follow right now:

- epoll immediately returns `readable`
- since no EPOLLET option is set, this indicates that the socket still has bytes, but those bytes are not consumed between epoll_wait calls (and we note the conspicuous absence of generated events in the logs above)
- I have absolutely no clue where to look for the offending code

[2022-03-25 19:14] rkuhn commented on #2591
Okay @mxinden I’m pretty sure I know how it happens, but I’m not sure how to fix it:

- `InterfaceState::poll` registers read interest in the mDNS receiver socket (possibly after having drained received datagrams)
- sometimes this works as intended, namely that epoll doesn’t return this socket as readable until something happens — I think this is the case when read interest is registered before th

[2022-03-26 05:33] rkuhn commented on #2591
Sleeping on it, I have doubts on the current design of libp2p-mdns: I don’t think the UDP ports should be polled every time something unrelated happens in the rest of the Swarm, and I also don’t think that the rest of the Swarm should be polled every time something happens on those UDP ports.

[2022-03-26 08:10] canewsin commented on #2590
@mxinden could you look into this ? your tutorial works perfectly, but for large behaviors I am unable to punch hole with same devices. getting timeout error.
log :

[2022-03-26 08:58] shot-codes commented on #2585
I'm setting the environment as you mention but can't seem to see any additional info. The dial must be successful though, as after the failed attempt I am able to publish from stdin; the code below describes what I am seeing.

[code]

[2022-03-26 09:04] canewsin opened #2593 "Behavior Upgrade similar to Connection Upgrade performed via DCUtR"
Is Behavior Upgrade Possible After Peer Connection is Established ?

With Current code logic swarm depends predefined network behavior before peer connection, Some times different clients have different feature sets based on their hardware capabilities, EitherBehavior might not work in all such cases, instead I would like to see Behavior Upgrade Possibility after similar to Connection Upgrade, eve

[2022-03-26 15:11] Jerrody commented on #2552
For me it's associates more likely with Swarm in malware's world.

[2022-03-27 19:41] mxinden commented on #2590
Why is `libp2p-dcutr` wrapped in a `Toggle`? Is it enabled on both dialing and listening client?

[code]

[2022-03-27 21:04] canewsin commented on #2590
@mxinden
Yes it's, Enabled on both Dialer and Listener.
In what cases, does below error occurs ? It says timeout, is there any option for custom timeout ?

[2022-03-28 18:10] emmyoh commented on #2582
Running `cargo tree` on my project shows that I'm using `libp2p-noise v0.32.0`, which is the latest published release on crates.io.

[2022-03-29 02:23] Jerrody commented on #2556
Yep.

[2022-03-29 23:19] hrxi opened #2598 "Panic in `libp2p-websocket` at 'SinkImpl::poll_ready called after error.'"
[code]

I don't know how to reproduce the bug, but it seemed likely to be fixable without reproduction.

CC https://github.com/nimiq/core-rs-albatross/issues/732

[2022-03-31 10:27] mathiversen opened #2601 "Hole-punching tutorial: ListenerClosed before learning external address"
Hello,

I've been following the [tutorial](https://docs.rs/libp2p/latest/libp2p/tutorials/hole_punching/index.html) for how to do hole punching and I ran into this issue where the listening client fails to maintain connection. I basically just copied the tutorial and followed the instructions. In short:

1. Starting relay server
[code]

2. Start client 1 in listening mode
[code]

4. Server logs
[c

[2022-04-01 10:52] mathiversen commented on #2504
I'm not able to compile the repository locally and it seems to be because of this.
![image](https://user-images.githubusercontent.com/22917480/161249832-86aacb35-63cf-4c21-bb3a-de8fcd8ec247.png)
![image](https://user-images.githubusercontent.com/22917480/161249598-beed03f7-f189-4f74-9951-3a8c9d93dff3.png)

[2022-04-02 17:17] folex opened #2602 "Is there any way to tell what PeerId has sent Inbound message in InboundUpgrade?"
### Some Context
I'm debugging a heisenbug which happens periodically: peer A sends message to peer B, but peer B is unable to read it due to `unexpected end of file` error.

And I'm having trouble reproducing and/or figuring out, which peer causes this. It would help me a lot if I could tell who has sent the message, i.e. PeerId of the sender.

I don't see how to get that info inside `upgrade_inb

[2022-04-02 18:04] Frederik-Baetens opened #2603 "Error when sending large amounts of messages: `libp2p_gossipsub::handler] Message exceeded the maximum transmission size and was not sent.`"
I'm publishing a struct serialized with bincode of the following form:

[code]

The strings are never over 20 characters long. (I generate them myself)

When publishing a low amount of these messages (up to 10K), I get no issues, but when publishing about 100K messages quickly in a row, I get the error `libp2p_gossipsub::handler] Message exceeded the maximum transmission size and was not sent.`

D

[2022-04-03 09:45] smoelius commented on #2504
Hi, @mathiversen. I think this version of `pin-project` addresses that error: https://github.com/taiki-e/pin-project/releases/tag/v0.4.29

Perhaps `cargo update -p pin-project` will fix your problem?

[2022-04-03 11:45] leviathanbeak commented on #2583
Hi @mxinden I could tackle this one, by "who we are sending a ping to" you mean remote's PeerId?, if that's correct from what I see we don't have the access to the peer_id in the protocol part.

Could we store it within the `ConnectionHandler { remote_id: PeerId , ..}`, and then pass it like this
[code]

Or is there another/better way?

[2022-04-05 19:03] mxinden commented on #2593
I think we should solve this issue directly, instead of providing an "upgrade" mechanism for `NetworkBehaviour`s.

[2022-04-05 19:08] mxinden commented on #2590
Off the top of my head I can not think of a scenario where this error would be emitted. In the case where the remote does not support DCUtR it would instead fail at the selection state, but not a timeout.

Just to rule out that this is not failing at the muxer level, which multiplexer are you using? Yamux or mplex? Could you try with the other?

[2022-04-05 19:35] mxinden commented on #2603
@divagant-martian or @AgeManning might be able to help here.

[2022-04-05 19:37] mxinden commented on #2583
Appreciate the help @leviathanbeak.

Instead of passing the `PeerId` into the protocol, have you considered doing the logging within the handler instead? Just a thought.

[2022-04-05 20:11] divagant-martian commented on #2603
Hey, this is the error we get from the codec when the message is too big and we don't group them to be sent. Can you provide some code we could check?

[2022-04-05 20:32] Frederik-Baetens commented on #2603
@divagant-martian Yeah, the publishing is done here, from a struct sent through a channel: https://gitlab.com/freddyb/scuddb/-/blob/master/server/src/metacom/swarmhandle.rs#L75

And you can see the struct creation here: https://gitlab.com/freddyb/scuddb/-/blob/master/server/src/metacom/swarmhandle.rs#L75

I'm just running a benchmark with 18 character long strings. The strings are created [here](h

[2022-04-05 20:44] leviathanbeak commented on #2583
Yes, that's also an option I considered but went along the current implementation of logging inside the protocol.

If I log it inside the handler, I'd still need access to remote's `PeerId`, does the handler have access to it already or should I pass it via behaviour, for example via `inject_connection_established(&mut self, peer_id...)` ?

[2022-04-05 22:08] elenaf9 commented on #2583
You could use the `swarm::IntoConnectionHandler` trait, which would allow you to pass the remote's peer-id to the handler upon creation.
Something similar is done e.g. in kademlia to pass the endpoint info to the handler: https://github.com/libp2p/rust-libp2p/blob/90140a6eafd8a500e654b14040941f9f5074474d/protocols/kad/src/handler.rs#L57-L62
You would need to change `<ping::Behaviour as NetworkBeha

[2022-04-06 04:46] AgeManning commented on #2603
We publish each message as you submit it and we ensure each message is below the `max_transmit_size` before publishing, so we would know if the messages you are sending are too large.

There is one area where we group messages. These are control messages, more specifically IHAVE/IWANT messages. We send these each heartbeat and try and group them into one RPC.
I saw you have set your heartbeat to 1

[2022-04-06 04:56] canewsin commented on #2590
Previously I too had thought about muxers and tried both yamux and mplex, but same error persists in that case.

[2022-04-06 09:16] leviathanbeak commented on #2583
thank you @elenaf9 for clarifying that part, that's what I wanted to know (regardless if we go that route).

Good point also on logging it in the behaviour itself, @mxinden if we're gonna move the logging out of the protocol, it could also be in the Behaviour as well right? Either way, whichever you choose I'm fine with it, let me know so that I can make a PR.

Logging in the Behaviour would be so

[2022-04-06 11:51] mxinden commented on #2583
No preference on my end. I suggest we go for whatever is best readable from a code perspective.

[2022-04-06 14:24] mxinden opened #2607 "protocols/dcutr: Don't retry when incoming direct connection succeeded"
As of today we retry the DCUtR process when the outgoing direct connection upgrade failed.

In the case where the incoming direction connection upgraded succeeded, there is no need for retrying the process.

We should check `direct_connections` to see whether an (incoming) direct connection succeeded in the meantime.

https://github.com/libp2p/rust-libp2p/blob/7a1147877a52c7150190acdef35676cdac370

[2022-04-06 15:55] mxinden commented on #2601
Thanks for the detailed report @mathiversen!

I think we should dig deeper into why the listening client fails to maintain the connection. Would you mind running both listening client and relay server with `RUST_LOG=debug` and post the logs here?

[2022-04-06 16:01] mxinden commented on #2602
`InboundUpgrade` has no way to tell who the sender is, given that the security handshake, and thus the authentication of the sender might not have happened yet.

The only way I see is logging the `PeerId` once the security handshake has been successful and then try to correlate the log line with the panic. Though I guess this is happening on a busy machine and thus hard to correlate, correct?

[2022-04-06 16:10] leviathanbeak commented on #2583
well then the cleanest solution would be moving the logging to the Behaviour, I will make the PR soon

[2022-04-06 17:30] mathiversen commented on #2601
2022-04-06 libp2p 0.44.0

These are the logs:

<details><summary>Server (Linux 5.4.0-99-generic 112-Ubuntu SMP x86_64)</summary>
<p>

[code]
</p>
</details>

<details><summary>Listening client (Linux 5.13.0-37-generic 42~20.04.1-Ubuntu SMP x86_64)</summary>
<p>

[code]
</p>
</details>

[2022-04-06 19:54] alexander-camuto opened #2609 "Can't get hole-punching tutorial to work reliably"
## Can't get hole-punching tutorial to work reliably

I am currently trying to get the hole-punching tutorial to work across a network of identical ubuntu-server 21.10 nodes (6 Mac Minis 8GB of RAM from late 2012 solely running ubuntu-server, behind different home networks in the same city). The main variable across the nodes is thus different ISPs / routers / home network setups.

I have one rela

[2022-04-06 20:13] mxinden commented on #2609
Thanks for the detailed report @alexander-camuto. Very much appreciated. I still need to give this more thought, though I have a first idea:

Does **D** and **E** have particularly long RTT to **R** but short RTT to **A**? I am asking, as hole punching is quite time dependent. In case these nodes are close to **A** but far from **R**, the noise in the RTT measurement for hole punching might be the

[2022-04-06 20:15] mxinden commented on #2609
Varying the IP is rare, varying the port is more usual on endpoint dependent port mapping NATs. Just to make sure, are **D** and **E** behind NATs that change the port depending on the remote endpoint they are talking to?

[2022-04-06 20:58] alexander-camuto commented on #2609
@mxinden thanks so much for your prompt reply

- RTT **D-A** is roughly of the same order as RTT **D-R** (~20ms).
- Both **D** and **E** are behind Port Restricted Cone NATs that have endpoint independent mappings (I checked this using a publicly available STUN server and the `stunc` command line tool ). As a sanity check I've checked the NAT types for **B** and **C**, and they too are behind Port

[2022-04-07 12:26] #2588 closed, assigned to nobody

[2022-04-07 12:27] StefanoSetti commented on #2588
To be clear about the fixed problem:

the local peer didn't know the address of the requested peer. I just had to add the address to the peer and everything was smooth.

[2022-04-07 19:37] #2583 closed, assigned to nobody

[2022-04-07 19:43] esotericbyte commented on #2607
I have skimmed: https://pdos.csail.mit.edu/papers/p2pnat.pdf
Is the current behavior inefficient or does is lead to more connection failures because the peers pursue different connections?
Is timing of the connections and interplay between the network, queued events, and futures executor a relevant concern?

Implement direct_connections check:
  If there is a direct connection then stop trying to

[2022-04-08 18:45] mxinden commented on #2601
This is not running with `RUST_LOG=debug`, right @mathiversen? Mind posting the logs with the higher log level?

[2022-04-08 18:50] mxinden commented on #2609
@alexander-camuto is **D** and **E** significantly closer to **A** than **B** and **C** to **A**?

[2022-04-08 23:27] mathiversen commented on #2601
Sorry my bad! I'll go through the tutorial again this weekend.

[2022-04-09 10:44] alexander-camuto commented on #2609
@mxinden **D-A**  RTT  is roughly 20ms and **B-A** RTT is roughly 13ms, so of the same order / approximately equidistant.

[2022-04-09 11:42] mathiversen commented on #2601
libp2p master a1f3547b43bfac17ef50248e4a8ce1523d3aaa76
rust 1.60

@mxinden  I tried to run the tutorial from master and this time the server seems to get stuck in a loop during the TCP/libp2p-lookup stage. Telnet prints `Connected` but the server goes into an endless loop and libp2p-lookup exits with `Lookup failed. Timeout`. I added some trace logs below as i thought that would maybe give some mo

[2022-04-10 08:06] Janmajayamall opened #2612 "Implement Error trait for GetRecordError (Kad)"
I am not sure why Error trait hasn't been implemented for GetRecordError ([ref](https://github.com/libp2p/rust-libp2p/blob/a1f3547b43bfac17ef50248e4a8ce1523d3aaa76/protocols/kad/src/behaviour.rs#L2558)).

[2022-04-11 06:59] elenaf9 commented on #2612
Error was implemented for all other kademlia error types in #2414, I would guess it was an oversight. Would you mind doing a PR for this?

[2022-04-12 13:12] shot-codes commented on #2587
I am implementing a protocol where many of the same messages are expected to e be sent/received. That being said, I suppose adding a version number does no harm and addresses my issue. Thanks

[2022-04-12 13:12] #2587 closed, assigned to nobody

[2022-04-12 13:17] shot-codes commented on #2585
Any other tips? Perhaps I am not understanding how to run the code with RUST_LOG=debug, as it doesn't seem to provide me with any extra information when I set it as an env variable. I have also tried the following, which should ensure that the dial up is successful but I see the same behaviour:

[code]

[2022-04-12 15:57] elenaf9 commented on #2585
I think the issue is that you are not polling the swarm after the dial, before publishing to the topic.

In general, the network does not make any progress unless you are polling the `Stream` implementation of the Swarm  (e.g. via `swarm.next().await` or `swarm.select_next_some().await`.
`swarm.dial(..)` only initiates the dial, but it does not mean that the remote is immediately connected. Only w

[2022-04-12 20:00] shot-codes commented on #2585
Thanks for the response @elenaf9! Unfortunately I am still unable to send for the same reasons, despite polling to establish the connection as you suggest.

This does however explain why when I remove the polling of the swarm from my `select!` I am no longer to publish from the stdin stream.

What I am attempting to accomplish is essentially a script that sends a single message on a topic and exit

[2022-04-12 21:31] elenaf9 commented on #2585
Could you please share again a link to the repo / file with the code? The above link does not work, perhaps the repo is private?

[2022-04-13 06:29] mriise opened #2617 "WASM support"
This issue is an attempt to gather information relating to WASM support for rust-libp2p as well as serve as somewhat of a tracking / discussion issue.

## Transports

The general approach that we've been taking for transports it to use the `web-sys` bindings and code against those directly. This allows us to stay in Rust land without having to write any JS. Additionally, the acceptance criteria fo

[2022-04-13 06:34] mriise commented on #2617
Pinging people that have previously worked on WASM here (that I know of) @wngr @tomaka @expenses

Also pinging @mxinden

Again, feel free to make suggestions or LMK if I missed anything that should be included!

[2022-04-13 06:40] shot-codes commented on #2585
Sorry it has since moved to another repo: https://github.com/TheFoolishPupil/libd2d, you can start with running `cargo run --bin mothership` and then separately `cargo run --bin launch_mission`. The area of interest is beyond line 65 in bin/launch_mission.rs. You should see that publishing fails until you focus the window running the launch_mission binary and hit the enter key. :)

[2022-04-13 08:45] Camusugar commented on #2584
I was having some problem in gossip message propagation that clogged the network

[2022-04-13 08:52] Camusugar commented on #2556
How did you solve this problem? Can you share it，Thank you

[2022-04-13 12:03] folex commented on #2602
Yes, exactly. It's very hard to correlate.

[2022-04-13 12:06] folex commented on #2602
If it's not possible to provide `PeerId` information there, maybe it makes sense provide address info? Like multiaddr.

That would allow me to understand who is on the other end of the socket.

If that makes sense, I can try to implement that.

[2022-04-13 21:12] elenaf9 commented on #2585
Ok so actually it's also not enough to just wait for the connection establishment. I did not consider that once the connection is established, the two peers also need to communicate to each other what topic they are subscribed to (this happens automatically). So you need to poll the swarm even after the connection was established until you received an event: `SwarmEvent::Behaviour(GossipsubEvent::

[2022-04-14 06:34] rkuhn commented on #2585
As far as I can see there are no guarantees about “things will work” in the absence of continual polling — I think the approach of “pull until X” is fundamentally flawed since none of the behaviours were coded with this usage mode in mind. The swarm is an active entity that needs to run its own errands in order to function properly.

[2022-04-14 07:59] elenaf9 commented on #2585
Good point @rkuhn, my phrasing was probably a bit misleading. Indeed you should always continuously poll the swarm as long as you want the network to make any progress, and not just stop after a specific event happened.
That being said, you still sometimes need to "poll until X", if you want to trigger an action that depends on X. Otherwise there is no way of knowing the state of the swarm. But of

[2022-04-14 08:13] tdelabro commented on #2582
We got the same issue. @emmyoh did you fixed it ?

[2022-04-14 08:29] rkuhn commented on #2585
Right. I’d phrase this as “have a task polling the swarm unconditionally and send the events to interested parties that can then react to the aspects they’re interested in” :-) This is why I’m toying with a more actor-like shell for the swarm, as I don’t think the big state machine approach suits all needs. But my progress unfortunately is very slow right now due to other things interfering.

[2022-04-15 15:17] emmyoh commented on #2582
Unfortunately, @tdelabro, I could not find a solution. Would appreciate if a maintainer/contributor of this crate could help (attempting replication, debugging, assigning someone, etc?)

[2022-04-15 19:10] elenaf9 commented on #2582
The latest released version of `libp2p-noise` is `v0.35.0`: https://crates.io/crates/libp2p-noise/0.35.0. As @mxinden pointed out, the code that is not compiling changed last year in #2264, which was part of release `v0.33.0`. So updating to a version `>= 0.33.0` should fix your issue.

[2022-04-16 14:43] mxinden commented on #2607
Just inefficient.

Probably relevant, though we will be collecting more data soon to back up this point. See https://github.com/dennis-tra/punchr.

Yes, that sounds right.

`inject_dial_failure` should work.

There is a single task running all `NetworkBehaviour` and `Swarm` logic plus one task per connection.

For now, one connection would eventually idle and thus be closed. In the long run we wou

[2022-04-16 19:09] emmyoh commented on #2582
Hi @elenaf9, you appear to be correct. I'm not sure where I saw that `v0.32.0` was the latest version, but clearly it's not. Closing.

[2022-04-16 19:09] #2582 closed, assigned to nobody

[2022-04-17 08:13] mxinden commented on #2602
Note that we are using the same `InboundUpgrade` and `OutboundUpgrade` across connection and stream upgrades. E.g. in the latter case we don't know the address, i.e. the address is not relevant. We could break the trait into two one for streams one for connections, though I am not sure that is worth it?

[2022-04-19 13:48] mxinden commented on #2286
If I am not mistaken, this can be fixed with Rust `1.60`. Anyone interested in sending a patch?

https://blog.rust-lang.org/2022/04/07/Rust-1.60.0.html

[2022-04-19 14:40] tomaka commented on #2504
Done

[2022-04-19 20:14] folex commented on #2602
Well, in `OutboundUpgrade` case it seems relevant, too, and for similar reason.

Imagine a situation, where you're trying to communicate with some peer, and communication fails at `Inbound/Outbound Upgrade` level. How do you debug it in an open big network?

Let me try to give more specific arguments.

## InboundUpgrade
In my case, some peers close connection before fully writing protocol message.

[2022-04-20 11:02] shot-codes commented on #2585
Okay I think I have a better understanding now; The swarm must be continuously polled in order to make progress. I can then catch a specific event that I need (as you point out @elenaf9, in my case it is `GossipsubEvent::Subscribed`) after which I can use the swarm as I please (publishing my message). So the entire idea of a "procedural script" that simply makes the connection and blindly publishe

[2022-04-20 11:02] #2585 closed, assigned to nobody

[2022-04-20 19:58] mxinden commented on #2601
Unfortunately those logs don't help me much. Mind posting with `DEBUG` only, but from start to finish, i.e. startup of the server till timeout from libp2p lookup.

[2022-04-23 09:29] mxinden commented on #2602
I am still a bit reserved to add an additional argument to `OutboundInboundUpgrade` for the sake of debugging.

Would it not be an option to return an error from `OutboundUpgrade` or `InboundUpgrade` and then log the error along with the peer information in `ConnectionHandler::inject_dial_upgrade_error` or `inject_listen_upgrade_error` or `NetworkBehaviour::inject_dial_failure` or `inject_listen_f

[2022-04-23 21:56] mathiversen commented on #2601
This is unfortunately the only thing that's printed when I use debug:

Server & Client same as above. I pulled the latest from master and built relay_v2 for server and I'm using rust 1.60.

<details><summary>Server logs</summary>
<p>

[code]
</p>
</details>

Not sure if that's of much help :/

[2022-04-25 07:40] mathiversen commented on #2601
The strange thing is that `libp2p-lookup` manage to connect on the first try. But when i close and restart the server all the consecutive connections gets stuck in a never ending loop and lookup timeouts. This is the case even if i restart the instance on which the server is running.

[2022-04-25 08:30] shot-codes commented on #2585
Hey I actually had a question that is sort of related to this. I am trying to implement my own heartbeat so to speak; I would like to, every N seconds send out some data to all peers on a specific topic. My current approach now is to create a stream that when polled checks the contents of a vector. This vector is periodically adding an element every N seconds in another thread. the idea is that ev

[2022-04-25 10:17] folex commented on #2602
Thank you, that sounds like what I originally wanted to know!

[2022-04-26 12:41] Foemass opened #2621 "Hole-punching tutorial appears to trigger panic in listening client, preventing completion"
## Summary

Hello, I'm new to your wonderful library, apologies if I've made some rookie mistake.  I'm encountering a frustrating issue with the hole-punching tutorial [here](https://docs.rs/libp2p/0.44.0/libp2p/tutorials/hole_punching/index.html) wherein the listening client panics with the following message:

`thread 'main' panicked at 'ListenerClosed { listener_id: ListenerId(2), addresses: [],

[2022-04-27 17:39] Toni-d-e-v opened #2624 "If there is an syntax error rust will error: internal compiler error: unexpected panic, and you need cargo clean to fix it"
## Summary
Started building simple p2p ping from tutorial
[code]

## Expected behaviour
should just say error and when fixed launch

## Actual behaviour
New error that wont go away until I rust clean
[code]

## Version

0.44.0 I think but when I change it to 0.43.0 it does not reinstall anything just starts as normal

- libp2p version (version number, commit, or branch):

## Would you like to work

[2022-04-28 14:44] mxinden commented on #2624
This sounds like a Rust issue and not a rust-libp2p issue, right?

[2022-04-28 16:56] Toni-d-e-v commented on #2624
rust-libp2p breaks rustc

[2022-04-30 12:15] Foemass commented on #2621
In retrospect, I did a pretty bad job at skimming through the existing github issues, as my issue is clearly just a duplicate of this pre-existing issue here: #2601.

At least its not just me.   I'll have another poke around this weekend, though I can't imagine I'm going to uncover anything more productive then the information already in that issue.

[2022-05-02 19:23] mxinden commented on #2601
Sorry, late reply.

Do you see the same behavior when you change the listening port on each restart?

Does the lookup also timeout when you connect on `localhost`?

Can you try with https://github.com/mxinden/rust-libp2p-server/ and `--enable-kademlia` instead of the `protocols/relay/examples/relay_v2.rs` example?

[2022-05-02 21:46] Foemass commented on #2621
Out of curiosity I recompiled the `rust-libp2p-0.44.0` examples using both:
`1.59.0-x86_64-unknown-linux-gnu ` and `1.58.1-x86_64-unknown-linux-gnu`
both had the exact same issue I was having with the latest stable rustc (1.60.0)

I even tried compiling the older `rust-libp2p-0.43.0` examples with `1.58.1-x86_64-unknown-linux-gnu`, but they still result in the same panic.  The tutorial must have w

[2022-05-03 07:30] mxinden commented on #2621
Sorry, late reply here. Thanks @Foemass for the detailed report!

I am running with `1.59.0` on `stable-x86_64-unknown-linux-gnu`. My intuition tells me that this a rust-libp2p issue and not a Rust issue.

Would you mind running once more with the change below to understand which listener is failing?

[code]

In case you ignore the listener closing event, what is the behavior of the code after tha

[2022-05-03 07:33] mxinden commented on #2621
Seems like @mathiversen has fixed this particular issue on their side. Mind sharing what the problem was?

[2022-05-03 08:31] mxinden commented on #2609
@alexander-camuto still facing the issue? Any other information that might be helpful to debug this?

[2022-05-03 22:44] Foemass commented on #2621
Hi, thanks for the help!

I've run it with both your code edits, here's the client log:

`RUST_LOG=info ./client --secret-key-seed 2 --mode dial --relay-address /ip4/18.135.28.182/tcp/4001/p2p/12D3KooWDpJ7As7BWAwRMfu1VU2WCqNjvq387JEYKDBj4kx6nXTN --remote-peer-id 12D3KooWPjceQrSwdWXPyLLeABRXmuqt69Rg3sBYbU1Nft9HyQ6X`

<details>
<summary>Debug Output</summary>
<br>

[code]

</details>

And here's ano

[2022-05-04 13:44] SionoiS opened #2632 "protocols/bitswap: Add BitSwap implementation"
Hi,

Just wanted to get the ball rolling on this. As discussed in Discord.

Some links from a quick search.
https://github.com/rs-ipfs/rust-ipfs/tree/master/bitswap
https://github.com/ipfs-rust/libp2p-bitswap
https://github.com/ChainSafe/libp2p-bitswap/
https://docs.substrate.io/rustdocs/latest/src/sc_network/bitswap.rs.html
https://github.com/n0-computer/iroh/tree/main/iroh-bitswap/src
Drop your

[2022-05-06 13:41] mxinden commented on #2632
Spec: https://github.com/ipfs/specs/blob/master/BITSWAP.md https://github.com/ipfs/specs/pull/269 and https://github.com/ipfs/specs/pull/270

I would have to review the existing implementations before making an informed decision here.

If I am not mistaken that would force IPLD as a dependency onto libp2p. Not a blocker, though something to keep in mind. Also, in case I am not mistaken, Bitswap is

[2022-05-06 14:33] aschmahmann commented on #2632
269 is the best to use at the moment (270 is for a new version of the Bitswap protocol). Sorry it's not merged into master yet 😬.

Basically I agree with Max here. Bitswap is going to be a simpler protocol to build out, and while many Bitswap consumers end up using IPLD on top of it to create and fetch larger groups of content it's not required as with GraphSync. No reason both couldn't be include

[2022-05-06 16:14] SionoiS commented on #2632
I read the specs.

We are looking at supporting all versions of bitswap, not just v1.3.0 right?

Also, is [priority](https://github.com/ipfs/specs/blob/feat/bitswap-1.3.0/BITSWAP.md#wire-format) explained anywhere?

Of the 5 it seams that rs-ip/rust-ipfs impl. is the most generic. Although I don't think having list of wants and blocks is appropriate.
Tracking who want what and what to send where s

[2022-05-06 17:25] carsonfarmer commented on #2632
Oh cool to see this discussion kicked off from the Discord chat! I think from my perspective, "a single codebase for handling the basic mechanics of the protocol for you" is exactly what we would want out of having this protocol. An abstraction that allows a custom client to easily decide what to send to whom in a way similar how the kad protocol exposes this for responding to provider queries wou

[2022-05-07 14:11] alexander-camuto commented on #2609
@mxinden had to switch focus for a bit. Issue still persists but will try and come back to this to generate more information we can debug off of.

[2022-05-07 17:19] Foemass commented on #2621
Sorry for the delay, I had a crazy busy workweek.  I've now compiled and run the client in a bunch of different environments, with some curious results.

| Device | OS | Connection | Result
| ------------- | ------------- |  ------------- |  ------------- |
| Laptop  | Linux Mint 20.3 Una | WiFi connection which indirectly leads to router/gateway | thread 'main' panicked at 'ListenerClosed
| Lapto

[2022-05-09 12:08] mxinden opened #2635 "*: Consider using semverver"
## Description

Consider using https://github.com/rust-lang/rust-semverver to enforce semantic versioning. Instructions on how to integrate semverver in CI can be found on https://github.com/rust-lang/rust-semverver#ci-setup.

## Motivation

Complying with Semver makes it easier for users to consume rust-libp2p. Having an automated compliance check makes maintaining rust-libp2p easier.

## Are you

[2022-05-10 13:57] mxinden opened #2637 "swarm-derive/: Replace mentions of ProtocolsHandler with ConnectionHandler"
`ProtocolsHandler` has been renamed to `ConnectionHandler`, see https://github.com/libp2p/rust-libp2p/pull/2527. Unfortunately I missed to patch `swarm-derive`, for example the line below.

https://github.com/libp2p/rust-libp2p/blob/5cf68902ced96175165699c115f160f3361422a7/swarm-derive/src/lib.rs#L54

[2022-05-11 04:39] maschad commented on #2637
Hey @mxinden this seems straightforward enough, I created a [PR](https://github.com/libp2p/rust-libp2p/pull/2640). Lmk what you think.

[2022-05-11 10:32] mxinden commented on #2621
Thanks for providing all the details above @Foemass!

I think the relevant log line is the below from the dialing client:

[code]

In other words, the relay tells the dialing client that it has not (yet) received a reservation request from the listening client.

Just to double check, does the listening client print `ReservationReqAccepted` before  you start the dialing client?

[2022-05-11 10:50] mxinden commented on #2621
See https://github.com/libp2p/rust-libp2p/pull/2642 which helps to see whether the relay accepted our reservation request.

[2022-05-11 22:28] Foemass commented on #2621
Thanks for that mxinden,

Sorry I only just realized I must have had some kind of brain fart 8 days ago.  My brain thought I was running/logging the listening client, but apparently I copy and pasted the line for the dialing client instead and never ran the listener that night, *facepalm* well that's late night debugging for you.

I've now actually run the listening client with your previous chang

[2022-05-12 18:06] maschad commented on #2286
Hey @mxinden I've added a patch in this [PR](https://github.com/libp2p/rust-libp2p/pull/2646). Lmk what you think.

[2022-05-12 20:54] maschad commented on #2635
Hey @mxinden I am giving this a shot. Please see this [PR](https://github.com/libp2p/rust-libp2p/pull/2647)

[2022-05-15 15:40] shot-codes opened #2649 "publishing multiple messages within the context of a received message"
## Summary
I am publishing multiple times within the match of a received message. All messages do get sent but only after the VecDeque is emptied. My understanding is that this is because the swarm is not progressed by the select! macro until after I leave the match arm. Is there any way to explicitly tell the swarm to progress after each publish such that they are sent as they are iterated throug

[2022-05-15 22:55] Foemass commented on #2621
Hi @mxinden

I pulled the master branch and (after dealing with the new cmake requirement) added your altered client.rs ([protocols/dcutr/examples/client.rs](https://github.com/libp2p/rust-libp2p/pull/2642/commits/665913ffe6b43a6eeb01759304307de414a65c9f#diff-b025298a61744741bad6586e83617e37b3172601331b1c545960ddbc8b348377))

In most circumstances your changes don’t seem to make much difference.

[2022-05-16 11:24] thomaseizinger opened #2650 "Drop custom `Either` types"
## Description

We have a lot of custom `Either` types within `libp2p-core`, some of which (I think) could go away by implementing our traits directly on the `Either` type that we are already depending on.

## Motivation

Less code to maintain.

## Checklist

- [x] `EitherTransport`: https://github.com/libp2p/rust-libp2p/pull/3338
- [x] `EitherError`: https://github.com/libp2p/rust-libp2p/pull/333

[2022-05-16 16:10] stormshield-pj50 opened #2651 "Tcp transport port_reuse_dialing test missing some assert"
## Summary
The port_reuse_dialing test in transports/tcp/lib.rs seems to be incomplete, it does not check for port reuse.

## Expected behaviour
In this test the dialer outgoing connection must reuse the listener port. So an assert like this should be added near line 930 in the port_reuse_dialing/dialer function:
[code]

## Actual behaviour
The assert is missing and if I add it it fails. It seems

[2022-05-16 17:17] mxinden commented on #2649
How about a `continue` statement for the outer loop?

[2022-05-16 17:17] #2504 closed, assigned to nobody

[2022-05-16 17:50] mxinden commented on #2621
Thanks for the logs! Very helpful.

This is the relevant part. More specifically `NoAddressesInReservation`.

The Relay needs to return a set of addresses, via which the Relay is reachable, to the listening client. In case the Relay does not yet know under which addresses it is reachable, it will provide none. Providing none will make the listening client error:

https://github.com/libp2p/rust-lib

[2022-05-16 21:28] Foemass commented on #2621
Ah-ha!  Well that makes perfect sense... now somebody has explained it to me ;).  Thanks @mxinden, you've made my day.

This also explains mathiversen's observation in the other issue (that doing a failed dialing first causes everything to work.)

Given I should ideally run the [AutoNAT protocol](https://github.com/libp2p/specs/blob/master/autonat/README.md) on my client first to see if using a re

[2022-05-17 05:57] koushiro opened #2653 "How about moving `wasm-timer` into the rust-libp2p/misc ?"
How about moving [wasm-timer](https://github.com/tomaka/wasm-timer) into the `rust-libp2p/misc` dir, like #2641 did.

/cc @mxinden @tomaka

[2022-05-17 06:10] koushiro commented on #2653
Maybe [quicksink](https://github.com/paritytech/quicksink) also needs to be moved to the misc dir?

[2022-05-17 08:34] mxinden commented on #2621
Thanks for bearing with us!

Pinging @mathiversen directly, in case the above is helpful.

Yes, that would be a good option. Will see what I can do in the example code.

[2022-05-17 08:54] mxinden commented on #2650
Sounds good to me. Also, should we be using `either::Either` or `futures::future::Either` or both?

[2022-05-17 12:05] thomaseizinger commented on #2650
I am not sure how well maintained `either::Either` is but feels like the more appropriate one, given that `Future` is part of std now?

I've had a brief look and for example the `Error` impl in `either::Either` is not overriding all methods so it may need a bit of upstream work until we can completely replace our types.

I think as part of this ticket, one would need to do a bit more research to s

[2022-05-17 19:19] mxinden commented on #2651
Thanks for the bug report @pj50. Great job catching this! This was my mistake.

For others following along here is where the `HashMap` instead of the  `Arc` is being cloned.

https://github.com/libp2p/rust-libp2p/blob/d21cd5fed76d879b02c4f78ea00e02737498b8ca/transports/tcp/src/lib.rs#L327

Great! Let me know in case you need any help.

[2022-05-17 19:21] mxinden commented on #2621
Also note https://github.com/libp2p/rust-libp2p/issues/2651 discovered by @pj50 which needs fixing before current `master` works again. (Only on `master`, not the latest release.)

[2022-05-17 20:16] b5 opened #2657 "protocols/stream: Add a streaming-response protocol to rust-libp2p"
## Description

Add support for streaming multiple responses, instead of a 1-1 request-response model in rust-libp2p.

## Motivation

* This has been explored in #1947
* we've taken a stab at an implementation for Iroh: https://github.com/n0-computer/iroh/pull/26/commits/b55e00e445644941e17c7e31b811657eb164cb0f
* our use case was to use libp2p in place of a gRPC style RPC/IPC framework
* we had to

[2022-05-17 20:37] carsonfarmer commented on #2657
Thanks for kicking this off @b5. I'm also willing to help with planning, and potentially contribute some code and testing.

[2022-05-18 07:52] #2637 closed, assigned to nobody

[2022-05-18 08:47] mxinden commented on #2653
I would much rather like to see it replaced with a timing library that is still actively maintained. See https://github.com/libp2p/rust-libp2p/issues/2497#issuecomment-1038923700. Contributions would be very much appreciated.

Any particular reason for that?

----

In general, while I am a big fan of mono-repos, I would like to:

- Keep things useful (and used) outside of libp2p outside the monore

[2022-05-18 09:08] koushiro commented on #2653
[quicksink](https://github.com/paritytech/quicksink) is used for libp2p-websocket, but this repo has been archived by paritytech.

I'm not sure if there is an alternative of this library.

[2022-05-19 17:06] maschad commented on #2650
examining it naively the `future::Either` could be dropped as it seems to serve as a convenience enum type, which could be replaced by what you mentioned earlier by implementing our traits directly on the `Either` type or implementing `IntoFuture` to be awaited.

[2022-05-20 14:56] stormshield-pj50 opened #2661 "Task pool connection is not dropped in case of error"
## Summary
In [swarm/src/connection/pool/task.rs:240](https://github.com/libp2p/rust-libp2p/blob/master/swarm/src/connection/pool/task.rs#L240) the call to the future closing_muxer is missing, thus the connection is never dropped and finally leaked.

## Expected behaviour
The closing_muxer future should be awaited.

## Actual behaviour
The closing_muxer future is not awaited. However the bug is no

[2022-05-22 10:20] rkuhn commented on #2657
We (Actyx) have used our own implementation based on OneShot requests in our control plane (e.g. the admin accessing the node for settings and debugging). This turned out to be a performance bottleneck for high rate data transfers (e.g. dump/restore of a node’s whole data), which led me to try my hand at a protocol based on persistent substreams. Results for our use-case are very promising, but it

[2022-05-22 16:55] mxinden commented on #2653
Instead of moving another generic library into the rust-libp2p monorepo, I think we can replace the use of quicksink in `libp2p-websocket` instead. Not a strong opinion, though would prefer not increasing the maintenance work on us long term.

[2022-05-22 18:31] mxinden commented on #2651
Friendly ping @pj50. Still interested in providing a patch?

[2022-05-22 20:04] #2514 closed, assigned to nobody

[2022-05-22 22:47] Foemass commented on #2621
Thanks again for the help @mxinden, I've tested the latest client.rs with libp2p 0.44.0 and its working wonderfully.

Just thought I'd confirm it so you know I'm happy for this issue to be closed whenever, (be that now or when v0.45.0 is released.)

[2022-05-22 23:07] jacklund opened #2663 "#[derive(NetworkBehaviour)] doesn't work as documented when out_event is set"
## Summary

When using `#[derive(NetworkBehaviour)]` as documented [here](https://docs.rs/libp2p/latest/libp2p/swarm/trait.NetworkBehaviour.html#custom-networkbehaviour-with-the-derive-macro), I get a compiler error.

Example code:

[code]

## Expected behaviour

The code compiles

## Actual behaviour

I get the following:

[code]
Note: This may be because of #2373

## Possible Solution

Not sure,

[2022-05-23 07:07] stormshield-pj50 commented on #2651
Sorry being late for a patch, I had to work on other topics last week. Working on it now.

[2022-05-23 09:16] elenaf9 commented on #2663
Hi @jacklund, I think the reason for your error is that `#[behaviour(out_event = Event)]` is incorrect syntax.
The attribute macro requires that the name of your custom event is provided as a String literal (see [syn](https://docs.rs/syn/latest/syn/index.html)::[MetaNameValue](https://docs.rs/syn/latest/syn/struct.MetaNameValue.html#)).

 So it would have to be
[code]
If the syntax is incorrect, t

[2022-05-23 12:59] mxinden commented on #2661
If I recall correctly, the reasoning why `_closing_muxer` is not `await`ed is, that in this case an error happened on the connection, thus there is no use in properly closing the connection. That said, I do need to do more research in order to tell whether trying to close it anyways does any harm.

What do you mean by leaked? The task is terminating given the `return` statement:

https://github.co

[2022-05-23 13:29] mxinden commented on #2657
That sounds reasonable to me. Something consider: The API on `request` should likely have a mechanism to enforce backpressure, i.e. slow down the producer of requests when the consumer of requests is overloaded.

[2022-05-23 14:05] jacklund commented on #2663
:man_facepalming:

Amazing how I _saw_ the way to do it, but my brain put it without the quotes, I think because I'm used to that mode with Rust.

I'll be happy to take a look at PR-ing that, thank you soooo much @elenaf9 for clearing that up!!

[2022-05-23 14:19] mxinden commented on #2621
This is great news. Thanks for following up @Foemass! Just for the sake of completeness, all issues on the various environments you tested in are resolved? :tada:

[2022-05-23 14:24] stormshield-pj50 commented on #2661
If you don't close the connection how can a transport layer be notified in case of error ? I mean the TCP connection will be eventually closed on timeout or by the kernel but what if the underlying transport does not support it (in our example UDP) ? You're right, the connection should be dropped however in our UDP transport layer the drop on the connection is never called, we don't understand why

[2022-05-23 22:45] maschad commented on #2635
Our current version bump results in a build failure see https://github.com/libp2p/rust-libp2p/pull/2647#issuecomment-1135208285

[2022-05-24 00:16] T2JOESl4m2ZpNC commented on #2609
i seem to be experiencing the same issue, what's confusing me is how did this Malformed multiaddress get here
[code]
## My Setup:
- **Relay**: public VPS running modified version of https://github.com/mxinden/rust-libp2p-server
- **A** peer: VM connected to a VPN network and cannot reach host.
- **B** peer: my host computer also connected to a VPN network (same location different server) and canno

[2022-05-24 00:28] T2JOESl4m2ZpNC commented on #2609
just now i tried switching the setup while using the dcutr client example and same libp2p-server

- now my host **A** is the **relay** (thanks to the vpn provider i can port forward and be public)
- The VPS which used to be the Relay is now a non reachable client (firewall) **A** (the Dialer)
- and peer **B**  stays unchanged (The Listener)

using the above setup i was able to get ```DirectConnect

[2022-05-24 10:08] rkuhn commented on #2657
The shape of this mechanism will probably depend on the underlying implementation: currently, there is only a fire-and-forget `NotifyHandler` that we can use, which breaks the backpressure chain. Backpressure for request→stream calls is also non-trivial to design, since you cannot just limit the number of still open requests — they may last indefinitely while not consuming relevant resources most

[2022-05-25 02:47] jacklund commented on #2663
https://github.com/libp2p/rust-libp2p/pull/2672

[2022-05-27 14:45] ddeguglielmo opened #2675 "chat and chat-tokio examples: high CPU consumption (Ubuntu 20.04)"
## Summary

Both chat and chat-tokio examples have very high CPU consumption (close to 100%).

## Expected behaviour

I do not expect the examples to have such an high CPU consumption when no messages are exchanged.

## Actual behaviour
I have two instances of chat (chat-tokio) example running on the same machine. After the publication of the first message by part of the first peer (that is correc

[2022-05-27 19:28] dadepo commented on #2552
From an outsider trying to get into `rust-libp2p`, having some form of consistency helps.

When I initially dug into the code, I was not really sure where `swarm` fits into the picture, until I read in the spec/documentation about `switch` and that this was previously named `swarm`.

So given the fact that the spec/documentation is going to be one of the places someone new is going to consult to k

[2022-05-28 02:14] thearossman opened #2676 "mDNS: LabelIsNotAscii"
## Summary

mDNS discovery sometimes fails with "parsing MDNS packet failed" message; may be an old `mdns_parser` issue in general?

## Expected behaviour

I'd *assume* that all mDNS packets sent/received should be correctly parsed? And that I shouldn't see this error message?

## Actual behaviour

mDNS sometimes works, and sometimes prints the debug message: `DEBUG libp2p_mdns::behaviour::iface::

[2022-05-29 09:59] mxinden opened #2678 "swarm/: Set dial concurrency factor default value to > 1"
## Description

I propose increasing the default dial concurrency factor to some value larger than 1.

You can use https://kademlia-exporter.max-inden.de/d/Pfr0Fj6Mk/rust-libp2p (bottom) to determine how many addresses nodes advertise for the various libp2p networks.

Also worth checking what go-libp2p uses as a default value.

## Motivation

Dialing addresses of a single dial concurrently gives a

[2022-05-29 14:14] mxinden commented on #2661
In this case it is the transport layer notifying the muxer that an error occured, right? If one ignores the layers, there would be no need to notify the notifier, right?

Thank you!

[2022-05-29 15:16] mxinden commented on #2609
Indeed surprising. Not sure where this is from. Does the `OutgoingConnectionError` only contain a single (namely the `MultiaddrNotSupported`) error or multiple? I have the intuition that, while this one fails, the actual failure is described in another one (behind the `...`).

What error is shown when the connection resets? Is the relayed connection or the direct connection reset?

[2022-05-29 15:21] mxinden commented on #2609
Also see https://github.com/libp2p/rust-libp2p/pull/2679 which might make debugging a bit easier.

[2022-05-29 16:19] mxinden commented on #2675
Thanks for the report. https://github.com/tokio-rs/console might help here debugging the issue. Help greatly appreciated.

[2022-05-29 16:23] mxinden commented on #2676
Do these mdns packets come from libp2p hosts? If no, this should not affect `libp2p-mdns`.

[2022-05-29 17:35] thearossman commented on #2676
I believe they come from libp2p hosts -- we're not using anything else, and we were able to get the same error just by running the chat-tokio example with nothing else (https://github.com/libp2p/rust-libp2p/blob/master/examples/chat-tokio.rs).

[2022-05-29 18:09] T2JOESl4m2ZpNC commented on #2609
No it does no contain a single `MultiaddrNotSupported`, you are right after it there is also a `kind: ConnectionRefused` to the dialer's observed multiaddr from the relay which has a different port from the listening one.

So the listener is trying to dial a non listening port of the Dialer.
How come the Dial is happening with a new port and not reusing the listening one, is (port_reuse(true) not

[2022-05-30 13:18] mxinden opened #2680 "swarm/: `NetworkBehaviour`/`ConnectionHandler` cross-communication"
## Description

Today there is no way to send generic local and remote node information from one `NetworkBehaviour` to another `NetworkBehaviour`, apart from `NetworkBehaviour::inject_new_external_addr`.

Examples of such generic information could be:

- Supported protocols by the local peer.
- Supported protocols of a remote peer.
- Addresses of a remote peer.

## Motivation

One example use-case

[2022-05-30 14:49] thomaseizinger commented on #2657
I had an idea that could perhaps solve this issue. I am calling it `libp2p-bare-stream`.

Here is the **tl;dr**:

1. `BareStreamBehaviour` is constructed with an arbitrary protocol name (i.e. user-configured)
2. `BareStreamBehaviour` has a single, public function to open a new bare stream:

[code]

3. `BareStreamEvent` reports successfully opened outbound and inbound streams:

[code]

This would r

[2022-05-30 15:41] mxinden commented on #2651
Closing here with https://github.com/libp2p/rust-libp2p/pull/2670 merged.

[2022-05-30 15:41] #2651 closed, assigned to nobody

[2022-05-30 16:00] T2JOESl4m2ZpNC commented on #2609
I think i maybe found an explanation for what is causing that `MultiaddrNotSupported`.
in the logs of my libp2p program that i'm making, i saw these couple of log lines
[code]
After an what seems to me only the first established relayed  connection to a private peer. The relay is telling us that our public address is it's PeerID, Thus we advertise it to other peers (via Identify?)
as a result they

[2022-05-31 12:58] mxinden commented on #2676
@thearossman can you use wireshark to post a dump of the original packet here?

[2022-05-31 13:45] mxinden commented on #2657
Agreed with this mindset. I am in favor of offering "the ultimate escape hatch".

I don't think this is sophisticated enough.

- We would need to specify the peer to open an outbound stream to.
- In case the local node is not connected, would `BareStreamBehaviour` drive the connection establishment? Should this be configurable per stream?
- `BareStreamBehaviour` would require some mechanism to enf

[2022-05-31 15:26] rkuhn commented on #2657
Yes, this simplification is much better, great idea @thomaseizinger!

@mxinden Returning `Poll` is a bit unclear to me, since `Poll::Pending` would have to mean that the stream is “in the works”, but we have no way of polling this particular outbound stream again to see whether it is now established. Storing a request for this purpose would imply an unbounded buffer on the local swarm, which I’d a

[2022-05-31 15:49] rkuhn commented on #2657
Oh, one more thing: it would be really great if the `BareStreamBehaviour` accepted a list of protocol names to allow the underlying negotiation facilities to be used for higher-level purposes. The negotiated stream should then come bundled with the negotiated protocol.

Not _this_ sounds like a really cool improvement over TCP sockets to me!

[2022-05-31 16:40] thomaseizinger commented on #2657
I've had a similar thought yes but left it out from the initial proposal so we can focus on the core idea :)

Ideally, we make these protocols type-safe as well (an enum or something) instead of strings.

[2022-05-31 16:46] thomaseizinger commented on #2657
I am tempted to say no. The method could fail immediately if there is no active connection to the peer for example.

In my experience, the policy on which peers a node should be connected to is extremely application-specific. We are talking about usecases here which don't fit into the typical p2p setting (hence the bare-stream escape hatch), hence the chances of an atypical connection-policy is hi

[2022-06-01 09:12] mxinden commented on #2609
Sorry for not flagging this earlier. This is likely due to a bug in the TCP transport which has been fixed in https://github.com/libp2p/rust-libp2p/pull/2670.

@T2JOESl4m2ZpNC would you mind testing it once more with the latest release `v0.45.0` which includes the above mentioned bug fix?

[2022-06-01 10:39] mxinden commented on #2657
I am not sure I follow. If `Poll::Pending` is returned, no work has been done, thus the user is free to try again any time. The actual stream is returned later on as a `SwarmEvent::Behaviour`.

Agreed. I don't think an `async fn` is an option here.

Note that I am proposing to enforce backpressure on negotiating (to be established) substreams. Once negotiated the life-cycle management of a substre